[2020-06-30 15:55] suryayadavalli opened #855 "Elastic search - Search with date filters results in inconsistent data"

[2020-06-30 15:57] suryayadavalli opened #856 "Elastic search - Add method hooks from Bulk upload for client creation / updates"

[2020-06-30 16:09] suryayadavalli opened #857 "Elastic search - Upgrade spring boot to 2.2.1 from 1.5.8 for pub/sub micro service to support Elastic search 6.8"

[2020-06-30 16:11] suryayadavalli commented on #856
Need to add the following method hooks in the bulk uploader process. I will create another ticket and assign to @logicsandeep

https://github.com/servinglynk/hslynk-open-source/blob/master/hmis-model-v2020/src/main/java/com/servinglynk/hmis/warehouse/dao/ClientDaoImpl.java

createOrUpdateBaseclient
deleteBaseClient

[2020-06-30 16:13] suryayadavalli commented on #767
commit id : https://github.com/servinglynk/hslynk-open-source/commit/ae058a52dd98a83c4fbb900e65551d19067027a1

[2020-06-30 16:50] suryayadavalli commented on #851
Currently working on this task. Updating the the diagrams to reflect the current design and architecture.

[2020-06-30 18:15] suryayadavalli commented on #817
@eric-jahn : I started looking into this and for each GET by enrollmentID we already provide the child links ? Just wondering what would be the purpose of the adding counts ?

Here is a sample API reference
https://docs.hslynk.com/?urls.primaryName=HMIS%20v6.11%2C%20v6.12%2C%202017%20API#/default/GET_clients-clientId-enrollments-enrollmentId

_The enrollment child entity links, will be grouped by

[2020-06-30 21:44] eric-jahn commented on #817
@logicsandeep : Will these links meet your needs, or would a simple count work much better?

[2020-07-03 20:07] eric-jahn commented on #817
@suryayadavalli: @logicsandeep and I discussed this today, and these links you referenced in the API docs above will meet Sandeep's needs, however they weren't implemented for 2020 yet.  I'm creating a related bug-fix task for this.

[2020-07-03 21:27] eric-jahn opened #858 "implement enrollment/client/exit child links for 2020, per 2020 API docs"
related #817

[2020-07-03 21:27] eric-jahn commented on #817
#858 replaces this issue.

[2020-07-03 21:27] #817 closed

[2020-07-05 10:21] logicsandeep commented on #788
This issue is complete and all the commits are in this branch.
https://github.com/servinglynk/hslynk-open-source/commits/feature/chronic-homeless-pub-sub

[2020-07-05 10:21] #788 closed

[2020-07-05 20:18] logicsandeep commented on #856
https://github.com/servinglynk/hslynk-open-source/commit/7f0758bb082d44a27ab159892d00587df68cb39e
This change is completed.

[2020-07-05 20:18] #856 closed

[2020-07-07 19:45] eric-jahn commented on #809
Only the HoH is being enrolled.  Not all members, as should be.  Reopening.

[2020-07-09 01:06] suryabi commented on #854
@logicsandeep : can you tell me if this exception occurred in your local environment, dev env or production env ?

[2020-07-09 01:11] logicsandeep commented on #854
@suryabi , Prod environment

[2020-07-10 15:59] suryayadavalli commented on #854
Resolved, Deployed in Production.
https://github.com/servinglynk/hslynk-open-source/commit/db1e1629dfcdc8e26356ecdd3add02aa9c848dbb

[2020-07-10 16:00] suryayadavalli commented on #858
Resolved, Deployed in Production.
https://github.com/servinglynk/hslynk-open-source/commit/db1e1629dfcdc8e26356ecdd3add02aa9c848dbb

[2020-07-10 16:01] suryayadavalli commented on #857
Resolved. Upgraded Spring boot to 2.2.1 for MQ service
https://github.com/servinglynk/hslynk-open-source/commit/ba333c8a69791dcad6d0b0c7d950e29e3023f341

[2020-07-10 16:01] #857 closed

[2020-07-10 16:02] suryayadavalli commented on #855
Resolved
https://github.com/servinglynk/hslynk-open-source/commit/84a4e2dc1f9fcb8664e9e4deaa464c4e2ca582d3

[2020-07-10 16:02] #855 closed

[2020-07-10 16:51] logicsandeep opened #859 "Golden view does not show survey submissions and generic households"
Golden view does not show survey submissions and generic households

[2020-07-10 16:53] logicsandeep opened #860 "The /search/projects does not return any projects"
The /search/projects does not return any projects

[2020-07-10 19:10] eric-jahn commented on #858
waiting for Sandeep to confirm if this is closed.  Must send the getChildLinks parameter.

[2020-07-10 19:19] eric-jahn commented on #854
Sandeep is reviewing to confirm it is closed.

[2020-07-10 19:26] eric-jahn commented on #847
dependent on the changes #848.

[2020-07-10 19:39] eric-jahn commented on #770
Discussed with @suryayadavalli , moving to next priority

[2020-07-10 19:47] eric-jahn commented on #806
Moved over to https://github.com/hmis-api/2020-hmis-api/issues/7

[2020-07-10 19:47] #806 closed

[2020-07-13 15:41] suryayadavalli commented on #860
As discussed, We deleted the project entities from base schema with the introduction of global projects. Hence, the search is no longer required / supported for projects. here is the ticket associated with the change.
https://github.com/servinglynk/hslynk-open-source-docs/issues/496

Documentation however has to be corrected to remove project search references. I will update and close the ticket o

[2020-07-13 15:42] suryayadavalli commented on #859
@logicsandeep : As discussed, can you please share the client Id (privately / dm in slack ) with which you have this issue?

[2020-07-14 11:23] suryayadavalli commented on #860
Documentation updated.
Documentation link:  https://docs.hslynk.com/#/default/GET_search-searchentity
commit id: https://github.com/hmis-api/global-api/commit/adee1b9ad8ad1e14cd6231ae71fabba80d9d34d9

[2020-07-14 11:23] #860 closed

[2020-07-14 13:51] suryayadavalli commented on #769
handled #767

[2020-07-14 17:15] #767 closed

[2020-07-14 17:17] eric-jahn commented on #769
@suryayadavalli : Isn't this a different issue from elastic search which was #767, since #769 is a db cache?

[2020-07-14 17:32] suryabi commented on #769
@eric-jahn : Yes, This is something to do with caching frequently used data (look up data, master data and also less volatile data) so, we don't need to go to DB when such data is requested. For instance, for each request we validate the client type , trusted app that comes in the request . Assuming that there are 100K API calls we make 100K calls to client type DB Entity and 100K calls to Trusted

[2020-07-14 17:41] suryabi commented on #859
Also, Golden view returns global house holds which contains both Generic and HMIS households, so generic house holds will not be part of golden view directly.

[2020-07-14 17:43] suryayadavalli commented on #859
Also, Golden view returns global house holds which contains both Generic and HMIS households, so generic house holds will not be part of golden view directly. I tried debugging this and don't see any issues (returns both survey submission and global house holds). You can try with this test client. 54579e60-9434-11ea-b546-02fe61f7863e and see

[2020-07-14 17:45] suryayadavalli commented on #851
Still in progress and will have the documents by end of this week.

[2020-07-14 18:16] eric-jahn commented on #859
@suryayadavalli: So we need to make a second call to check if there are HMIS or generic households, using the global household?  Could we add that to the API and implementation?

[2020-07-14 18:17] logicsandeep commented on #859
Hi @suryayadavalli , Please try clientId=1abbdfa8-bc83-4dc0-a7a1-48d0229ec5e3 This client has survey submission and yet it does not show up in the gloden view.

[2020-07-14 18:33] suryayadavalli commented on #859
@eric-jahn : No, The global house holds will include generic household automatically, so there is no need to make another call to check if they exist.
Ref # https://github.com/servinglynk/hslynk-open-source-docs/issues/784

[2020-07-14 18:55] eric-jahn commented on #798
and add back-link fields into each of the HMIS version specific and Survey Tables

[2020-07-14 19:18] eric-jahn commented on #859
So there is an API documentation issue for households. And there is an HSLynk implementation and doc issue for survey submissions.

[2020-07-14 19:28] eric-jahn opened #861 "need to handle acceptance of non-signature consent"
verbal/non-verbal etc.

[2020-07-14 19:33] eric-jahn commented on #861
also add notes field

[2020-07-14 19:40] logicsandeep commented on #858
We need this add Assessment, Events and clients

[2020-07-14 19:40] eric-jahn commented on #858
not resolved for clients and assessments - will create another ticket

[2020-07-14 19:40] suryayadavalli opened #862 "2014-2020 GET by Client ID should have child links"
related: #863, #864, [closed] #858

[2020-07-14 19:41] suryayadavalli opened #863 "2014-2020 GET by enrollments should have events and 2020 should have assessments and events"
related: #862, #864, [closed] #858

[2020-07-15 13:56] logicsandeep commented on #858
I can see child links for GET enrollment/{enrollmentid}.

[2020-07-17 05:23] suryayadavalli commented on #809
@logicsandeep : I see this working as expected. Again, when raising issues please make sure that we provide necessary information to debug. The issues could be speific to the clients or transcation or could be data issue so providing the context with details will save time and will help quick resolution.

[2020-07-17 05:33] suryayadavalli commented on #859
![image](https://user-images.githubusercontent.com/10738348/87752047-10d19980-c81d-11ea-87aa-662bd8e83df8.png)

[2020-07-17 05:33] suryayadavalli commented on #859
@logicsandeep : there are no survey submissions for this client  1abbdfa8-bc83-4dc0-a7a1-48d0229ec5e3 you don't see the submissions in the response. Assigning the ticket back to you for you to double check .

[2020-07-17 05:35] suryayadavalli commented on #854
Assigning to @logicsandeep to confirm and close

[2020-07-17 05:36] #858 closed

[2020-07-17 12:06] logicsandeep commented on #859
Hi @suryayadavalli , Please verify the survey schema.  There are 6 client survey submissions for this client.

[2020-07-17 12:12] logicsandeep commented on #809
@suryayadavalli Dedup_client_id=0def1ce0-95f2-11ea-b546-02fe61f7863e has generic houseold but the search API only returns globalHoushold.
Please let me know if you need further information.

[2020-07-17 17:55] suryayadavalli commented on #809
@logicsandeep : As discussed, the client search will return links to global households (which consists of generic and hmis house holds, if any available, for the client). For this client in question, here is the API response, contain the links to global house hold.

The screen shot below is the generic house hold for this user

As you can see the client search return this as a part of the response

[2020-07-17 17:58] suryayadavalli commented on #859
@logicsandeep: okay, Yes, I see the survey submissions for this client. Looks like the client metadata is not updated when the survey submissions are posted. I will need to debug this issue on MQ side. I will keep you posted.

Removing @logicsandeep from the assignment for now.

[2020-07-17 17:59] suryayadavalli commented on #862
Dev complete. Will deploy this tonight.

[2020-07-17 18:05] eric-jahn opened #864 "2014-2020 GET by Exit ID should have child links"
related to https://github.com/servinglynk/hslynk-open-source-docs/issues/862 , https://github.com/servinglynk/hslynk-open-source-docs/issues/863 , closed: https://github.com/servinglynk/hslynk-open-source-docs/issues/858

[2020-07-17 18:06] eric-jahn commented on #862
this is just for 2020, right?

[2020-07-17 18:10] eric-jahn opened #865 "HMIS 2014-17 GET client/enrollment/exit child links implemented and documented"
related #862, #863, #864, [closed] #858

[2020-07-17 18:19] eric-jahn commented on #850
moving to next sprint

[2020-07-17 18:25] suryayadavalli commented on #848
Dev complete. Will deploy tonight.

[2020-07-17 18:52] suryayadavalli commented on #838
Complete. Will deploy the latest code base that includes the updated documentation in the portal.

[2020-07-17 19:30] eric-jahn commented on #865
handling 2014-2017 with the original issues

[2020-07-17 19:30] #865 closed

[2020-07-17 19:35] eric-jahn opened #866 "meta JMeter script to ensure all services are up"

[2020-07-17 19:52] eric-jahn commented on #859
We clarified on 7/17/20 that each global household id in the Golden View will be listed with the various HMIS version specific and/or generic household ids within each global household id.

[2020-07-19 17:57] suryayadavalli commented on #848
Documentation : https://docs.hslynk.com/?urls.primaryName=User%20Service%20%20API#/default/PUT_add_project_group_to_trustedapp

commit id: https://github.com/servinglynk/hslynk-open-source/commit/fa748ea24c379d2f90e6bd2ab99ed041b6ec9817

[2020-07-20 01:41] eric-jahn commented on #848
@suryayadavalli Could you add a schema to the request documentation?

[2020-07-20 17:36] logicsandeep commented on #854
Hi @suryabi
 Can you please check if you're able to download the image/png file via api.hslynk.com ? Here's the link

https://api.hslynk.com/hmis-globalapi/rest/clients/3df882ce-6886-498e-b881-eeee4703843d/consents/36ecb96f-b155-4124-8ebc-7444e51656a7/documents/a0d37abf-a8a2-4f96-b6c7-b35586d09d29I

[2020-07-20 17:40] eric-jahn commented on #861
3-4 hours

[2020-07-21 14:19] suryayadavalli commented on #862
Commit id :  https://github.com/servinglynk/hslynk-open-source/commit/fa748ea24c379d2f90e6bd2ab99ed041b6ec9817
Documentation : https://docs.hslynk.com/?urls.primaryName=HMIS%20vFY2020%20API%2C%202020%20API#/default/GET_clients-clientId

[2020-07-21 19:18] suryayadavalli commented on #838
Updated the portal with documentation so users can follow the steps easily.

Following changes / details are added to the portal.

On boarding process steps

![image](https://user-images.githubusercontent.com/10738348/88096898-3e378380-cb4c-11ea-8b8f-c910e8d8fd5f.png)

[2020-07-21 19:19] suryayadavalli commented on #838
Also, added details on each page with why and how

![image](https://user-images.githubusercontent.com/10738348/88097014-68894100-cb4c-11ea-9089-2a26f195ebb0.png)

![image](https://user-images.githubusercontent.com/10738348/88097062-776ff380-cb4c-11ea-96a4-edaef4d53cc1.png)

[2020-07-21 19:21] suryayadavalli commented on #838
In addition to that, provided an option to the developers to verify their trusted app right from developer console, by providing a VERIFY button

![image](https://user-images.githubusercontent.com/10738348/88097187-a5553800-cb4c-11ea-835f-8e0d0e6b53fa.png)

[2020-07-21 19:24] suryayadavalli commented on #838
This verify button takes the users to OAUTH process, where they can try creating access token and refresh token, without having to code anything. This process will confirm that their trusted app is working  and ready to use.

![image](https://user-images.githubusercontent.com/10738348/88097555-2c0a1500-cb4d-11ea-8145-0bb5cbf6b272.png)

[2020-07-21 19:26] suryayadavalli commented on #838
Also, added an ability to call the get clients APIs, with the access token, so we can see the access token in action.

![image](https://user-images.githubusercontent.com/10738348/88097678-62e02b00-cb4d-11ea-915b-8d42950c8e03.png)

[2020-07-23 18:20] eric-jahn commented on #838
From the demo Tuesday, we should also avoid sending the password in an email.  Maybe the password can be established before they are approved, on the website?  Then they can check their status that way, as well, if they don't get the email.

[2020-08-03 15:35] eric-jahn commented on #807
closing, since we might not stay with openempi

[2020-08-03 15:35] #807 closed

[2020-08-04 15:41] eric-jahn opened #867 "evaluate opencr versus open empi"
https://docs.google.com/spreadsheets/d/1KqrelK1XOOev4zx4bl5O-Ughb1_OCz5cY373pJKZQVQ/edit#gid=0

[2020-08-04 18:24] suryayadavalli commented on #851
Updated all the following diagrams to reflect the current architecture and design.

- https://github.com/servinglynk/hslynk-open-source-docs/wiki/HSLynk-Pub--Sub-Architecture
- https://github.com/servinglynk/hslynk-open-source-docs/wiki/High-Level-System-Architecture-Diagram
- https://github.com/servinglynk/hslynk-open-source-docs/wiki/User-Authorization-and-Access-control-in-HSLynk
- https://gith

[2020-08-04 18:50] logicsandeep opened #868 "Purge unrelated project groups"
Purge unrelated project groups

[2020-08-04 19:58] #862 closed

[2020-08-04 20:03] #848 closed

[2020-08-04 20:04] #838 closed

[2020-08-04 20:06] eric-jahn commented on #809
related to #859 duplicate

[2020-08-04 20:06] #809 closed

[2020-08-06 11:26] eric-jahn opened #869 "text change to "New Developer Company" onboarding email"
"Copyright © 2016 All rights reserved. HMISLynk"
should be (two changes)
"Copyright © 2020 All rights reserved. HSLynk"

[2020-08-06 22:24] kfogel commented on #854
Thanks @logicsandeep :-).  I was wondering how I'd gotten assigned this ticket, but when I went to look I saw that you already fixed the mis-assignment.

Best regards,
-Karl

[2020-08-07 16:16] logicsandeep commented on #854
Hi @kfogel , Apologies,  it was by mistake. Have a great day!

Thanks
Sandeep

[2020-08-07 16:44] suryayadavalli commented on #869
Fix is complete. Will be deployed on 08/09.

[2020-08-07 16:44] suryayadavalli commented on #864
Dev complete.  Will be deployed 08/09.

[2020-08-07 16:45] suryayadavalli commented on #863
Dev complete.  Will be deployed 08/09.

[2020-08-07 16:45] suryayadavalli commented on #859
Dev complete.  Will be deployed 08/09.

[2020-08-07 16:46] suryayadavalli commented on #851
Updated architecture diagrams as per the feedback from the last meeting.

[2020-08-07 16:47] suryayadavalli commented on #832
Will work on this issue on 08/09.

[2020-08-07 18:54] suryayadavalli opened #870 "kibana URLs are not accessible from VPN."

[2020-08-07 20:40] eric-jahn commented on #851
@suryayadavalli: For https://github.com/servinglynk/hslynk-open-source-docs/wiki/High-Level-System-Architecture-Diagram, here is my review.

- Persistance -> Persistence
- Model Libriaries -> Model Libraries
-Framework should always be one word.  It needs to be fixed in 4 places.
-User Managemen APIs -> User Management APIs
-Survey APIS -> Survey APIs
-"Client APIs" is a smaller font size and shou

[2020-08-07 20:44] eric-jahn commented on #851
@suryayadavalli : For https://github.com/servinglynk/hslynk-open-source-docs/wiki/Developer-Onboarding-Process, here is my review.

- Change all three occurrences of "APP" to "App"
- Cretaed -> Created

That's it!  Looks great!

[2020-08-07 20:45] eric-jahn commented on #851
@suryayadavalli For https://github.com/servinglynk/hslynk-open-source-docs/wiki/User-Authorization-and-Access-control-in-HSLynk , could you just change one thing: "/autorize" to "/authorize"?  Thank you!

[2020-08-10 14:31] eric-jahn commented on #851
@suryayadavalli: For [https://github.com/servinglynk/hslynk-open-source-docs/wiki/HSLynk-Pub--Sub-Architecture](https://github.com/servinglynk/hslynk-open-source-docs/wiki/HSLynk-Pub--Sub-Architecture) Could you change the Linked Data diagram, so that some of the users are getting pushed https notifications, when subscribed data comes in?  Also change the lower diagram to show http push messages,

[2020-08-11 17:38] suryayadavalli commented on #864
Commit id: https://github.com/servinglynk/hslynk-open-source/commit/8e16833cc54ff4ecbbc9b449ace1769de5a4409f

Documentation link:
https://docs.hslynk.com/?urls.primaryName=HMIS%20v4.1%2C%202014%20API#/default/GET_clients-clientid-enrollments-enrollmentid-exits-exitid

[2020-08-11 17:38] #864 closed

[2020-08-11 17:39] suryayadavalli commented on #863
commit id : https://github.com/servinglynk/hslynk-open-source/commit/8e16833cc54ff4ecbbc9b449ace1769de5a4409f
Documentation link :
https://docs.hslynk.com/?urls.primaryName=HMIS%20vFY2020%20API%2C%202020%20API#/default/GET_clients-clientId-enrollments-enrollmentId

[2020-08-11 17:39] #863 closed

[2020-08-11 17:46] eric-jahn commented on #844
dependent on #833

[2020-08-11 18:14] suryayadavalli commented on #869
Commit id : https://github.com/servinglynk/hslynk-open-source/commit/8e16833cc54ff4ecbbc9b449ace1769de5a4409f

[2020-08-11 18:14] #869 closed

[2020-08-11 18:31] suryayadavalli commented on #859
commit id : https://github.com/servinglynk/hslynk-open-source/commit/8e16833cc54ff4ecbbc9b449ace1769de5a4409f

Documentation link: https://docs.hslynk.com/#/default/GET_search-searchentity

![image](https://user-images.githubusercontent.com/10738348/89934831-d0541880-dc2e-11ea-9059-0a188d3a90b3.png)

[2020-08-11 18:31] #859 closed

[2020-08-11 18:42] suryayadavalli commented on #854
@logicsandeep : looked at this. The above URL has invalid document ID  (having an additional character at the end).

This the API response with the document ID. Can you please double check .

[2020-08-11 18:52] suryayadavalli commented on #870
https://es.hslynk.com is working now.
Upgraded ES, Kibana to newer versions. set up weekly roll-over for the logs so space issues won't arise.

[2020-08-11 18:52] #870 closed

[2020-08-12 13:29] eric-jahn commented on #798
@logicsandeep So we have to add the CES custom assessment question and response double-posting as well.  This is only possible of course (just as with regular hard-coded HMIS data elements) if the custom assessment/survey is associated with a specific project enrollment.  Are there any issues with doing this?

[2020-08-12 23:59] eric-jahn commented on #3
@suryayadavalli : A requirement form a recent statewide HMIS RFP: "The HMIS Software has a bed and unit management feature to allow for expedient entry and exit into specific beds and units that feeds to real time vacancy. This bed and unit management feature is able to provide reports that cross reference enrollment and bed management information".  So we need to make sure that a check-in into a

[2020-08-14 17:57] eric-jahn commented on #798
duplicate of https://github.com/hserv/coordinated-entry/issues?q=is%3Aissue+is%3Aopen+label%3A%22current+sprint%22+

[2020-08-14 17:57] #798 closed

[2020-08-14 19:03] suryabi commented on #832
Completed, Resolved and deployed in production

[2020-08-14 19:06] suryabi commented on #832
Added First name and Last name to the Add developer screen
![image](https://user-images.githubusercontent.com/19498132/90284251-8f265900-de26-11ea-9eca-0551ed926eb8.png)

![image](https://user-images.githubusercontent.com/19498132/90284276-9c434800-de26-11ea-9e8b-b8f632b0cd26.png)

[2020-08-18 15:48] suryayadavalli opened #871 "TRUSTED APP Grant type is not getting saved while creating the trusted app."

[2020-08-26 00:35] logicsandeep commented on #854
This API is working and the issue can be closed.

[2020-08-26 00:35] #854 closed

[2020-08-28 16:34] suryayadavalli commented on #832
commit id: https://github.com/servinglynk/account-admin-app/commit/25ffad6b4c54c0556294891581b560226c5b45b6

[2020-08-28 16:34] #832 closed

[2020-08-28 16:34] suryayadavalli commented on #871
commit id : https://github.com/servinglynk/account-admin-app/commit/25ffad6b4c54c0556294891581b560226c5b45b6

[2020-08-28 16:34] #871 closed

[2020-08-28 19:15] suryayadavalli opened #872 "AWS : Environment tagging for instances"

[2020-08-28 19:28] suryayadavalli opened #873 "AWS : System start up config set up"
Need to set up the start up configuration so, the services starts automatically, when the instances are brought down and brought back up

[2020-08-28 19:28] suryayadavalli opened #874 "AWS : Instance scheduler set up for DEV instances"
https://aws.amazon.com/solutions/implementations/instance-scheduler/

[2020-08-28 19:32] eric-jahn commented on #3
8/28/20 - we should tie bed/unit check-ins to global enrollment, schema year, and entry data.  And global enrollment table has bedlist check-in.  Global project table updated.

[2020-08-29 17:52] eric-jahn commented on #851
@suryayadavalli : https://github.com/servinglynk/hslynk-open-source-docs/wiki/Client-Search is empty.  Can you add to the wiki?

[2020-08-29 18:23] logicsandeep opened #875 "Create a scheduler for Dev Ec2 instances"
Create a scheduler for Dev Ec2 instances

[2020-09-08 18:20] suryayadavalli commented on #874
Complete.

[2020-09-08 18:21] suryayadavalli commented on #874
Schedulers are implemented for RDS and ec2 instances (except load processor instances). Any instance with TagKey "Schedule" and value "hslynk-dev-schedule" will be up from 6AM to 6PM ET

[2020-09-08 18:22] suryayadavalli commented on #873
Complete

[2020-09-08 18:22] #873 closed

[2020-09-08 18:22] suryayadavalli commented on #872
Complete

[2020-09-08 18:22] #872 closed

[2020-09-15 18:51] suryayadavalli commented on #3
Here is the API documentation for Bed list management
https://docs.hslynk.com/?urls.primaryName=Bed%20Management%20AP

[2020-09-16 21:05] eric-jahn opened #876 "FHIR derived subscription for chronic homelessness = "true""
related #852
Use this pub/sub API (following it strictly) to receive notifications of changes in a person's chronic homelessness status:
https://www.hl7.org/fhir/subscription.html .

We may have to modify the API signature somewhat to accomplish this, if the specification does not have a way to convey the chronic homelessness status boolean.

I think that one key element of our implementation is t

[2020-09-17 18:13] suryayadavalli opened #877 "Unable build MQ and Elastic search service from Jenkins"
Spring 2.8 (Used in MQ service and Elastic search service) needs dependencies that need to be downloaded from Maven repository ( they are maintained in https maven repository).  However, Jenkins is trying to download from http maven repository so these dependencies are not getting downloaded from Jenkins and hence the build is failing.

In order to bypass this issue when we initially deployed thes

[2020-09-17 18:14] suryayadavalli commented on #877
As a permanent fix, pom references are pointed to https maven repository so it fetch the dependencies using that URL, instead of the URL managed by Jenkins.

[2020-09-17 18:45] suryayadavalli commented on #877
Resolved now.

[2020-09-17 18:45] #877 closed

[2020-09-20 19:23] logicsandeep opened #878 "Fix the phrasing on the Hmis 2020 questions"
Our HUD questions are not phrased appropriately and it needs to be full sentences and more importantly, it should be according to HUD's approved format.

[2020-09-22 19:13] eric-jahn commented on #851
completed

[2020-09-22 19:13] #851 closed

[2020-09-22 19:15] eric-jahn commented on #875
duplicate of #874

[2020-09-22 19:15] #875 closed

[2020-09-22 19:15] eric-jahn commented on #3
@suryayadavalli Please add the commit ID and close.

[2020-09-22 19:22] eric-jahn opened #879 "typo in high level architecture diagram"
Persistance -> Persistence
APIS -> APIs
User Management is cut off
PITON App -> Piton HMIS App
Frame work -> Framework
RIME -> RIME Coordinated Entry App
*there are a couple different font sizes used.  Can they all be the same?

[2020-09-22 20:10] eric-jahn opened #880 "Github vulnerabilities"

[2020-09-24 11:01] suryayadavalli commented on #3
commit id: https://github.com/servinglynk/hslynk-open-source/tree/7cef666ac0e26746b07eb066408c2e1e296b97c0

[2020-09-24 11:01] #3 closed

[2020-09-25 16:04] suryayadavalli commented on #879
commit id : https://github.com/servinglynk/hslynk-open-source-docs/commit/2629f7a35cf075e503a301cc21b6cae4842d559c

[2020-09-25 16:04] #879 closed

[2020-09-25 16:20] eric-jahn commented on #590
@logicsandeep I just added this to the next sprint

[2020-09-25 17:58] eric-jahn opened #881 "establish info@hslynk.com"
in all web presence, to move away from support@

[2020-09-25 23:28] eric-jahn opened #882 "We need an ability to get the global and HMIS enrollment from the global project"

[2020-09-28 14:36] eric-jahn opened #883 "HSLynk consent model usage flowchart"
We need a diagram showing the sequence of HSLynk API calls for using consent.  Just like [we did recently for the survey APIs](https://github.com/servinglynk/hslynk-open-source-docs/raw/master/doc/WikiContent/HSLynk_Survey_Creation_How-To.pdf).

[2020-10-06 14:07] eric-jahn commented on #881
done

[2020-10-06 14:07] #881 closed

[2020-10-07 20:45] eric-jahn commented on #876
"I know there is config in the pom.xml for SMTP and some other config for the subscription notifications. "

[2020-10-07 21:41] eric-jahn commented on #876
great example: https://1up.health/dev/doc/fhir-subscription

[2020-10-13 17:04] suryayadavalli commented on #876
Currently working on criteria evaluation. 90% of the task is complete.  Will target to finish this by tomorrow.

[2020-10-15 00:24] logicsandeep commented on #867
The open Cr evaluation is completed and I've presented my findings to the team. So I'm closing this ticket.

[2020-10-15 00:24] #867 closed

[2020-10-19 14:34] logicsandeep opened #884 "Rewrite the admin app in React JS"
Rewrite the admin app in React JS.
1) Authentication and authorization
2) Create Users and assign roles and project groups.
3) Create project group.
4) Reset a users password.
5) Bulk upload.

[2020-10-19 17:47] eric-jahn commented on #884
This will take almost two weeks of effort, so we will leave as Angular 1 for now.

[2020-10-20 18:55] suryayadavalli commented on #883
[HSLynk Client consents.pdf](https://github.com/servinglynk/hslynk-open-source-docs/files/5410933/HSLynk.Client.consents.pdf)

[2020-10-22 20:25] eric-jahn opened #885 "change bounding box to indicate External API Customer, instead of Internal API Customer"
For the "Piton App" box, in the High Level Architecture https://raw.githubusercontent.com/servinglynk/hslynk-open-source-docs/master/doc/WikiContent/HSLynk_System_Architecture.png

[2020-10-22 20:51] eric-jahn opened #886 "Fixes to Golden View Metadata Architecture Diagram"
at: https://raw.githubusercontent.com/servinglynk/hslynk-open-source-docs/master/doc/WikiContent/Golden_view_Metadata_Architecture.png
* Capitalize each beginning letter in the title: "Golden view Metadata Architecture" -> "Golden View Metadata Architecture"
* "Client Micro services" -> "Client Microservices"
* "Generic household Service" -> "Generic Household Service"
* "House Matching Service" -

[2020-10-23 18:09] eric-jahn opened #887 "rename upload status fields to plain"
BEFORES3->uploading to cloud

[2020-10-23 18:42] suryayadavalli opened #888 "Instance scheduler on demand"
We currently have fixed time scheduling for environment down times, however, we need on demand scheduler set up to further lower down the costs. Analysis is complete as to how to accomplish this however, implementation is still pending.

[2020-10-23 18:42] suryayadavalli commented on #874
Closing this issue, however, there is another change related to schedulers tracked under https://github.com/servinglynk/hslynk-open-source-docs/issues/888

[2020-10-23 18:42] #874 closed

[2020-10-23 18:45] suryayadavalli commented on #876
Complete. Verified, rolled-out to production. Working with customer on end to end testing. No action items at this point.  Closing the issue

Commit ID # https://github.com/servinglynk/hslynk-open-source/commit/82a91f65c1e13a7e7a3795096dd94ebe812e2449
API documentation : https://docs.hslynk.com/?urls.primaryName=Subscription%20Service%20API

[2020-10-23 18:45] #876 closed

[2020-10-23 18:47] suryayadavalli commented on #880
Resolved, changes are done, testing is complete.  Deployed in production on 10/22.
Commit ID # https://github.com/servinglynk/hslynk-open-source/commit/82a91f65c1e13a7e7a3795096dd94ebe812e2449

[2020-10-23 18:47] #880 closed

[2020-10-23 18:47] eric-jahn commented on #883
@suryayadavalli One thing I think is confusing with the graphic, is that it seems to say that "you have to remove a global consent, after you've add a global consent, before you can upload consent documents".  But I know you didn't mean for that, so can you update the paths more, to have fewer sequential dependencies, unless there really are enforce dependencies/ordering of events?

[2020-10-23 18:48] eric-jahn commented on #883
@suryayadavalli Also please check in the diagram and the source file for it.  Thank you!

[2020-10-23 19:01] suryayadavalli commented on #885
Complete

[2020-10-23 19:01] #885 closed

[2020-10-23 19:17] suryayadavalli commented on #886
* Capitalize each beginning letter in the title: "Golden view Metadata Architecture" -> "Golden View Metadata Architecture"  - **complete**
* "Client Micro services" -> "Client Microservices" - **complete**
* "Generic household Service" -> "Generic Household Service" - **complete**
* "House Matching Service" -> "Housing Match Service" - **complete**
* "Survey service" -> "Survey Service" - **compl

[2020-10-23 19:17] #886 closed

[2020-10-26 20:42] eric-jahn commented on #886
https://github.com/servinglynk/hslynk-open-source-docs/commit/20a758b97d7f9719328563abc6cc997535f52bdb

[2020-10-26 20:52] eric-jahn opened #889 "Changes to consent workflow"
Please modify https://github.com/servinglynk/hslynk-open-source-docs/blob/master/doc/WikiContent/diagram-source-files/HSLynk%20Client%20consents.vdx with the following changes:

![consent](https://user-images.githubusercontent.com/4115079/97226204-0f175a80-17aa-11eb-927f-2df9b8897c2d.png)

* remove the arrow between "Create Client Consent" and "Remove Global Projects"?  And also remove the arrow b

[2020-10-26 21:03] eric-jahn commented on #883
https://github.com/servinglynk/hslynk-open-source-docs/commit/20a758b97d7f9719328563abc6cc997535f52bdb

[2020-10-26 21:03] #883 closed

[2020-10-29 15:44] eric-jahn opened #890 "Demo Account API"
The request requires user/email/phone info, with a boolean for if they would like to be contacted.  Once they fill out the form, they would get a un/pw that expires in two weeks.  It will be associated with the Try It Now project group.  Trusted Apps can use this API to offer demos.

[2020-10-29 20:03] eric-jahn opened #891 "add to /search: global projects (by ID and name), global enrollments (by ID), global households (by ID), and organization (by name and ID)"
also add a project id parameter, to filter for one project,

[2020-10-30 02:03] eric-jahn opened #892 "Plain English short question text"
Currently, the table just has "MonthsHomelessPastThreeYears", which must be manipulated by the app to present.

[2020-10-30 20:40] logicsandeep opened #893 "Child links are not populated in GET /enrollments/{enrollmentId} API"
For example:
 v2020/clients/76f57a18-abd4-4848-925e-fe88feea1b00/enrollments/6b8b3900-3b07-4875-9a2a-400f0f141f22?includeChildLinks=true

[2020-10-31 02:03] logicsandeep opened #894 "Enable sorting for GET /clients , /projects and /organizations"
Enable sorting for GET /clients , /projects and /organizations

[2020-11-01 17:08] suryayadavalli commented on #893
Looked into this issue in detail. The child links population logic is dependent on **datacollectionstage** for the childs.

current_living_situation do not have datacollectionstage, hence it is not considered for grouping while computing the response.

Here is the requirment for child links
https://github.com/servinglynk/hslynk-open-source-docs/issues/588

Question is : why datacollectionstage col

[2020-11-02 02:36] logicsandeep commented on #893
<img width="1203" alt="Screen Shot 2020-11-01 at 6 29 26 PM" src="https://user-images.githubusercontent.com/4108057/97824383-bce2a780-1c89-11eb-9cd2-7d20a8a66d65.png">
The child link for  currentLivingSituations should exist with "unspecified_stage" just like dataOfEngagements in the screenshot attached.
dateOfEngagements also does not contain datacollectionstage.

Check out this URL:
/v2020/clien

[2020-11-02 08:18] suryayadavalli commented on #893
@logicsandeep : Thanks for the clarification. Yes, You are correct. It's an API issue. I will work on the fix.

[2020-11-02 16:51] suryayadavalli commented on #893
@logicsandeep : Issue with CurrentLivingSituation is resolved now. However, I see that this issue exists for three more entities (for the same reason) and I am fixing them as well.  You should be able to verify this specific fix. Thanks !

[2020-11-02 20:46] logicsandeep commented on #893
Excellent Thanks @suryayadavalli

[2020-11-04 18:41] eric-jahn opened #895 "change generic households, so that a head of household is optional"
in https://docs.hslynk.com/?urls.primaryName=Generic%20Household%20API#/default/POST_generic-households, instead of a head of household's ID being required in the request parameter, a global client ID is required instead, and the head is optional.

[2020-11-05 11:47] eric-jahn opened #896 "hmislynk.com domain still used for ses emails"
Should be moved over to hslynk.com
![hmislynk](https://user-images.githubusercontent.com/4115079/99715261-9b98fe00-2a74-11eb-8e4f-5dcf1bede1ed.png)

[2020-11-10 17:02] suryayadavalli commented on #664
Tasks to be done.

Generate unique request and response headers for tracking a specific request flow in Kibana
Include and externalize logback.xml configuration for all micro service.
Setup rolling appenders for all loggers based on no of files, and size.
Generate unique request and response headers for tracking a specific request flow in Kibana
Set up forwarders for all loggers to go to Kibana an

[2020-11-12 20:20] eric-jahn opened #897 "thumbnail API for all docs related to a consent"
This could include signatures, uploaded pdfs which are signed, audio files, etc..

[2020-11-12 20:22] eric-jahn opened #898 "category metadata on consent document files"
signature image
audio recorded consent
scanned, signed consent document

[2020-12-01 19:45] suryayadavalli commented on #896
This is resolved now.

[2020-12-01 19:45] #896 closed, assigned to suryayadavalli

[2020-12-01 20:25] eric-jahn commented on #896
@suryayadavalli could you ad the commit for this? thanks!

[2020-12-01 22:14] eric-jahn opened #899 "Display list of trusted apps for customer admin view in Admin App"

[2020-12-03 13:04] suryayadavalli commented on #664
Commit id : https://github.com/servinglynk/hslynk-open-source/commit/5746969ae9da9b27d11855f88e8a6e0d74d1e1fa

[2020-12-11 20:03] eric-jahn opened #900 "DIRECT Email SMTP gateway for receipt and storage of incoming messages"
...which then trigger pub/sub alerts to users in apps, depending on addressed roles.

related https://github.com/hmis-api/human-services-api/issues/5

[2021-01-06 14:09] eric-jahn opened #901 "More clear error message for Trusted App inactive account"
change the UI to show you an error message in the login page instead of leaving the user puzzled about what's happening.

![error](https://user-images.githubusercontent.com/4115079/103777661-39359600-4fff-11eb-8715-283e8159c396.png)
![error2](https://user-images.githubusercontent.com/4115079/103777800-697d3480-4fff-11eb-93d0-68d1bfaf28b2.png)

[2021-01-12 17:07] eric-jahn commented on #362
I'm not sure if the January 2019 Table shells https://files.hudexchange.info/resources/documents/System-Performance-Measures-Table-Shells.pdf are the same as the Oct 2019 Specifications: https://files.hudexchange.info/resources/documents/System-Performance-Measures-HMIS-Programming-Specifications.pdf

I would just rely on the Oct. 2019 Specifications unless there is a need to look at the earlier s

[2021-01-12 17:10] eric-jahn commented on #362
Components of this issue are:
* A Hive view with the matching field name labels from the Oct 2019 Specification, so communities can incorporate these values in their own custom dashboards (via Tableau or what-have-you).
* An API to download the PDF Report
* A way to get the report from the Admin App (which uses the API under the hood)
* There will be no CSV format, since the Hive view can be used

[2021-01-15 19:34] logicsandeep commented on #884
https://github.com/servinglynk/hslynk-open-source/commit/3be9e58ee16bf663502f2d8bd69b8eede0f16606#diff-1ce866cf69d7bd9dbf7bb843ac100daa5d3df1fdc3ce981e6467420320872eef

[2021-01-15 19:34] #884 closed

[2021-01-15 19:34] logicsandeep commented on #839
Commit ID: https://github.com/servinglynk/hslynk-open-source/commit/3be9e58ee16bf663502f2d8bd69b8eede0f16606#diff-1ce866cf69d7bd9dbf7bb843ac100daa5d3df1fdc3ce981e6467420320872eef

[2021-01-15 19:34] logicsandeep commented on #825
Commit id: https://github.com/servinglynk/hslynk-open-source/commit/3be9e58ee16bf663502f2d8bd69b8eede0f16606#diff-1ce866cf69d7bd9dbf7bb843ac100daa5d3df1fdc3ce981e6467420320872eef

[2021-01-15 19:34] #825 closed

[2021-01-15 19:35] logicsandeep commented on #824
Commit id: https://github.com/servinglynk/hslynk-open-source/commit/3be9e58ee16bf663502f2d8bd69b8eede0f16606#diff-1ce866cf69d7bd9dbf7bb843ac100daa5d3df1fdc3ce981e6467420320872eef

[2021-01-15 19:35] #824 closed

[2021-01-15 19:35] logicsandeep commented on #847
Commit id: https://github.com/servinglynk/hslynk-open-source/commit/3be9e58ee16bf663502f2d8bd69b8eede0f16606#diff-1ce866cf69d7bd9dbf7bb843ac100daa5d3df1fdc3ce981e6467420320872eef

[2021-01-15 19:35] #847 closed

[2021-01-15 19:36] logicsandeep commented on #899
Commit id: https://github.com/servinglynk/hslynk-open-source/commit/3be9e58ee16bf663502f2d8bd69b8eede0f16606#diff-1ce866cf69d7bd9dbf7bb843ac100daa5d3df1fdc3ce981e6467420320872eef

[2021-01-15 19:36] #899 closed, assigned to logicsandeep

[2021-02-02 05:32] suryayadavalli opened #902 "Security - github vulnerability issues"

[2021-02-02 05:33] suryayadavalli commented on #902
Commit id:  https://github.com/servinglynk/hslynk-open-source/commit/7956721ddb0a04ab1bf860b6003194e65d8483a6

[2021-02-02 05:33] suryayadavalli commented on #902
coordinated-entry commit id : https://github.com/hserv/coordinated-entry/commit/afdcde2a1f5d125a5c58c84063f8d2e791178e91

[2021-02-02 05:33] #902 closed, assigned to nobody

[2021-02-13 12:19] logicsandeep opened #903 "Search returns duplicate records after purging the reloading the data"
I recently purged that data from project group TT0013 and reuploaded the data. After calling the search API I discovered 2 records for certain clients.
API:
https://api.hslynk.com/hmis-clientapi/rest/search/clients?q=snow+Straw&startIndex=0&maxItems=30
I did not expect to see client to id : ae40aa03-2bf0-431d-976f-52c16606fe62

I also understand what is the root cause here. We need to purge record

[2021-02-13 12:23] logicsandeep opened #904 "Sort enrollments for a clients by entry date"
Make changes to the GET clients/{clientid}/enrollments API to sort by entry date.

[2021-02-16 18:53] suryayadavalli opened #905 "Marmotta instance set up"
Current status

Set up the new instance, Configured marmotta and was able to build and deploy Marmotta artifacts. Both admin and  The services are as such up and running however, we receive a 404 when trying to create and fetch records. Currently debugging this along with enabling Hslynk Authentication, to authorize the calls that come to Marmotta.

setting up this instance in production and once

[2021-02-16 20:16] logicsandeep opened #906 "Purge and reload data for Try it now project group."
Purge and reload data for Try it now project group.

[2021-02-16 20:16] logicsandeep commented on #906
I've managed to purge and reload the data for the "Try it now" project group and have also created the required users for testing.

[2021-02-17 12:33] logicsandeep commented on #906
Data is purged and reloaded to the try-it-now project group.

[2021-02-17 12:33] #906 closed, assigned to logicsandeep

[2021-02-17 12:47] logicsandeep opened #907 "Include project group code when looking up for de-duplicated global projects."
We have a bug when looking up global project we do not consider projectGroupCode for de-duplication.
For example:
If there's a project in project group code = AB0001 with the following data.
   Project Name : Abc project.
   Source system id: 12344
And when a user in a different project group tries to create the same project as above, then the global project is not be created/updated according to

[2021-02-23 18:56] eric-jahn opened #908 "no API to delete a shelter checkout"
or can it just be PUT with an empty date?

[2021-02-26 14:43] logicsandeep opened #909 "POST globalhousehold/generic-households giving an exception"
POST globalhousehold/generic-households giving an exception.

**API:**
https://api.hslynk.com/global-household-api/rest/generic-households

**Body:**
{"genericHouseholds":[{"headOfHouseholdId":"ce3e6670-33e7-11eb-8b7d-02470cfcb41b"}]}

**Response:**
 {
  "error" : [ {
    "code" : "",
    "message" : "unexpected error occurred"
  } ]
}

Also tried the v3 API.
https://api.hslynk.com/global-househol

[2021-03-01 09:02] suryayadavalli opened #910 "Subscription notifications (demo set up)"
1. **PITON** App subscribes for notifications via **HSLynk**
2. **HSLynk** registers/ subscribes itself with opencitylabs for notifications (for that specific client)
2. **opencitylabs** notifies resthook when criteria is met
3.  **HSLynk's** resthook writes to websocket
4. **PITON** app listens to websocket for notifications from **HSLynk's** rest hook.

![image](https://user-images.githubusercon

[2021-03-01 15:08] suryayadavalli commented on #910
@logicsandeep Sample web-socket connection  html code is available in below location

https://github.com/servinglynk/hslynk-open-source/blob/bf40a41d925125984961a377480578f8fd55e236/hmis-event-service/src/main/webapp/socket-test.html

[2021-03-01 15:09] suryayadavalli commented on #910
commit id: https://github.com/servinglynk/hslynk-open-source/tree/bf40a41d925125984961a377480578f8fd55e236

[2021-03-01 16:35] eric-jahn commented on #910
@suryayadavalli In the diagram, I thought HSLynk was going to subscribe to alerts.  Piton App would just display them when the callback comes in.  Can we create a subscription endpoint Piton App can call to tell HSLynk what to subscribe to, for alerts?

[2021-03-01 18:11] suryayadavalli commented on #910
@eric-jahn :  Will come up with an subscription end point that PITON can call.

[2021-03-02 13:25] logicsandeep commented on #907
This issue is fixed. The deduplication of global projects is within a project group.
https://github.com/servinglynk/hslynk-open-source/commit/2803b78b3baf6bcc6c60bf0899f19baf7efdf3d8

[2021-03-02 13:25] #907 closed, assigned to nobody

[2021-03-02 13:25] logicsandeep commented on #904
Enrollments for a client are sorted in descending order of the entrydate.

[2021-03-02 13:25] #904 closed, assigned to logicsandeep

[2021-03-04 20:00] logicsandeep opened #911 "Clean up duplicate records from the demo project group."
The purge process does not purge data from ES. We need to change the Purge process to delete records from ES along with the transaction database.

[2021-03-04 20:16] logicsandeep commented on #911
The data is cleaned up and going forward we can expect to see only 1 record per client via ES.

[2021-03-04 20:16] #911 closed, assigned to nobody

[2021-03-08 13:28] suryayadavalli commented on #909
@logicsandeep there are two APIs, one to create generic house hold and another one to add a members to a generic household. Both APIs are working now. please verify.

Here is the sample request to create a generic household

[code]
Request Body

[code]

Here is the sample request for add members to a generic house hold

[code]
Request Body
[code]

The client ids are in these requests are from test

[2021-03-08 13:31] sdolia commented on #909
@suryayadavalli  What did you do to fix the issue ? I'm aware of the API.

[2021-03-08 18:02] suryayadavalli commented on #910
Client subscription API details
URL: https://api.hslynk.com/hmis-event-service/rest/clients/e14b1753-7066-446f-badf-c89b0606ed0e/subscriptions

Request body

[code]

[2021-03-09 02:24] eric-jahn commented on #910
We'll have to change this API to "event service" or something more generic, since it isn't really specific to HMIS.  Any human services program dealing with COVID could use it.

[2021-03-09 20:18] suryayadavalli commented on #910
@eric-jahn : name change to event-service is done.  @logicsandeep and I had a meeting to go through the details of the real time notifications implementation.

**Here is what's NOT included in the demo set up**
1. Storing the notifications and exposing an API for PITON to fetch all the notifications. The notifications will be sent to PITON real-time  (not in a store/fetch approach)
2. Ability to s

[2021-03-12 09:26] logicsandeep commented on #909
This issue can be closed.

[2021-03-12 09:26] #909 closed, assigned to logicsandeep, suryayadavalli

[2021-03-17 01:05] eric-jahn opened #912 "map enumerated roles like "CUSTADMIN" to plain English roles, such as "Customer Admin""
This way, apps can display the role.

[2021-03-19 17:17] logicsandeep opened #913 "Fix report uploads and downloads post the github vulnerabilities fixes"

[2021-03-24 15:32] eric-jahn opened #914 "more comprehensive build tests"
To discover a wider range of functionality regressions, with new code commits.  High level tests that ensure the largest number of dependent sub processes should be prioritized, to catch the most issues.

[2021-05-11 02:26] logicsandeep commented on #903
This issue is fixed. via data migration and cleaning up ES database.

[2021-05-11 02:26] #903 closed, assigned to suryayadavalli