[2018-09-04 19:46] #568 closed

[2018-09-04 19:56] logicsandeep commented on #568
https://github.com/servinglynk/hslynk-open-source/commit/9c8159f8975ce7776015a66107f516834c710361

[2018-09-05 21:07] eric-jahn opened #574 "terser bulk upload log files"
Example screenshot:
![logs](https://user-images.githubusercontent.com/4115079/45120162-5a360580-b12b-11e8-9d8e-e3c333ca1f27.png)

grouping similar entries would also help

cc: @CTAJavier

[2018-09-05 21:38] logicsandeep opened #575 "Fix Race population in the 2017 schema."
Fix Race population in the 2017 schema. Make sure all the races are tied to the correct type.

[2018-09-05 21:39] eric-jahn commented on #575
cc: @CTAJavier

[2018-09-05 22:04] eric-jahn commented on #575
https://github.com/servinglynk/hslynk-open-source/compare/c4a22fc3c7db...12591b2f864e#diff-ef5c4a02fbdeab09eecd7ed3b83714d6

[2018-09-06 00:10] eric-jahn commented on #575
cc: @eturanalp

[2018-09-06 17:59] eric-jahn opened #576 "written Written Information Security Policy"
*required for E&O Insurance

[2018-09-06 20:32] eric-jahn opened #577 "support CSV v6.12"
changes for 6.11 -> 6.12 are few (most are changes to its documentation):
![6_12](https://user-images.githubusercontent.com/4115079/45183532-5d47f900-b1f2-11e8-8ae3-72b1f2022566.png)
cc: @CTAJavier

[2018-09-07 12:18] eric-jahn opened #578 "uriObjectField is set to inventory.cocCode"
@sandeep.dolia: one discrepancy I see with a question (UUID - 13066882-4ee5-44d1-a719-7a091218cecd) - The *uriObjectField* is set to *inventory.cocCode* - however, this attribute doesn't exist in the inventory entity. Please double check and update with the correct one.

[2018-09-07 18:53] art4ride commented on #572
for example if I query
`a7784edc-b9d4-48d1-8573-ce4652152f78` (schema: v2017)
there's a `veteranStatus` field existing
and then perform a search by dedupClientId:
`64d5cc70-3c30-11e8-985f-02fe61f7863e`
there's none

[2018-09-07 19:34] eric-jahn opened #579 "bulk upload "new" (API) needs to be the only API accessible bulk upload methodology"
Currently, the non-API method is recommended.  This is confusing for users, and requires maintaining two systems.

[2018-09-07 19:40] eric-jahn opened #580 "CSV admin app uploader should display v6.11 not v6.1.1"
XML has a 6.1.1, and the equivalent CSV is  6.12.

[2018-09-07 20:37] eric-jahn opened #581 "implement helpdesk software for customers"

[2018-09-07 21:11] suryabi commented on #581
Please take a look at this. This should resolve majority of the use cases we will have for help desk. https://aws.amazon.com/connect/

We can explore how this can be integrated with github, so each call to helpdesk is tracked as a ticket for us to triage and act on it accordingly.

https://aws.amazon.com/connect/details/?sc_channel=PS&sc_campaign=acquisition_US&sc_publisher=google&sc_medium=ACQ-R%

[2018-09-08 16:53] eric-jahn commented on #581
I'd sort of like it to be independent of github until it escalates to a code issue.

-filter out spam and vacation bounces
-give each new case a web address to link to for discussion purposes
-allow a team of people to see and respond to cases together if needed
-send out notifications by email or chat to support team when there is a new issue

I don't think we need telephony or chat support at th

[2018-09-10 03:07] logicsandeep opened #582 "When uploading files to 2017 the schema year was populated as 2016."
When uploading files to 2017 the schema year was populated as 2016.

[2018-09-10 03:24] logicsandeep opened #583 "Consider only active project group codes for dedup process and syncing."

[2018-09-10 05:54] logicsandeep opened #584 "Sync HUD questions to Hive."
Sync HUD questions to Hive.

[2018-09-10 17:29] suryayadavalli commented on #573
There are two clients in 2017 schema with the same dedupID . When the search is done based on dedupID, based on the logic , the details of client that is most recently updated, will be fetched - in this case, this client do not have any veteran status.

You can verify this by searching with both the clientIds individually . Will share the details in the channel , referencing this issue #.

[2018-09-10 17:36] suryayadavalli commented on #572
This is is related to #573 . Updated the status and posted details in home-app-support channel.

[2018-09-10 21:58] logicsandeep commented on #584
https://github.com/servinglynk/hslynk-open-source/commit/4a98e42efa3ed5c015c86ccbd5a0cab5be315dad

[2018-09-10 21:58] #584 closed

[2018-09-10 21:59] logicsandeep commented on #583
https://github.com/servinglynk/hslynk-open-source/commit/090e6c229fd4e88c8cf39d05a37ad7f62bfbe2d8
https://github.com/servinglynk/hslynk-open-source/commit/7856c336c4e7bcf0763888658fee71f63d0ed77c

[2018-09-10 21:59] #583 closed

[2018-09-10 22:00] logicsandeep commented on #582
https://github.com/servinglynk/hslynk-open-source/commit/46b99beb1ecf91bdbc34e83f4f06f52f6b74d9df

[2018-09-10 22:00] #582 closed

[2018-09-10 23:16] eric-jahn commented on #573
So is there an issue here, or just the need to merge these two clients?

[2018-09-11 18:14] suryayadavalli commented on #573
This is an bug on HMIS API implementation. Resolved now. Deployed in Production.

https://github.com/servinglynk/hslynk-open-source/commit/c6f799503676392888d2f0bcb3f3d138ccf41d06

[2018-09-11 18:18] art4ride commented on #573
@suryayadavalli thank you, works for me now.

[2018-09-11 20:04] eric-jahn opened #585 "turn off "new" bulk uploader for admins in admin app"
Superuser can still see it, but it should be labeled API test uploader, instead of "new".

[2018-09-11 20:05] eric-jahn opened #586 "auto-refresh cells in admin app, so no F5 needed"

[2018-09-11 20:31] eric-jahn opened #587 "in admin app's bulk uploader, if file format is incorrect, show the reason in logs or message cell"

[2018-09-11 21:50] eric-jahn opened #588 "Add related links for child entities of a GET /enrollments/enrollment_id"
* allows API users to rapidly locate existing related data, grouped by data collection stage (located in a field in each child entity), without calling APIs for which no data may be present
* an optional switch activates the presentation of these links
* located in the GET response after the existing JSON enrollment response payload
* grouped by the data collection stages of "at entry", "during en

[2018-09-11 21:57] CTAJavier commented on #588
This looks good, also we should have this be populated for all existing data, not just what is created from HOME

[2018-09-12 20:46] suryabi commented on #588
@eric-jahn : this is a 20 - 24  (best - worst) hours effort from the API end.

[2018-09-13 13:32] eric-jahn commented on #588
@suryayadavalli please go ahead with work on this.

[2018-09-14 12:20] logicsandeep commented on #575
https://github.com/servinglynk/hslynk-open-source/commit/5b1d92f070659be160e387f608b0ba3323c816b6

[2018-09-14 12:20] #575 closed

[2018-09-14 19:26] logicsandeep opened #589 "Add question_group_id for /questions."
Add question_group_id for /questions.

[2018-09-17 19:20] eric-jahn opened #590 "post db schema docs for all schemas, not just HMIS, and link from HSLynk Wiki"
here is an HMIS one: https://hslynk.com/hmis-api/db/2017/dbdocs/index.html
and then add all links here: https://github.com/servinglynk/hslynk-open-source-docs/wiki/HSLynk-PostgreSQL-operational-schema-locations-and-documentation

[2018-09-18 12:16] eric-jahn opened #591 "Active List processing logs in customer admin console"

[2018-09-18 19:15] logicsandeep opened #592 "Fix sync schema to take other primary keys apart from the id field."
Fix sync schema to take other primary keys apart from the id field.

[2018-09-18 19:36] logicsandeep commented on #592
https://github.com/servinglynk/hslynk-open-source/compare/31fee897b5c4...54535f562f1d

[2018-09-18 19:36] #592 closed

[2018-09-20 05:06] suryayadavalli opened #593 "API Issue - Unable to use noncashbenefits API."
I'm unable to use noncashbenefits API. I tried POSTing the example in the docs:

[code]

[2018-09-20 05:07] suryayadavalli opened #594 "API Issue - Cannot post to dateofengagements end point"
@pgorecki

[2018-09-20 05:07] suryayadavalli opened #595 "API Issue - API for domesticviolences doesn't work"
cannot post to https://www.hmislynk.com/hmis-clientapi/rest/v2017/clients/c551d8a9-5e83-49a9-83a1-8669f81145dd/enrollments/0cb2368a-e3fd-40b6-8acf-d244349337ee/dateofengagements using an example from the docs (500 error)
[code]

[2018-09-20 05:08] suryayadavalli opened #596 "API Issue - Invalid uriObjectField for residentialMoveInDate element"

[2018-09-20 14:46] eric-jahn commented on #565
@CTAJavier I understand there is an existing issue with this.  Could we post in this issue the existing problems?

[2018-09-20 14:50] eric-jahn opened #597 "using validators to check if jsons matches java object"
Take a look at https://www.baeldung.com/introduction-to-json-schema-in-java maybe you will find it useful.
another one is here: http://www.springboottutorial.com/spring-boot-validation-for-rest-services looks little simpler but it's for Spring Boot so I don't know if it is applicable in your case
cc:@pgorecki

[2018-09-20 15:48] eric-jahn opened #598 "unable to use noncashbenefits API"
I'm unable to use noncashbenefits API. I tried POSTing the example in the docs:

[code]

[2018-09-20 15:53] eric-jahn commented on #598
duplicate of #593

[2018-09-20 15:53] #598 closed

[2018-09-20 16:49] eric-jahn opened #599 "Admin App inclusion of switches to turn on/off major features for a project group"
Major features currently are:
CES active List Processing
No need to turn on/off HMIS or Survey tool, since they don't cause new processes to run if they are turned on, and there is no data.

[2018-09-20 16:54] suryayadavalli commented on #594
Commit : https://github.com/servinglynk/hslynk-open-source/commit/6e2f54347f0a9e65658aedc5e4c94a74526a8333

[2018-09-20 16:54] #594 closed

[2018-09-20 16:54] suryayadavalli commented on #593
commit id :  https://github.com/servinglynk/hslynk-open-source/commit/6e2f54347f0a9e65658aedc5e4c94a74526a8333

[2018-09-20 16:54] #593 closed

[2018-09-20 16:55] suryayadavalli commented on #595
commit id :  https://github.com/servinglynk/hslynk-open-source/commit/6e2f54347f0a9e65658aedc5e4c94a74526a8333

[2018-09-20 16:55] #595 closed

[2018-09-20 21:06] eric-jahn commented on #565
Can we close this now?

[2018-09-21 05:33] pgorecki opened #600 "API Issue - Unable to use incomeandsources API"
https://www.hmislynk.com/hmis-clientapi/rest/clients/c551d8a9-5e83-49a9-83a1-8669f81145dd/enrollments/1f421e09-46a0-4015-87d5-f32700e99af2/incomeandsources

I'm getting 404 for a minimal set of data:
[code]

I'm getting 500 when posting example data from the docs:
[code]

[2018-09-21 15:14] suryayadavalli opened #601 "Reserved instances set up for AWS"
Check and compare M5 vs M4 and Check T3 vs T2  (Price and Performance) before the reservation.

[2018-09-21 18:09] suryayadavalli commented on #565
Resolved , Deployed in production. Specific issues with respect to this functionality are being tracked separately. Closing this issue .

[2018-09-21 18:09] #565 closed

[2018-09-21 18:12] suryayadavalli commented on #565
https://github.com/servinglynk/hslynk-open-source/commit/20bcc19e6604b6c893fdf9d88e49d2e49fe00671

[2018-09-21 18:58] #563 closed

[2018-09-21 20:56] eric-jahn commented on #596
Can we close this if 2017 is finished, and just change the labels to other HMIS Data Standard years and move to "next priority" from "current sprint"?

[2018-09-21 21:19] suryayadavalli opened #602 "Active List processing for Santa Barbara"

[2018-09-21 21:20] suryayadavalli opened #603 "Automated / Regression testing using Jenkins / JMeter scripts"

[2018-09-21 21:20] suryayadavalli opened #604 "Generate API documentation (Swagger) from code"

[2018-09-21 21:21] suryayadavalli opened #605 "Slack alerting in error monitoring channel for application exceptions / issues (DEV only)"

[2018-09-21 22:47] suryayadavalli commented on #602
Duplicate of hserv/coordinated-entry#243

[2018-09-21 22:47] #602 closed

[2018-09-23 05:07] suryayadavalli commented on #600
commit id :  https://github.com/servinglynk/hslynk-open-source/commit/0bca711cdb9fcf3582e1aa78c831a0fc51d2d356

[2018-09-23 18:06] eric-jahn opened #606 "reconciliation of each 2017 HUD question with 2017 Data Dictionary"
https://github.com/hmis-interop/logical-model/blob/master/doc/2017/HMIS-Data-Dictionary.pdf

cc: @CTAJavier @pgorecki

[2018-09-23 18:58] suryayadavalli commented on #601
Here are the details for the Reserved instance purchase for HMIS

*EC2*
No Upfront Linux/UNIX m4.2xlarge for 12 months - 5 (Reserved Instance Id: 3a8d9dd1-5e12-428e-8898-78f1a7cbc27c)
No Upfront Linux/UNIX m4.large for 12 months - 2 (Reserved Instance Id: 27a682f9-4da5-48cf-ba33-70c41f7eb1c1)
No Upfront Linux/UNIX m5.large for 12 months - 5 (Reserved Instance Id: cf311eab-bfc7-4e15-a645-c1e39a7e8c

[2018-09-23 18:59] suryayadavalli commented on #601
Complete. Closing the issue.

[2018-09-23 18:59] suryayadavalli commented on #601
Will keep the issue open until the testing is complete.

[2018-09-24 12:38] pgorecki opened #607 "cannot GET/POST disabilities"
This endpoint returns 404:

- https://www.hmislynk.com/hmis-clientapi/rest/v2017/clients/0a5c0aea-708a-442f-97b9-b41dc2250a83/enrollments/1e4acab5-7e7d-4b4e-943f-6aedfaec4aab/disabilities

Also, following endpoints return 404 (possibly due to camel case):

- https://www.hmislynk.com/hmis-clientapi/rest/v2017/clients/0a5c0aea-708a-442f-97b9-b41dc2250a83/enrollments/1e4acab5-7e7d-4b4e-943f-6aedfaec4

[2018-09-24 12:49] pgorecki opened #608 "incorrect uriTemplates in HUD questions"
Take a look at these 2 question updateUriTemplates.

One of them starts with `/v2017/clients`
The other starts with `/clients`

Due to the way we collect data to POST/PUT into enrollments, when these 2 questions are in the same survey, data will be sent as 2 separate requests. Please unify updateUriTemplates.

[code]

[2018-09-24 13:04] pgorecki opened #609 "POST /enrollments/enrollmentId/xyz response"
due to the way we extract object id from enrollment POST response, please unify all returned ids to the format `objectNameId`, i.e.:

{ healthInsurance: { healthinsuranceId: '28b0ee26-85d4-4bee-ba66-b52b273a2f5f' } } }

change to healthInsuranceId

{ medicalAssistance: { medicalassistanceId: 'df5c4435-1640-41ca-8c10-10de63c2132b' } } }

change to medicalAssistanceId

{ noncashBenefits: { noncashbe

[2018-09-24 18:56] suryayadavalli opened #610 "Deployment job issues - With the infrastructure upgrade"
The configurations are changed as the instances are upgraded and hence few deployment jobs are failing. Currently working on this

[2018-09-24 19:14] suryayadavalli commented on #609
commit id :  https://github.com/servinglynk/hslynk-open-source/commit/3c2f23ced94bb4e043d6a0294c08c37ab8750999

[2018-09-25 15:27] eric-jahn commented on #589
@pgorecki , @suryayadavalli : Can we close this?

[2018-09-25 15:27] #589 closed

[2018-09-25 15:36] eric-jahn commented on #578
@logicsandeep What is the status of this?  It seems important.

[2018-09-25 15:37] #573 closed

[2018-09-25 15:55] logicsandeep commented on #578
@eric-jahn  Ah, I missed this. I'll push this change rightaway.

[2018-09-25 19:08] eric-jahn opened #611 "reconciliation of all Data Dictionary questions with our picklists"

[2018-09-25 19:09] logicsandeep commented on #592
https://github.com/servinglynk/hslynk-open-source/commit/dd4ff32cf1c274c2f4fd177b565c7b1256208b8a

[2018-09-25 19:58] eric-jahn commented on #611
@logicsandeep : Do you have an ETA for this?  CTA needs to verify that their survey matches the final version of your questions, before we can work on the logic and the exit surveys. So it's a bottle-neck for them.

[2018-09-26 15:54] eric-jahn opened #612 "move to OpenJDK from Oracle JDK"
If we are using Oracle JDK...

https://blog.joda.org/2018/09/do-not-fall-into-oracles-java-11-trap.html

[2018-10-05 12:14] pgorecki opened #613 "GET /projects is not returning data as in the docs"
In particular, `projectType` field is missing which is required element for enrollment surveys. Please fix ASAP.

[2018-10-05 12:41] logicsandeep commented on #613
@pgorecki  Can you please provide some more information.Which client are you experiencing this issue ?

[2018-10-05 13:34] logicsandeep commented on #613
There are only 3 project in the Home app project group and they all don't have any projectType. It looks like they were created via APIs.

[2018-10-05 13:36] logicsandeep commented on #613
Home app does not have any projects with project type in the v2017 data standard.

[2018-10-05 16:13] logicsandeep commented on #613
Close this issue, because It is not a code issue.

[2018-10-05 16:13] #613 closed

[2018-10-05 18:18] suryayadavalli commented on #610
Resolved, Changed the build configurations to resolve the communication issues.

[2018-10-05 18:18] #610 closed

[2018-10-05 18:19] suryayadavalli commented on #609
Resolved, Closing the issue

[2018-10-05 18:19] #609 closed

[2018-10-05 18:19] suryayadavalli commented on #607
Resolved, Closing the issue

[2018-10-05 18:19] #607 closed

[2018-10-05 18:32] logicsandeep opened #614 "APR Report section 24"
APR Report section 24

[2018-10-05 18:32] logicsandeep commented on #614
https://github.com/servinglynk/hslynk-open-source/commit/ee1022bc1d08bce61f328151a1c04eed5512eb04

[2018-10-05 18:44] logicsandeep opened #615 "Apr Section 25a"
Apr Section 25a

[2018-10-05 18:45] logicsandeep commented on #615
https://github.com/servinglynk/hslynk-open-source/commit/a181c3d9c4eb37ca19cd89611a82d68d4e3796af

https://github.com/servinglynk/hslynk-open-source/commit/58a44443518e2f6c9d46feec38ad6ddfd320119c

[2018-10-05 18:45] #615 closed

[2018-10-05 18:45] logicsandeep opened #616 "Apr Section 25b"
https://github.com/servinglynk/hslynk-open-source/commit/a181c3d9c4eb37ca19cd89611a82d68d4e3796af

https://github.com/servinglynk/hslynk-open-source/commit/58a44443518e2f6c9d46feec38ad6ddfd320119c

[2018-10-05 18:45] #616 closed

[2018-10-05 18:45] logicsandeep opened #617 "Apr Section 25c"
Apr Section 25c

[2018-10-05 18:45] logicsandeep commented on #617
https://github.com/servinglynk/hslynk-open-source/commit/a181c3d9c4eb37ca19cd89611a82d68d4e3796af

https://github.com/servinglynk/hslynk-open-source/commit/58a44443518e2f6c9d46feec38ad6ddfd320119c

[2018-10-05 18:45] #617 closed

[2018-10-05 18:46] logicsandeep opened #618 "Apr Section 25d"
https://github.com/servinglynk/hslynk-open-source/commit/2b26cb0670a692dc6a9631fda5c86b067317d4d1

https://github.com/servinglynk/hslynk-open-source/commit/f595f6dbc05abaaa022764fe395085dc1224691a

[2018-10-05 18:46] #618 closed

[2018-10-05 18:48] suryayadavalli commented on #605
Completed, Set up the alerts in prod-monitoring channel if there are any failures with job processing so, dev can take action immediately. Closing the issue

[2018-10-05 18:48] #605 closed

[2018-10-05 19:01] suryayadavalli opened #619 "Issues with Plone test.hslynk.com set up"
Here is our issue with Plone - https://community.plone.org/t/mixed-content-causing-ssl-issue/2536/16
Plone Community

Mixed content causing ssl issue
you're missing a second rewrite for the virtual host definition as stated in the documentation; something like this: RewriteRule ^/(.*) http://localhost:8080/VirtualHostBase/https/%{HTTP_HOST}:443/Plone/VirtualHostRoot/$1 [P,L] rewrite is a two-way p

[2018-10-08 01:42] suryayadavalli commented on #619
This is complete now.
Configure reverse proxy on ngnix based on the documentation / forums, to resolve the issues with https access.

https://test.hslynk.com

[2018-10-08 01:42] #619 closed

[2018-10-08 01:44] suryayadavalli opened #620 "Whitelist Marmotta access to marmotta.stytes.net"
Complete.  Shared the details in channel #linked-data-shared

[2018-10-08 01:44] suryayadavalli commented on #620
Closing the issue

[2018-10-08 01:44] #620 closed

[2018-10-08 01:49] suryayadavalli opened #621 "Instal ngnix on the same instance where Plone is installed."

[2018-10-08 10:13] eric-jahn commented on #619
Great work; I verified U can see the website now at that domain and it had ssl and a certificate.

[2018-10-09 13:16] eric-jahn commented on #611
duplicate of #606

[2018-10-09 13:16] #611 closed

[2018-10-09 13:20] eric-jahn commented on #572
@suryayadavalli since we closed #573, can we also now close this issue?

[2018-10-09 17:39] suryayadavalli commented on #604
Not able to resolve the generation of Hyper media links from Swagger, due to limited support with current Swagger framework / Spring fox dependencies that extend support for Swagger.  Looking at few other alternatives that might help generating HAL links. Will continue working on this issue.

[2018-10-09 19:43] logicsandeep opened #622 "Download Errors and warnings related to bulk uploader via a TSV file via Admin app."
Download Errors and warnings related to bulk uploader via a TSV file via Admin app.

[2018-10-09 19:45] logicsandeep opened #623 "Insert ignored records via bulk uploader into a separate table and make it available via admin app."
Insert ignored records via bulk uploader into a separate table and make it available via the admin app.

[2018-10-10 16:15] eric-jahn opened #624 "New warehouse views for housing match logs"
for the view:
client ID, dedupeID clientID, ignoreMatchProcess, removal reason, scoreAtStatusTotal(new) , scoreAtStatusVI (current), scoreAtstatusBonus(new),  readded reason (new), date_created
 (timestamp), date_updated (timestamp), active boolean, deleted boolean
the user that added or removed for the log view
related: https://github.com/hserv/coordinated-entry/issues/248
cc: @CTAJavier

[2018-10-17 18:49] #572 closed

[2018-10-17 19:09] eric-jahn commented on #577
We should leave a comment in the logs reminder to use the right version.

[2018-10-18 07:49] suryayadavalli commented on #624
@jceledon : now that we are implementing the audit / history for eligible client changes , just wondering if we still need a “readded reason” field . We can use the same “remarks” column (whether the ignore match flag set to TRUE or set to FALSE) . The latest “remarks” will be maintained in this entity and you will always have the audit view to look at the history.

Also, which changes to the elig

[2018-10-18 20:14] CTAJavier commented on #624
I think We do need the readded reason, so that we can display, the prior  status message,  IE , client is currently removed, display Reason why removed, and Reason why readded previously., and vice versa, this is important in the event that a client was removed for non-compliance with the program, that anyone working with them can see the prior reason for removal. as well as why they were readded

[2018-10-19 07:19] suryabi commented on #624
@CTAJavier : So, does it mean that the Bonus score will also posted for each section . Essentially, just the way we sum up the scores for each section and post it in active list, we should sum up the bonus scores for each section and post it in active list ? Can you confirm this understanding.

Reg : Re-added reason, okay. We will include the field per the requirement

[2018-10-19 15:41] CTAJavier opened #625 "GET /enrollments/enrollment_id Bug with Data collection Stage links"
Currently, when doing this call, we get ALL of the links for each data collection stage. This is works for Entry and exit, where only 1 submission is allowed per enrollment. This is NOT correct for data collection stages such as  Update and Annual Assessment where you can have multiple submissions. For these data collection stages, the links must be grouped either by date, or by a "submissionID" s

[2018-10-19 15:55] eric-jahn commented on #625
yes, an example will help us remove uncertainty.  How would the grouping be formatted?  like:
enrollment
  ...
  data collection stage
    at entry
    at exit
    ....
    annual assessment
      submission_id A
        link 1
        link 2
      submission_id B
        link 3
        link 4
?

[2018-10-19 16:55] art4ride commented on #625
`https://www.hmislynk.com/hmis-clientapi/rest/v2017/clients/0a5c0aea-708a-442f-97b9-b41dc2250a83/enrollments/0e852b9b-241c-4b5e-a69d-1efd77a80978`
current output:
[code]
desired output
https://www.hmislynk.com/hmis-api/?urls.primaryName=2017%20Apis#/default/GET_clients-clientId-enrollments-enrollmentId

[2018-10-19 18:36] #614 closed

[2018-10-19 18:37] logicsandeep opened #626 "Create Apr report for section 25"
Create Apr report for section 25

[2018-10-19 18:37] logicsandeep opened #627 "Create Apr report for section 26"
Create Apr report for section 26

[2018-10-19 18:38] logicsandeep commented on #627
https://github.com/servinglynk/hslynk-open-source/commit/a181c3d9c4eb37ca19cd89611a82d68d4e3796af

[2018-10-19 18:38] #627 closed

[2018-10-19 18:38] logicsandeep opened #628 "Create Apr report for section 27"
Create Apr report for section 27

[2018-10-19 18:38] #628 closed

[2018-10-19 18:39] logicsandeep commented on #628
https://github.com/servinglynk/hslynk-open-source/commit/2f9df0a3b8a2c3dabe3fcc698cfbdc61ea40dc64

https://github.com/servinglynk/hslynk-open-source/commit/01d6bd3cf08146d1bd9c480baadb518b78a67fa8

https://github.com/servinglynk/hslynk-open-source/commit/d8b8da55f00cf4e0debff0d11e3f088fbd3c8c3e
https://github.com/servinglynk/hslynk-open-source/commit/63ed8c99b0e75e6fe2537d509d6e96bf44931222

[2018-10-19 18:40] logicsandeep commented on #627
https://github.com/servinglynk/hslynk-open-source/commit/56063a7d7e9b8203a24314c56fd080161f0f1412

https://github.com/servinglynk/hslynk-open-source/commit/6fbae1a20f1b54c18a3a864a6dd065aedd47a7d0

https://github.com/servinglynk/hslynk-open-source/commit/081de972a9898b619087551bb3fa386053dd4f27
https://github.com/servinglynk/hslynk-open-source/commit/ac8ab9dedcd104442a1cc64566ff11edf61a10d7

https

[2018-10-20 17:29] logicsandeep opened #629 "Admin app changes to provide and request APR reports."
Admin app changes to provide and request APR reports.

[2018-10-20 20:50] eric-jahn commented on #629
And the underlying APIs, so third party apps can request reports.

[2018-10-22 09:50] eric-jahn commented on #625
@art4ride it seems like you are illustrating how the API docs don't match the actual response, but that is a different issue. I think what we need to see is a specific example of what you would like the response to look like, and how that is different than the documented response.

[2018-10-22 17:56] eric-jahn commented on #625
from @suryayadavalli : "By submission id - do we mean the survey response submission ID here  ?. Currently we don't have a reference of submission ID (from which the data is collected) on HMIS end. if the grouping needs to be done based on the submission ID, this need to be maintained on the HMIS end for all the enrollment collections."  So I guess we have to use dates, but which dates?

[2018-10-23 06:19] suryabi commented on #625
@eric-jahn : you are right . Going by date would makes sense and would be eaiser. Wil group the collections by date .

[2018-10-23 20:18] eric-jahn commented on #612
on 11/23/18, we discussed preparing the open jdk 11 in the dev environment, and then moving to it once there is a bug in oracle jdk 8 after the Jan security support period ends, or once open jdk 11 is stable and few patches are occuring (mature).

[2018-10-25 13:13] CTAJavier commented on #624
It would be great if we could submit one bonus score for the entire submission since bonus scores won't necessarily be applied at each section better to just have the one total bonus score. Maybe a new question type?? Not sure what the best way to implement this would be. What do you think??

[2018-10-26 14:42] suryabi commented on #624
I think you can update the eligibeclients to submit the bonus score, as we maintain the overall / survey level score there for each client . That works ?

[2018-10-26 15:08] CTAJavier commented on #624
As as in a call on the eligible clients set of clients?? Ie if a client is on the active list we can update their bonus score at that point?? That does not really work because the bonus points will be collected when survey response is collected. And eligible clients need to be added in by a process so we would have to be checking to see if the client was added to the eligible clients list and then

[2018-10-26 18:19] suryayadavalli commented on #624
Okay, I am assuming, you add a new section with a question specifically for accepting bonus score then ?

[2018-10-26 18:52] suryayadavalli commented on #625
Dev complete. Testing currently and will deploy the changes on 10/27.

[2018-10-30 07:01] suryayadavalli commented on #625
@CTAJavier : can you please check the response and confirm that this meets the requirement . This has the data collection grouping enabled by the date.

[EnrollmentLinks.txt](https://github.com/servinglynk/hslynk-open-source-docs/files/2528373/EnrollmentLinks.txt)

[2018-10-30 07:02] suryayadavalli commented on #625
@CTAJavier

[2018-10-30 12:39] logicsandeep commented on #626
https://github.com/servinglynk/hslynk-open-source/commit/a181c3d9c4eb37ca19cd89611a82d68d4e3796af

58a44443518e2f6c9d46feec38ad6ddfd320119c
2b26cb0670a692dc6a9631fda5c86b067317d4d1
f595f6dbc05abaaa022764fe395085dc1224691a

[2018-10-30 12:39] #626 closed

[2018-10-30 12:45] logicsandeep commented on #608
Good catch. Changed the update_url_template='/v2017/clients/{clientid}/enrollments/{enrollmentid}/incomeandsources/{incomeandsourceid}' for questionId=3619e5f7-996b-41c2-83bf-2698477f155c

[2018-10-30 12:45] #608 closed

[2018-10-30 12:46] logicsandeep commented on #580
The admin app now shows 6.11

[2018-10-30 12:46] #580 closed

[2018-10-30 12:48] logicsandeep commented on #580
https://github.com/servinglynk/hslynk-open-source/commit/46b99beb1ecf91bdbc34e83f4f06f52f6b74d9df

[2018-10-30 12:50] logicsandeep commented on #578
This change is completed.
https://github.com/servinglynk/hslynk-open-source/commit/dd4ff32cf1c274c2f4fd177b565c7b1256208b8a#diff-4b58226f28a98571d68fe451e2418326

[2018-10-30 12:50] #578 closed

[2018-10-30 12:51] logicsandeep commented on #559
Picklist items are added for 2017.

[2018-10-30 12:51] #559 closed

[2018-10-30 13:17] eric-jahn opened #630 "Allow a single user id to authenticate to multiple project groups"
...but they could only be authenticated to one project group at a single time.

cc: @CTAJavier

[2018-10-30 17:32] CTAJavier commented on #630
There are going to be cases where the same user needs to access multiple project groups, for example, if a community has an entity that wishes to have their own instance, but also need to contribute to a larger instance, it would make sense for them to keep their username and password and just be able to switch between the two project groups.

[2018-10-30 21:32] CTAJavier commented on #625
Hey Surya, that's not datetime, what happens if a user does 2 updates on the same day? I know they are not supposed to but I guarantee someone will.
@suryayadavalli

[2018-10-31 20:44] #588 closed

[2018-10-31 20:54] eric-jahn commented on #625
To clarify, if there is no data collection stage, it should be grouped in a 4th category called "unspecified_stage".  Also, for the sorting of multiple entries, we will rely upon the date stamp of the Information Date field in the tables.   Some tables do not have an Information Date, so for those, we will use Date Updated timestamp instead.

[2018-11-05 19:50] logicsandeep opened #631 "Verify that SSN is not required to create a client."
I verified that SSN is not required to create a client.

[2018-11-05 19:50] #631 closed

[2018-11-05 22:04] logicsandeep opened #632 "Add ability to get authenticated via APIs and without any manual intervention from a browser."
Add ability to get authenticated via APIs and without any manual intervention from a browser.

[2018-11-05 22:11] eric-jahn commented on #632
This would mean implementing the OAuth 2 Client Credentials Grant workflow https://oauth.net/2/grant-types/client-credentials/

[2018-11-06 12:52] logicsandeep opened #633 "Remove dob_old and ssn_old from Postgres DB and make changes to the sync process to decrypt ssn and dob while syncing the data."
Remove dob_old and ssn_old from Postgres DB and make changes to the sync process to decrypt ssn and dob while syncing the data.

[2018-11-06 20:19] eric-jahn opened #634 "base client class needs to be fixed to allow more precise handling of partial ssn"
partial ssn like "___-04-____"  or "x23-45-6789" should be accepted
and not rely on incomplete ssn as much
Do we need to preserve the place of partial ssn?

[2018-11-06 21:00] eric-jahn opened #635 "OAuth reset improvements"
from CTA: "can you guys make it so that 2 things, for the OAuth, 1. force a user to change password after a password reset, so they can set their own password, 2. make sure that when the password email is sent with the temporary password, there is no  period "." at the end of the sentence, because sometimes users just copy and paste and they think it's part of the password"
![image 2](https://user

[2018-11-08 17:06] logicsandeep opened #636 "Fix creation of dedup client id when ssn data quality is not provided."
Fix creation of dedup client id when ssn data quality is not provided.

[2018-11-09 14:50] eric-jahn opened #637 "unable to find client without dedupClientId"
from @pgorecki : "I'm unable to find 359ba27a-02e4-42be-8bd4-e55237919912 by first name MysteriousClient."

moved from https://github.com/hmis-api/global-api/issues/6

[2018-11-09 17:49] eric-jahn opened #638 "There should be no default API version for HMIS API versions"
related issue on the api docs side: https://github.com/hmis-api/2017-hmis-api/issues/4

This will need to be coordinated with customers, so there are no outages.

[2018-11-09 17:56] logicsandeep commented on #557
2f9df0a3b8a2c3dabe3fcc698cfbdc61ea40dc64
01d6bd3cf08146d1bd9c480baadb518b78a67fa8
d8b8da55f00cf4e0debff0d11e3f088fbd3c8c3e
63ed8c99b0e75e6fe2537d509d6e96bf44931222

[2018-11-09 17:56] #557 closed

[2018-11-09 17:59] logicsandeep commented on #552
393727f39fbd911bb4c97e97a24968c693fc3748
58cdeb2fa6d10c226d9bb9a62bc58a6510ce639f
ffa2d820fd03788c25dd8a8742093a5dfd9aee16
2be3a35214eb91f887f473a50199776621e0396b
2ba49990e9cef9913f41da878ed4a846f9df244e
d7109f22d071a38455eda4c208b9e0f92ecd4abb

[2018-11-09 17:59] #552 closed

[2018-11-09 18:00] logicsandeep commented on #553
7f334e853fee529182e771cefce99e96abb29edf
9842885abf1ad3006013ad856cd581890607a8da
628bb5c76248fb3a21604c84e8fe1fa7135a243d
0deda0ccde8d9e5f8dcb1ae8c1899b33f5b18a6b
3afbb0ee3f96b3fed16af18fef20304ca3791869
b4eb9a8e9c4f9d04a3f94380ac939528dde8eeb4

[2018-11-09 18:00] #553 closed

[2018-11-09 18:01] logicsandeep commented on #554
b4eb9a8e9c4f9d04a3f94380ac939528dde8eeb4
62433645730229f22725e37342fac6712ceeb48a
97ebc9ea695ac3c1778fd0b93239a8f7c597f9b5

[2018-11-09 18:01] #554 closed

[2018-11-09 18:02] logicsandeep commented on #555
ee1022bc1d08bce61f328151a1c04eed5512eb04
a181c3d9c4eb37ca19cd89611a82d68d4e3796af
58a44443518e2f6c9d46feec38ad6ddfd320119c
2b26cb0670a692dc6a9631fda5c86b067317d4d1
f595f6dbc05abaaa022764fe395085dc1224691a
748ae8a69755e8e44bddc893f05652848f44b526
293b5891b5eddd8c79b9ad834b30a1ee40a528c9
c758524abd23d22cab9e696375a7cdc3b46396cf

[2018-11-09 18:02] #555 closed

[2018-11-09 18:03] logicsandeep commented on #556
dd7a9acc9c35857e4bda1c55e898e56446e48137
ac8ab9dedcd104442a1cc64566ff11edf61a10d7
081de972a9898b619087551bb3fa386053dd4f27
6fbae1a20f1b54c18a3a864a6dd065aedd47a7d0
56063a7d7e9b8203a24314c56fd080161f0f1412

[2018-11-09 18:03] #556 closed

[2018-11-10 05:49] logicsandeep commented on #547
a2e67156a1bd10c9e538aace0980a6b05750ec2c
80ddee7de0a0f723273aa5229861dadfa3424943
32dc1b1dac54d9609cae4a1bada52503afda451a
4af24f8d5ec33b9fd7700c15046e5b0224326d7b
78e2e17f9acc689638a1ffcd8107f7d49aa51195

[2018-11-10 05:49] #547 closed

[2018-11-13 08:50] pgorecki commented on #625
In my opinion, there is a major problem with the design of the enrollments API. Enrollments API is primarily used to collect data about the client. As far as I know, data is being collected using surveys (i.e. project entry survey, project exit survey, etc.). When a survey is completed and we send collected data to enrollments API we need to make multiple calls (usually a dozen of enrollment API c

[2018-11-13 11:11] eric-jahn commented on #625
Since submission ID isn't part of the HUD standard, can't we store the enrollment ID back with the submission ID?  I suppose it would be possible to store the submission ID as a non-required/optional field with the enrollment, but would that need to be in each of an enrollment's dependent table in the HUD Schema as well?  I'd rather store the enrollment/submission linkage IDs in the survey schema

[2018-11-13 16:28] suryayadavalli commented on #625
Here is the documentation link :
https://www.hmislynk.com/hmis-api/#/default/GET_clients-clientId-enrollments-enrollmentId

To include enrollment child entity links in the response **includeChildLinks** flag must be set true. default value of this flag is false. The enrollment child entity links, will be grouped by dataCollectionStage and then infromationDate or updatedDate (if informationDate is

[2018-11-13 17:14] eric-jahn commented on #625
I guess the main reason I don't want to put the submission ID in the HUD schema is it sets a pattern that every service using the HUD enrollments adds its foreign keys to the HUD version specific schema, cluttering it up, and creating a spaghetti-like set of relational dependencies.  I'd rather store the enrollmentid back within the survey schema, and keep the HUD stuff purely HUD standards relate

[2018-11-13 21:58] eric-jahn commented on #625
Okay, new grouping methodology:
- Group on the reported data collect stage
  - if there is no data collection stage, it should be grouped in a 4th category called "unspecified_stage".
- Then within each stage, group by date.  To do this:
  - If the InformationDate included datetime level detail, use that.  Otherwise use InformationDate and midnight.  And if no InformationDate, use Postgres calcula

[2018-11-14 16:17] suryayadavalli commented on #625
@CTAJavier : Currently we have data collection stage column captured only for the following entities . There are around 20 entities that *do not* have *data collection stage*

- Disabilities
- Domesticviolence
- Education
- Employment
- EnrollmentCoc
- Entryrhy
- Healthinsurance
- HealthStatus
- Incomeandsources
- Medicalassistance
- Noncashbenefits

As per the requirement above **if there is no d

[2018-11-15 22:23] suryayadavalli commented on #625
@CTAJavier and @pgorecki : can you please check the sample response JSON here . There are some implementation issues to group the data exactly the way we wanted, however, this should satisfy the requirement.

[sample_entity_links.txt](https://github.com/servinglynk/hslynk-open-source-docs/files/2587263/sample_entity_links.txt)

![image](https://user-images.githubusercontent.com/10738348/48585540-c

[2018-11-15 22:24] suryayadavalli commented on #625
CC: @CTAJavier , @pgorecki

[2018-11-16 08:59] pgorecki commented on #625
Can we have both submissionDate and informationDate for the same data collection stage? If not, then we can go for simpler response:
[code]

[2018-11-16 09:43] eric-jahn commented on #625
@pgorecki : With the interleaving of both bulk format uploaded and app submitted data,  I think you could see any of the group by options within a particular data collection phase, so I don't think we can simply there.  However, I do like your clear "groupBy" and "data" key labels, for clarity.

[2018-11-19 15:17] eric-jahn commented on #270
closing, since we haven't heard of this happening recently.
cc: @CTAJavier

[2018-11-19 15:17] #270 closed

[2018-11-28 16:05] eric-jahn opened #639 "equivalent deidentified warehouse views"
Some personal identifiers (name parts, email, phone numbers, DOB, SSN) are deidentified using a hash algorithm or stripped (if hashed, please specify which algorithm).

View is otherwise equivalent to Monterey Project Groups standard identified view.

A user would be manually configured by HSLynk staff to access this deidentified view.

Out of scope of this issue, but this deidentified DB view cou

[2018-11-28 22:48] CTAJavier commented on #639
Only need to Remove Name parts, DOB, SSN,   Email if available all others are fine.

[2018-11-29 01:05] eric-jahn commented on #639
I think we also store phone number sometimes?  If that exists in the view,
I would imagine also removing phone number.

On Wed, Nov 28, 2018, 18:48 CTAJavier <notifications@github.com wrote:

[2018-11-29 01:40] CTAJavier commented on #639
Yeah definitely remove phone numbers

On Wed, Nov 28, 2018, 5:05 PM Eric Jahn <notifications@github.com wrote:

[2018-11-29 12:07] eric-jahn commented on #639
Added clarification that porting to other project groups is out of scope of this issue.

[2018-12-01 01:09] eric-jahn opened #640 "add Swagger "Try It Now" for all APIs, including CES, auth, HMIS 2014, 2015, 2016, and 2017"

[2018-12-01 01:21] eric-jahn opened #641 "add documentation to all APIs clarifying nullification/clearing of a data element in a record, with an empty string value"
Otherwise, developers will not necessarily know how to clear/nullify a data element value with a PUT.
Currently, and empty string is stored, but we may move forward to storing a null value instead of the empty string, but the meaning is the same.  If you want to delete the record, you have to DELETE the whole entity, as always.

[2018-12-02 19:12] eric-jahn commented on #637
@suryayadavalli : Did we ever confirm if this issue is occuring on our side as well?
cc: @pgorecki

[2018-12-02 19:30] eric-jahn commented on #590
@logicsandeep : Is this completed?

[2018-12-02 19:35] #540 closed

[2018-12-02 19:37] #548 closed

[2018-12-03 23:30] logicsandeep commented on #637
So this client was created on 11/8 without the last name and ssn  and it's possible that that's the reason why it did not have a dedup Client id. I'm waiting on issue# 634 to be fully fixed so I could confirm that a dedup ID can be created for clients without last name and SSN.  But based on what I see It should create the dedup client id. I'll close this issue after I confirm the above scenario.

[2018-12-04 18:40] suryayadavalli commented on #603
Configured necessary plugins for executing and reporting the test cases, along with the success % , error %,  response times. Will complete the scripts for Survey APIs and rest of 2017 and 2016 by end of this week , and move on to other scripts.

![image](https://user-images.githubusercontent.com/10738348/49464678-696f3280-f7b0-11e8-8e39-2c9eb620d79a.png)

![image](https://user-images.githubuserco

[2018-12-04 21:59] CTAJavier commented on #516
So is this going to be specific for HMIS, what happens with other related data for the client? also, how does this work when you are accessing a client, will this be a new client ID, will it use the dedupe client ID, or will it use any of the version specific client IDs?

[2018-12-07 19:03] eric-jahn commented on #516
@CTAJavier  and @suryayadavalli:

Here is my proposal.

It can be accessed with the client's dedupe ID, or alternately version specific ID (with the version specified).
In its response, it will:
1) give latest Name Parts, email, phone, SSN, DOB, SSN, gender, veteran status.  If any of these have not been collected, those elements will be simply omitted.  Each of these will have a date updated valu

[2018-12-07 19:13] eric-jahn commented on #328
Closing due to inactivity, and apparently it has been resolved.

[2018-12-07 19:13] #328 closed

[2018-12-07 19:14] eric-jahn commented on #625
Closed, based on recent discussions on #slack indicating the issues have been resolved.  Please open a new issue if there is a specific problem.

[2018-12-07 19:14] #625 closed

[2018-12-07 19:16] eric-jahn commented on #577
Splitting the and XML v6.1.2 out into a separate issue.  Can we close this?

[2018-12-07 19:17] eric-jahn opened #642 "support for XML v6.1.2"
in bulk APIs and admin UI which uses APIs

[2018-12-07 20:29] eric-jahn commented on #634
still needs API docs

[2018-12-07 20:57] logicsandeep commented on #624
This issue is completed.

[2018-12-07 20:57] #624 closed

[2018-12-07 20:59] logicsandeep commented on #590
Document CES schema.

[2018-12-07 21:00] logicsandeep commented on #577
This task is completed.

[2018-12-07 21:00] #577 closed

[2018-12-10 12:14] eric-jahn opened #643 "remove 'hmis' module name prefix where it is inaccurate and the functionality is not specific to hmis"
I will provide a list of modules to remove the prefix from, but for one example 'hmis-notification-core' should just be 'notification-core'.

~~hmis-~~ admin
~~hmis-~~ authorization-service
~~hmis-~~ base-model
~~hmis-~~ base-serialize
~~hmis-~~ base-service
hmis-chronichomeless-v2014
hmis-clientapi-v2014
hmis-clientapi-v2015
hmis-clientapi-v2016
hmis-clientapi-v2017
~~hmis-~~ client-dedup
~~hmis-

[2018-12-10 14:55] eric-jahn commented on #515
Duplicate of #640

[2018-12-10 14:55] #515 closed

[2018-12-10 15:22] eric-jahn commented on #585
@logicsandeep : Is this issue already completed, or does it still need to be done?

[2018-12-11 16:29] suryabi opened #644 "Add post build steps to copy artifacts to S3 after build."

[2018-12-11 16:44] suryabi opened #645 "API spec site to be published from S3"
Currently , the API documentation is served via www.hslynk.com and so, each time we make a change or set up a new API , we need to move the yaml files to all the application servers (using the deployment jobs). Documentation should be independent of application instances and there is no need to deploy API specification changes.

Made necessary changes to publish hslynk documentation independent of

[2018-12-11 16:45] #645 closed

[2018-12-11 16:45] suryayadavalli opened #646 "API spec site to be published from S3"
Currently , the API documentation is served via www.hslynk.com and so, each time we make a change or set up a new API , we need to move the yaml files to all the application servers (using the deployment jobs). Documentation should be independent of application instances and there is no need to deploy API specification changes.

Made necessary changes to publish hslynk documentation independent of

[2018-12-11 16:46] #644 closed

[2018-12-11 16:46] suryayadavalli opened #647 "Add post build steps to copy artifacts to S3 after build."

[2018-12-11 16:55] logicsandeep commented on #579
this task is completed.

[2018-12-11 16:55] #579 closed

[2018-12-11 16:55] logicsandeep commented on #579
d3486d0980b33a8539982c4599268aec6c923015

[2018-12-11 16:55] logicsandeep commented on #579
https://github.com/servinglynk/hslynk-open-source/commit/d3486d0980b33a8539982c4599268aec6c923015

[2018-12-11 19:59] CTAJavier commented on #516
1. sounds good
2. Could you explain this? the lastest enrollment for each project? the single latest enrollment? the latest information for each data element?
3. can we also have the score? also latest of each type, or simply latest submission?
4 sounds good

[2018-12-12 01:21] eric-jahn commented on #516
@CTAJavier: I edited #2 to clarify it.  For #3, I'm afraid of adding the score, since each customer will be wanting different scoring and assessment workflows.  If this works for you now, we will next mock-up a sample response JSON format.

[2018-12-13 00:44] eric-jahn commented on #639
@CTAJavier Closing this issue.  Please reopen if the end user has any problems using it.  @logicsandeep posted in slack regarding it.

[2018-12-13 00:44] #639 closed

[2018-12-13 00:53] eric-jahn commented on #634
Issue #637 waiting on this

[2018-12-13 01:11] eric-jahn commented on #2
@logicsandeep Could Jenkins POST the releases to our github repo with  POST /repos/:owner/:repo/releases ? https://developer.github.com/v3/repos/releases/#create-a-release .  If it prompted for the description, that could be added to the release notes.

[2018-12-14 05:45] suryayadavalli opened #648 "400 Bad request if empty string in SSN"

[2018-12-14 08:46] suryayadavalli commented on #648
commit id https://github.com/servinglynk/hslynk-open-source/commit/8151f510f4ec1f386f29a303a852215597e03c01

[2018-12-18 20:16] eric-jahn opened #649 "Redirect to https needed for Hue"

[2018-12-18 20:37] eric-jahn commented on #633
@logicsandeep also has some follow-up tasks before @suryayadavalli  deletes them

[2018-12-18 20:47] suryayadavalli commented on #648
Fixed , Verified by Home app. Closing the issue

[2018-12-18 20:47] #648 closed

[2018-12-18 20:48] suryayadavalli commented on #634
Deployed and Verified

Documentation : https://www.hslynk.com/hmis-api/#/default/POST_clients

[2018-12-18 20:48] #634 closed

[2018-12-18 20:49] logicsandeep commented on #585
https://github.com/servinglynk/hslynk-open-source/commit/d3486d0980b33a8539982c4599268aec6c923015

https://github.com/servinglynk/hslynk-open-source/commit/9af3bde658549d08f0a6fc38b6805658c7ade367

[2018-12-18 20:49] #585 closed

[2018-12-19 00:35] eric-jahn opened #650 "provide APIs to get enrollments and clients by project"
/projects/project_id/enrollments/ with filters by date range of enrollments and such
and
/projects/project_id/clients with filters  by date range of enrollments and such

This could work for global and HMIS APIs

[2018-12-19 14:44] eric-jahn commented on #647
@suryayadavalli: What artifacts are these?

[2018-12-19 14:58] eric-jahn commented on #637
On 12/19, @logicsandeep said he was completed with this issue and will close with the commit id.

[2018-12-19 17:51] eric-jahn commented on #621
moved over to https://github.com/servinglynk/hslynk-web/issues/3

[2018-12-19 17:51] #621 closed

[2018-12-19 18:53] eric-jahn commented on #591
These logs are currently in Hive as a view.

[2018-12-19 20:59] eric-jahn commented on #517
Can use the data from the project group used for Try It Now in #524

[2018-12-19 21:02] eric-jahn commented on #516
@CTAJavier Will the current version of the functionality proposal work for CTA?

[2018-12-20 04:20] eric-jahn commented on #464
This may be completed.  Checking...

[2018-12-20 04:31] eric-jahn commented on #462
@suryayadavalli : can we close this issue? Is it still relevant?

[2018-12-20 04:42] eric-jahn commented on #436
We have support for Shiny in another issue, but decoupled from the admin app.

[2018-12-20 04:42] #436 closed

[2018-12-20 04:47] eric-jahn commented on #534
Related to #428

[2018-12-20 04:48] eric-jahn commented on #428
#534 is a subset of this issue

[2018-12-20 05:08] #391 closed

[2018-12-20 05:09] #395 closed

[2018-12-20 05:13] eric-jahn commented on #396
Is this issue still valid?

[2018-12-20 05:14] #397 closed

[2018-12-20 05:17] logicsandeep commented on #396
We can close this.

[2018-12-20 05:17] #396 closed

[2018-12-20 05:17] #360 closed

[2018-12-20 05:33] #295 closed

[2018-12-20 05:55] #241 closed

[2018-12-20 05:58] #47 closed

[2018-12-20 06:02] eric-jahn commented on #189
Duplicate of #418

[2018-12-20 06:02] #189 closed

[2018-12-20 16:21] eric-jahn commented on #250
closing since it's just waiting on API docs to be posted

[2018-12-20 21:22] eric-jahn commented on #250
http://docs.hslynk.com/?urls.primaryName=Report%20Service%20Api#/default/POST_reports
Also needs last commit ID.

[2018-12-24 00:18] logicsandeep commented on #250
Here are the commit ids:
4f25fd743762fda40cab1fb1efd704173f414f6b
8e16d97ef61d666e3e490162e393c6900fd7c70c
dc556181ee40d51c03dc011facc709f546695942
444d1b9c894632ced9ca94a4f02c9bfe3055f2bb
81bf032a95b62fbd7177bff66c5f7d4cd9ef98b2
b1a3c9700b2681aa4beeee87dd8344efc841827b

[2018-12-24 00:18] #250 closed

[2018-12-28 00:47] logicsandeep opened #651 "Populate Eligible_clients_audit for existing clients grouped by client_dedup_id"
Populate the audit table by dedup_client_id and then make sure it gets synced to HBase. Write a routine to take existing records from the eligible_clients table and insert new records if they do not exist.

Tasks:

Write a routine to copy historical data grouped by dedup_client_id with its latest client record into the audit table. (edited)
Run the routine and verify all the the historical data by

[2018-12-29 01:09] logicsandeep opened #652 "Validate the formate of DOB before inserting into the base and version specific schema."
Validate the formate of DOB before inserting into the base and version specific schema.

[2018-12-29 15:19] suryayadavalli commented on #652
Commit id : https://github.com/servinglynk/hslynk-open-source/commit/28f7b0ca5a4549159f3639f96fbe4c9c9449ca54

[2018-12-29 16:10] eric-jahn commented on #651
@CTAJavier: This is completed

[2018-12-29 16:14] eric-jahn commented on #629
@logicsandeep: Can you close this with the commit id?

[2018-12-31 00:33] logicsandeep commented on #637
I've populated the dedupClient for all the clients. There were 2 reasons for clients not to have a dedup client id.
1) There was a bug in the code when a client only provides ssn and dob the request to Dedup service was not formed correctly and hence dedupClientId was not populated.
**Commit id:**
https://github.com/servinglynk/hslynk-open-source/commit/398a3d241e0a091e9204a8c2b5a4931b6b7779f7

2)

[2018-12-31 00:33] #637 closed

[2018-12-31 00:52] logicsandeep commented on #633
Ssn and dob old columns are now removed.
https://github.com/servinglynk/hslynk-open-source/commit/dad962f60eaebb2a8c8dd9a17d69b0eec9e2d867

[2018-12-31 00:52] #633 closed

[2019-01-02 18:18] suryayadavalli commented on #649
@logicsandeep : can you check this now and see if you are able to access the internal applications using https.

[2019-01-04 08:42] #652 closed

[2019-01-04 08:43] suryayadavalli commented on #641
commit id : https://github.com/hmis-api/housing-inventory-api/commit/1ece39d624cac23fed1cd861f556388197603b66

[2019-01-04 08:45] suryayadavalli commented on #640
commit id : https://github.com/hmis-api/2016-hmis-api/commit/1e502f73109af696a0127cfe85994b601beb3d65

[2019-01-04 08:45] #640 closed

[2019-01-04 08:45] #603 closed

[2019-01-04 18:58] suryayadavalli commented on #649
Please note that  both 80 and 443 to be whitelisted in Build_SG security group for the IP

![image](https://user-images.githubusercontent.com/10738348/50705428-a7f64800-100f-11e9-89e1-3e0955ac811f.png)

[2019-01-04 18:58] #649 closed

[2019-01-04 19:04] suryayadavalli commented on #647
Complete.

After checking in the changes to yaml files in API repository. you just need to run the following deploy job (Deploy_APIDocs) in jenkins.  This job will take care of updating the s3 and then refreshing the api context.

You can check the changes via https://api.hslynk.com

![image](https://user-images.githubusercontent.com/10738348/50705645-500c1100-1010-11e9-9016-d306cd2e4be2.png)

[2019-01-04 19:04] #647 closed

[2019-01-04 19:53] logicsandeep commented on #590
Commit id:
https://github.com/servinglynk/hslynk-open-source-docs/commit/d15809aadcf211758e01ce4d01bbf11a9d6af3a1

[2019-01-04 19:55] logicsandeep commented on #629
https://github.com/servinglynk/hslynk-open-source/commit/8e16d97ef61d666e3e490162e393c6900fd7c70c

https://github.com/servinglynk/hslynk-open-source/commit/b1a3c9700b2681aa4beeee87dd8344efc841827b

[2019-01-04 19:55] #629 closed

[2019-01-05 23:59] suryayadavalli opened #653 "Customer on-boarding - list of to dos"
- [ ] Integrate notification module for the submission and approval process
- [ ] Set up notification templates.
- [ ] Implement APIs for the admin approval process
- [ ] Associate test project group by default for the developer accounts
- [ ] Set up developer profile and associated developer accounts for that profile (Until the trusted app is approved it should not be able to invoke other HSLynk

[2019-01-07 20:06] eric-jahn commented on #590
@logicsandeep Can you also post the global schema docs, after you move out the db count fields to a different schema?

[2019-01-11 20:25] eric-jahn opened #654 "Github reported vulnerabilities: https://github.com/servinglynk/hslynk-open-source/network/alerts"

[2019-01-14 20:16] eric-jahn opened #655 "global client address persistence and CRUD APIs"

[2019-01-14 20:18] eric-jahn opened #656 "search for client by global client address parts"
accepts parts of an address
returns global client ID
if the search parameters are too vague (like just a zip code), no results are returned

[2019-01-20 01:09] eric-jahn commented on #40
cc: @CTAJavier

[2019-01-20 01:17] eric-jahn commented on #642
@logicsandeep: Can you close this with the commit?

[2019-01-20 01:19] eric-jahn commented on #656
Eric will create work orders for this for relevant customers.

[2019-01-24 21:51] eric-jahn opened #657 "v6.12 HMIS CSV export API"
First, we should implement the 2017 data standard.  As customers request it, we can implement other years.

[2019-01-25 20:12] eric-jahn commented on #2
Also please add docs at: https://github.com/servinglynk/hslynk-open-source/blob/master/README.md

[2019-01-25 20:46] eric-jahn opened #658 "admin app addition of app approval process"

[2019-01-30 18:32] suryayadavalli commented on #656
@eric-jahn : The scope of work includes -
a) adding additional fields to capture address fields to the existing base schema, just the same way we are capturing phone number and e-mail for the clients.
b) Exposing an API to be able to update the base client address information (global API).
c) Additional API to look up the survey's associated with the client based on the dedup ID
d) Modify existing

[2019-02-01 08:00] suryayadavalli commented on #658
@logicsandeep : here is the API documentation link for developer portal APIs. Please go through and we can discuss offline if you have any questions.
https://api.hslynk.com/?urls.primaryName=Developer%20Service%20Api

[2019-02-10 18:48] suryayadavalli opened #659 "Remove hard coded username and password in the code."
discussed details with @logicsandeep .

[2019-02-10 19:04] suryayadavalli commented on #654
Commit id : https://github.com/servinglynk/hslynk-open-source/commit/1a82c7816e4545ce3855872f6c6a433b4b0ac27b

[2019-02-10 23:06] logicsandeep commented on #659
Removed the hardcodings.

[2019-02-10 23:06] #659 closed

[2019-02-10 23:31] logicsandeep commented on #659
https://github.com/servinglynk/hslynk-open-source/commit/1ced8f54a6d69c1636755b66263d5890891bcc4c

[2019-02-11 18:49] suryayadavalli commented on #659
@logicsandeep and I looked into this in detail and identified that it's test program with spurious data used for only testing purposes. No impact on any areas.

[2019-02-11 18:51] suryayadavalli commented on #654
Resolved. Deployed and verified in Production.  Will reopen if customers raise any issues specific to these changes.

[2019-02-11 18:51] #654 closed

[2019-02-17 22:59] suryabi opened #660 "Memory issues with CES services"

[2019-02-17 23:00] #660 closed

[2019-02-17 23:01] suryayadavalli opened #661 "Memory issues with CES applications"

[2019-02-17 23:02] suryayadavalli opened #662 "Auto scaling set up for CES applications."

[2019-02-17 23:03] suryayadavalli opened #663 "Kibana-Consolidation of logs for HMIS and CES application servers."

[2019-02-18 06:48] suryayadavalli opened #664 "Logging changes for micro services - both HMIS and CES"

[2019-02-22 17:39] eric-jahn opened #665 "all APIs should treat an empty string as a reset to null"

[2019-02-22 17:39] eric-jahn commented on #641
We need to add this documentation to all apis, after the handling is modified.

related: https://github.com/servinglynk/hslynk-open-source-docs/issues/648
related: https://github.com/servinglynk/hslynk-open-source-docs/issues/665

[2019-02-25 01:51] eric-jahn opened #666 "update authentication login screen image to HSLynk logo"
![login](https://user-images.githubusercontent.com/4115079/53309508-39e33a00-3876-11e9-8894-e096023f17f3.png)

[2019-02-25 21:06] logicsandeep opened #667 "Fix password reset issue"
Fix password reset issue

[2019-02-25 21:40] logicsandeep commented on #667
The response to the api returns 404
API:
https://admin.hmislynk.com/hmis-user-service/rest/accounts/ck@hmislynk.com/forgotpassword

{"errors":{"error":[{"code":"ACCOUNT_NOT_FOUND","message":"Account not found with username ck@hmislynk.com"}]}}

[2019-02-26 18:07] logicsandeep opened #668 "Remove hmis from the submodules in github"
Remove hmis from the submodules in github

[2019-02-26 22:51] eric-jahn opened #669 "allow admins to set a new temporary password for a user"
In scenarios where the reset email is not being received by the user, sometimes it is best to bypass email, and allow the project group admin or project admin to set a users password to a temporary, easy to convey, password.  A password change flag should also be set at that point.  So, when the user logs in with the new temporary password, hslynk immediately prompts the user to change their passw

[2019-02-26 22:55] eric-jahn opened #670 "search for submissions, without presenting client id"
Necessary for management of survey collection process.

Example use case: sometimes management need to see the surveys collected the past day to match surveys incorrectly attributed to different client ids, when really the surveys were for the same actual person.

Other examples.

Not having this API call forces the client to cache recent surveys for this type of by date/recent grouping.

request

[2019-02-26 23:04] eric-jahn commented on #670
moved to https://github.com/hserv/coordinated-entry/issues/262

[2019-02-26 23:04] #670 closed

[2019-02-28 07:00] suryayadavalli opened #671 "Reduce the launch time for application instances during Auto scaling"

[2019-03-01 18:38] logicsandeep opened #672 "Make changes to stop getting OOM issues on dwhmaster node."
Make changes to stop getting OOM issues on dwhmaster node.

Essentially:
 We now have a lot of processes running on dwhmaster. We can perhaps run active list and the VI SPDAT process on the slave node to reduce the load on dwhmaster.

[2019-03-05 00:46] logicsandeep opened #673 "Fix _desc field population sb project group tables."
Fix _desc field population sb project group tables.

[2019-03-05 05:32] logicsandeep commented on #643
The module name changes are done and my changes are merged to the develop branch.

[2019-03-05 05:32] logicsandeep commented on #643
https://github.com/servinglynk/hslynk-open-source/tree/Module-name-fix

https://github.com/servinglynk/hslynk-open-source/commit/8d23406ae24f1e1296ead773168d45f31e4a8897

[2019-03-11 05:07] logicsandeep commented on #672
This issue is resolved.

[2019-03-11 05:07] #672 closed

[2019-03-11 05:07] logicsandeep commented on #672
https://github.com/servinglynk/hslynk-open-source/commit/92912da99646e3360e5fb7632464046786bc7667

[2019-03-12 21:25] eric-jahn commented on #663
@suryayadavalli:  just a reminder to close this.

[2019-03-18 18:58] suryabi commented on #669
https://github.com/servinglynk/hslynk-open-source/commit/8ba9e8a9ebd89a7dfd0eb61cd1ce3638d2c50e92

[2019-03-18 19:00] suryabi commented on #671
Complete.  Set up auto scaling along with health monitoring for *client api* micro services.

[2019-03-19 19:34] suryayadavalli commented on #641
Complete. All the documentation has been updated

[2019-03-19 19:34] #641 closed

[2019-03-20 17:39] suryayadavalli commented on #671
Documentation link
https://api.hslynk.com/?urls.primaryName=Authorization%20Service%20Api#/default/POST_token

[2019-03-20 17:39] #671 closed

[2019-03-22 08:10] logicsandeep commented on #673
Fixed the _desc fields. Now the _desc fileds are showing up correctly.

[2019-03-22 08:15] logicsandeep commented on #667
This issue is resolved.
https://github.com/servinglynk/hslynk-open-source/pull/177/commits/cc7d034bc640e974c70c3c1b2eb8798a4077fffd

[2019-03-22 08:15] #667 closed

[2019-03-22 08:16] logicsandeep commented on #666
This issue is resolved.
https://github.com/servinglynk/hslynk-open-source/pull/175/commits/77ea5d4665731fae611c6b9753d1d19885d140d5

[2019-03-22 08:16] #666 closed

[2019-03-22 08:21] logicsandeep commented on #2
I've implemented a changed where a Git tag is created via the pom version number.
All we need to do is after making the changes in a hotfix branch we need to run the following command and maven takes care of updating the version number of the parent pom and also all of its modules.

mvn versions:set -DgenerateBackupPoms=false

I created a release and tag for version 2.14.20.
https://github.com/ser

[2019-03-22 08:21] #2 closed

[2019-03-22 10:20] eric-jahn opened #674 "Password reset temporary login -> prompts twice for new permanent password"
Currently, when you need to reset your password, it sends you a new auto-generated password in plain-text, but then doesn't prompt you to set up a new one when you try to log in.

cc: @CTAJavier

[2019-03-26 16:07] eric-jahn opened #675 "bulk upload HMIS year selection mismatch"
2017 is picked in the dropdown, but 2014 schema is shown in the history list
![image (2)](https://user-images.githubusercontent.com/4115079/55013884-6480f980-4fc0-11e9-8d04-e90fa9e4df85.png)

![image (3)](https://user-images.githubusercontent.com/4115079/55013354-57afd600-4fbf-11e9-81f2-ca5073b1ee1c.png)

cc: @CTAJavier

[2019-03-28 18:49] CTAJavier commented on #673
@logicsandeep This issue is not resolved, it seems the issue is across more than just the client table, looking at Disabling condition (enrollment table), veteran status (client Table), all of these still contain these errors. also seeing it in EntrySSVF, there are at least a few in every fieldname, fieldname_desc I can see.

[2019-03-29 00:11] eric-jahn opened #676 "Github Releases from Tags"
https://github.com/servinglynk/hslynk-open-source/releases

[2019-03-29 14:29] eric-jahn commented on #604
This article makes it seem like a newer version of Swagger/Spring Fox can handle HAL links: https://dzone.com/articles/is-that-documented-anywhere

I see the original problem from the Spring Fox maintainer in the solution: https://stackoverflow.com/questions/24389733/document-hal-links-from-spring-hateoas-with-swagger

[2019-04-01 07:38] eric-jahn opened #677 "add descriptions to permissions spreadsheet"
spreadsheet is here: https://docs.google.com/spreadsheets/d/1CT2rRItjzAiO7_KPI-rY3qCTMpoRwErNL8nXlRxanRk/edit?usp=sharing

[2019-04-01 08:08] eric-jahn commented on #643
Re-opening until it's deployed to master

[2019-04-01 12:56] eric-jahn opened #678 "Name part cell level encryption"

[2019-04-01 19:42] eric-jahn opened #679 "required password reset after 180 days"
commonly seen in RFP requirements

[2019-04-05 19:36] eric-jahn commented on #632
can you close this with a link to the commit and API docs?

[2019-04-09 17:04] suryayadavalli opened #680 "Performance issues with few APIs and search with sharing rules"

[2019-04-09 17:07] suryayadavalli commented on #632
This is complete.

https://api.hslynk.com/?urls.primaryName=Authorization%20Service%20Api

[2019-04-09 17:07] #632 closed

[2019-04-09 17:55] suryayadavalli commented on #40
Documentation link
https://api.hslynk.com/?urls.primaryName=Global%20Api#/default/post_sharingrules

[2019-04-09 19:19] eric-jahn opened #681 "full-refresh of HBase every 10 days. delta refresh every day"

[2019-04-11 15:43] eric-jahn opened #682 "support 2020 HMIS Data Standard"
HUD requires that it is available for customers by Oct. 1, 2019, despite its name.  Data dictionary and mapping to 2017/18 data standard is here: https://github.com/servinglynk/hslynk-open-source-docs/wiki/Requirements#2020-may-2019-v11-hmis-data-standards

[2019-04-12 19:51] CTAJavier opened #683 "client 37a55b68-a30c-4e21-ae59-4efff2343abb not showing in search"
when searching for client 37a55b68-a30c-4e21-ae59-4efff2343abb, there are no results, but we are able to access the client profile by going to the URL directly  https://mosbehome.ctagroup.org/clients/37a55b68-a30c-4e21-ae59-4efff2343abb?schema=v2017 client is Test T Tester. furthermore, we have a survey response we tried to upload for the client and received the following error message .
![image](

[2019-04-12 20:46] CTAJavier commented on #683
When searching by client ID
`(https://www.hmislynk.com/hmis-clientapi/rest/search/client?q=37a55b68-a30c-4e21-ae59-4efff2343abb&maxItems=10&sort=firstName&startIndex=&order=asc) 200
{ searchResults: { pagination: { from: 0, returned: 0, total: 0, maximum: 10, sort: [Object] }, items: [] } }    `

When GETby client ID
`(https://www.hmislynk.com/hmis-clientapi/rest/v2017/clients/37a55b68-a30c-4e21-a

[2019-04-13 15:48] suryayadavalli commented on #683
This client do not have Dedup ID associated with it. Search return the client only if it has dedup Id.  Also, in regards to the survey upload - we search for the presence of the client ID and before survey upload and for the same reason that dedup Id is *not present* -  it comes back empty and hence the failure to upload.

[2019-04-13 16:06] suryayadavalli opened #684 "Unable to delete client"
As per @CTAJavier : We can no longer delete clients we are getting a 500 error

[2019-04-13 16:11] suryayadavalli commented on #684
This is a defect on HMIS end that is resovled now.
Root cause
There were couple of obsolete columns that were deleted as part of the the ticket below
https://github.com/servinglynk/hslynk-open-source-docs/issues/633

However, these columns are still referenced from a trigger that handles the *soft* delete and hence we encountered the issue. Fix was made to remove the references to these columns.

[2019-04-13 16:11] #684 closed

[2019-04-15 14:32] eric-jahn commented on #384
Project subgroups shouldn't span customer accounts (project groups).  This would make it difficult to create them, since permissions from both customer accounts would be needed at the moment of creation.  Also, we already have sharing rules that span customer accounts, so this effectively allows cross-customer sharing.  One customer could create a subgroup called "regional housing collaborative".

[2019-04-15 18:12] suryayadavalli commented on #679
![image](https://user-images.githubusercontent.com/10738348/56155274-67dc2500-5f6f-11e9-8fe1-70e1e15095fe.png)

[2019-04-15 18:14] suryayadavalli commented on #663
This is complete. No code commit but infrastructure set up.

[2019-04-15 18:14] #663 closed

[2019-04-15 18:16] eric-jahn commented on #679
looks good to me @suryayadavalli.  Maybe we should have a configuration setting for # days before reset?

[2019-04-15 18:38] CTAJavier commented on #679
Hey guys,

What about when a password reset is initiated by a user?

Can you send link to confirm password reset, which redirects to the enter new password screen?

CC @eric-jahn @suryayadavalli

[2019-04-16 13:34] logicsandeep commented on #683
I've successfully added the dedup Id for all the monterey clients and I plan to fix this issue from the root cause.

[2019-04-16 18:51] suryayadavalli commented on #679
@CTAJavier :  Yes, We will be addressing this password reset change as well, right after this ticket.

[2019-04-17 17:09] suryayadavalli opened #685 "Client search issue - Clients who have nothing to do with the search text are coming up first."

[2019-04-17 17:09] suryayadavalli commented on #685
@CTAJavier

[2019-04-18 00:01] suryayadavalli commented on #685
The client search currently ignoring the spaces to be able to match the search text when the first name and last name are combined.  for instance  **jamessmith** as opposed to **james smith** - which is causing the issue.

This implementation resulted unwanted results show up the search. For instance search text *cova* brings up the following two results, as both the names has this search text - i

[2019-04-18 13:04] suryayadavalli commented on #685
Commit id: https://github.com/servinglynk/hslynk-open-source/tree/2f51722df80ccf4093dffd6d31cb8af22025fee4

**Search scenarios :**

- **first name** matches with the search input **Ex : search input "John"**
- **last name** matches with the search input **Ex : search input "Johnson"**
- **middle name** matches with the search input **Ex : search input "C"**
- **first name last name** matches with

[2019-04-18 14:53] logicsandeep commented on #683
This issue is resolved. I've regenerated the dedup id for all the clients for Monterey.

[2019-04-18 14:55] logicsandeep commented on #683
Closing this issue after making sure we don't have any clients with null dedup id for monterey.

[2019-04-18 14:55] #683 closed

[2019-04-19 16:06] logicsandeep opened #686 "Active list client_id rotation issue."
**Problem:**
For active lists to work fine we need to make sure we only have 1 active client per hud schema version.
We need to use the following logic for monterey if they want to rely on the ssid.

if(ssid==exingssid) {
  update exiting client
}else { //ssid is null or ssid is not match.
   DedupId = get the dedup id of the client by FN,LN,dob and ssn from OPEN EMPI
   if(Datase already has a cl

[2019-04-19 16:08] logicsandeep opened #687 "Avoid creating duplicate Client when a client already exist."
when a caseworker tries to create a new client which already exists then We need to **update** the existing client instead of creating a new client.

<img width="941" alt="Screen Shot 2019-04-22 at 1 46 50 AM" src="https://user-images.githubusercontent.com/4108057/56499092-8fb41700-64a0-11e9-8985-e021d652e74e.png">

**Use case:**
In this issue, we have a client who presents themselves with 2 diffe

[2019-04-19 16:22] logicsandeep commented on #687
The main reason for this client to not appear in the search is that it does not exist in the base schema.

In the mean time we had another version of the same client created with id: 5127a93c-b1c4-4954-88c7-02b512d38ca2  and that exists in the base schema and it searchable.

[2019-04-19 19:54] eric-jahn commented on #384
should we allow nested subgroups/collections?

insert diagram

sharing between collections

[2019-04-20 15:56] logicsandeep opened #688 "Make Client creation dependent on ssid (aka "ssid match override")"
CTA  cc @CTAJavier  wanted to depend on the ssid for creating clients. We cannot pass this information to OEMPI but we can handle things just for CTA the following way.

if(ssid==exingssid) {
  update exiting client
}else { //ssid is null or ssid is not match.
   DedupId = get the dedup id of the client by FN,LN,dob and ssn from OPEN EMPI
   if(Datase already has a client with the same DedupId){

[2019-04-21 17:09] eric-jahn commented on #688
I like it.  It could be a switch that is independent of OpenEMPI.

[2019-04-21 17:09] eric-jahn commented on #688
This would have to be a work order item.

[2019-04-21 17:12] eric-jahn commented on #688
@logicsandeep: Could you give me max/min time estimate to do this?

[2019-04-21 17:15] logicsandeep commented on #688
Estimate to complete this task is  4/6 hours.

[2019-04-21 17:17] eric-jahn commented on #688
Quick question @CTAJavier: say, in the source system, the client is deleted and the deletion update is bulk uploaded (or in the future, perhaps updated via API) into HSLynk as well.  Then, do we just rerun openempi for them to look for a normal match, since the ssid override is no longer applicable?

[2019-04-21 17:21] logicsandeep opened #689 "Make OpenEMPI call when update client API is called."
It is very possible to pass in a different FN, LN, DOB,SSN when updating a client via our API and hence we need to make an oEMPI call to make sure that the dedup_client_id associated to a client is still valid. If OEMPI provides us a different dedup Id then we need to associate that.

PS: Oempi needs to be called only when any of the following parameters don't match the existing record.
FN, LN, DO

[2019-04-21 17:23] eric-jahn commented on #689
@logicsandeep you can start on this immediately.  No need for a work order on this part.

[2019-04-21 20:12] eric-jahn opened #690 "create a wiki page explaining how version specific and dedupe client IDs work, with examples"

[2019-04-21 21:18] logicsandeep opened #691 "filter historical data from the current client view."
We currently identify client history via the parent_id field. If the parent_id is null it means its the latest record and if we see parent_id populated for a client it means it is a historical record.

Going forward the client table will only contain the latest version of the client.

PS: I'll also provide some examples to clearly document the scope of this issue.

[2019-04-22 11:13] logicsandeep commented on #691
I've made code changes and have also made sure that the client views only show latest records and do not show any records with a parent_id. I've also started a full sync to make sure that the clients for all the project groups have this change.

[2019-04-22 11:13] #691 closed

[2019-04-22 11:13] logicsandeep commented on #691
https://github.com/servinglynk/hslynk-open-source/commit/c9019b7ca250cafb6630b4188c4964a81724f64f

[2019-04-22 11:36] logicsandeep opened #692 "Create a new Hive view to show historical client data."
After completing issue #691  all the historical client data is filtered out of the client table. The main objective of this task is to make sure we show historical client data in the client_history table via hive view.

[2019-04-22 13:48] #685 closed

[2019-04-22 14:14] eric-jahn commented on #687
related issue: #689

[2019-04-22 15:05] eric-jahn commented on #692
related #173

[2019-04-22 15:05] eric-jahn commented on #173
related #692

[2019-04-22 15:10] eric-jahn commented on #688
@logicsandeep:  Please make this a configuration on a per project id basis.  Default is "off".

[2019-04-22 15:13] eric-jahn commented on #687
cc: @CTAJavier

[2019-04-22 15:13] eric-jahn commented on #688
cc: @CTAJavier

[2019-04-22 15:15] eric-jahn commented on #691
@CTAJavier

[2019-04-22 15:17] eric-jahn commented on #689
cc: @CTAJavier

[2019-04-22 17:13] eric-jahn commented on #691
@logicsandeep : Can we remove active t/f from the active list view then?

[2019-04-23 02:24] eric-jahn opened #693 "create methods in HMIS version specific schemas that accept the global/dedupe id, instead of the version specific IDs, as they currently are"

[2019-04-23 19:33] logicsandeep commented on #673
This issue is fixed.

[2019-04-23 19:33] #673 closed

[2019-04-23 19:34] logicsandeep commented on #686
This issue is a duplicate of issue #: 681

[2019-04-23 19:34] #686 closed

[2019-04-24 14:04] eric-jahn opened #694 "global search returns all HMIS Schema"
...as well as currently returned 2017 and CES schemas.  In the future, Linked Data records will be returned also.

[2019-04-24 16:42] eric-jahn opened #695 "API method to unmerge records (version specific or survey) from a global ID and attach to a new global id"

[2019-04-25 14:11] #674 closed

[2019-04-26 02:21] logicsandeep commented on #689
This issue is not required. We decided not to call Open EMPI when updating a client.

[2019-04-26 02:21] #689 closed

[2019-04-26 02:23] logicsandeep opened #696 "Show deidentified data for selected case workers"
Show deidentified  data for selected case workers

[2019-04-26 17:21] suryayadavalli commented on #679
commit id: https://github.com/servinglynk/hslynk-open-source/commit/9a714a16133cbacebeeb7699c5b09ce332dac229

[2019-04-26 17:21] suryayadavalli commented on #635
commit id: https://github.com/servinglynk/hslynk-open-source/commit/9a714a16133cbacebeeb7699c5b09ce332dac229

[2019-04-26 17:22] suryayadavalli commented on #674
commit id : https://github.com/servinglynk/hslynk-open-source/commit/9a714a16133cbacebeeb7699c5b09ce332dac229

[2019-04-26 17:38] suryayadavalli commented on #635
Made changes to the template so the *period* is removed and password is visible and can be copied more easily.  The user will be forced to changed the password after he /she logs in with the temporary password.

[2019-04-30 16:14] eric-jahn opened #697 "further automation of deployment of EC2 instances to Auto Scaling Group"
The deploy script could call the jenkins job which copies to S3 jobs:
- HMIS  services - https://builds.hslynk.com/view/HMIS-Copy-to-S3/
- CES services - https://builds.hslynk.com/view/CES-Copy-to-S3/

The deploy script could also possibly terminate the instances (which is done manually now)
- Because the number of instances may vary time to time, we just need to see what instances are running at

[2019-04-30 16:55] logicsandeep commented on #675
This issue is fixed and the default schema year for bulk uploader is 2017 now.

https://github.com/servinglynk/hslynk-open-source/commit/015874a8a14258902a31ef2418b069241d187118#diff-5dbb0ede33486fda940d8043901d361d

[2019-04-30 16:55] #675 closed

[2019-04-30 16:58] logicsandeep commented on #687
This issue is now fixed and all the APIs will no longer create multiple active clients.
https://github.com/servinglynk/hslynk-open-source/commit/e053d6b3b0c255fda42d8cfaed8a1fb920e2515c

https://github.com/servinglynk/hslynk-open-source/commit/ad6eda01a881ddcf92f642d2e531d62e841e9c56

https://github.com/servinglynk/hslynk-open-source/commit/02901267b6ed4f2917f1d391df9303dd0437b337

https://github.

[2019-04-30 16:59] logicsandeep commented on #688
https://github.com/servinglynk/hslynk-open-source/commit/015874a8a14258902a31ef2418b069241d187118

https://github.com/servinglynk/hslynk-open-source/commit/3f0160870cd736dcb2aac7dfb56c4368950ea384

https://github.com/servinglynk/hslynk-open-source/commit/9088f06ea64edb27766ae36c6b6376055542b03c

https://github.com/servinglynk/hslynk-open-source/commit/0a444d2a049213e99e160ceb36cd011aba468e67

[2019-04-30 18:37] #679 closed

[2019-04-30 18:47] suryayadavalli commented on #40
https://github.com/servinglynk/hslynk-open-source/commit/cc561ccd9a7b05342fd85adfd7780c0f076d1c36

[2019-04-30 18:47] #40 closed

[2019-04-30 18:47] #635 closed

[2019-04-30 19:00] suryayadavalli commented on #690
Attached is the spread sheet that shows what exactly happens when a client is created and updated. In the example a client is created and updated *two* times, so we are clear on how this history is tracked for the client.

*Please note that the following*

1) highlighted in *blue* is always the  valid record (Not deleted , not Historic). We should always send / show this to customer
2) highlighted

[2019-04-30 19:00] #690 closed

[2019-05-01 14:06] eric-jahn commented on #694
@suryayadavalli : But how is the search here getting the various schema years, if this isn't already working?
![bingo](https://user-images.githubusercontent.com/4115079/57020825-90fbe700-6bf8-11e9-8437-c6e964a527f4.png)

[2019-05-01 14:44] eric-jahn opened #698 "improve the contrast and appearance of the login logo"
The "HS" is too dark.  Also, the background should be lighter than black.
![lo](https://user-images.githubusercontent.com/4115079/57022822-4e3d0d80-6bfe-11e9-85d4-a706c529294a.png)

[2019-05-02 20:13] eric-jahn opened #699 "warehouse uses the same authorization credentials and roles as the APIs"
We used to sync with a python script, but that was turned off.  It would be best if no credentials sync was done, and it just calls the HSLynk auth APIs directly.

[2019-05-02 21:09] CTAJavier opened #700 "Client search returns a maximum of 34 or 37 clients"
When searching for clients, we are sending a request for 50 results, per page but we are only receiving 32-37 records.  for example search for "a" returns 34 records. Will post logs as soon as they are available.

[2019-05-03 12:27] suryayadavalli commented on #694
Documentation : https://api.hslynk.com/?urls.primaryName=Global%20Api#/default/GET_clients-by-dedupClientId

commit id : https://github.com/servinglynk/hslynk-open-source/commit/5a7f70729236e64bdc270b519701eb19a8e9c75a

[2019-05-03 14:15] eric-jahn commented on #694
great!  thank you!

[2019-05-03 14:18] eric-jahn commented on #694
@suryayadavalli The link to Documentation : https://api.hslynk.com/?urls.primaryName=Global%20Api#/default/GET_clients-by-dedupClientId doesn't go to an API method.  Have you refreshed the public site?

[2019-05-03 14:25] suryayadavalli commented on #700
@logicsandeep : I looked into this issue and this is introduced when you added the dedup filtering logic in client search.

When the request comes asking for 50 results, the search process retrieves 50 results. However, the dedup logic the was introduced is filtering few records from these 50 records (like duplicates etc) and then returning only the rest . That is the reason why response contains

[2019-05-03 14:28] eric-jahn opened #701 "Pub-Sub - GET clients by global/dedupe ID"
returns pointers to all their HMIS version records and all their CES records (and eventually Linked Data)

[2019-05-03 17:59] logicsandeep commented on #688
https://github.com/servinglynk/hslynk-open-source/commit/faacca4ebd154522fbcbb55150433055d273136f

https://github.com/servinglynk/hslynk-open-source/commit/2aa42565eab0e1f44039369ef0c51f54c620f528

[2019-05-03 17:59] logicsandeep commented on #687
https://github.com/servinglynk/hslynk-open-source/commit/faacca4ebd154522fbcbb55150433055d273136f

https://github.com/servinglynk/hslynk-open-source/commit/2aa42565eab0e1f44039369ef0c51f54c620f528

[2019-05-03 17:59] #687 closed

[2019-05-04 15:20] suryayadavalli commented on #694
@eric-jahn : this is working now. Please check.
https://api.hslynk.com/?urls.primaryName=Global%20Api#/default/GET_clients-by-dedupClientId

[2019-05-04 16:24] suryayadavalli commented on #701
@eric-jahn : I will make few design changes to be able to return the pointers without to having look up CES schema and linked data schema. (since these look ups to different schema  are expensive).

The solution is to maintain a *flag* whether CES data or Linked data exists for the user and construct the pointers dynamically without having to actually look up in those schema (or any other data tha

[2019-05-06 14:18] logicsandeep opened #702 "Remove Vispdat process for skidrow and performance tune the query"
Remove Vispdat process for skidrow and performance tune the query

[2019-05-06 15:51] eric-jahn commented on #701
@suryayadavalli This looks good, but I would treat the HMIS data the same as the Linked Data, CES, and (new) Generic client information.  I mean, all client data sources should have a "dirty" flag for newly posted HMIS data, indicating there is searchable content, not just for the non-HMIS sources.

[2019-05-06 18:20] logicsandeep opened #703 "Make Client Identifiers table show client information driven by a config"
Make Client Identifiers table show client information driven by a config

[2019-05-06 18:20] eric-jahn commented on #701
@suryayadavalli Also, resolving this issue in the way you describe will probably get us a lot closer to resolving this issue as well: https://github.com/servinglynk/hslynk-open-source-docs/issues/516 .  Issue 516 would just go one step further, and traverse the links from this issue and fetch the latest records.

[2019-05-06 18:40] eric-jahn commented on #703
and the config is ACL/permission by role membership

[2019-05-06 21:16] logicsandeep commented on #703
https://github.com/servinglynk/hslynk-open-source/commit/cad3d5c498d2476d4ce79ca9d113391f2f89a4ce

[2019-05-06 21:16] #703 closed

[2019-05-07 04:59] suryayadavalli commented on #701
@eric-jahn : Here is the high level technical design for the above. The goal to have loose coupling among sub systems that co-exists and also third parties.

![mq](https://user-images.githubusercontent.com/10738348/57272802-02e58d80-704a-11e9-8db1-a510753963ed.png)

Also,  the same solution can be leveraged for other use cases that we were discussing earlier. Here is an example.

![mq_extension](h

[2019-05-07 06:29] suryayadavalli opened #704 "Run back ground jobs (sync with data warehouse) against DB read replica (only)."
Back ground jobs like sync should be set up against read replica, not the actual source DB.  As these back ground job run against huge volumes of data in the DB, this may jeopardize the stability of the production system and impact customers.  Issue we saw over the week-end with DB resources reaching out to the maximum thresholds is an example.

![image](https://user-images.githubusercontent.com/1

[2019-05-07 13:28] eric-jahn commented on #701
@suryayadavalli This looks perfect.  This infrastructure would also give us the means to efficiently provide #516 as well.

[2019-05-07 18:10] suryayadavalli commented on #698
![image](https://user-images.githubusercontent.com/10738348/57322556-71494f00-7121-11e9-8382-b1180c34c7bd.png)

commit id: https://github.com/servinglynk/hslynk-open-source/commit/f6ed6c49db8e99d66ffbeac8a6381b5347dbd9bc

[2019-05-07 18:10] #698 closed

[2019-05-08 06:27] suryayadavalli opened #705 "Errors in deduping logic (Create User method) - from Kibana logs."
`org.springframework.web.client.HttpServerErrorException: 500 null
	at org.springframework.web.client.DefaultResponseErrorHandler.handleError(DefaultResponseErrorHandler.java:111)
	at org.springframework.web.client.RestTemplate.handleResponse(RestTemplate.java:708)
	at org.springframework.web.client.RestTemplate.doExecute(RestTemplate.java:661)
	at org.springframework.web.client.RestTemplate.execu

[2019-05-08 14:43] suryayadavalli opened #706 "Identify the root cause for this exception - from Kibana logs"
This exception is occurring consistently every day. Need to figure out which API / back ground jobs causing this issue.  The issue indicates that it's an issue with request body so need to guide HOME, if this is due the calls that HOME makes.

`org.springframework.http.converter.HttpMessageNotReadableException: JSON parse error: Unexpected character ('"' (code 34)): was expecting comma to separate

[2019-05-08 17:25] suryayadavalli opened #707 "Capture response time for all the API in Apache"
Minor changes on Apache configuration to capture the exact response times from application servers for each requests. Kibana can aggregate / consolidate this data so we can understand the performance of the APIs and fine tune accordingly.

[2019-05-09 12:44] logicsandeep commented on #702
https://github.com/servinglynk/hslynk-open-source/pull/195

This feature is taken care.

[2019-05-09 12:44] #702 closed

[2019-05-09 14:57] logicsandeep opened #708 "Delete survey records for sb% and sa% project groups based on their request"
I have a data update\delete request for project groups sb% and sa% involving 2 tables: response and client_survey_submission. On 4/16/2019 and 4/17/2019, using HOME Submission Uploader, I have made around 1600 submissions for sb%. Similarly, on 4/19/2019 and 4/20/2019, I have made around 2250 submissions for sa% Below are an hourly account of survey submissions that I have made on those dates.Unfo

[2019-05-10 18:50] #694 closed

[2019-05-10 22:29] suryayadavalli opened #709 "CORS issue while accessing Marmotta Service layer from localhost"
![image (3)](https://user-images.githubusercontent.com/10738348/57559787-6ddbe080-7338-11e9-9dce-500ea2e255e3.png)

[2019-05-10 22:30] suryayadavalli commented on #709
*After looking at the errors , I see 2 possible reasons*
1) Your browser prevents the request to go through, due to CORS restrictions.
2)  HMIS rejects the request, due to CORS restrictions.

*Regarding # 1)* Same origin policy is enforced on the client side by Chrome and Firefox strictly. I would like to check if this is a browser restriction on your end.  I see that you are using Chrome so one e

[2019-05-12 16:04] suryayadavalli commented on #704
**Action Item 1:** Set up the read replica for the existing PROD DB
**Action Item 2 :** Identify and make changes to the existing back ground / batch jobs to route the requests to Read replica, instead of Master. This change will be gradual as there we need to carefully analyze the changes. Will create individual tickets for change that we identify.

Action Item #1 is complete.

[2019-05-14 04:20] logicsandeep opened #710 "Unable to authenticate when a user does not have force_password_change set."
Unable to authenticate when a user does not have force_password_change set.
I added a user and that user was not getting authenticated we need to set a default value of false for the force_password_change field in the hmis_user table.

[2019-05-14 04:26] suryayadavalli commented on #710
@logicsandeep : the default value (**false**) for this flag is always set .  So, when exactly this issue would happen, when the *flag* is set all the time ?.

![image](https://user-images.githubusercontent.com/10738348/57670778-9debe380-75c5-11e9-8f6f-ec027b423f6f.png)

[2019-05-14 04:33] logicsandeep commented on #710
It is weird. I created a user on Friday and force_password_change was null. I had to make it false manually.

[2019-05-14 04:33] logicsandeep commented on #710
I agree that it has a default value of false.

[2019-05-14 04:38] logicsandeep commented on #710
We also have to understand that this column is nullable and when a null value is specified then from the code, it will still insert null value.

[2019-05-14 19:16] logicsandeep commented on #708
I'm going to close this issue because we can  delete the data via the apis.

[2019-05-14 19:16] #708 closed

[2019-05-16 18:12] suryayadavalli opened #711 "Notifications are not going through"
Reported by przemyslaw

@przemyslaw: when you get a chance, please try this again and let us know if notifications were getting through.

_We had a limit on the length of the content that we pass on to SES service (including recipients, content, subject etc..) set to 2000 bytes . We increased that now to 4000 to see if it takes care of the issue.  We will take away this restriction in the next rel

[2019-05-17 12:35] logicsandeep opened #712 "Change entryDate,DOB and exitdate to date field instead of datetime"
Change entryDate,DOB and exitdate to date field instead of datetime

[2019-05-17 12:36] logicsandeep opened #713 "Provide ability to ignore match by ssid in the bulk upload process."

[2019-05-17 12:36] logicsandeep opened #714 "Fix the create project group api to create the S3 bucket with correct permisssions."
Fix the create project group api to create the S3 bucket with correct permisssions.

[2019-05-17 12:42] eric-jahn commented on #713
So, this would be a check box to toggle in the admin interface?

[2019-05-17 13:44] eric-jahn commented on #712
Is this for all HMIS Schemas?

[2019-05-17 14:02] eric-jahn opened #715 "same tags for two different commits"
![tags](https://user-images.githubusercontent.com/4115079/57933279-d7a14080-788a-11e9-9b82-09c9c2add4fc.png)

[2019-05-17 14:03] eric-jahn commented on #715
I think this may be okay, if we just remive the Mar 22 tag, since I think that one was manually tagged?

[2019-05-17 14:21] suryayadavalli commented on #705
I still see this error quite frequently from the logs.
![image](https://user-images.githubusercontent.com/10738348/57934127-cdc01300-7873-11e9-9fbe-3d865bbc706c.png)

[2019-05-17 14:24] suryayadavalli opened #716 "Security vulnerabilities resolution based on github reports"

[2019-05-17 14:26] suryayadavalli commented on #716
Updated the libraries and dependencies to major versions that are safe and secure (CES and HMIS). Verified the changes / completed testing. Will deploy the changes during the week-end.

[2019-05-17 14:39] suryayadavalli opened #717 "Kibana log monitoring : Abundant number of GET /project calls with invalid project Id - causing 500 errors"
"GET /hmis-clientapi/rest/v2014/projects/undefined HTTP/1.1" 500 79

![image](https://user-images.githubusercontent.com/10738348/58050620-b5b2f280-7b04-11e9-9412-5ffef3279980.png)

[2019-05-17 18:16] suryayadavalli commented on #701
![image](https://user-images.githubusercontent.com/10738348/57947974-3e2b5c00-7895-11e9-87aa-c5669ad4b476.png)

[2019-05-17 18:29] eric-jahn commented on #706
cc: @CTAJavier

[2019-05-17 18:30] eric-jahn commented on #717
cc: @CTAJavier

[2019-05-17 19:46] logicsandeep commented on #710
This issue is resolved.
https://github.com/servinglynk/hslynk-open-source/commit/49b59fcfb7ac1d5bbf89cc3f5cd6bc75497ae24d

[2019-05-17 19:46] #710 closed

[2019-05-21 14:21] suryayadavalli commented on #700
Commit # https://github.com/servinglynk/hslynk-open-source-docs/issues/711

The changes are relatively complex as the search processing logic moved from code implementation to a procedural call to accommodate dedup logic. Will close this issue after monitoring for few days and for feedback from HOME.

[2019-05-22 14:47] eric-jahn commented on #696
completed per @logicsandeep on 5/22.  If there is code, please close with the commit.

[2019-05-22 22:43] logicsandeep commented on #696
@eric-jahn  I had to execute a bunch of commands to  provide the user access to the deidentified data. No commit involved here.

[2019-05-22 22:43] #696 closed

[2019-05-24 18:31] suryayadavalli commented on #701
Design is complete for this task. Will work on the implementation after the survey cache removal changes.

[2019-05-24 18:33] suryayadavalli commented on #711
Issue has been addressed. Made necessary changes so, the content is not restricted to 4000. So, all / any notifications should work with this change. Closing the issue.

[2019-05-24 18:33] #711 closed

[2019-05-24 18:33] suryayadavalli commented on #700
Made necessary changes and so far no issues reported by HOME.  Closing the issue

[2019-05-24 18:33] #700 closed

[2019-05-24 18:41] logicsandeep commented on #713
https://github.com/servinglynk/hslynk-open-source/commit/6fd7a65573ace14ebd4bef485adce03dc70111f9

https://github.com/servinglynk/hslynk-open-source/commit/6ab56ab70e968241c56aca9a5d28ab5deb0fdf9f

https://github.com/servinglynk/hslynk-open-source/commit/dcd8392bba2fcc54c2002ea920d52a3df33888d7

https://github.com/servinglynk/hslynk-open-source/commit/80dfd7f7ee7f288170a2fb791f7fdb34bbc98f40

[2019-05-24 18:41] #713 closed

[2019-05-24 18:41] logicsandeep commented on #712
https://github.com/servinglynk/hslynk-open-source/commit/6fd7a65573ace14ebd4bef485adce03dc70111f9

[2019-05-24 18:41] #712 closed

[2019-05-24 18:42] logicsandeep commented on #712
I fixed the date issue. DOB is saved as a blob (encrypted) and entry and exit date are also fixed with the correct dates now.

[2019-05-24 19:39] eric-jahn opened #718 "self-registration for Try-It-Now"

[2019-05-24 19:47] eric-jahn commented on #717
HOME App claimed this issue, and are resolving it.

[2019-05-24 19:47] #717 closed

[2019-05-25 06:28] logicsandeep commented on #706
We had one of the clients inserted as ""L"". We also have a backgroup job which will re populate the dedup id for records where a dedup id is not populated when the client gets inserted. That process kept trying to populate the dedup_id by calling Open EMPI but because the first_name contained special characters the we would get a failure from OpenEMPI side.

I've fixed the data to remove the extr

[2019-05-25 15:26] eric-jahn commented on #706
Sandeep, let's not trim special characters other than leading/trailing spaces, which we might be doing already.  Some of the special characters can even be valid.  In the case that the special characters are needless, like the quotes you mentioned, I hope OpenEMPI will find enough other matching identifiers than the name parts to ascertain a probable match (or not).

[2019-05-30 00:32] eric-jahn opened #719 "auto-delete inactive records monthly, when they reach their retention period limit"
limit is set by customer

[2019-05-30 00:34] eric-jahn opened #720 "implement a tape drive-like offline backup"
Will store snapshots for a set period of years.  independent of inactive records retention

using something like Glacier or Near-line storage

[2019-05-30 00:35] eric-jahn commented on #719
retention period could either be an absolute age or a period of time after they are deleted.

[2019-05-30 00:36] eric-jahn opened #721 "implement optional active records retention period"
3 years, 7 years, 10 years: the customer chooses.  records are marked inactive, then eventually hard-deleted

[2019-05-31 06:26] logicsandeep opened #722 "Persist deleted and all the records in the db count table so we track both deleted and all the records."
Persist deleted and all the records in the db count table so we track both deleted and all the records from a billing perspective.

[2019-05-31 07:25] logicsandeep commented on #705
This issue is resolved. There was a data issue, the first_name had a special character ( ")  and that's why dedup service was failing. This issue is resolved.

[2019-05-31 07:25] #705 closed

[2019-06-01 14:44] eric-jahn commented on #216
"HMISLynk" is no longer displayed, but rather "HSLynk", so the HMIS confusion should be gone now.

[2019-06-01 14:45] #216 closed

[2019-06-01 14:51] eric-jahn opened #723 "customer customizable login image"
The customer image would be uploadable from the customer admin screen.  "Powered by HSLynk" would still be displayed in a corner, but smaller than the customer logo.

A related, similar issue was https://github.com/servinglynk/hslynk-open-source-docs/issues/216 , but it had a different originating problem (HMIS confusion, which is no longer an issue).

[2019-06-04 17:22] suryabi commented on #723
@eric-jahn :  This should be customized based on the Trusted app during OAUTH flow. From API end, this takes about is about 12  - 16 hours of effort from development to roll-out.

[2019-06-05 15:05] suryayadavalli opened #724 "Security - github vulnerability issues"

[2019-06-07 18:42] eric-jahn commented on #723
Yes, from Trusted App, because as you explained, until they log in, we don't know which customer it is.

[2019-06-10 02:17] eric-jahn commented on #643
@logicsandeep: these still need to have hmis removed:
hmis-global-household
hmis-client-deidentify
hmis-base-model

[2019-06-11 03:17] logicsandeep commented on #715
I've removed the duplicate tag.
We now have only 1 tag with name=v2.14.20
https://github.com/servinglynk/hslynk-open-source/releases

[2019-06-11 03:17] #715 closed

[2019-06-11 19:39] logicsandeep commented on #668
Removed hmis submodules from all the projects.

[2019-06-11 19:39] #668 closed

[2019-06-13 19:54] eric-jahn commented on #701
related issue: #516

[2019-06-13 19:54] eric-jahn commented on #516
related issue: #701

[2019-06-14 15:56] CTAJavier commented on #516
@eric-jahn @suryayadavalli I was looking at this now, and I just wanted to make sure that we covered all our bases.  because you know it's always the detail that gets messy. I was thinking that this golden view, SHOULD return the latest client information as in demographics, but then return all links to  enrollments and submissions for all clients  SImply having the latest enrollment as in 1 total

[2019-06-14 16:54] eric-jahn commented on #516
For the clarification you asked about, it would have to be the latest date (chronologically, not schema year) in any schema, because not all schemas are HMIS year schemas, and we'll be adding more.  We could add a "latest HMIS schema year enrollment" that would be a link/href to the most recent HMIS effective date enrollment by HMIS Schema year (not necessarily absolute effective date chronologica

[2019-06-14 17:22] eric-jahn commented on #701
@suryayadavalli : Along with HMIS version schemas, Survey, and Linked Data, I think another critical publisher is the Generic Schema, which contains generic households, generic enrollments, and generic clients.

[2019-06-14 18:47] logicsandeep commented on #714
This issue is resolved and depoyed to production. In created a test project group and was able to upload the file successfully.

[2019-06-14 18:47] #714 closed

[2019-06-14 18:48] logicsandeep commented on #724
I've resolved github vernerabilities related to the admin app.

[2019-06-17 02:30] eric-jahn commented on #643
@logicsandeep just one more item: https://github.com/servinglynk/hslynk-open-source/tree/master/hmis-base-model/src/main/java/com/servinglynk/hmis/warehouse/model is still showing up in master.

[2019-06-18 00:00] eric-jahn opened #725 "support 2020 HMIS APR Report"
[specs](https://github.com/servinglynk/hslynk-open-source-docs/blob/master/doc/WikiContent/2020-HMIS-Data-Standards/HUD_HMIS_APR_CAPER_Report_Programming_Specifications.docx)

We will be dropping the generated PDF, since Sage creates that, and there is a test version of Sage, and both validate the CSV.

From that document, it doesn't look like too big a task.  There are just a series of minor chan

[2019-06-22 15:39] suryayadavalli opened #726 "getting 500 for the Search endpoint, search with id"
we are getting 500 for the Search endpoint, we currently cannot search for clients (edited)

huh weird... if we search by name it works, but not by ID
58e70bb-0a3f-4a1b-a295-643a62f418608 returns 500 error, expecting 404 if not found, not 500

[2019-06-23 15:14] eric-jahn commented on #726
@suryayadavalli have you been able to replicate this issue?  Thanks!

[2019-06-26 01:11] eric-jahn opened #727 "Documentation for using RStudio/Dplyr"
Screenshots, examples, etc. documenting how to install these tools, how to use and create sample reports with these tools.

Additional pages can optionally be added linked off: https://github.com/servinglynk/hslynk-open-source-docs/wiki/Impala-connection-via-R-using-Implyr-and-Dplyr

[2019-06-26 01:15] eric-jahn opened #728 "change HUD upload type from v6.1.12 to v6.1.2"
related: #577 and #642

[2019-06-26 01:19] eric-jahn opened #729 "Hive views for client detail of APR report sections"

[2019-06-26 01:21] eric-jahn opened #730 "Hive views for client detail of each LSA report section"
Probably should just have uuids, not client identifiers, since there is no need for uuids.
related #729

[2019-06-26 03:20] kiadso commented on #727
I worked on this tonight, but not ready to push. I cloned the repo, so does that mean if I Push, it will update master and if so is that ok? Or would I do a pull request?

[2019-06-26 12:38] eric-jahn commented on #727
@kiadso : I believe a pull request is the proper way.

[2019-06-26 12:53] kiadso commented on #727
Ok I'll sort it out tonight.

[2019-06-28 00:34] eric-jahn opened #731 "APR report link emailed to user, once report has been generated"

[2019-07-10 04:34] eric-jahn opened #732 "APR Report issue logging"
an optional flag when requesting an APR report, so also receive error logs

[2019-07-11 15:51] eric-jahn commented on #173
Also add paginated inactive history as an optional switch.

[2019-07-20 16:20] eric-jahn opened #733 "unit tests for APR"
We should have APR unit tests that run on build, which compare:

1) ...to the HMIS APR sample CSV test kit report from HUD.  Using the HUD HMIS sample test kit client data CSV, does the HSLynk APR return the same aggregate results as the HUD HMIS APR sample test kit report?

2) Do specific subtotals match expected values (report internal checks, like "with income + without income = total")?

[2019-07-20 17:34] eric-jahn commented on #733
I think #1 would just be a matter of comparing each cell, and if one of them does not match, list it and return "test fails".

For #2, we should first come up with a minimal list of validation checks.

Then we should write up the unit tests in psuedocode/JUnit/JMeter/whichever you guys agree on, and add to the build process, making HSLynk builds fail if this doesn't pass.

[2019-07-23 19:31] eric-jahn commented on #733
@kiadso Do you think you could work on #2?  I think we could also use this sort of assistance for the LSA report validations as well, which you've worked on before.

[2019-07-23 19:38] eric-jahn opened #734 "all APIs response time tracked and published"
publish to admin app
to slack for developers
dashboard url to Kibana is the best

[2019-07-24 00:21] kiadso commented on #733
Sure- just in a text file for now? Or markdown?

[2019-07-24 00:33] eric-jahn commented on #733
@kiadso Sure, whichever you think is more useful.  Markdown would be good I think, because we can make a nice wiki page out of it, and link it to the issue.

[2019-07-24 00:57] kiadso commented on #733
I agree- is there already an existing list for the previous APR?

[2019-07-24 01:11] eric-jahn commented on #733
@logicsandeep: Do you have a list of validations for the APR, or do we not have any tests yet?  I guess we could start with the Sage validations, if HUD posted them.

[2019-07-24 01:34] kiadso commented on #733
The HMIS Glossary has a lot of validations in it too- I can just use that and the APR specs for now.

[2019-07-24 06:01] eric-jahn commented on #726
@suryayadavalli can we close this?

[2019-07-27 17:01] eric-jahn commented on #733
see https://github.com/servinglynk/hslynk-open-source-docs/wiki/APR_Unit_Testing_FY2020

[2019-07-27 17:02] eric-jahn commented on #727
The documentation at the link above is now complete.

[2019-07-27 17:02] #727 closed

[2019-07-27 17:04] eric-jahn commented on #726
This issue has not been recurring.

[2019-07-27 17:04] #726 closed

[2019-07-27 17:06] eric-jahn commented on #643
This is complete.

[2019-07-27 17:06] #643 closed

[2019-07-29 19:01] eric-jahn opened #735 "FY2020 CSV export API"
Provide the functionality for a user interface and underlying, independent API HMIS CSV download.

Both the API and overlaying user interface should have independently selectable filters for:
* date ranges (begin and end dates)
* all of a customer's RHY only or SSVF only project type exportable data, still with date range filters.
* one or more specified projects IDs _or_ for all of the current us

[2019-07-29 19:04] eric-jahn commented on #697
@suryayadavalli: Is this issue closed?

[2019-07-29 19:05] eric-jahn commented on #680
@suryayadavalli: Is this issue still unresolved?

[2019-07-29 19:14] eric-jahn commented on #524
This is now minimally working, however, it does not reset, and I do not believe it contains an adequate CES and or VI-SPDAT data set loaded, with survey questions.

[2019-07-29 19:16] eric-jahn commented on #516
Current status for this issue is that it is waiting for @logicsandeep's code review before being pushed to the production environment.

[2019-07-29 19:24] eric-jahn commented on #638
Is 2017 still the default API version, or did we resolve this?

[2019-07-30 19:34] eric-jahn opened #736 "merge/unmerge Pub-Sub APIs"

[2019-07-30 19:38] eric-jahn commented on #534
depends on #736

[2019-07-30 19:38] eric-jahn commented on #695
depends on #736

[2019-08-08 20:01] eric-jahn commented on #720
related #721

[2019-08-08 20:13] eric-jahn commented on #719
related #719

[2019-08-08 20:18] eric-jahn commented on #734
from #707 "Minor changes on Apache configuration to capture the exact response times from application servers for each requests. Kibana can aggregate / consolidate this data so we can understand the performance of the APIs and fine tune accordingly."

[2019-08-08 20:21] #707 closed

[2019-08-08 21:29] eric-jahn commented on #517
I think we can close this, because the test project view can just be demoed with the standard views.

[2019-08-08 21:29] #517 closed

[2019-08-08 21:32] eric-jahn commented on #485
https://github.com/servinglynk/hslynk-open-source-docs/wiki/Impala-connection-via-R-using-Implyr-and-Dplyr

[2019-08-08 21:32] #485 closed

[2019-08-08 21:47] eric-jahn commented on #462
no activity and unclear if it's an issue; closing

[2019-08-08 21:47] #462 closed

[2019-08-08 22:15] eric-jahn commented on #411
closing due to inactivity

[2019-08-08 22:15] #411 closed

[2019-08-08 22:19] eric-jahn commented on #407
records would be flagged as inactive, and then moved eventually via a script to nearline cloud storage and deleted from HSLynk.

[2019-08-08 22:20] eric-jahn commented on #406
closing due to inactivity

[2019-08-08 22:20] #406 closed

[2019-08-09 03:05] eric-jahn commented on #226
completed

[2019-08-09 03:05] #226 closed

[2019-08-09 03:08] eric-jahn commented on #338
duplicate of #719

[2019-08-09 03:08] #338 closed

[2019-08-09 03:23] eric-jahn commented on #145
this is resolved with the Golden View #516

[2019-08-09 03:23] #145 closed

[2019-08-09 07:28] logicsandeep commented on #81
Yes, this is completed. Add project group and add client.

[2019-08-09 07:28] #81 closed

[2019-08-09 19:14] eric-jahn commented on #704
@logicsandeep will tackle #2 asap

[2019-08-09 19:22] eric-jahn opened #737 "WAF"

[2019-08-09 19:29] #737 closed

[2019-08-12 09:02] suryayadavalli opened #738 "Golden view data population for existing clients."

[2019-08-12 09:32] suryayadavalli commented on #516
Documentation link : https://api.hslynk.com/?urls.primaryName=Global%20Api#/default/GET_search-searchentity

Commit id: https://github.com/servinglynk/hslynk-open-source/commit/89c4051d2a4fba4c3f453d7b847600024944a3af

[2019-08-12 09:32] suryayadavalli commented on #701
Documentation link : https://api.hslynk.com/?urls.primaryName=Global%20Api#/default/GET_search-searchentity

Commit id: https://github.com/servinglynk/hslynk-open-source/commit/89c4051d2a4fba4c3f453d7b847600024944a3af

[2019-08-13 17:34] suryayadavalli commented on #736
Documentation https://api.hslynk.com/?urls.primaryName=Global%20Api#/default/POST_events

commit: https://github.com/servinglynk/hslynk-open-source/commit/69830881d0041bca26b55bacdf7b0e94c6002757

[2019-08-13 19:08] logicsandeep commented on #704
We have an estimate to complete this in 3-4 days and It was decided that we'll defer this after we finish the changes related to 2020 data model.

[2019-08-13 19:42] eric-jahn opened #739 "remove the default API url"
right now, it maps to v2014

We need to verify nobody is using it first (check logs and ask customers).

replaces #638

[2019-08-13 19:43] eric-jahn commented on #638
replaced by #739

[2019-08-13 19:43] #638 closed

[2019-08-15 14:01] eric-jahn commented on #372
This project integrated PRL into OpenEMPI: https://hiplab.mc.vanderbilt.edu/projects/soempi/ .  Perhaps merge it back into a LibreEMPI which is v2.3 openempi + SOEMPI.

[2019-08-19 15:30] eric-jahn commented on #739
@suryayadavalli could you check if anyone has been calling the default HMIS version-specific APIs (which lead to v2014)?  I will ask HOME App devs if we can remove the default, after you check.  If they are still calling the default API (no version specified), I'll need to announce when we are turning them off, instead of asking whether they use them.

[2019-08-19 17:48] eric-jahn commented on #252
duplicate of #735, which will allow exporting by project type and/or project ids

[2019-08-19 17:48] #252 closed

[2019-08-19 17:48] eric-jahn commented on #254
duplicate of #735, which will allow exporting by project type and/or project ids

[2019-08-19 17:48] #254 closed

[2019-08-19 17:49] eric-jahn commented on #735
should allow exporting by project type and/or project ids.  This will cover SSVF and RHY export use cases.

[2019-08-20 14:44] #701 closed

[2019-08-20 14:45] #516 closed

[2019-08-20 17:38] eric-jahn commented on #467
putting a pin in TEFCA/Sequoia Project

[2019-08-20 19:57] logicsandeep opened #740 "Fix the NPE in Open EMPI for a specific set of users."
Fix the NPE in Open EMPI for a specific set of users.

[2019-08-20 19:59] logicsandeep opened #741 "Deploy reports and upload microservice after the pub/sub implementation."
Deploy reports and upload microservice after the pub/sub implementation.

[2019-08-23 19:17] eric-jahn opened #742 "500 responses show up in slack alerts"

[2019-08-29 07:16] logicsandeep commented on #731
4d0857e0abef400136af7191fe8464b8b66aab18

[2019-08-29 09:11] logicsandeep commented on #695
https://github.com/servinglynk/hslynk-open-source/pull/239

[2019-08-29 09:11] #695 closed

[2019-08-29 09:11] logicsandeep commented on #534
https://github.com/servinglynk/hslynk-open-source/pull/239

[2019-08-29 09:11] #534 closed

[2019-08-29 09:12] #731 closed

[2019-08-29 09:29] logicsandeep commented on #741
I've deployed the following services post pub/sub changes.
1) Reports service
2) Upload service
3) Dedup Service
4) Gloabl api service
5) Admin app

[2019-08-29 09:29] #741 closed

[2019-08-29 16:15] #736 closed

[2019-09-02 01:09] logicsandeep opened #743 "Purge records in the sync table every 15 days."
Purge records in the sync table every 15 days.

We need to purge from the last 15th day to avoid data from overflowing our postgres database.

[2019-09-06 18:16] eric-jahn opened #744 "APR Report email body and header changes"
4 things to change in the email:
1) support@hmislynk.com -> support@hslynk.com
2) HsLynk Team -> HSLynk Team
3) https://admin@hmislynk.com -> https://admin@hslynk.com
4) Apr -> APR

[2019-09-08 15:56] eric-jahn opened #745 ""Unmerge" in the Admin App tab in the image below needs to be "Merge""
![image](https://user-images.githubusercontent.com/4115079/64490867-9238c280-d22f-11e9-95de-b97c1cb7aaa4.png)

[2019-09-10 16:47] logicsandeep opened #746 "Terminate the reports process when its completed"
Terminate the reports process when its completed

[2019-09-10 16:47] logicsandeep commented on #746
1e9740d93d23ed11f6c49aa63d5ee0570b06a3ca

[2019-09-10 16:47] #746 closed

[2019-09-10 16:47] logicsandeep commented on #746
This will address the disk space and db connection issue.

[2019-09-10 17:11] logicsandeep opened #747 "Associate deduped clients to newly created projects for reporting."
Associate deduped clients to newly created projects for reporting.

Estimate: 2 hours

[2019-09-10 17:38] eric-jahn commented on #747
not a code task; my mistake

[2019-09-10 17:38] #747 closed

[2019-09-17 19:25] eric-jahn commented on #681
estimated 4-5 hours per Sandeep

[2019-09-19 06:28] suryabi commented on #739
**8 - 10* hours to be able to remove and have v2014 APIs invoked only when the URL explicitly states V2014.

I will check Kibana logs and update number  of API calls that are currently being made without version specific identifiers.

[2019-09-19 06:31] suryayadavalli commented on #724
6 - 8 hours to update dependencies in poms with recommended versions, execute the test scripts, dev and PROD deployments.

[2019-09-19 06:33] suryayadavalli commented on #742
@eric-jahn : 1) use pub/sub model  or 2) use Kibana to be able to alert the dev channels. Will explore which option is faster and efficient and then update the effort here.

[2019-09-19 06:34] suryayadavalli commented on #738
Need to come up with the routine to populate the Golden view data for the existing client - Publish the data to Pub /sub framework so, population can be taken care by the currently implemented framework.  Close to 10 to 12 hours of effort.

[2019-09-19 16:50] eric-jahn commented on #699
@suryayadavalli: How much time max/min do you think this will take?

[2019-09-19 16:53] eric-jahn commented on #742
@suryayadavalli Okay, I'll wait for the result of your determination (Kibana vs. Pub/Sub), and prioritize once you have given us your assessment.

[2019-09-19 17:06] eric-jahn commented on #173
per @suryayadavalli, should be completed by 9/25.

[2019-09-20 01:20] eric-jahn commented on #384
@suryayadavalli could you also provide a max/min estimate for this issue, as well?

[2019-10-02 16:28] eric-jahn commented on #738
Assigned to contract HS0006.

[2019-10-02 16:33] eric-jahn commented on #739
Assigned to contract #HS0006.

[2019-10-02 16:34] eric-jahn commented on #682
assigned to contract #HS0004

[2019-10-02 16:37] eric-jahn commented on #724
assigned to #HS0006

[2019-10-02 16:38] eric-jahn commented on #173
assigned to contract #HS0005

[2019-10-04 19:31] logicsandeep commented on #745
https://github.com/servinglynk/hslynk-open-source/commit/32dd8f0841a98944a29311369774b3cf2261a2f1

[2019-10-04 19:31] #745 closed

[2019-10-10 18:43] eric-jahn opened #748 "Shortcut APIs and language binding shortcuts"
so for example, in HSlynk, when I want to create an enrollment,  if i am making a VA Enrollment, then i know that i need to generate an enrollment record, and Veteran info record, and health insurance, and you know other things...

it would be nice, if there was a library, that i could go "VA Enrollment ( DATA in JSON);"

and it would create a compliant enrollment with all of the req fields and an

[2019-10-15 17:51] suryayadavalli commented on #738
Data population is completed. 538176 records processed.

[2019-10-15 18:55] logicsandeep commented on #744
https://github.com/servinglynk/hslynk-open-source/commit/310e618e16f24bdb3744b39d7eb7aafc79f83f33#diff-58130cc948aec1197e3cb7d7464479c9

[2019-10-15 18:55] #744 closed

[2019-10-16 16:16] eric-jahn commented on #669
@suryayadavalli : so the API part of this is complete, and the user interface in the admin app remains?

[2019-10-16 16:44] eric-jahn opened #749 "populate 2020 HMIS questions and responses into the version specific schema"
need hours estimate

[2019-10-16 20:09] eric-jahn commented on #749
"close to 20 hours" per Sandeep

[2019-10-18 19:24] logicsandeep opened #750 "Rewrite Admin app using Angular 2/React"
Rewrite Admin app using Angular 2/React

[2019-10-22 15:32] eric-jahn commented on #173
documentation part of this is contract  #HS0010

[2019-10-25 14:46] suryayadavalli commented on #173
Documentation links:
v2014   :   https://api.hslynk.com/?urls.primaryName=2014%20Apis
v2015   :   https://api.hslynk.com/?urls.primaryName=2015%20Apis
v2016   :   https://api.hslynk.com/?urls.primaryName=2016%20Apis
v2017   :   https://api.hslynk.com/?urls.primaryName=2017%20Apis

[2019-10-25 17:55] suryayadavalli commented on #739
Completed. Removed default URL.

[2019-10-25 18:18] eric-jahn commented on #739
@suryayadavalli Thanks, can you add the git commits to the code and to the API markup file (if any).

[2019-10-29 17:38] eric-jahn opened #751 "Update base schema documentation and add 2020 HMIS schema docs"
https://github.com/servinglynk/hslynk-open-source-docs/wiki/HSLynk-PostgreSQL-operational-database-schema-locations-and-documentation

[2019-10-29 19:16] eric-jahn opened #752 "check in all existing JMeter scripts"

[2019-10-29 19:16] eric-jahn opened #753 "2020 JMeter Scripts"

[2019-11-04 22:51] eric-jahn opened #754 "Support Delta CSV exports"
we will have to track what data was sent in Prior exports per customer.

[2019-11-05 01:36] eric-jahn commented on #754
Date created and updated filters by date range should be enough.

[2019-11-05 01:36] #754 closed

[2019-11-05 01:41] eric-jahn commented on #735
@logicsandeep : for the date range filters, can we have a switches for date updated and date created?  Each could be independently toggled on or off.

[2019-11-05 16:21] eric-jahn opened #755 "Change the logo background color of the OAuth 2 Login dialog"
The background is currently a brown color, and it doesn't look so good:
![login](https://user-images.githubusercontent.com/4115079/68225299-33d55980-ffbe-11e9-9653-933093d95154.png)
I suggest we replace it with either a background similar to the website's, like this:
![login2](https://user-images.githubusercontent.com/4115079/68225353-494a8380-ffbe-11e9-8a3b-e9113ce62e92.png)
...or just transparen

[2019-11-06 21:27] eric-jahn opened #756 "admin app bulk uploader ui improvements"
auto refresh screen to update stages

 rename LIVE stage to COMPLETED, to make it clearer that processing is finished.

add a legend of the various statuses on that same page, for reference.

add a note that the Big Data warehouse takes another two hours after LIVE/COMPLETED shows, to receive any synced data from the PostgreSQL operational database (serving APIs).

[2019-11-07 18:34] eric-jahn commented on #251
HUD's timeline for the 2020 LSA:
![lsa_timeframe](https://user-images.githubusercontent.com/4115079/68416847-4046e700-0163-11ea-9682-80a8b37cf20a.png)

[2019-11-08 18:44] eric-jahn opened #757 "Data Warehouse logging and monitoring"
-track the times of each phase per user/upload ID (-when the upload was processed and when the sync first requested, started, and completed)
-alerts to slack for unusual lengths of time.

[2019-11-10 22:12] #752 closed

[2019-11-10 22:12] eric-jahn commented on #752
JMeter scripts checked into a private repo to safeguard keys.

[2019-11-10 22:13] eric-jahn commented on #682
please close with the commit id

[2019-11-10 22:14] eric-jahn commented on #738
Completed.  It is a data processing task, so there is no commit id.

[2019-11-10 22:14] #738 closed

[2019-11-10 22:24] eric-jahn commented on #549
a prototype is here: https://docs.google.com/spreadsheets/d/1canBuUySgbXUIbNExxeJz3S2jdTNHTrcqRSedtqaYIQ/edit#gid=850212842

[2019-11-10 22:28] eric-jahn commented on #173
@suryayadavalli will close once the APIs are reordered.

[2019-11-10 22:46] eric-jahn opened #758 "Implement 2020 HMIS Data Standard Historic and Deleted Records APIs"

[2019-11-10 22:50] eric-jahn opened #759 "Implement Survey Historic and Deleted Records APIs"

[2019-11-10 22:52] eric-jahn commented on #759
moving to hserv/coordinated entry

[2019-11-10 22:52] #759 closed

[2019-11-10 22:56] eric-jahn commented on #753
completed

[2019-11-10 22:56] #753 closed

[2019-11-10 23:12] eric-jahn opened #760 "Make Jenkins pull JMeter scripts from private repo"

[2019-11-11 15:45] eric-jahn opened #761 "publish data warehouse metadata file publicly"
to http://db-metadata.hslynk.com, at some chronographic interval, when the fields/metadata changes.

[2019-11-11 16:29] eric-jahn opened #762 "make web servers fetch configs from private repo on deploy"

[2019-11-14 19:48] eric-jahn commented on #761
We have a static version here now: https://docs.google.com/spreadsheets/d/1Vq3t7iNG1pvW7tjw0EN4aUBtaZj63vntXOXnMZv7cOg/edit?usp=sharing

[2019-11-14 21:12] eric-jahn commented on #761
And this is a searchable version: https://api.hslynk.com/db/metadata/metadata.html (needs to have CES tab added)

[2019-11-15 20:40] eric-jahn commented on #762
not completed, reading/pulling from Jenkins still needs to happen

[2019-11-18 05:09] suryayadavalli commented on #739
Completed.

[2019-11-18 05:09] #739 closed

[2019-11-18 05:10] suryayadavalli commented on #760
commit id: https://github.com/servinglynk/hslynk-config/tree/38805c92281c6b6a44012e833e0376b390295377

[2019-11-18 05:10] #760 closed

[2019-11-18 15:45] logicsandeep opened #763 "Automatically populate the Hive database documentation from the data model"
Automatically populate the Hive database documentation from the data model

[2019-11-18 16:15] eric-jahn opened #764 "modify open MPI to take missing SSN and other characters/places into account when matching"
HMIS systems denote missing places with an "x"

[2019-11-19 20:41] logicsandeep commented on #682
https://github.com/servinglynk/hslynk-open-source/commits/feature/fy2020
All the commits related to FY2020 are in this branch.

[2019-11-19 20:41] #682 closed

[2019-11-22 17:39] logicsandeep opened #765 "Make improvements to the hslynk admin app to take care of the page errors due to roleName population"
Make improvements to the hslynk admin app to take care of the page errors due to roleName population

[2019-11-26 14:54] eric-jahn commented on #755
fixed, @logicsandeep can you add the commit ID and close?  Thank you!
![login](https://user-images.githubusercontent.com/4115079/69644525-c3f14680-1032-11ea-82a6-ee7ed0e1fe4b.png)

[2019-11-26 15:19] eric-jahn commented on #384
@suryayadavalli Can you close this with the commit id?  Thank you!

[2019-11-26 15:22] eric-jahn commented on #173
@suryayadavalli I think you said last Friday that the APIs are reordered.  If so, can you close this with the commit id for the deployed code portion? For the API markup, I never made issues for those, so nothing to close in the API repositories.

[2019-11-26 19:30] eric-jahn commented on #761
duplicate of #763

[2019-11-26 19:30] #761 closed

[2019-11-26 20:09] eric-jahn opened #766 "household enrollment APIs"
Makes it possible to enroll people into households, look up households, and link households globally

specifications document:
https://docs.google.com/drawings/d/e/2PACX-1vRx2IHGO9yNURQBa0xfSThINzuQZfdAHnzeu3Br0c0J5LB3ayLgv-7ztRcLhaBmgdS7BK_LW9eLoCAs/pub?w=960&h=3360

* add PUT v20XX/enrollments/{enrollment_id} for every HMIS version (2014-2020) - allows for modifying enrollments, so that they hav

[2019-11-26 20:15] eric-jahn commented on #669
20-24 hours per @suryayadavalli , because of user/role features to implemented

[2019-11-26 20:30] eric-jahn opened #767 "indexed elastic search"
Project subgroups has slown the speed of search, so indexed of search is required to maintain performance.  This would be implemented for global search: https://api.hslynk.com/?urls.primaryName=Global%20Api#/default/GET_search-searchentity .  We are at a different place now, since the Golden View with pub/sub notifications has been implemented, so we are creating a new/different issue for this sam

[2019-11-26 21:10] eric-jahn commented on #758
@suryayadavalli please close with the commit ID

[2019-11-26 21:20] eric-jahn commented on #677
API descriptions are at apis.hslynk.com

[2019-11-26 21:20] #677 closed

[2019-11-26 21:21] eric-jahn commented on #676
This is working now:
![tags](https://user-images.githubusercontent.com/4115079/69673669-d1c1be80-1068-11ea-9fa9-36977ceed4de.png)

[2019-11-26 21:21] #676 closed

[2019-11-26 21:26] eric-jahn commented on #766
@suryayadavalli Please provide an estimate of time required.

[2019-11-26 21:28] eric-jahn commented on #632
servinglynk/hslynk-open-source@8ba9e8a

[2019-11-30 03:17] eric-jahn commented on #650
related: https://github.com/servinglynk/hslynk-open-source-docs/issues/766

[2019-12-03 19:24] suryayadavalli commented on #766
_Add PUT v20XX/enrollments/{enrollment_id} for every HMIS version (2014-2020) - allows for modifying enrollments, so that they have matching household IDs._
Make changes to enrollment entity to carry household Id for the PUT v20xx/enrollments/{enrollment_id} API to work.
_Add GET v20XX/household/{household_id} for every HMIS version (2014-2020), which would return a list of household members, thei

[2019-12-03 19:25] suryayadavalli commented on #762
Work in progress.

[2019-12-03 19:31] suryayadavalli commented on #758
Complete. Commit Id # aedc0d36ff028ad90538cd136f1b59879bfd0205

[2019-12-03 19:32] suryayadavalli commented on #173
Complete. Commit Id # hmis-api/global-api@d44f6ca

[2019-12-03 19:32] #173 closed

[2019-12-03 19:33] #758 closed

[2019-12-03 20:29] eric-jahn commented on #765
@logicsandeep will deploy this weekend

[2019-12-03 20:29] eric-jahn commented on #755
@logicsandeep will center and deploy

[2019-12-05 13:13] eric-jahn commented on #167
duplicate of 767

[2019-12-05 13:13] #167 closed

[2019-12-06 15:13] eric-jahn commented on #384
adding nested collections and overlap
![project subgroups for web article2](https://user-images.githubusercontent.com/4115079/70333168-ffe59200-1810-11ea-996c-7292601c44b0.png)

[2019-12-06 20:29] eric-jahn commented on #755
@logicsandeep please close with the commit id, if you have finished this

[2019-12-06 20:30] eric-jahn commented on #749
@logicsandeep please close with the commit id, if you have finished this

[2019-12-06 20:34] eric-jahn opened #768 "project subgroup nesting"
related to #384

[2019-12-06 20:39] eric-jahn commented on #767
elastic search versus elastic database cache (another issue)

[2019-12-06 20:42] eric-jahn opened #769 "elastic cache"
for cache database queries or computational logic, for frequently accessed

[2019-12-06 20:46] eric-jahn commented on #762
Connection issue between the web server and Jenkins to resolve.

[2019-12-07 13:52] logicsandeep commented on #769
Is this redis cache ?

[2019-12-10 18:11] eric-jahn commented on #765
@logicsandeep Can you please close this with the commit, if it is deployed?

[2019-12-10 18:26] eric-jahn commented on #384
@suryayadavalli is enabling nested subprojects, as a bugfix

[2019-12-10 18:27] suryayadavalli commented on #762
This is resolved. Web app configurations are checked in. Verified by setting up a new instance, attaching to the load balancer and see if the requests are going through without any issues.

[2019-12-10 19:51] logicsandeep commented on #765
After research, I found out that the user service needed to be deployed. I tested the admin app after deploying user service and resolved this issue.

[2019-12-10 19:51] #765 closed

[2019-12-12 22:39] logicsandeep commented on #755
https://github.com/servinglynk/hslynk-open-source/commit/724d18ea1c40566ec8e23e9c6ecb79eff269adfe

I'm closing this ticket.

[2019-12-12 22:39] #755 closed

[2019-12-17 02:48] eric-jahn opened #770 "end support for Node.js 8.x"
From: "Amazon Web Services, Inc." <no-reply-aws@amazon.com>
Date: December 12, 2019 at 10:28:51 PM EST
To: wnb1027@gmail.com
Subject: AWS Lambda: Node.js 8.10 is EOL, please migrate your functions to a newer runtime version [AWS Account: 746993091049]

Hello,

We are contacting you as we have identified that your AWS Account currently has one or more Lambda functions using Node.js 8.10, which will

[2019-12-17 21:30] suryayadavalli commented on #762
Commit Id #
https://github.com/servinglynk/hslynk-config/commit/406f479944795cced418b1c912aa51c51ada60d9

[2019-12-17 21:30] #762 closed

[2019-12-17 21:31] suryayadavalli commented on #766
12/17 - Work in progress. Another 20% development work remaining on this task. Will move on to testing and documentation right after this and target to roll-out the changes during the week-end, or early next week, the latest.

[2019-12-19 13:10] logicsandeep commented on #286
This task is completed All of my changes related to this task is in this branches.
https://github.com/servinglynk/hslynk-open-source/tree/feature/HmisExport

[2019-12-19 13:10] #286 closed

[2019-12-19 13:12] logicsandeep opened #771 "Fix Eclipse workspace start up issues post GitHub vulnerabilities upgrade."
Fix Eclipse workspace start-up issues post GitHub venerabilities upgrade.

[2019-12-19 13:13] logicsandeep opened #772 "Install nexus and save artifacts to nexus and use that for deployment."
Install nexus and save artifacts to nexus and use that for deployment.

[2019-12-19 15:28] eric-jahn commented on #772
duplicate of #343

[2019-12-19 15:28] #772 closed

[2019-12-20 19:44] logicsandeep commented on #749
https://github.com/servinglynk/hslynk-open-source/commit/90f3f858dff6d2c04519aab7b6bdbaf82616b403#diff-c11593117e3f7f30428c1cc9aa45121d

https://github.com/servinglynk/hslynk-open-source/commit/3b978b6749744f8c55d72d5597d6077ecd07b463#diff-c11593117e3f7f30428c1cc9aa45121d

[2019-12-20 19:44] #749 closed

[2019-12-22 00:51] eric-jahn opened #773 "API clean-up task"
We need to make the APIs consistent.  Thee are some of the things that need to be made consistent.

- Examples and model in all APIs
- "{ClientId}" instead of "{Clientid}"
- consistent cases: "/global-households" instead of "/global-Households"

* All changes will only cause the prior API signature to be marked as "deprecated", so no existing system will be impacted by these changes, until they at

[2019-12-23 00:46] eric-jahn opened #774 "authentication errors and client consent page should show the HSLynk logo, same as on the login page"
right now, it shows the ServingLynk logo like this:
![auth](https://user-images.githubusercontent.com/4115079/71329481-c8a30080-24f3-11ea-899a-c5882b93f1e9.png)

[2019-12-27 15:14] eric-jahn commented on #767
@suryayadavalli Could you comment on this issue with an estimate of effort?

[2019-12-31 17:45] suryayadavalli commented on #766
Completed and deployed.
Commit id : https://github.com/servinglynk/hslynk-open-source/commit/92b89c52af15ed648204059ea7edcf56a71dfe6e

[2019-12-31 18:06] logicsandeep commented on #771
This issue is fixed.
https://github.com/servinglynk/hslynk-open-source/commit/4572dca05a8b5f6d256453cb8b232dc0ca0950f0

[2019-12-31 18:06] #771 closed

[2020-01-06 21:36] #766 closed

[2020-01-07 16:36] logicsandeep commented on #735
All of my changes related to file export is in this branch. They are also merged back to master and develop.
https://github.com/servinglynk/hslynk-open-source/tree/feature/HmisExport

[2020-01-07 16:36] #735 closed

[2020-01-07 17:53] suryayadavalli commented on #773
Changes are complete to make API documentation consistent. No impact to the customers.

Pending task is to come up with the schema definition for each model. This will take much longer time due to the amount of models we maintain across the board. Will pick up this task shortly.

[2020-01-07 17:57] logicsandeep commented on #774
https://github.com/servinglynk/hslynk-open-source/commit/25a55487eec2ce3d4f631823e473e18d83e65ea7

[2020-01-07 17:57] #774 closed

[2020-01-07 18:00] suryayadavalli commented on #768
Dev complete however haven't deployed yet as there are couple of functional issues noticed with testing.  Currently trying to address these issues and will target to resolve by tomorrow.

[2020-01-07 19:09] suryayadavalli commented on #767
@eric-jahn : I will provide the estimate by Friday on this project. I am currently contemplating the architecture as to how this needs to be set up as there are few tailor-made scenarios in HMIS.

1. We route the data to base client from several micro services (2014, 2015, 2016, 2018, 2020) etc. Any client insertions and updates made in these version specific services in turn will trigger changes

[2020-01-07 19:50] eric-jahn commented on #773
![example](https://user-images.githubusercontent.com/4115079/71924395-e8296280-315c-11ea-8266-54f5bf2988ae.png)

I was also thinking about the inconsistencies shown above.

[2020-01-10 16:42] eric-jahn opened #775 "push notifications for in-app notification and retrieval of exports/reports."

[2020-01-14 06:15] suryayadavalli commented on #773
API Spec Name | API Documentation (Only) Changes | Kebab-Case in URI Present ? | No of APIs need to changed / deprecated | Camel case in URI Present ? | No of APIs need to changed / deprecated
-- | -- | -- | -- | -- | --
Global API | Yes | Yes | 24 | Yes | 4
v2020 | Yes | No | 0 | Yes | 42
v2017 | Yes | No | 0 | Yes | 42
v2016 | Yes | No | 0 | No | 0
v2015 | Yes | No | 0 | No | 0
v2014 | Yes | No

[2020-01-14 06:18] suryayadavalli commented on #773
Work is still in progress. Will complete in a day or two however, will roll-out the changes along with documentation, during the coming week-end **01/18.**

[2020-01-14 06:27] suryayadavalli commented on #384
Resolved, rolled-out to production.
**Commit #** https://github.com/servinglynk/hslynk-open-source/commit/629105656fa8e0454afba6b8cd3bc0dcca6d279f

[2020-01-14 06:28] suryayadavalli commented on #768
Resolved and rolled-out to production
https://github.com/servinglynk/hslynk-open-source/commit/629105656fa8e0454afba6b8cd3bc0dcca6d279f

[2020-01-14 06:28] #768 closed

[2020-01-14 06:28] #384 closed

[2020-01-14 06:31] suryayadavalli commented on #775
@eric-jahn : I will work on the smart device (mobile app) registration, activation and push notification architecture for the platform. This will be an high value business feature as having this design will help users to be able to leverage other security features (like MFA), security alerts, other notifications as per user preferences.

[2020-01-14 06:32] suryayadavalli opened #776 "Maven dependency hierarchy changes"
The goal is have single point of reference for the version of the libraries we are using - across the board.  Will model this after the proven Spring boot approach (the same way spring boot maintains the versions for all the libraries that it depends while building the dependency tree).

Currently work in progress and will be able to development complete this by mid of next week.  Will keep updati

[2020-01-14 07:02] suryayadavalli commented on #776
@eric-jahn : Analyzed end to end changes for this task and this is going to be a 30 hour task including changes, dev and prod, deployment and regression testing end to end.

[2020-01-14 14:20] eric-jahn opened #777 "serve APIs also from api.hslynk.com"
in conjunction with the current location (https://hslynk.com/rest...).  After this, we can move customers to api.hslynk.com, to free up the website, per https://github.com/servinglynk/hslynk-web/issues/10 .

[2020-01-17 07:56] suryayadavalli commented on #776
Work in progress. Targeting to close the development work by mid of next week and deployment latest by 01/24.

[2020-01-17 08:00] suryayadavalli commented on #777
Will complete this task on 01/18. Will update the ticket once its complete.

[2020-01-19 00:13] logicsandeep opened #778 "Remove .settings files from hmis repo and inlude them in the .gitignore"
Remove .settings files from hmis repo and inlude them in the .gitignore.

[2020-01-19 00:16] logicsandeep commented on #778
https://github.com/servinglynk/hslynk-open-source/pull/338

[2020-01-19 00:16] #778 closed

[2020-01-21 15:12] eric-jahn opened #779 "Add troubleshooting error messages to HMIS CSV upload tool"
common errors encountered which we should handle:
-if CSV files are not directly within the zip archive, then present an error message on the screen and via the APIs.

-if the order of the columns is not correct, state which one column is not in the place expected.

-if the files are not in a ZIP archive or one of the supported archive formats.

-what else?

-This should work for all versions of H

[2020-01-24 14:51] suryayadavalli commented on #773
  | Documentation (only) Changes | Requires API Chnages |  
-- | -- | -- | --
API Spec Name | API Documentation (Only) Changes | Kebab-Case in URI Present ? | No of APIs need to changed / deprecated | Camel case in URI Present ? | No of APIs need to changed / deprecated | Changes Deployed
Global API | Yes | Yes | 24 | Yes | 4 | Yes
v2020 | Yes | No | 0 | Yes | 42 | Yes
v2017 | Yes | No | 0 | Yes |

[2020-01-24 15:00] suryayadavalli commented on #773
  | Documentation (only) Changes | Requires API Chnages |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |  
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
API Spec Name | API Documentation (Only) Changes | Kebab-Case in URI Present ? | No of APIs need to changed / deprecated | Camel case in URI Present ? | No of A

[2020-01-24 20:27] eric-jahn opened #780 "Jenkins scheduling to display build status in Github"
If build is passing, shows up on github as passing/failing.

[2020-01-24 20:28] eric-jahn commented on #777
done

[2020-01-24 20:28] #777 closed

[2020-01-24 22:41] eric-jahn commented on #669
@logicsandeep will implement the feature in the admin app, once the API is complete.

[2020-01-31 16:47] eric-jahn commented on #612
It looks like OpenJDK 11 within the next 1-2 months should be our target candidate.

[2020-01-31 19:57] #343 closed

[2020-01-31 21:07] logicsandeep opened #781 "Provide clarification on how the survey submission date is populated in the eligible clients table."
Provide clarification on how the survey submission date is populated in the eligible clients table.

We've often seen clients records with older survey submission date and hence It would be great for everybody to understand how the survey submission date is populated in the eligible clients table.
@CTAJavier

[2020-02-01 13:10] logicsandeep opened #782 "Change active list rules in the hive view to match the API logic"
Change active list rules in the hive view to match the API logic

[2020-02-03 12:55] eric-jahn opened #783 "apostrophe in search"
"FYI, your client search does not gracefully handle  apostrophes ' it give a code 500 whenever any name with apostrophe is entered"
@CTAJavier

[2020-02-03 16:39] suryayadavalli commented on #783
Resolved and deployed.
Commit id: https://github.com/servinglynk/hslynk-open-source/tree/2e9f28cf8462dfb93eeeeffc5a1c24203e1e626e

[2020-02-03 21:50] CTAJavier commented on #781
Ok, Some clarification for this question.

The original reason for getting a submission date was because we had a requirement for the SubmissionID in Issue [208](https://github.com/hserv/coordinated-entry/issues/208), submission date was added in issue [268  ](https://github.com/hserv/coordinated-entry/issues/268)

To quickly recap the essence of those 2 issues that are relevant to this issue.

-

[2020-02-04 06:40] suryayadavalli commented on #776
- All the versions across the projects are moved to parent POM file (hslynk-parent). Parent POM is modified to included all the services / modules that we have so far.
- Any dependency included in the individual micro service / core module will inherit the dependency from the parent POM.
- Any change / upgrade / downgrade to the versions can be done in the parent POM and the same version will be r

[2020-02-04 06:40] suryayadavalli commented on #776
@logicsandeep : can you please test load processor and report service in your local environment and deploy the changes.

[2020-02-06 16:04] suryayadavalli commented on #781
@CTAJavier : I looked at this issue in detail. I think here how the current implementation is in place.

**1. The submission date Client Survey Submission table**

- When the responses are submitted, populate the effective date as the submission date in Client Survey Submission table.
-   When the scores are submitted, if the submission date is null (which means effective date is NOT passed earlie

[2020-02-06 16:41] CTAJavier commented on #781
@suryayadavalli it should be the Latest score submitted date.

[2020-02-07 20:51] eric-jahn opened #784 "add households to global client's Golden View"
Along with the existing enrollments and a global client's HMIS records and completed surveys, the Golden View should list links to all the global households that a global client is a member of.  From there, all version specific and generic households can be obtained with the existing method https://docs.hslynk.com/#/default/get_globalhouseholds__globalhouseholdid_ .

Generic households can then be

[2020-02-07 21:04] logicsandeep commented on #782
https://github.com/servinglynk/hslynk-open-source/commit/8aa1248e7882ff6cf9eb62b56a63469f6d6b9400

https://github.com/servinglynk/hslynk-open-source/commit/694b621bf94dc195c8f8e8318b071c2ffaa2893f

https://github.com/servinglynk/hslynk-open-source/commit/defb5123105bc64dff76fb2dd12a132ce0e8da52

https://github.com/servinglynk/hslynk-open-source/commit/12c85246e08169894779b57991b30fe0d83d810e

[2020-02-07 21:04] #782 closed

[2020-02-10 15:23] eric-jahn opened #785 "Add global client IDs of global household members to existing household information provided by GET /globalhouseholds/{globalhouseholdid}"
...and when membership in the global household changes, pub/sub notifications update this global household membership.
https://docs.hslynk.com/#/default/get_globalhouseholds__globalhouseholdid_

related: https://github.com/servinglynk/hslynk-open-source-docs/issues/784

[2020-02-10 17:28] eric-jahn commented on #785
Not necessary if we document the actually existing GET for https://docs.hslynk.com/?urls.primaryName=2020%20Apis#/operations/default/PUT_member_household , and since we already have https://docs.hslynk.com/?urls.primaryName=Generic%20Household%20Api#/default/get_generichouseholds__generichouseholdid__members .

[2020-02-10 17:28] #785 closed

[2020-02-10 20:12] eric-jahn opened #786 "Implement Coordinated Entry APR"
[HUD CE APR Programming Specifications 2020 02 06.docx](https://github.com/servinglynk/hslynk-open-source-docs/files/4182836/HUD.CE.APR.Programming.Specifications.2020.02.06.docx)

[2020-02-11 01:27] eric-jahn commented on #251
![image](https://user-images.githubusercontent.com/4115079/74205087-cd5a7a00-4c43-11ea-9b99-fc293495e234.png)

[2020-02-11 19:48] #781 closed

[2020-02-11 19:54] #783 closed

[2020-02-12 00:01] eric-jahn commented on #549
https://slack-redir.net/link?url=https%3A%2F%2Fdocs.hslynk.com%2Fdb%2Fmetadata%2Fmetadata.html

[2020-02-12 00:01] #549 closed

[2020-02-12 00:33] eric-jahn opened #787 "Documentation clarifying how to capture HMIS and specifically HMIS 2020 Coordinated Entry survey questions and responses, so that they are available in the 2020 schema"
sequence of API call examples needed in wiki page

documentation started here: https://github.com/servinglynk/hslynk-open-source-docs/wiki/how-to-use-the-survey-builder-tool-in-HSLynk-to-capture-APR-reportable-HMIS-data-elements

@CTAJavier

[2020-02-12 03:49] logicsandeep commented on #408
This issue can be fixed. We don't re-insert duplicate records.

[2020-02-12 03:49] #408 closed

[2020-02-17 15:20] logicsandeep opened #788 "Implement chronichomelesness via pub/sub model"
Chronic homlessness calculation process should be implemented via pub/sub model and should be triggered via the following process/Apis.

1) After Bulk upload is done.
2) PUT/POST/DELETE of underlying HMIS Data Standard element  3.917.x enrollment data which determines chronic homelessness.

[2020-02-22 12:53] logicsandeep opened #789 "Fix file download issue on Mac from the admin app due to the Angular Js version"
Fix file download issue on Mac from the admin app due to the Angular Js version

[2020-02-22 12:53] logicsandeep opened #790 "Fix Project group creation in the admin app"
Fix Project group creation in the admin app

[2020-02-22 12:54] logicsandeep opened #791 "Fix the bulk uploader code post dependencies upgrade."
Fix the bulk uploader code post dependencies upgrade.
The bulk uploader process does not start up due to the dependencies change  and needs to be fixed.

[2020-02-23 12:57] logicsandeep opened #792 "Fix Hue page error when accessing hive database"
Fix Hue page error when accessing hive database

[2020-02-25 21:34] logicsandeep opened #793 "Make changes to the bulk uploader process to populate the hmis_household table in the version specific schema"
Make changes to the bulk uploader process to populate the hmis_household table and also add source_house_hold_id filed in the database to associate members in a household in a version-specific schema.
related: #794, #795

[2020-02-28 18:20] eric-jahn opened #794 "Dynamically populate the global household table in the base schema from changes in the version specific schema's local household IDs"
The algorithm will look at the version specific HSLynk household table's source system household ID (probably using pub/sub notifications to be alerted of changes) to create linkages automatically.  Otherwise, we will rely on the customer's use of APIs to correctly link version specific to global households.  We will likely have to also associate a source system ID to the source system household I

[2020-02-28 18:22] eric-jahn commented on #793
related issue #794

[2020-02-28 18:29] eric-jahn opened #795 "generate an HSLynk native household IDs in each version specific schema, and cease reliance on source system household ID"
We will still keep source system household ID though, for global household auto-matching purposes.
related #794, #793

[2020-02-28 21:37] eric-jahn opened #796 "OpenEMPI anonymous and hashed clients in HSLynk"
Change our MPI matching, so that if less than two personal identifiers are received, a new client id is generated, since it can't be matched.  Right now, it errs, and sometimes crashes, when a client with less than two identifiers is posted to HSLynk.  Of course, this will create a data quality issue, that the customer will have to address through training and data clean-up, but the system will co

[2020-02-28 21:39] logicsandeep opened #797 "Limit Open EMPI retries to 3"
Minimize Open empi retries to 3

[2020-02-28 22:08] eric-jahn opened #798 "add a double-post flag to our survey APIs, for double posting to a version specific schema."
We'd add a flag with the HMIS version you'd want to double-post to (2020, 2022) and the enrollment id to add to.  We'd look at the question type to know which HMIS field to populate.

[2020-03-02 15:42] eric-jahn opened #799 "configure notifications for helpdesk system"

[2020-03-03 12:02] eric-jahn commented on #796
@logicsandeep CTA understood the need for this.  How many hours will it take to accomplish?

[2020-03-05 16:21] eric-jahn commented on #787
https://github.com/servinglynk/hslynk-open-source-docs/wiki/How-to-use-the-survey-builder-tool-in-HSLynk-to-capture-APR-reportable-HMIS-data-elements/99928926b4a001ae9e98581b0076f0926e76291a

[2020-03-05 16:21] #787 closed

[2020-03-08 15:10] logicsandeep opened #800 "Send Project group code to OpenEMPI when creating new clients"
Send Project group code to OpenEMPI when creating new clients

[2020-03-10 18:24] suryayadavalli commented on #799
Complete now.

[2020-03-10 18:24] #799 closed

[2020-03-13 19:31] suryayadavalli opened #801 "Upgrade Postgres version"

[2020-03-13 19:32] suryayadavalli opened #802 "Renew hslynk SSL certificate"
*.hmislynk.com will expire on April 10, 2020, 4:59 pm

[2020-03-17 17:22] suryayadavalli commented on #794
**Below are the changes that are being done to meet this requirement**
1. Consider the current column **househouldid** in the enrollment entity as "source system house hold Id".
2. Add an additional column in enrollment entity to carry hmis house hold id.
3. Add an additional column in hmis_house_hold entity to carry "source system house hold id" and also "source system Id"
4. Each time an enrollm

[2020-03-17 17:34] suryayadavalli commented on #793
Create a pub/sub handler for File upload process which determines the global house hold associations and generates them automatically.

[2020-03-17 17:38] eric-jahn commented on #794
@suryayadavalli for #1, would there ever be situations where a household ID in an enrollment entity had actually come from the APIs and is not to be considered the source system household ID but rather an HMIS household ID?

[2020-03-18 00:44] suryabi commented on #794
@eric-jahn :   If the enrollment is created via APIs,  it will be HMIS house holdID like you mentioned, and then it will be stored in a **new column** that will be set up (Please refer to #2 ). Hope that clafifies.

[2020-03-18 01:12] logicsandeep commented on #794
@suryabi  @eric-jahn is correct,  household id is not a required field in the enrollment API. So when an enrollment is created without a household Id our logic will not work. In those cases we need to leave the global household id as null.

**Also reading the above comment.**
2. Add an additional column in enrollment entity to carry hmis house hold id

I don't think we need to add hmis house hold

[2020-03-18 01:23] suryabi commented on #794
@logicsandeep : In the second section of the changes proposed, we have the following
#3 Create new version of enrollment API to accept only hmis house hold Ids (Not source system house hold ids).
Essentially, new version of enrollment API will accept the HMIS house hold id, as opposed to source system house hold ID.

Also, in the version specific enrollment entity, we will add version specific hmi

[2020-03-18 04:18] eric-jahn commented on #794
@suryabi : It sounds like you have it correct.  If the enrollment entity is used by both the APIs and the bulk uploader, then I would modify #1 to read "For bulk uploaded enrollment data, consider the current column househouldid in the enrollment entity as "source system house hold Id which should be migrated to a new source system household Id field.
API submitted enrollments should possess an HS

[2020-03-18 10:08] logicsandeep commented on #794
Essentially, new version of enrollment API will accept the HMIS house hold id, as opposed to source system house hold ID.

This will not work. How do you expect a user to know the hmis household id ?

[2020-03-18 14:29] suryayadavalli commented on #794
@logicsandeep : The user is expected to know the hmis house hold id by making a API call to GET existing households. Do you see any issues ?

[2020-03-18 15:52] eric-jahn commented on #794
That is the normal workflow in HMIS: a person's household is determined (single person household, or with an existing or newly created household).  At that point the HMIS household ID is acquired.  Then, that household is enrolled with the HMIS household ID.

[2020-03-18 16:05] logicsandeep commented on #794
@eric-jahn  What if an enrollment is created by calling the enrollment api directly. What do we do in those cases ?

[2020-03-18 16:14] eric-jahn commented on #794
@logicsandeep the HMIS Household ID will have to be a required field.  It should have been required before when we used Source System Household ID.  It's also required (nillable = "N") for HMIS CSV/XML enrollments.
![hh](https://user-images.githubusercontent.com/4115079/76982157-de1ca080-6911-11ea-8330-eec907c8398c.png)

[2020-03-18 16:21] logicsandeep commented on #794
@eric-jahn, Interesting. I really think we might want the nullable field in the questions API.

[2020-03-18 17:07] eric-jahn commented on #794
@logicsandeep Maybe to inform the app developer that it's required by HUD if you're submitting the full HMIS entity that the question is within.  But we couldn't enforce it with the questions API.  Sometimes when filling out a survey, it is to update a response already submitted, and they might just want to submit one isolated response without the others in the HMIS entity.

[2020-03-18 17:20] eric-jahn commented on #669
@logicsandeep can you implement this in the admin app?  The APIs are ready.

[2020-03-20 16:00] logicsandeep opened #803 "2020 API cosmetic changes."
I found a few issues with the API specification/code while I was testing the APIs
1) There's a mismatch between the swagger API url and the code
1.1) projectCocs is projectcocs in the code (lowercase c)
1.2) enrollmentCocs is enrollmentcocs in the code
1.3) serviceFaReferrals is servicefareferrals in the code
2) We don't need these APIs and need to remove them from the API documentation
1.1 /conta

[2020-03-24 14:56] eric-jahn commented on #792
@logicsandeep please close with the commit

[2020-03-24 15:11] eric-jahn commented on #797
@logicsandeep please close with the commit

[2020-03-24 15:25] eric-jahn commented on #796
I think we need to game out the pros and cons of shredding the hashed identifiers into the existing first name/last name/SSN fields.

Pros: less time to code.  No alterations to OpenEMPI match fields.
Cons: hashed gibberish will pollute the FN/LS/SSN fields.  This could cause huge problems downstream (removing from search results, no easy way to separate)

[2020-03-27 15:54] eric-jahn commented on #251
PDF report is dropped from the HSLynk requirement.  HDX 2.0 has tabs with the formatted report, including validation.

[2020-03-27 17:39] eric-jahn opened #804 "need to remove APR PDF download functionality"
...or comment it out

![aprchange](https://user-images.githubusercontent.com/4115079/77784133-6b59a680-7030-11ea-902c-7a6a8483d93f.png)

[2020-03-27 18:06] suryayadavalli commented on #794
@logicsandeep :

**Please look at the following model and service implementation to create HMIS house hold entity during enrollment data processing**
https://github.com/servinglynk/hslynk-open-source/blob/794_Dynamically_populate_global_household/hmis-serialize-v2020/src/main/java/com/servinglynk/hmis/warehouse/core/model/HmisHousehold.java

https://github.com/servinglynk/hslynk-open-source/blob/7

[2020-03-27 18:59] eric-jahn opened #805 "report email subject typos"
![report](https://user-images.githubusercontent.com/4115079/77790364-12434000-703b-11ea-9abb-dbb0585463fa.png)

Hslynk -> HSLynk
ReportReport -> Report "Report for ..." (we need to add a space and quote the report name, in the email subject line)

[2020-03-27 19:01] suryayadavalli commented on #802
Configured SSL cert from Amazon, so no additional cost is incurred.
![image](https://user-images.githubusercontent.com/10738348/77790361-ebc4db00-7021-11ea-9475-791eb8d17daf.png)

New cert validity dates here and all the sub domain are set up with this new cert now. Also, this will be auto renewed going forward every year.
![image](https://user-images.githubusercontent.com/10738348/77790312-d64fb1

[2020-03-27 19:03] suryayadavalli commented on #802
Complete. Resolved.

[2020-03-27 19:03] #802 closed

[2020-03-27 19:26] eric-jahn commented on #803
@logicsandeep if this is done, can you close it with the commit?

[2020-03-29 16:15] logicsandeep commented on #803
https://github.com/servinglynk/hslynk-open-source/commit/582554fd7bfe6f7e6cf2363854818f0469537575

This issue is completed and can be closed.

[2020-03-29 16:15] #803 closed

[2020-03-29 16:16] logicsandeep commented on #800
https://github.com/servinglynk/hslynk-open-source/commit/b2fa63216ba50eeecf33135af6210aad09c24919

We're sending project group to open EMPI.

[2020-03-29 16:16] #800 closed

[2020-03-29 16:19] logicsandeep commented on #797
Dedup Id open EMPI retry limit changes.
https://github.com/servinglynk/hslynk-open-source/commit/babb8ebc5e4b16c9126406dc0cf5ece425c7f468

[2020-03-29 16:19] #797 closed

[2020-03-29 20:36] logicsandeep commented on #792
The Hue page now loads for Hive and impala.

[2020-03-29 20:36] #792 closed

[2020-03-29 20:37] logicsandeep opened #806 "Restructure 2020 API to better organize assessment APIs"
Restructure 2020 API to better organize assessment APIs
The assessmentresults and assessmentquestions should be under assessments API.

The API path should be /clients/{clientid}/enrollments/{enrollmentid}/assessments/{assessmentid}/assessmentquestions
but it is
/clients/{clientid}/enrollments/{enrollmentid}/assessmentquestions

Likewise for assessmentresults APIs.

[2020-03-30 15:20] eric-jahn commented on #805
I modified this issue a little, since I see part of it comes from the "Report Name" field in the APR report specification section.  But there are still to-dos.

[2020-04-03 16:47] eric-jahn opened #807 "merging OpenEMPI and other Postgres instances"
We decided to go ahead with this to save costs and simplify.  It will take some development time.

[2020-04-03 17:20] sdolia commented on #807
Tasks/risks to do if we merge Open EMPI to the same database as HMIS
1) Data migration from Open EMPI to HMIS
2) Make changes to the connection configuration to and make sure everything works fine.
3) Having all our applications pointing to the same RDS encourages for a single point of failure.
4) If there's any issues with our RDS all of our applications will be impacted.
5) We still need to do T

[2020-04-03 17:23] logicsandeep commented on #807
Tasks/risks to do if we merge Open EMPI to the same database as HMIS

1)Data migration from Open EMPI to HMIS
2) Make changes to the connection configuration to and make sure everything works fine.
3) Having all our applications pointing to the same RDS encourages for a single point of failure.
4) If there's any issues with our RDS all of our applications will be impacted.
5) We still need to do T

[2020-04-03 17:40] eric-jahn commented on #807
@logicsandeep thank you!  How much does the OpenEMPI RDS cost a month, by itself?  Also, how much would the cost of the other RDS go up if they were merged?  That will give us a gauge for how long it would to take to recover the development effort to merge them.

[2020-04-03 18:42] eric-jahn commented on #784
@suryayadavalli : can you close this with the commit id? Thanks!

[2020-04-03 21:16] suryayadavalli commented on #807
Updating this ticket to we have a track of what we discussed.

1)Data migration from Open EMPI to HMIS
2) Make changes to the connection configuration to and make sure everything works fine.
_Both the tasks above are minor tasks. The migration effort is far less than the data purge exercise that we did for Monterey recently._

3) Having all our applications pointing to the same RDS encourages for

[2020-04-04 12:07] logicsandeep commented on #725
https://github.com/servinglynk/hslynk-open-source/pull/393

[2020-04-04 12:07] #725 closed

[2020-04-05 14:54] eric-jahn opened #808 "add the generated version specific hmis and global HouseholdIds to the response for POST /enrollments"
If the hmisHouseholdId is not included in the *request* for POST /enrollments, then a new version speeicific hmisHouseholdId (and also the global household ID) is necessarily generated and should always be returned, so app knows the new household ID.

[2020-04-05 15:25] eric-jahn opened #809 "add an optional "genericHouseholdId" in the POST /enrollments request and enroll members"
When the optional generic household ID is present in the POST /enrollments request ID, a procedure is initiated to:
1. store in memory the returned newly generated version-specific hmisHouseholdId and genericHouseholdId from POST /enrollments just called (see issue #808), also keeping in mind the ID of the client for whom this first enrollment was POSTed.
1. look up the generic household ID in the

[2020-04-08 17:42] suryayadavalli commented on #808
@eric-jahn : what if the client has an exiting hmis hold id, which could happen in two ways.

1) Client already has enrollments, that are associated with a HMIS HOUSE HOLD ID already . Can we use the same HMIS HOUSE HOLD ID to associate with this new enrollment ?
2) The user might have called version specific house hold using POST /hmis-hous-holds , but haven't included that hmis house hold id whe

[2020-04-08 18:30] eric-jahn commented on #808
@suryayadavalli:

for question 1): An HMIS householdID can be reused, even across different clients (which thereby joins them as an HMIS household).  But I don't think an HMIS householdID can be reused across HMIS enrollments for the same HMIS client.  That is because the definition of an HMIS household ID is: the unique ID shared by all HMIS household members, for a single HMIS [version-specific]

[2020-04-11 00:09] eric-jahn opened #810 "user actions audit tracking"

[2020-04-12 17:55] logicsandeep commented on #796
Create columns to store the hash value in the v2014, v2015, v2016, v2017, v2020 and base schema.
first_name_hash
last_name_hash
middle_name_hash
ssn_hash
contains_hash
**Bulk Upload XML/CSV changes:**

`if (hashStatus > 1) {`
` store the data in the hash column (first_name_hash, last_name_hash, middle_name_hash, ssn_hash)`
` }`
`else  {`
 `store the data in the regular fields (first_name, last_nam

[2020-04-13 07:36] suryayadavalli commented on #809
@eric-jahn :  working on implementing this, however, it looks little complicated than I thought.

**_I would like to consider the following scenario and drive it through the requirement so we are clear._**
Lets say we have 2017 POST /enrollments call with a global house hold id.  As per the requirement #3 above,  technically the following should happen.
For the specific global house hold id in the

[2020-04-13 15:07] eric-jahn commented on #796
We are going to store the hashes in the version specific db, but treat hashed IDs the same as clear text IDs in the MPI

[2020-04-13 15:07] #796 closed

[2020-04-13 15:10] eric-jahn opened #811 "full hashed identifier support"
For all the HMIS Data Standards 2014-2020, and following the hashing format guidelines in the 2020 HMIS Data Standard, add full hashed identifier support.

**Base Schema changes**
The base schema will have the following fields added to store the hashing type for each of the identifiers contained within it's name.

[code]

**Bulk Upload XML/CSV changes:**

`if (hash_type > 1) {`
` store the data  w

[2020-04-13 15:10] eric-jahn commented on #179
folded into #811

[2020-04-13 15:10] #179 closed

[2020-04-13 16:44] eric-jahn commented on #809
@suryayadavalli Ah, it's really good that you caught the fact that a global household can tie together households from many version specific schemas.  The good news is, if they are 2020 POST /enrollments for a given global household, we only need to consider the one matching 2020 HMIS version specific household for that global household (there should never be 2 x 2020 HMIS households linked to a s

[2020-04-13 19:47] suryayadavalli commented on #809
Okay, Thanks for the clarification. So, I think the following will be the scope of this requirement. Can you please check . Also, I have another question here.

Requirement
When POST /enrollments is called with a global house hold id, GET the associated house hold members for that version specific house hold and create enrollments for all the other members of the house hold (except the client for

[2020-04-13 19:57] eric-jahn commented on #809
@suryayadavalli To your question

, yes, we would always POST a new enrollment.   HMIS enrollments are unique HMIS household ID for a given person, and to HMIS projects.  Two people in the same project can have the same HMIS household ID, and must also have different HMIS enrollment IDs, and that sharing of a common HMIS household ID makes them co-members an HMIS household.

[2020-04-13 20:00] eric-jahn commented on #809
There is one problem with what you wrote:

Instead you would GET the associated household members for that _**global**_ household

[2020-04-14 19:54] eric-jahn commented on #808
completed, not deployed per @suryayadavalli

[2020-04-14 20:59] eric-jahn commented on #809
fixed references to say "generic households" above.

[2020-04-16 00:39] logicsandeep opened #812 "APR report updates to functional specification"
We've posted an updated version of the APR/CAPER programming specifications with a clarification added to the instructions for Q8b (PIT count of households) that clients must not be exited on the point in time date in order to be included. This is consistent with the instructions that are written for Q7b (PIT count of persons) but was unintentionally left off the instructions for Q8b.

The updated

[2020-04-20 16:37] eric-jahn opened #813 "add further platform install info to README"
Add JDK, Postgres install instructions to README
https://github.com/servinglynk/hslynk-open-source/blob/master/README.md

[2020-04-26 01:33] eric-jahn opened #814 "Generic enrollment can be created without global project and Global enrollment."
An enrollment requires a project to be associated with it, or it is unknown what they are enrolled in exactly.  During general enrollment creation, if they are provided, we are checking for their validity, however, we are not mandating them.
![postgenericenrollments](https://user-images.githubusercontent.com/4115079/80294951-45611800-873c-11ea-81a4-fa33670e46d4.png)

This may also cause the generi

[2020-04-26 02:43] eric-jahn opened #815 "generic enrollment and global enrollments need to be semantically reversed ..."
Global enrollments should be hierarchically above, at the root of, the enrollment hierarchy, pointing to any combination of version specific and generic enrollments in within the same global project id.  This will make them similar to how global households are above generic households, hierarchically.

[2020-04-26 02:44] eric-jahn commented on #814
replaced by the  issue #815

[2020-04-26 02:44] #814 closed

[2020-04-27 14:24] eric-jahn opened #816 "Make a workstation deployable containerized HSLynk for hackathons"
Perhaps a docker/kubernetes deployable version, with a minimal HBase implementation, etc..  Eventually, the full enterprise deployment could acquire these features as well.

[2020-05-01 18:48] eric-jahn commented on #788
@logicsandeep how much time would this take?

[2020-05-01 22:06] eric-jahn commented on #788
@logicsandeep will estimate effort for a contract.

[2020-05-02 12:45] logicsandeep commented on #669
eeed05dfd24c978771fb5655106c445e3dc99766

[2020-05-02 12:45] #669 closed

[2020-05-02 12:46] logicsandeep commented on #669
https://github.com/servinglynk/hslynk-open-source/commits/hotfix-2.21.1

[2020-05-02 12:47] logicsandeep commented on #669
https://github.com/servinglynk/hslynk-open-source/commit/eeed05dfd24c978771fb5655106c445e3dc99766
https://github.com/servinglynk/hslynk-open-source/commit/818536122538e764f6e6eed8036e241e0775933d

[2020-05-05 18:44] eric-jahn opened #817 "Enrollment child count API"
...showing, for example, the count of disabilities, so API calls do not have to be made to look for any disabilities (and every other child table), whether or not child tables are actually populated with data.

[2020-05-08 17:37] eric-jahn commented on #688
This feature should be removed or at least turned off for CTA, with @CTAJavier 's agreement on 5/8.  It is problematic, because, from a HUD perspective, what would be the problem if there were 2 or 3 2020 VS (version-specific) clients with the same client dedupe id?  In reality, different users in different projects in the same project group will not all have access to each others' data, and will

[2020-05-08 17:38] eric-jahn commented on #688
let's roll this feature back...

[2020-05-08 17:50] eric-jahn commented on #688
https://support.hslynk.com/scp/tickets.php?id=415

[2020-05-08 18:16] suryayadavalli commented on #784
Commit id: https://github.com/servinglynk/hslynk-open-source/commit/96ea4fa835a512ae51762188077e40d103a400b6

Documentation : https://docs.hslynk.com/#/default/GET_search-searchentity

[2020-05-09 01:10] logicsandeep opened #818 "Create columns in the hive schema according to the HUD nomenclature"
Create columns in the hive schema according to the HUD nomenclature

[2020-05-09 01:34] logicsandeep commented on #793
https://github.com/servinglynk/hslynk-open-source/commit/1a1fa3bcbfabb6439a241049ecdeb4c4b08e994b

https://github.com/servinglynk/hslynk-open-source/commit/a9b8206f7617eaa125d9919eb9ee87a46f0157a8

[2020-05-09 01:34] #793 closed

[2020-05-09 19:01] eric-jahn commented on #794
Not disagreeing with anything said before, but adding a clarification for bulk uploads.  For the bulk uploads, say you've got an enrollment in the CSV or XML data from a source system.  That source system enrollment must have a source system household ID.  I'd first check when importing the source system enrollment, if the contained source system household ID was already mapped to an HSLynk HMIS h

[2020-05-09 19:03] eric-jahn commented on #793
Not disagreeing with anything said before, but adding a clarification for bulk uploads.  For the bulk uploads, say you've got an enrollment in the CSV or XML data from a source system.  That source system enrollment must have a source system household ID.  I'd first check when importing the source system enrollment, if the contained source system household ID was already mapped to an HSLynk HMIS h

[2020-05-11 20:25] suryayadavalli commented on #817
@eric-jahn : @logicsandeep and I connected toda to discuss this and we thought we will go with the approach that @logicsandeep was suggesting earlier with the following assumptions.

1) We are **not** going to provide this information with client search API. If this information is required to be provided , then the best approach would be to aggregate this information while the data is being ingest

[2020-05-11 20:29] suryayadavalli commented on #817
1) When a version specific hmishousehold is created we need to create a global household with members. ==> this will get us ready for Interoprathon
2) When a household is created we need to add at least 1 member. Every if he's a head of household.
3) When creating enrollments for members of the generic household  if the members are not in a version specific schema we need to create clients, hmisho

[2020-05-11 20:30] suryayadavalli commented on #817
- 1 is in place. Will work on  - 2 and  - 3 above

[2020-05-19 13:54] logicsandeep opened #819 "Add datecreated and dateupdated as part of GET /clientsurveysubmission API and any other survey API"
https://docs.hslynk.com/?urls.primaryName=Survey%20Service%20API#/default/GET_clientsurveysubmissions

[2020-05-19 13:55] logicsandeep opened #820 "Make relationship to HOH an enum field with the following types."
1) Make sure that the first member of the generic household is the head of the household.

2) make sure the relationship to hoh is an enum field and can have the following fields.

1 = Self (head of household)
 					2 = Head of household’s child
					3 = Head of household’s spouse or partner
					4 = Head of household’s other relation member (other relation to head of household)
 					5 = Other: n

[2020-05-19 13:57] logicsandeep opened #821 "Add hmis survey phase when we POST a survey"
Add hmis survey phase when we POST a survey.

We need to know if a survey is a
Pre-enrollment survey.
Enrollment Survey
Exit Survey

[2020-05-19 13:57] logicsandeep opened #822 "Add questionType called DATE to show the datepicker"
Add questionType called DATE to show the datepicker

[2020-05-19 17:29] logicsandeep opened #823 "Name all the fields in the datawarehouse to follow HMIS standards"
Name all the fields in the datawarehouse to follow HMIS standards

[2020-05-19 18:40] suryayadavalli opened #824 "Admin app - Ability to change the user's project group"
Initially, from the developer console we assign the developers to the test project group , so they can play with test data.  Once they are ready and start using their own test data, we should be able to switch them over to new project group with a new role.

1. Dockerize the Admin app
2. Make Admin runnable outside of the tomcat.
3. Fix hard coding in the admin app.

[2020-05-19 18:44] suryayadavalli opened #825 "Admin App - Ability to approve a Trusted app submitted from Developer console."
Currently developers can submit request for trusted apps.

Admin app should have a screen to list all the trusted apps to activate, enable / disable the trusted apps.

[2020-05-19 18:52] eric-jahn commented on #822
@logicsandeep I believe this needs to be moved to the other repo: https://github.com/hserv/coordinated-entry/issues .  Can you move it there, if you agree?

[2020-05-19 18:52] #822 closed

[2020-05-19 18:54] eric-jahn commented on #821
Also please add "At Entry Survey".  I'd change "Enrollment Survey" to "During Enrollment".  Also please move to https://github.com/hserv/coordinated-entry/issues.

[2020-05-19 18:54] #821 closed

[2020-05-19 20:03] eric-jahn opened #826 "Generic household POST causes the creation of a new global Household"
This way, a generic household will always be linked to a global, and not orphaned.  This already happens for HMIS households.

[2020-05-19 20:21] eric-jahn opened #827 "Add parent table name to each HMIS data element in Hive Views"

[2020-05-20 17:24] eric-jahn commented on #823
We currently have sufficient labeling and numbering, so we can close this issue.

[2020-05-20 17:24] #823 closed

[2020-05-21 15:42] eric-jahn commented on #817
@suryayadavalli how many hours will it take to make GET /enrollments/enrollment_id fetch the counts of all the children tables?

[2020-05-21 17:56] eric-jahn commented on #815
@suryayadavalli can you close this?

[2020-05-22 17:21] logicsandeep commented on #811
All the changes were merged from the below branch.
https://github.com/servinglynk/hslynk-open-source/commits/feature/client-hashed
7271957934d2d97299c1147b293498193bbc886e
13ecf93ad11c937ca21026a49e0b886f25aaa4dd
eeb424a5da9a22ad938b060d099b88477497751c
686c3b150039578ad30bbdc6504b65c8eb927dff
aee01783f3945f472d9ea369236e960bd5659496

[2020-05-22 17:21] #811 closed

[2020-05-22 17:44] eric-jahn commented on #791
This an old issue that has since been resolved.

[2020-05-22 17:44] #791 closed

[2020-05-22 17:46] #335 closed

[2020-05-22 17:47] suryayadavalli commented on #815
Commit id : https://github.com/servinglynk/hslynk-open-source/commit/5098704e2acdb614ba27b50d31bcadb1014fa531

[2020-05-22 17:49] suryayadavalli commented on #809
commit id : https://github.com/servinglynk/hslynk-open-source/commit/7098d95b1f6781a6a31d657e37fbcdb1d9f5291f

[2020-05-22 17:49] #815 closed

[2020-05-24 04:09] suryayadavalli opened #828 "OpenVPN replacement with AD to support multiple users without license costs"
Currently we are using self-managed OpenVPN that supports only 2 free licenses. Any additional users will need an upgrade and requires bundle licenses.

We can go with AD which that costs $30 / $40 per month with unlimited users.  Also, since this is AD we can use this as a centralized IDM for all the applications that we are currently using.

1. VPN
2. Jenkins
3. Kibana
4. Grafana
and others..

[2020-05-25 02:39] logicsandeep opened #829 "Add tracking on Pub Sub events."
Pub-Sub events run asynchronously and as a result it becomes really hard for the trusted apps to track if a particular request is processed correctly.
**For Example:**

1) When We created enrollments from a generic household we have no idea if the enrollments and clients are created.
2) We have a similar situation with Merge/UnMerge APIs too.

Crate  APIs  to track the Pub-Sub events so that the t

[2020-05-25 20:50] eric-jahn commented on #688
@logicsandeep rolled this functionality back out of the code base.

[2020-05-25 20:50] #688 closed

[2020-05-26 01:26] logicsandeep commented on #688
Yes. @eric-jahn  This feature was rolledback.
https://github.com/servinglynk/hslynk-open-source/commit/56ea7142e02f18631d974d1d02a5e9defb1a0b9d

[2020-05-26 07:24] suryayadavalli commented on #819
duplicate.

https://github.com/hserv/coordinated-entry/issues/334

[2020-05-26 07:24] #819 closed

[2020-05-26 16:56] suryayadavalli commented on #826
Dev complete. Ready to be deployed EOD 05/26 after testing.

[2020-05-26 16:56] suryayadavalli commented on #820
Dev complete. Ready to be deployed EOD 05/26 after testing.

[2020-05-26 16:58] suryayadavalli commented on #808
Deployed
Commit id : https://github.com/servinglynk/hslynk-open-source/commit/6bda048784d0a4be2b700b78b25215d343fc3d04

[2020-05-26 16:58] #808 closed

[2020-05-26 19:10] logicsandeep opened #830 "Investigate on why the hud version and schema year was incorrectly selected in the bulk upload APIs"
Investigate on why the HUD HMIS version and schema year was incorrectly selected in the bulk upload APIs

[2020-05-26 19:57] eric-jahn opened #831 "add tracking to merge and unmerge"

[2020-05-28 16:06] eric-jahn opened #832 "make the developer company save button present a confirmation message"
![image (1)](https://user-images.githubusercontent.com/4115079/83166147-7c7c6d80-a0dc-11ea-96bc-a21ab8a7474e.png)

I did get a cc:d email to support@hmislynk.com, so maybe it's working fine.  It's just the user wasn't sure if it worked.  But I was also told that the user may have been trying to register separately.

[2020-05-29 19:12] suryayadavalli opened #833 "Auto deploy the artifacts on all the instances , without having to manually deploy from console"

[2020-05-29 19:15] eric-jahn commented on #784
global households need to be a part of the Golden View

[2020-05-29 19:23] suryayadavalli opened #834 "DB script versioning with Flyway"
Excellent tool for DB script versioning
https://flywaydb.org/getstarted/how

I will include more details in this ticket shortly.

[2020-05-29 19:47] eric-jahn opened #835 "add generic households and hmis households within global households in Golden View"
person
 -global household 1
 --generic household(s)
 --global household(s)
-global household 2
 --generic household(s)
 --global household(s)

[2020-06-02 16:00] eric-jahn opened #836 "developer onboarding to use admin@hslynk.com"
so the support ticket system does not become cluttered

[2020-06-02 18:38] eric-jahn opened #837 "redirect about.hslynk.com to hslynk.com"
hslynk.com will serve the website, no longer about.hslynk.com.  about.hslynk.com will redirect to hslynk.com.

[2020-06-02 19:39] eric-jahn commented on #817
2-3 days of effort, off the cuff per @suryayadavalli

[2020-06-02 19:42] logicsandeep commented on #804
https://github.com/hmis-api/report-service-api/commit/48d97e417365f3b322a8c968f8a73b4cc65cc30b

[2020-06-02 19:42] #804 closed

[2020-06-04 06:50] suryayadavalli commented on #836
Completed.

[2020-06-04 06:50] #836 closed

[2020-06-04 06:52] suryayadavalli commented on #835
Duplicate of 784.

[2020-06-04 06:52] #835 closed

[2020-06-04 06:55] suryayadavalli commented on #826
commit id : https://github.com/servinglynk/hslynk-open-source/commit/737bd39b24f660cc0f274db6341efbfdbbe6416e

[2020-06-04 06:55] #826 closed

[2020-06-04 11:01] eric-jahn opened #838 "add orientation materials to developer onboarding portal"
During the MiHIN InterOpathon, we had to re-explain many of the same steps.  Some were in the developers' Google doc, but we should put the explanations from slack into an onboarding intro.

[2020-06-04 16:02] #784 closed

[2020-06-04 16:27] suryayadavalli commented on #837
1. Change Route 53 entry for both about.hslynk.com / www.hslynk.com
2.  Remove existing rewrites for www.hslynk.com
3.  Add rewrite for about.hslynk.com to point to www.hslynk.com

[2020-06-04 16:38] suryayadavalli commented on #837
@logicsandeep : I checked the calls going out from admin.hslynk.com and see that all the calls are going through the admin.hslynk.com DNS only. However, can you double check your admin code and confirm that we don't have any direct references to www.hslynk.com ? . This is to ensure that admin app do not break after we take away the to handle API calls.

[2020-06-04 18:40] logicsandeep opened #839 "Improved stability and code cleanups for admin app"
Improved stability and code cleanups for admin app

[2020-06-04 18:41] eric-jahn commented on #839
How much time will this take?

[2020-06-04 18:42] eric-jahn commented on #839
Also, why is it a top priority?

[2020-06-04 18:45] logicsandeep commented on #839
Removed it from top priority.

[2020-06-04 18:45] logicsandeep commented on #839
25 hours.

[2020-06-05 17:46] suryayadavalli commented on #833
Working on the targer group access from jenkins. Should be able resolve the issue and complete this task by 06/06.

[2020-06-05 18:22] logicsandeep commented on #837
@suryayadavalli  Admin application is deployed in the same tomcat as other microservices and hence don't look up hsklynk.com you can go ahead with your DNS change.

[2020-06-07 23:08] suryayadavalli commented on #837
Complete.  Routing changed for www.hslynk.com, reverse proxy changes are set up for abot.hslynk.com to go to www.hslynk.com.

www.hslynk.com
about.hslynk.com

[2020-06-07 23:08] #837 closed

[2020-06-07 23:13] suryayadavalli opened #840 "Comodo cert references for internal sites (Need to be pointed to AWS cert)"
While working on https://about.hslynk.com , noticed that COMODO SSL cert is still used for the following internal sites.

 https://openempi.hslynk.com/openempi-webapp-web-2.2.9/
 https://ldap.hslynk.com/phpldapadmin/
 https://impalad.hslynk.com/
 https://builds.hslynk.com
 https://hue.hslynk.com/accounts/login/?next=/
 https://cm.hslynk.com/cmf/login

The SSL cert is installed on ngnix. To be able

[2020-06-07 23:15] suryayadavalli opened #841 "Set up SSL Cert monitoring on the instances"
Prometheus has ability to monitor and alert the validity of certs. This will ensure that we got notified in prod-monitoring channels 30 days before the certificate expiry, so we can take renew certs in time without any service disruptions

[2020-06-07 23:17] suryayadavalli commented on #841
Complete, Set up promotheus monitoring to notify in #prod-monitoring channel 30 before any SSL cert expiry.

[2020-06-07 23:17] #841 closed

[2020-06-07 23:27] suryayadavalli commented on #834
Looked at both Liquibase and Flyway . Although both Flyway  and liquibase works the same way in terms of versioning support, Flyway works with the SQL script (or Java) without having add another layer of abstraction.

Liquibase on the other hand works with XML or YAML / JSON to define the changes, which will be useful if you are working on products where you deal with multiple database database te

[2020-06-07 23:31] suryayadavalli commented on #834
Also, this is something we will complete in parallel , along with priority tasks that are working on, as this is not a blocker, just that we are trying to 1) set up a standard so we streamline the DB changes in and b) avoid manual changes in PROD going forward.

[2020-06-08 15:20] logicsandeep commented on #834
We can leverage existing scripts for liquibase too.

I think our decision to pick Flyway or Liquibase needs to be based on the following points.
1) The license agreement of the tool.
2) Will it work on multiple databases. (For example: if we move from Postgres to Mysql or Aurora SQL)
3) How well maintained the tool is.
4) Is it going to work with our existing infrastructure without a lot of work.

[2020-06-08 17:30] logicsandeep opened #842 "Dockerize all the microservice deployment so autoscaling speeds up"
Dockerize all the microservice deployment so autoscaling speeds up

[2020-06-08 17:36] eric-jahn commented on #842
People also want this for hackathons, so they deploy our microservices one at a time, for testing. Just so I understand how much time would be involved to do this, how many hours would we be looking at?    Would it then make sense to use Kubernetes to manage all these Docker instances?

[2020-06-08 17:36] eric-jahn commented on #816
related #842

[2020-06-08 17:37] eric-jahn commented on #842
related #816

[2020-06-08 18:08] eric-jahn commented on #842
related #31

[2020-06-08 20:43] eric-jahn commented on #830
related #833

[2020-06-08 21:30] logicsandeep commented on #830
This issue is fixed.
https://github.com/servinglynk/hslynk-open-source/commit/0c618e18f004e59695d7ff323cf8c478853b3f8c

[2020-06-08 21:30] #830 closed

[2020-06-09 13:50] logicsandeep opened #843 "Fix VI-SPDAT survey issues."
Fix VI-SPDAT survey issues.

[2020-06-09 13:52] logicsandeep opened #844 "Make a jenkins job to use Nexus to deploy the latest and a specific version artifact to ASG and regular innstance."
Make a jenkins job to use Nexus to deploy the latest and a specific version artifact to ASG and regular innstance.

[2020-06-09 13:58] logicsandeep commented on #805
The report subject is fixed.
https://github.com/servinglynk/hslynk-open-source/commit/dfe539af3e19

[2020-06-09 13:58] #805 closed

[2020-06-09 14:24] eric-jahn commented on #843
@logicsandeep can you paste in the text of what the issues are exactly?  Also, I think this needs to be moved to the coordinated entry/hserv repo?  I can do that move for you automatically, if github doesn't let you.

[2020-06-09 14:50] suryayadavalli commented on #820
commit id : https://github.com/servinglynk/hslynk-open-source/commit/737bd39b24f660cc0f274db6341efbfdbbe6416e

[2020-06-09 14:50] #820 closed

[2020-06-09 14:52] suryayadavalli commented on #794
commit id : https://github.com/servinglynk/hslynk-open-source/commit/6709ae9186e73d94721fae1d268695fa8e065831

[2020-06-09 14:52] #794 closed

[2020-06-09 14:52] suryayadavalli commented on #795
handled #794 .

[2020-06-09 14:52] #795 closed

[2020-06-09 15:15] suryayadavalli commented on #833
Still working on issues with accessing target group using AWS plug-ins from Jenkins. Currently looking into AWS API to be able to terminate the instances in the target group. Will update the ticket with the progress.

[2020-06-09 15:46] eric-jahn commented on #825
@suryayadavalli would implement the trusted app process APIs for this that Admin App would call
@logicsandeep would implement these calls in the Admin App

[2020-06-09 16:10] eric-jahn commented on #818
We already have the Data Element ID, which is sufficient.  The naming is already based on the HUD HMIS data element name, so we okay there as well.  @logicsandeep and I decided to close this issue, and to add the parent table name instead, to assist analysts to see the relationships between elements, without following the HMIS Logical Model or Data Dictionary.  See related issue #823 (also closed)

[2020-06-09 16:10] #818 closed

[2020-06-09 16:11] eric-jahn commented on #823
We already have the Data Element ID, which is sufficient. The naming is already based on the HUD HMIS data element name, so we okay there as well. @logicsandeep and I decided to close this issue, and to add the parent table name instead, to assist analysts to see the relationships between elements, without following the HMIS Logical Model or Data Dictionary. See related issue #823 (also closed) an

[2020-06-09 16:25] eric-jahn commented on #806
@logicsandeep I think this should be a priority.  How much time will this take?

[2020-06-09 16:32] eric-jahn commented on #790
@logicsandeep : Is this still an issue?

[2020-06-09 16:33] eric-jahn commented on #789
@logicsandeep : Is this still an issue?

[2020-06-09 16:36] eric-jahn commented on #776
@suryayadavalli : I believe this is complete.  Can you close with the commit id(s)?

[2020-06-09 16:46] eric-jahn commented on #770
@logicsandeep @suryayadavalli Can I close this?  Is it still an issue?

[2020-06-09 16:56] logicsandeep commented on #770
@eric-jahn  This is related to the WAF changes @suryayadavalli  has done. He might have an update on this ticket.

[2020-06-09 16:56] logicsandeep commented on #789
This needs to be fixed too

[2020-06-09 17:10] eric-jahn commented on #812
@logicsandeep did we ever perform this update?

[2020-06-09 17:12] logicsandeep commented on #812
This is pending.

[2020-06-09 19:35] eric-jahn commented on #790
@logicsandeep will close with commit

[2020-06-09 19:40] eric-jahn commented on #770
@suryayadavalli said he will check into this, and get back to us on what has to happen here.

[2020-06-12 16:27] suryayadavalli commented on #776
commit id : https://github.com/servinglynk/hslynk-open-source/commit/536bf674a99f7169df363aeaf89804a9d1c941f8

[2020-06-12 16:27] #776 closed

[2020-06-12 17:48] eric-jahn commented on #3
related work:
* https://github.com/akhan118/shelter-API
* https://www.semanticscholar.org/paper/Towards-a-Maturity-Model%3A-bed-Management-in-Kerpedzhiev-Manner-Romberg/432f5fac6e878276a5d20bc8522d039127abfb91
* https://www.fema.gov/openfema-api-documentation

[2020-06-12 18:06] logicsandeep opened #845 "Fix ViSpdat issues for newly created survey response"
Fix ViSpdat issues for newly created survey response

[2020-06-12 18:10] logicsandeep commented on #845
https://github.com/servinglynk/hslynk-open-source/commit/c0ff18af11785ce9af002c9f495f9f004b24b16b

[2020-06-12 18:10] #845 closed

[2020-06-12 18:43] logicsandeep opened #846 "POST /clients/{clientid}/consents/{consentid}/documents or POST /clients/{clientid}/consents should accept image types"
POST /clients/{clientid}/consents/{consentid}/documents or POST /clients/{clientid}/consents should accept image file

[2020-06-12 19:25] logicsandeep commented on #790
https://github.com/servinglynk/hslynk-open-source/commit/b655fecad39da38fea7d6cf15f54c796876aed5c#diff-9e571a6b1dca34b342a584f0d33adb57

[2020-06-12 19:25] #790 closed

[2020-06-12 20:10] suryayadavalli commented on #846
Current design supports **multiple mime types** just by making entries in fileupload.hmis_upload_mimetype. Also, it can be configured for different types of documents (for example , consents is one type of document).

Also, design supports restricting the file sizes for each mime type as well. We should be able to leverage this design without making any changes.

As an example, here is what we sup

[2020-06-12 20:19] logicsandeep commented on #846
Thanks @suryayadavalli . I added the mime type and I'm now able to store image/png.

[2020-06-12 20:51] eric-jahn commented on #846
@suryayadavalli Could we add this to the database create sql/DDL file for if we spin up a new database?

[2020-06-16 04:44] suryayadavalli commented on #840
@eric-jahn :  We need to go with renewal of COMODO SSL certificate for hslynk.com.  I spent decent time on this however, there is a proxy rule that is set up on ngnix to be able to run plone for our website, and this proxy pass rule is not supported by ALB.  So, I am not able to bypass the SSL authentication from Ngnix and move it to ALB.

[2020-06-16 16:06] eric-jahn commented on #846
https://github.com/servinglynk/hslynk-open-source/commit/77d629b910f4c2f36caa89df73722e03887c41cc

[2020-06-16 16:06] #846 closed

[2020-06-16 16:35] eric-jahn commented on #840
@suryayadavalli Okay, do you have access to that account console on the COMODO website?

[2020-06-16 17:42] logicsandeep opened #847 "Admin app changes to restrict a trusted app to a project group."
Admin app changes to restrict a trusted app to a project group.

[2020-06-16 18:57] eric-jahn opened #848 "Restrict Trusted App Access to Project Groups"
We don't want to have all Trusted Apps available to all Projects Groups.  It should be up to the customer admin, which ones can be used.

[2020-06-17 13:34] eric-jahn commented on #840
@suryayadavalli This is where I would create and post about our Plone proxy rule issue: https://community.plone.org .  It's a very professional group.

[2020-06-19 19:25] eric-jahn opened #849 "observer pattern for all client data elements"

[2020-06-20 20:03] eric-jahn opened #850 "consent documentation reference links included with all client data"
This would be a great feature for systems wanting to double-check the consent documentation obtained, as well as any blockchain distributed ledger entries for the consent, if existing.

[2020-06-23 06:15] suryayadavalli commented on #767
![image](https://user-images.githubusercontent.com/10738348/85367486-339eb580-b4de-11ea-9a18-d583c5b9ff91.png)

[2020-06-23 10:33] eric-jahn commented on #767
@suryayadavalli the Amazon RDS was Postgres variant, and the Amazon MQ is Amazon's version of Active MQ,v right?  Could you remove the Amazon words from those two places?

[2020-06-23 17:52] suryayadavalli commented on #767
@eric-jahn : done. made the change to remove the references.

[2020-06-23 19:10] suryayadavalli opened #851 "Update architectural diagrams"
Developer onboarding diagram
High and low level system architecture diagrams.

[2020-06-23 21:33] eric-jahn opened #852 "pub/sub for all HMIS client data elements and survey submissions"
"callbacks on independent / individual events can be implemented by enhancing what we have.
So, essentially, the subscriber's callbacks will be registered / associated with the events and we agree upon the callback payload that we are going to send to them before hand so, the subscribers know what to expect when something happens."

"It would be for 2014-2020 HMIS client data elements and survey s

[2020-06-25 15:11] eric-jahn commented on #840
This is completed.  We moved to Let's Encrypt.

[2020-06-25 15:11] #840 closed

[2020-06-25 15:12] eric-jahn commented on #788
@logicsandeep can you close this with the commit id?

[2020-06-25 15:14] eric-jahn commented on #843
I'm going to close this issue.  @logicsandeep please re-open in the CES repo hserv/coordinated-entry, if you have more detail on it.

[2020-06-25 15:14] #843 closed

[2020-06-25 15:15] eric-jahn commented on #767
@suryayadavalli Can you close with the commit ID?

[2020-06-25 15:17] eric-jahn commented on #824
Since the LSA is ready to work on again, this is being pushed back to a later sprint.

[2020-06-25 15:18] eric-jahn commented on #251
Moving back to current sprint, since this is feature frozen now.

[2020-06-25 21:55] eric-jahn commented on #242
duplicate of https://github.com/servinglynk/hslynk-open-source-docs/issues/3

[2020-06-25 21:55] #242 closed

[2020-06-25 22:40] eric-jahn opened #853 "goals, needs (case plan) tracking"
using taxonomy codes

[2020-06-25 22:41] eric-jahn commented on #853
using case management ontology http://www.visualdataweb.de/webvowl/#iri=https://raw.githubusercontent.com/hserv/entity-tracking/master/case-management-ontology/case-management.ttl

[2020-06-27 03:09] logicsandeep opened #854 "GET /clients/{clientid}/consents/{consentid}/documents/{documentid} fails with 500 Exception."
<body>
	<h1>HTTP Status 500 - Request processing failed; nested exception is com.amazonaws.AmazonClientException: Unable to
		create directory in the path/var/lib/tomcat7/CONSENT_DOCS/8653b3e8-4bab-47df-aa21-ce74f2318f64</h1>
	<HR size="1" noshade="noshade">
	<p><b>type</b> Exception report</p>
	<p><b>message</b> <u>Request processing failed; nested exception is com.amazonaws.AmazonClientException

[2020-06-30 00:35] suryabi commented on #767
Need to add the following method hooks in the bulk uploader process. I will create another ticket and assign to @logicsandeep

https://github.com/servinglynk/hslynk-open-source/blob/master/hmis-model-v2020/src/main/java/com/servinglynk/hmis/warehouse/dao/ClientDaoImpl.java

1. createOrUpdateBaseclient
2. deleteBaseClient