[2017-08-04 17:07] logicsandeep commented on #294
@eric-jahn  It took me 8 hours to complete this ticket.

[2017-08-04 19:03] eric-jahn commented on #75
@suryayadavalli needs from @logicsandeep for the LoadProcessor to use the data source, so they don't run out of connections.

[2017-08-05 21:11] eric-jahn commented on #315
@logicsandeep: Please work on this issue, when you get a chance, and close with the commit ID when finished.

[2017-08-05 21:14] eric-jahn commented on #302
@suryayadavalli updated that he will have the monitoring deployed by next week (8/11).

[2017-08-07 07:01] suryayadavalli commented on #299
Closing this issue.

[2017-08-07 07:01] #299 closed

[2017-08-07 07:09] suryayadavalli commented on #305
Resolved, Deployed in production. Working as expected. All admin to authorization and Authorization service back to admin redirection (using OAUTH) is happening via 443 now, as expected. Blocked 80 port (forwarding to 443) completely.

[2017-08-07 07:09] #305 closed

[2017-08-07 14:58] eric-jahn commented on #305
Closed by https://github.com/servinglynk/hmis-lynk-open-source/commit/72639e9574d36305751783757c9303a4e8e23fb1

[2017-08-07 16:59] suryabi commented on #305
Just for future reference,
Along with the code fix, there are configuration changes and redirection changes on the web server configurations that were made to address this issue.

[2017-08-08 06:57] suryayadavalli commented on #75
Currently HSLynk has web enabled application (deployed on application server - tomcat) and Stand alone applications (Load processor).

For web based applications - we enable data source using Tomcat connection pooling . However, for Standalone applications, since we can't use application server connection pooling abilities, we need to use other connection pooling mechanism.

**Current implementati

[2017-08-08 17:39] suryayadavalli commented on #270
**Update from @logicsandeep**
_**So @surya.yadavalli  I deployed the hot fix Load processor 2015 and found out that I see duplicate log files pretty much spitting out the same information.
This pretty much just duplicate logging**_

com.servinglynk.hmis.warehouse.util.ClientOperationLogger.logClientOperation(java.util.Iterator,org.springframework.security.core.context.SecurityContext)'.
java.util.

[2017-08-08 17:42] suryayadavalli commented on #270
@logicsandeep : Can you please detail the steps to test the load processor along with a sample file that you used for testing (You can share the file in slack). Will debug this further.

[2017-08-08 19:19] eric-jahn commented on #270
@suryayadavalli reported he will test LoadProcessor and resolve this by Friday, 8/11/2017.

[2017-08-08 19:20] eric-jahn commented on #75
@suryayadavalli reported he will test LoadProcessor and resolve this by Friday, 8/11/2017.  He needs detailed instructions (steps) for testing from @logicsandeep .

[2017-08-08 19:26] eric-jahn commented on #302
@suryayadavalli updated that he will have the monitoring deployed by next week (8/15).

[2017-08-08 19:30] eric-jahn commented on #315
@logicsandeep reported he should be finished with this today.

[2017-08-08 19:32] sachs089 commented on #315
Thank you Eric.

*Sachin Kaushik*
*Business Intelligence Analyst*
Direct: (669) 261-2007
Main: (408) 645-2316
*Facebook <http://www.facebook.com/ctagroup.org> • Twitter
<https://twitter.com/CTA_Group_> • Video
<http://www.ctagroup.org/what-we-do/video/>*

<http://www.ctagroup.org/>

On Tue, Aug 8, 2017 at 12:30 PM, Eric Jahn <notifications@github.com> wrote:

[2017-08-09 06:04] logicsandeep commented on #315
More commits:
566ab3214ad129b04057496f2b1813b9fd8d48ac
f0cb2c9b5f6465d9bf07c473b52dba01d7df81b1
81d0c434270710062f69dc479ec43087246c9c2e

[2017-08-09 06:04] #315 closed

[2017-08-09 06:04] logicsandeep commented on #315
The active list changes are checked-in and are in production.

[2017-08-10 14:18] logicsandeep commented on #75
There are 2 ways to test the connection pooling for load processor.
1) Run the BulkUploadTest class. Each version of the model project has a file as well as this test.
2) Before you run the test you need to make sure you have a record in the bulk upload table in the base schema with appropriate ID, file name,schema_year and the project_group populated.
3) Make sure that the bulkUpload ID in the te

[2017-08-11 03:15] logicsandeep opened #316 "The Trusted app onboarding spread sheet is blowing up with activeX error."
I've attached the error.
<img width="1244" alt="screen shot 2017-08-10 at 11 10 56 pm" src="https://user-images.githubusercontent.com/4108057/29200258-cb43a0e0-7e21-11e7-95d3-6976722694fd.png">

[2017-08-11 15:07] eric-jahn opened #317 "wikify the OAuth pdf"
Just need to convert the pdf instructions to html and paste them into a wiki page.  @suryayadavalli should be able to complete by 8/22/17.

[2017-08-11 15:11] eric-jahn opened #318 "wikify file upload (admin app) instructions and status code explanations"
Users are getting confused about when their file is finished processing. The interface may also have to be made more clear, but these instructions should help.

[2017-08-11 18:11] eric-jahn commented on #75
@suryayadavalli is testing this over the weekend.  He's having troubles testing the standalone services.  @logicsandeep discussed three testing issues that @suryayadavalli is running into.

[2017-08-11 18:24] eric-jahn commented on #270
Not resolved 8/11.  @logicsandeep and @suryayadavalli are working on it together this weekend.

[2017-08-15 05:31] eric-jahn commented on #75
https://github.com/servinglynk/hmis-lynk-open-source/commit/f7364edc9d504f88c046310a1c45c0d2da0ef52b

[2017-08-15 05:52] suryayadavalli commented on #75
https://github.com/servinglynk/hmis-lynk-open-source/commit/7339ef5d6eb9954ebc0e310fbd69680eb53bcdfc

[2017-08-15 06:05] suryayadavalli commented on #75
![image](https://user-images.githubusercontent.com/10738348/29303929-165dceea-8145-11e7-8f5f-7732d9d5126e.png)

[2017-08-15 06:25] suryayadavalli commented on #75
**Next action item to close this task :**
@logicsandeep need to deploy load processor from Maint-2.1 branch in PROD and verify.

[2017-08-15 12:37] logicsandeep opened #319 "Make all the customer admin users in the project group see all the uploads and order the uploads by id desc."
Make all the customer admin users in the project group see all the uploads and order the uploads by id desc.

[2017-08-15 14:20] eric-jahn commented on #319
https://github.com/servinglynk/hmis-lynk-open-source/commit/e06f7701b34f98ee669f9138f06587cdee951ec3

[2017-08-15 19:22] logicsandeep commented on #319
commits:
165b7508b04f2a304756faf941887c41fde6bbbf
e06f7701b34f98ee669f9138f06587cdee951ec3
cd9f1d79104cd2ec73f9d02075d840f534f32334
9a57873e240a502b35f95552ef191631370cfb80

[2017-08-17 14:11] eric-jahn commented on #308
resolution of issue #75 did not resolve this

[2017-08-17 15:29] logicsandeep opened #320 "Work on making the bulk uploader capable of handling larger files."
Work on making the bulk uploader capable of handling larger files.

[2017-08-17 16:37] eric-jahn commented on #320
https://github.com/servinglynk/hmis-lynk-open-source/commit/5f150e7a966c20ff43dff6b6ece11f16cd37b952

[2017-08-18 18:52] logicsandeep commented on #320
https://github.com/servinglynk/hmis-lynk-open-source/commit/2109f12c36bc495be922191d26daf5aa81688617

https://github.com/servinglynk/hmis-lynk-open-source/commit/44861453c019fd9a3365ad8a9c890a0cb430670c

https://github.com/servinglynk/hmis-lynk-open-source/commit/ba753b4f101619616b6f429b8a6c884458455d5a
https://github.com/servinglynk/hmis-lynk-open-source/commit/96edbae54a30509d013d9c3c2231961fde1

[2017-08-18 19:46] #320 closed

[2017-08-18 19:48] eric-jahn opened #321 "trusted app generation from admin app"

[2017-08-18 20:09] eric-jahn commented on #308
@CTAJavier , can we close this issue?  That is, can we check off the remaining 3 issues listed?  The current issue we are seeing is different, and we can make a new issue for it, as I understand it.

[2017-08-18 20:10] eric-jahn commented on #307
Moving this forward to the next sprint.

[2017-08-18 20:32] CTAJavier commented on #308
Yes

On Aug 18, 2017 1:09 PM, "Eric Jahn" <notifications@github.com> wrote:

[2017-08-18 20:37] #308 closed

[2017-08-19 04:02] eric-jahn commented on #302
@suryayadavalli will add a public slack channel with alerts early next week and close this issue.

[2017-08-19 14:19] eric-jahn commented on #316
Is this still happening?

[2017-08-19 15:04] eric-jahn commented on #304
I had created a duplicate of this at https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/321

[2017-08-19 15:04] #304 closed

[2017-08-20 00:44] eric-jahn commented on #96
duplicate of issue ·167 https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/167

[2017-08-20 00:44] #96 closed

[2017-08-21 02:33] suryayadavalli opened #322 "Optimize client search for "client Id" input"

[2017-08-21 16:14] slifty opened #323 "No Redirect URL Error Message"
We tried using a trusted app ID to authenticate with the API, but the redirect URL had not been set yet.  Instead of providing an error message indicating the underlying issue the server responded with a 500 error:

[code]

The application should provide a more meaningful error message to the user when this happens.

[2017-08-21 18:26] eric-jahn commented on #303
no longer needed per @sachs089 cc: @CTAJavier
"since this active list now has updated survey data in timestamp format."

[2017-08-22 19:24] eric-jahn commented on #322
Surya will close this, since it's already optimized.

[2017-08-22 19:25] #319 closed

[2017-08-22 19:31] eric-jahn commented on #316
@suryayadavalli said we can wait on it and think about developer onboarding in general.

[2017-08-22 19:35] eric-jahn commented on #306
@logicsandeep currently creating a purge process before this.  Then these hmis type endpoints should b done by the 29th.

[2017-08-22 19:38] eric-jahn commented on #302
@suryayadavalli is done with this: health and response times.  Leaving open for customer dashboard.

[2017-08-22 19:41] #260 closed

[2017-08-22 19:41] #75 closed

[2017-08-22 20:01] eric-jahn opened #324 "improve the speed and efficiency of customer and developer onboarding"
@suryayadavalli will consider and propose a better workflow, and we will discuss. This issue overarches and replaces issue #316 and issue #321 .

[2017-08-22 20:02] #316 closed

[2017-08-22 20:03] #321 closed

[2017-08-22 20:03] eric-jahn commented on #321
#324 is a broader rethinking, and replaces this

[2017-08-22 20:04] eric-jahn commented on #316
#324 is a broader rethinking, and replaces this

[2017-08-23 14:53] eric-jahn commented on #13
"With Liquibase we can have change sets per version of release. Let's say we are on version 2.1 and have a database change that needs to be there with that version Liquibase takes care of that.
We're an open source project and something Liquibase will help people in creating a local copy of the data model by running just 1 command... Plus if somebody wants to run the code with 2.0 version he will

[2017-08-23 21:08] logicsandeep opened #325 "Add a file filter on the upload to let users only upload .zip and .xml files."
Add a file filter on the upload to let users only upload .zip and .xml files.

[2017-08-23 21:08] logicsandeep opened #326 "Add a process to purge data by project group."
Add a process to purge data by project group.

[2017-08-23 21:12] #326 closed

[2017-08-23 21:13] eric-jahn commented on #326
Duplicate of issue #277

[2017-08-23 21:20] eric-jahn opened #327 "Allow HMIS XML Zipfiles"
As well as regular uncompressed XML.

[2017-08-24 22:45] CTAJavier opened #328 "For Monterey Only Now: Access to all Postgres tables in HBase"
CTA needs access to HDFS in order to make ETL processes as we need them without needing to bother HSlynk Developers. CTA has access to Alteryx for ETL and it has an HDFS plugin, for Tableau, we require custom data elements on a fairly regular basis. CTA can generate these ourselves provided we have access to all the data, however currently we only have access to the views already available. and it

[2017-08-25 14:49] eric-jahn commented on #328
So really, independent of technological considerations, the requirement is that you need a way to select for reporting from all the non-system elements in the various survey and hmis schemas?

[2017-08-25 15:21] CTAJavier commented on #328
Yeah

On Aug 25, 2017 7:49 AM, "Eric Jahn" <notifications@github.com> wrote:

[2017-08-25 15:59] eric-jahn commented on #328
@CTAJavier: (and @logicsandeep should correct me if I'm wrong about this), but the level at which the different customers' data is separated is at the HBase level.  HDFS is even lower level than that, so if we gave you HDFS access, it would be a security issue.  But, to meet your need not to have to pester @logicsandeep every time you want to report on youur elements, what we could do is make an i

[2017-08-25 19:20] eric-jahn opened #329 "Look at ways to more closely bill for Amazon activity"
Carl asked @logicsandeep and @suryayadavalli to list all the things we can track as far as Amazon server activities.

[2017-08-25 19:25] eric-jahn commented on #270
@suryayadavalli set up a persistent entity to track the ghost client detail.  This will track any update on a client update, and which microservice update, and we won't lose any information.

[2017-08-25 19:30] eric-jahn commented on #277
@logicsandeep completed this for one data model (2014).  Needs to complete it for the others.

[2017-08-25 19:33] eric-jahn commented on #289
No progress this week from @logicsandeep

[2017-08-25 19:39] eric-jahn commented on #303
need to re-confirm with CTA this is again needed

[2017-08-25 19:41] eric-jahn commented on #317
Surya will finish this by the weekend.

[2017-08-25 19:43] eric-jahn commented on #323
@suryayadavalli confirmed this is critical.  Our lack of error messages is not user friendly or confidence inspiring.

[2017-08-25 19:57] eric-jahn opened #330 "put deployed version # posted in admin web pages"
in an about tab or something

[2017-08-25 21:10] suryayadavalli opened #331 "Set up Node exporter on the instances , to get initialized during instance start up"
@suryayadavalli will provide more details

[2017-08-27 18:33] suryayadavalli commented on #270
@logicsandeep : As discussed, all the changes to track the client updates are checked in 125-active-list-endpiont branch. You can look at the changes and implement the same for load processor ,

**Below is additional information**
**DB Entity** - client_tracker

What needs to be added from Load Processor(s)
Call **ClientTrackerDao.createTracker**  method with "UPDATE" or "DELETE" parameter  (This

[2017-08-27 18:37] suryayadavalli commented on #270
Commit # code base and SQL
https://github.com/servinglynk/hmis-lynk-open-source/commit/53bc063ee2de003ccc2f9e4a6ac49b9322af4869

[2017-08-28 06:59] suryabi commented on #322
Closing this issue, No additional work required

[2017-08-28 15:58] #322 closed

[2017-08-28 16:09] eric-jahn commented on #302
Closing, and making a new, less prioritized issue for customer dashboards.

[2017-08-28 16:09] #302 closed

[2017-08-28 16:11] eric-jahn opened #332 "provide customer dashboards in Admin Web Page"
Provide a dashboard with analytics frequently needed by a customer to verify system/API health and self-configure notifications.

[2017-08-28 18:41] eric-jahn opened #333 "the same people appear in the Active List day after day as if they have just been VI-SPDATed"
reported by @sachs089 today.  "I checked in HOME about those clients, one thing is common about them is they all have taken multiple surveys."

![august 25](https://user-images.githubusercontent.com/4115079/29787969-e6fbc160-8bfe-11e7-85ba-5ec1cee46735.JPG)
![august 29](https://user-images.githubusercontent.com/4115079/29787987-f1dc179c-8bfe-11e7-8530-2a560cc3119d.JPG)

[2017-08-28 18:43] eric-jahn commented on #303
5 hours per @logicsandeep

[2017-08-28 19:04] eric-jahn commented on #303
from @CTAJavier:
"so what is happening is that in the active list we can see when the latest score was submitted,  and the survey (really upload date).  so now if we try to cross reference which one we need  so say we go and try to find the detail for the survey uploaded at 8 am on tuesday and the client has multiple dates, those dates don't show up in responses, because instead what is actually t

[2017-08-29 19:07] eric-jahn commented on #327
Completed for 2014, but needs to be completed. 5 hours each upload.  Most of that is testing.

[2017-08-29 19:18] CTAJavier commented on #328
I guess the only criteria I would have for that would be that it be dynamic. our goal is to make the reporting process as streamlined as possible.  if the data exposed is not updated automatically we will end up with the same problem of having to ask for help as we add new custom fields etc. if that can be accomplished then feel free to close this issue and create a new one for that task

[2017-08-29 19:19] eric-jahn commented on #328
yes, dynamic is a requirement.  We'll discuss in the dev meeting now.

[2017-08-29 19:24] eric-jahn commented on #270
@suryayadavalli finished his part, and @logicsandeep has his load processor ready in dev.  Once Surya tests, we will deploy.  @CTAJavier just witnessed it again, before we deployed it :(

[2017-08-29 19:28] eric-jahn commented on #289
@logicsandeep continues to work on this, but will focus in a couple days.

[2017-08-29 20:02] eric-jahn commented on #328
@CTAJavier: @logicsandeep said he can get you/your chosen staff access to all data elements tables that are stored in the Postgres schema (except certain utility indices and logs, etc., and with the identifier obfuscation applied) soon.  This is dynamic with a 10-15 lag from entry into Postgres.  Apparently most of the HMIS ones and some Survey ones (like responses) already are available, so he's

[2017-08-30 05:53] suryayadavalli commented on #270
Deployment complete for HMIS micro services.

Test results after deployment. As you can see,  Application, Operation, Deleted flag , client Id, project group Id will be tracked for any update / delete API operation on the client entity.

![image](https://user-images.githubusercontent.com/10738348/29857269-b491a17c-8d0c-11e7-82de-b6437ba45b60.png)

@logicsandeep : Please deploy load processor. Here

[2017-08-30 17:24] eric-jahn opened #334 "support redesigned HMIS AHAR Report by Q4 2018."
The specs for the new version are still being worked on by HUD and communities.

[2017-08-30 19:36] logicsandeep commented on #270
Bulk uploader commits:
https://github.com/servinglynk/hmis-lynk-open-source/commit/f2b8c4b24677119753f8a41a394c8a47d29607fb

https://github.com/servinglynk/hmis-lynk-open-source/commit/8d9c8d8c520da7714e5c40c7a96200225a450ab2

https://github.com/servinglynk/hmis-lynk-open-source/commit/f2b8c4b24677119753f8a41a394c8a47d29607fb

[2017-09-01 17:25] suryayadavalli commented on #331
Complete,  Here are the details.

Node exporter is the agent that collects the metrics from the instance its running on , capture the metrics based on the configuration and report back to the monitoring master instance.  These Node exporter agents are not set up as start up services initially , so each time there is a physical reboot of the instance the agent stops running (thus losing the ability

[2017-09-01 17:25] #331 closed

[2017-09-01 17:26] suryayadavalli commented on #317
The documentation is here.
https://github.com/servinglynk/hmis-lynk-open-source-docs/wiki/HSLynk-Platform-OAUTH-documentation

[2017-09-01 17:26] #317 closed

[2017-09-01 17:28] suryayadavalli commented on #323
Changes are complete to address this. Will push to production this week-end

[2017-09-01 19:20] eric-jahn commented on #323
Also please make sure the online API docs are in sync with these error handler changes.

[2017-09-01 19:42] eric-jahn commented on #270
Both @suryayadavalli and @logicsandeep have deployed their code (APIs and Bulk Upload) for this.  We should be able to see what is causing it.

[2017-09-01 19:44] logicsandeep opened #335 "Performance improvements on Clients and Disabilities bulk upload process."
The Disabilities process takes a lot of time and we need to come up with a better solution to process large volume of data.

[2017-09-01 19:59] pgorecki opened #336 "Client api 500 error"
[code]

[2017-09-01 20:00] eric-jahn commented on #306
Please add a field in hmis_type for the roman numeral of the question, as HUD has it in the HMIS.

[2017-09-04 06:48] suryayadavalli commented on #336
**Initial investigation**
See that DEDUP ID  is not getting generated and the client creation process expects this to be not NULL all the time. Still need to investigate further as to why the DEDUP ID generation failed for this request data. Will update the ticket with more details.

[2017-09-04 17:29] suryayadavalli commented on #336
@pgorecki :  We see that the issue is with the specific test SSN ID you are using   ssn: '**123456789**'.  Our dedup service that creates a dedup based on SSN and other primary identifier not accepting this as a valid SSN and returning the error.

We will check what is happening specifically with this SSN Number, but if it is for testing purposes, please use any other SSN numbers.  You should be g

[2017-09-04 17:37] eric-jahn commented on #336
Surya, maybe for now put a note in the API docs that test messages have to be a valid ssn number.  123456789 isn't valid.  I'm sure you know this, but the rules for SSNs are more than just numeric.  What  would be really cool is if we could percolate up the detailed open empi error within our API response.

[2017-09-04 18:09] suryayadavalli commented on #336
@eric-jahn : Sure.

Please note that this issue happens with openEMPI only one SSN Id : **123456789**. Everything else works fine (for instance 111111111, 2222222 , 012345678 ).  We can debug why OpenEMPI is particular about this specific SSN on a low priority but @pgorecki should be able to proceed with his testing / work just by using any other SSN Id.

[2017-09-04 18:21] CTAJavier commented on #336
FYI, we can expect some users to enter 123456789 as ssn if the client
refuses to provide one. we train them not to do this, but we find that this
happens in HMIS quite frequently, we have not really been checking for that
in HOME but i am sure this is possible.  in the meantime @pgorecki can you
add a check so that before sending the client to hslynk check for 123456789
as ssn and tell user that i

[2017-09-04 20:24] logicsandeep commented on #336
First of all, we need not have a hard requirement on dedup id when a user is created to avoid this NPE and 500 for 123456789  from Open EMPI. We can expect a null dedupid if we are not getting correct data from the client applications.

[2017-09-05 19:05] eric-jahn commented on #328
@logicsandeep hopes to close this ticket today with some wiki docs.

[2017-09-05 19:06] eric-jahn commented on #323
@suryayadavalli has completed the coding for this in develop, and it's tested.  Ready for the next release.

[2017-09-05 19:15] eric-jahn commented on #303
@logicsandeep will contact @sachs089 to go over the details on this.

[2017-09-05 19:18] eric-jahn commented on #289
@logicsandeep made good progress. Need to finish by 9/18, so testing can begin.

[2017-09-05 19:20] eric-jahn commented on #306
@suryayadavalli estimates this will be ready by 9/14.

[2017-09-05 19:23] eric-jahn commented on #270
We will filter for only the CTA's two project groups. @suryayadavalli will implement this and check in with release 2.3.

[2017-09-06 07:43] suryayadavalli commented on #323
Resolved, Deployed in production from release-2.3 branch.

Commit # https://github.com/servinglynk/hmis-lynk-open-source/commit/df8f87ad41b40411255c6374f8df8b13e71715b6

Friendly error message when Trusted app is invalid

![image](https://user-images.githubusercontent.com/10738348/30099893-e78d2a12-929b-11e7-8adf-41801bcda6a1.png)

Friendly error message when Redirect URI invalid
![image](https://

[2017-09-06 07:43] #323 closed

[2017-09-06 12:21] pgorecki commented on #336
From the perspective of **any** API client, your endpoint should return 400 (Bad Request) in this case, with an additional error message like *invalid ssn number*. Then I will be able to handle that error and display error message to the user in the UI. 500 is not a valid response in such a case.

[2017-09-06 12:31] eric-jahn commented on #336
agreed @pgorecki

[2017-09-06 18:09] suryabi commented on #336
@pgorecki : Right, its an API issue and we will be fixing this pretty soon, but the recommendation above to use other test SSN is for you to proceed without being blocked.

[2017-09-07 04:11] eric-jahn commented on #311
Done, but it could use some improvement.  https://github.com/servinglynk/hmis-lynk-open-source-docs/blob/master/CONTRIBUTING.md

[2017-09-07 04:11] #311 closed

[2017-09-11 21:35] sachs089 commented on #333
Hello, Do you have an ETA on this?

[2017-09-11 21:43] logicsandeep commented on #333
Hey @sachs089 , Can I talk to you about this ?

[2017-09-11 21:48] sachs089 commented on #333
Sure.

*Sachin Kaushik*
*Business Intelligence Analyst*
Direct: (669) 261-2007
Main: (408) 645-2316
*Facebook <http://www.facebook.com/ctagroup.org> • Twitter
<https://twitter.com/CTA_Group_> • Video
<http://www.ctagroup.org/what-we-do/video/>*

<http://www.ctagroup.org/>

On Mon, Sep 11, 2017 at 2:43 PM, Sandeep Dolia <notifications@github.com>
wrote:

[2017-09-11 22:22] logicsandeep commented on #333
@sachs089  the process is doing what it is supposed to. I see that record being updated in the active_list every day. Please look at the updated date from the screen shot below. Because these records are updated by match process the process assumes there was something done.

<img width="801" alt="screen shot 2017-09-11 at 5 19 21 pm" src="https://user-images.githubusercontent.com/4108057/30299491-

[2017-09-11 22:23] logicsandeep commented on #333
The score does not get affected it's just that the eligible clients process updates this record for some reason.

[2017-09-11 22:31] sachs089 commented on #333
This client was surveyed on 08/07/2017 and every day it updates its survey
date to that day as if it is surveyed today.

*Sachin Kaushik*
*Business Intelligence Analyst*
Direct: (669) 261-2007
Main: (408) 645-2316
*Facebook <http://www.facebook.com/ctagroup.org> • Twitter
<https://twitter.com/CTA_Group_> • Video
<http://www.ctagroup.org/what-we-do/video/>*

<http://www.ctagroup.org/>

On Mon, Sep

[2017-09-12 02:55] logicsandeep commented on #333
https://github.com/servinglynk/hmis-lynk-open-source/commit/06f7859649de51189978b9618cacfe60d9931048

https://github.com/servinglynk/hmis-lynk-open-source/commit/9328c6f4e3934b535c15011a253d185dc42e8aa5

This issue is fixed and I've also updated the commits.
The below screen shot shows the updated survey date.

<img width="915" alt="screen shot 2017-09-11 at 9 54 58 pm" src="https://user-images.gi

[2017-09-12 02:55] #333 closed

[2017-09-12 03:57] logicsandeep commented on #328
So I was able to create all the tables which had data in the CES schema too. We already had a lot of tables in hive/impala and today I also exposed the remaining tables to Hive/impala.
Attached is a screen shot which shows we have all the required tables to build any dashboards or query the data.

<img width="236" alt="screen shot 2017-09-11 at 10 52 57 pm" src="https://user-images.githubuserconte

[2017-09-12 05:22] logicsandeep commented on #277
https://github.com/servinglynk/hmis-lynk-open-source/commit/404ed0c5e604bd33cfe926bab9c2776dd37b86b8

https://github.com/servinglynk/hmis-lynk-open-source/commit/7148af453c6f0010786ca1297022fb8ea3e42202

https://github.com/servinglynk/hmis-lynk-open-source/commit/b4c80eb50e06d25b16a7056b089c5eaa38367c2a

https://github.com/servinglynk/hmis-lynk-open-source/commit/194fda76e7d760130d240a6c5a604ef4ee

[2017-09-12 05:24] logicsandeep commented on #277
This change is completed. The last part looking up purge_data boolean column in the hmis_project_group table and purging HBASE tables is not deployed to production. I'll deploy it soon.

[2017-09-12 19:25] eric-jahn commented on #336
@suryayadavalli will fix this when he works on hserv/ticket #?

[2017-09-12 19:32] eric-jahn commented on #289
also @logicsandeep will have the bulk uploader done by 9/22.

[2017-09-12 19:33] eric-jahn commented on #270
Implemented and waiting for @CTAJavier to notify us when this recurs.

[2017-09-13 12:35] pgorecki opened #337 "house-matching-api/eligibleclients sometimes return null"
Occasionally GET https://www.hmislynk.com/house-matching-api/eligibleclients returns `data: null`

[code]

[2017-09-13 13:59] pgorecki commented on #337
Same happens with `https://www.hmislynk.com/house-matching-api/matches?page=0&size=9999`

[2017-09-13 22:16] logicsandeep commented on #337
This issue was fixed after a tomcat restart.

[2017-09-14 18:31] eric-jahn opened #338 "incremental purge feature"
a utility to purge inactive records older than a given date, so they can reduce their bill, without a whole project group purge.

[2017-09-14 18:47] logicsandeep commented on #338
@eric-jahn  For how many days do you want to hold the inactive records? 60 or 90?

[2017-09-15 08:30] cs00496406 opened #339 "Support for Windows Server 2016"
Dear Team,

First of all thank you for all the great work with Kerberos! We are using it actively for securing our Hadoop cluster that is surrounded by an active ecosystem of internal and external applications. Kerberos make us sleep sound knowing that no mishap can happen as long as its in place.

We have recently upgraded some of our windows servers OS to windows server 2016. Is it possible to g

[2017-09-15 13:12] pgorecki opened #340 "Client API upload error 500"
I'm getting 500 eroor for the following request. I'm not sure if it is connected to #336
[code]

[2017-09-15 14:01] eric-jahn commented on #339
n/a

[2017-09-15 14:01] #339 closed

[2017-09-15 15:04] logicsandeep commented on #340
@pgorecki  Can you try a different legit ssn something fake but looking real For example (231-98-2323) . The issue is because of the SSN you have passed. Technically we should not throw an NPE if Open EMPI blows up with invalid ssn.

[2017-09-15 15:25] pgorecki commented on #340
I'm getting 500 error for SSN 231-98-2323 and lastName `Górecki`
I'm getting 200 for SSN (111-11-1111 or 231-98-2323) and lastName `Gorecki`
The problem is with non ASCII characters

[2017-09-15 19:22] eric-jahn commented on #340
@suryayadavalli will verify our encodings are okay with special characters. @logicsandeep recommends UTF-16.  But, @logicsandeep also added that the dedup ID not being generated (null, when he checked) should not be a blocker.  This encoding should happen on the openempi side (duplicate of issue #336).  Close this once @suryayadavalli checks on the encodings in our apis.

[2017-09-15 19:26] eric-jahn commented on #306
@suryayadavalli will complete this by Monday.

[2017-09-15 19:28] eric-jahn commented on #306
here's the pdf with all the data elements: https://www.hudexchange.info/resources/documents/HMIS-Data-Dictionary.pdf

[2017-09-15 19:33] eric-jahn commented on #306
This also has the numerals nicely listed: http://www.hudhdx.info/Resources/Vendors/5_1_2/HMISCSVSpecifications6_11.docx

[2017-09-15 19:39] eric-jahn commented on #303
@logicsandeep will demo the new view and get approval before going live with it.  cc: @sachs089

[2017-09-15 19:42] eric-jahn commented on #303
@logicsandeep is 95% finished with APIs.  Early next week, he will deploy.  RAML will arrive Wed or Thurs..

[2017-09-15 19:43] eric-jahn commented on #277
@logicsandeep will deploy soon, after db changes.

[2017-09-19 19:09] eric-jahn commented on #306
per @suryayadavalli: 6 APIs, one for each year.  development is complete. Documentation needs to be committed.

[2017-09-19 19:20] eric-jahn commented on #328
@CTAJavier @sachs089 any feedback on this?   We still need to provide better docs.  Reopening until our docs are posted.

[2017-09-19 19:26] eric-jahn commented on #289
@logicsandeep will be adding the database schema today, then all commits by Friday.  The bulk uploader by 9/29, when all is done.  @suryayadavalli will share his JMeter unit test scripts to run against 2017 and other years.

[2017-09-21 17:57] suryayadavalli commented on #306
Spoke to @eric-jahn today to get clarifications on few of the questions. Currently, the GET APIs for retrieving the survey questions and retrieving the pick list values are in place, however, there is some additional work (following) that needs to be done to meet the requirement.

1. Maintain the HUD numbering for the questions and send as a part of the response.
2. Associate the appropriate pick

[2017-09-22 19:42] eric-jahn commented on #328
@logicsandeep will move onto this after the 2017 Issue #289

[2017-09-26 06:36] suryayadavalli opened #341 "JMeter script testing for validating 2017 Client APIs"

[2017-09-26 06:39] suryayadavalli commented on #306
API : https://www.hmislynk.com/hmis-clientapi-v2014/rest/questions

`{
   "questions":{
      "pagination":{
         "from":0,
         "returned":2,
         "total":2,
         "maximum":30,
         "sort":{

         }
      },
      "questions":[
         {
            "questionId":"273ec115-4a6a-4919-84e3-b8a0515fd2a7",
            "questionDescription":"How long has it been since you lived

[2017-09-26 06:40] suryayadavalli commented on #341
[Client API JMeter scripts.zip](https://github.com/servinglynk/hmis-lynk-open-source-docs/files/1332035/Client.API.JMeter.scripts.zip)

[2017-09-26 13:47] eric-jahn commented on #306
Looks good and meets the requirements we discussed (except, see small changes suggested below).  Also please show @pgorecki and @CTAJavier for feedback, since they will be the first consumers of this.

- Wouldn't all the response have "hudQuestion" : true ?
- I don't think "locked" and "questionWeight" need to be included in the response either. These are just static read-only responses that aren'

[2017-09-26 13:54] eric-jahn commented on #306
One requirement for the get request is that a request parameter of hudQuestionId could be passed, which would just return one specific question.

[2017-09-26 19:30] eric-jahn commented on #341
@logicsandeep must adapt this to 2017 . Unit testing should be completed by Thursday.

[2017-09-26 19:38] eric-jahn commented on #306
@suryayadavalli will cut a branch this, for all years.

[2017-09-26 19:40] eric-jahn commented on #303
@sandeep will close this with the commit id.

[2017-09-26 19:47] eric-jahn commented on #289
@logicsandeep needs to add connection pooling and API html to @pgorecki tomorrow.

[2017-09-26 19:51] #187 closed

[2017-09-26 21:37] eric-jahn commented on #250
Let's set the beginning of testing to Oct. 20.

[2017-09-28 16:20] eric-jahn opened #342 "/organizations was missing from the 2014 API (corrected now). Is it also missing from the 2014 implementation?"
Can we verify it's implemented for 2014?
https://github.com/hmis-interop/xml/blob/v4.0-latest/src/HUD_HMIS.xsd#L779

[2017-09-29 07:18] suryayadavalli commented on #307
Completed

[2017-09-29 07:18] #307 closed

[2017-09-29 18:50] logicsandeep commented on #303
https://github.com/servinglynk/hmis-lynk-open-source/commit/6937744a99aaa5e39a8dbff0c196a6df3d5029e2

https://github.com/servinglynk/hmis-lynk-open-source/commit/5600cbf887e356c99c9c13fc33eb7a824dc65f5e

https://github.com/servinglynk/hmis-lynk-open-source/commit/a13f72260bd12fc6682f91cfc5391fa4a457b544

https://github.com/servinglynk/hmis-lynk-open-source/commit/e9ff504c68aa643056c9bafce1bb93c4d8

[2017-09-29 18:50] #303 closed

[2017-09-29 19:29] eric-jahn commented on #342
@logicsandeep will check on this and update the ticket.

[2017-09-29 19:33] eric-jahn commented on #341
@logicsandeep will be creating a new JMeter script for 2017.  Should we have a separate repo?  We're thinking keep it in the same.  It's Sandeep's decision.  Maybe the docs repo.

[2017-09-29 19:34] eric-jahn commented on #340
@logicsandeep will double-check if this made the cut for 2.4 and will close with the commit id.

[2017-09-29 19:44] eric-jahn opened #343 "use Nexus for storing artifacts"
- Install an open source, freely licensed Nexus repository server

- Configure server and build script, so newly compiled binaries are archived and versioned.
 Configurations should be checked into the hslynk-config private repository

- Ensure all current binaries (including coordinated entry and entity support) are archived in the new Nexus repository

- Make sure we can deploy the code from tak

[2017-09-29 19:47] eric-jahn commented on #336
@logicsandeep has coded this fix already.  He will double-check that it is part of 2014 and deploy with 2.4.

[2017-09-29 19:48] eric-jahn commented on #306
@surya finished will commit with id.

[2017-09-29 19:49] eric-jahn commented on #289
@logicsandeep has finished this and will close with commit.

[2017-09-29 19:51] eric-jahn commented on #277
@logicsandeep has the postgres part done, but needs to purge hbase also.  Moving to 2.5 milestone.

[2017-10-02 03:09] logicsandeep commented on #342
I verified that we have /organizations endpoints in the 2014 data model.

[2017-10-02 03:09] #342 closed

[2017-10-02 03:10] logicsandeep commented on #342
Here it is.
https://github.com/servinglynk/hmis-lynk-open-source/blob/release-2.4/hmis-clientapi-v2014/src/main/java/com/servinglynk/hmis/warehouse/rest/OrganizationsController.java

[2017-10-02 03:10] logicsandeep commented on #340
Merged all the code to 2.4 branch along with the 2017 model changes.

[2017-10-02 03:10] #340 closed

[2017-10-02 03:13] logicsandeep commented on #340
https://github.com/servinglynk/hmis-lynk-open-source/commit/3bbb8c8a4bf92d4cf703ee9065eda481d64ddb0d

[2017-10-02 05:53] #329 closed

[2017-10-02 06:08] #240 closed

[2017-10-02 06:10] #163 closed

[2017-10-02 06:15] eric-jahn commented on #218
Completed, see: https://github.com/servinglynk/hmis-lynk-open-source-docs/wiki/HSLynk-API-Documentation

[2017-10-02 06:15] #218 closed

[2017-10-02 13:13] eric-jahn commented on #40
Needs to support multi-year across global projects.

[2017-10-02 17:59] eric-jahn commented on #196
fixed

[2017-10-02 17:59] #196 closed

[2017-10-03 15:01] eric-jahn opened #344 "add a "project user" role"
The project user may not access data outside their specifically assigned project(s).  A user account could be the project user for multiple/all projects within a project group, though. We need to determine if this will also need to be reflected in the data warehouse as well.

[2017-10-03 15:11] eric-jahn opened #345 "augment consent rules to limit sharing to a list of projects, not a whole project group"
Currently, client consent allows the client's record to be available within an entire project group.  We need to be able to allow the client to specify which global projects may view their information, within the consent.

[2017-10-05 15:29] eric-jahn opened #346 "full local development environment deployment documentation and contribution process"
This will help developers contribute to HSLynk in any area of functionality, by facilitating local HSLynk deployment and testing.  Developers would then submit pull requests for community review and acceptance or feedback.

see requirements wiki page: https://github.com/servinglynk/hmis-lynk-open-source-docs/wiki/HSLynk-Development-Environment-Functional-Requirements

[2017-10-05 17:17] eric-jahn opened #347 "Support 2018 Point-In-Time (PIT) count report"
https://www.hudexchange.info/news/2018-hic-and-pit-data-collection-notice/

[2017-10-05 17:29] eric-jahn opened #348 "Support 2018 Housing Inventory Chart"
https://www.hudexchange.info/news/2018-hic-and-pit-data-collection-notice/

[2017-10-06 07:09] suryayadavalli commented on #337
This must be an intermittent error that occurred and should be something to do with some network data transmission. Verified all the APIs and API doesn't return a HTTP 200 , when there is an error.  We will re-open this issue, if this ever happens again to analyse further

[2017-10-06 07:09] #337 closed

[2017-10-06 10:55] suryayadavalli commented on #306
commit URL:
https://github.com/servinglynk/hmis-lynk-open-source/commit/10c7e2e80f121be2d9e5fc086b0b9b4ba4a9071a

[2017-10-06 10:55] #306 closed

[2017-10-06 19:24] eric-jahn commented on #341
@sandeep checked it into docs repo. https://github.com/servinglynk/hmis-lynk-open-source-docs/commit/02fe99964af85be11e4167e41fa25d6b74b8d74b

[2017-10-06 19:24] #341 closed

[2017-10-06 19:27] eric-jahn commented on #289
@logicsandeep plans to close either today, or max Sunday 10/8/17.

[2017-10-06 19:38] eric-jahn commented on #343
@sandeep wants to prioritize this so our release is consistent with artifacts.

[2017-10-06 19:57] eric-jahn commented on #336
2.4 deployed with https://github.com/servinglynk/hmis-lynk-open-source/21ecb4e66dac424a4be4628b67ee16a05505e0ec

[2017-10-06 20:00] eric-jahn commented on #336
closed with https://github.com/servinglynk/hmis-lynk-open-source/commit/21ecb4e66dac424a4be4628b67ee16a05505e0ec

[2017-10-06 20:00] #336 closed

[2017-10-10 00:08] eric-jahn commented on #270
per @CTAJavier  "it seems we have deleted clients in the home project group again can one of you please restore all of them ASAP"

[2017-10-10 19:12] eric-jahn commented on #270
Team will investigate further for next meeting.  Bulk uploader added these clients in 2016.  We don't know when this issue happened.  It was likely before we set the logger trace on it.

[2017-10-10 19:37] eric-jahn opened #349 "rename, redeploy and move web client consent APIs to auth repo"
They are currently deployed at this web endpoint 2014-hmis-api/#clients__clientid__consentmessages_get and should be in authorization-service-api

related issue: https://github.com/hmis-api/2014-hmis-api/issues/3

[2017-10-12 06:39] suryayadavalli commented on #349
Resolved

https://github.com/hmis-api/2014-hmis-api/commit/a1591437b338a08c425b759678137af3aea38826

[2017-10-12 06:39] #349 closed

[2017-10-12 18:10] eric-jahn opened #350 "add deployment info to README.md"
https://github.com/servinglynk/hmis-lynk-open-source/blob/master/README.md

something like:

"
To deploy one our microservices locally:

`maven install pom.xml`

`mvn deploy pom.xml`
"
with references to a specific microservice.

related issue: https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/346

[2017-10-13 12:51] eric-jahn commented on #222
We will needs need setter web methods to dynamically associate the global project with HMIS version specific projects and CES and any other projects.

[2017-10-13 19:23] eric-jahn commented on #164
@logicsandeep 15% completed with this.  Tuesday, 10/17 he hopes to be finished with it.

[2017-10-17 06:36] logicsandeep commented on #289
closing this task.

[2017-10-17 06:36] #289 closed

[2017-10-17 06:43] logicsandeep opened #351 "2017 HUD APR Report: UI changes and calculation for section 4a"
2016 HUD APR Report: UI changes and calculation for section 4a

[2017-10-17 06:44] logicsandeep opened #352 "2017 HUD APR Report: UI changes and calculation for section 5a"

[2017-10-17 06:44] logicsandeep opened #353 "6a 2017 HUD APR Report: UI changes and calculation"

[2017-10-17 11:48] eric-jahn commented on #289
Closed by https://github.com/servinglynk/hmis-lynk-open-source/commit/9051cad90908c1a9942564ff543050213dde3039

[2017-10-17 12:30] eric-jahn commented on #353
See https://www.hudexchange.info/resource/4696/hmis-programming-specifications/

[2017-10-17 12:30] eric-jahn commented on #352
See https://www.hudexchange.info/resource/4696/hmis-programming-specifications/

[2017-10-17 12:31] eric-jahn commented on #351
See https://www.hudexchange.info/resource/4696/hmis-programming-specifications/

[2017-10-17 19:06] eric-jahn commented on #164
@logicsandeep plans to be finishe with this by Friday.

[2017-10-19 14:47] eric-jahn opened #354 "Ability to upload HMIS XML and CSV via API"
This was in our original requirements, and the HMIS XML bulk uploader admin website was supposed to just consume this bulk API method.  As it stands now, the HMIS admin website is hard-wired to the bulk uploader microservice.  This needs to be decoupled.

Brighthive has requested this feature, as have others. This should work for all HUD Data Standard versions.

related issue (less urgent, not a s

[2017-10-19 15:15] eric-jahn commented on #334
AHAR XML uploads to HDX will be part of this.
http://www.hudhdx.info/Resources/Vendors/ahar/2_0_4/HUD_HMIS_AHAR_2_0_4.xsd

[2017-10-19 16:34] eric-jahn commented on #353
@logicsandeep Can you add an estimate for the # hours to complete this task?

[2017-10-19 16:34] eric-jahn commented on #352
@logicsandeep Can you add an estimate for the # hours to complete this task?

[2017-10-19 16:34] eric-jahn commented on #351
@logicsandeep Can you add an estimate for the # hours to complete this task?

[2017-10-19 16:35] eric-jahn commented on #345
@suryayadavalli  Can you add an estimate for the # hours to complete this task?

[2017-10-19 16:35] eric-jahn commented on #344
@suryayadavalli Can you add an estimate for the # hours to complete this task?

[2017-10-19 16:36] eric-jahn commented on #343
@logicsandeep Can you add an estimate for the # hours to complete this task?

[2017-10-19 16:39] eric-jahn commented on #250
Note: please see related issues #351 , #352 , and #353 for hours estimates.

[2017-10-19 16:39] eric-jahn commented on #164
@logicsandeep  Can you add an estimate for the *remaining* # hours to complete this task?

[2017-10-19 16:50] eric-jahn opened #355 "ability to store survey definition"
per item #2 in https://github.com/servinglynk/hmis-lynk-open-source-docs/wiki/HSLynk-Survey-Service---Open-items

@suryayadavalli can you add an hours estimate for this task?

[2017-10-19 17:02] eric-jahn opened #356 "ability to store complex survey responses"
per item 1 in https://github.com/servinglynk/hmis-lynk-open-source-docs/wiki/HSLynk-Survey-Service---Open-items

@suryayadavalli can you add an hours estimate for this task?

[2017-10-19 22:42] eric-jahn commented on #346
Related issue #350

[2017-10-19 22:44] eric-jahn commented on #350
https://github.com/servinglynk/hmis-lynk-open-source/commit/3b770697a917de40ba5bf976b65d06bcaf5ae87a
https://github.com/servinglynk/hmis-lynk-open-source/commit/160e58cdc1aa2519c21cae2f8acdaddf17a88a20
https://github.com/servinglynk/hmis-lynk-open-source/commit/321647e7b1bf44d794c88129ab34bbe06185a713
https://github.com/servinglynk/hmis-lynk-open-source/commit/05ed2a3f4f77e82252a250e504e8c1f623616

[2017-10-22 16:21] eric-jahn commented on #354
@logicsandeep: Please shift your current sprint work to this issue.  Can you estimate the amount of time to  complete this, in hours, for each of CSV and XML?  This is upload only, and there is a separate (not as urgent) issue to add the reverse (CSV/XML download).

[2017-10-22 16:24] eric-jahn opened #357 "Ability to download XML/CSV via API"
related issue: https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/354

[2017-10-24 03:59] logicsandeep commented on #354
Hi,
Below is a brief overview of how the API upload API would work.
Steps:
1) User uploads a file on their front-end application and the front-end application calls our endpoint. (/upload).
2) The API will return a status code of 200 once the file is uploaded successfully.
3) The API will return a 500 status code for error condition along with the error message.
3) The API will also return a respo

[2017-10-24 12:37] eric-jahn commented on #354
Some other considerations I had: should we require the XML and CSV packages to be compressed with 7z?

When processing of the file is fully complete (all stages), should there be some sort of push notfication and if so how should we implement that?  This could occur hours after the 200 successful upload response.  When processing is fully complete, the data will be available via Hive from HBase, a

[2017-10-24 13:19] eric-jahn commented on #354
for both XML and CSV after processing is completed or there is a non 200 initial response, and error log should be available for download via API.

[2017-10-24 13:24] eric-jahn opened #358 "Support 2005 HMIS Schema"
for longitudinal studies

[2017-10-24 17:55] suryayadavalli commented on #356
This will be complete by EOD 10/27.

This is to be able to store complex survey responses for instance (children information in the household). HMIS should be able to store a json data structure as a response and changes that are required for reporting purposes will be handled by @logicsandeep on the back-end.

[2017-10-24 18:02] suryayadavalli commented on #355
ETA 10/25.

As discussed, entire survey definition will be stored in HSLynk . However, as we store scores at the section level,  the sections need to be created.  So, essentially, the following steps need to be performed in order to have a complete survey / responses / scores maintained in the system.

1. Create a survey
2. Create sections for the survey
3. Store survey definition
4. Store respons

[2017-10-24 18:03] eric-jahn commented on #356
@suryayadavalli: about how many hours effort, do you estimate, for your portion of this issue?

[2017-10-24 18:09] suryayadavalli commented on #355
@CTAJavier : please note that you will still be creating the sections to be able to POST the scores for the clients.  Fact that the entire survey definition can be stored in HSLynk doesn't eliminate creating survey sections , for score / eligible clients processing purposes.

[2017-10-24 18:11] suryayadavalli commented on #355
Also,  from a technical stand point , due to the possible special characters that can be part of survey definition, the JSON need to be "stringified" and sent to HSLynk. The same applies to responses as well.

**References**
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify

[2017-10-25 01:18] eric-jahn commented on #354
@logicsandeep should be able to complete this task by Friday.

[2017-10-25 01:45] eric-jahn commented on #332
Requested by Brighthive 10/17.

[2017-10-25 02:00] eric-jahn opened #359 "decouple Admin app, so it consumes bulk upload APIs"
...just as any other app would consume the upload APIs

[2017-10-27 16:32] eric-jahn commented on #251
AHAR Schema is at: http://www.hudhdx.info/Resources/Vendors/ahar/2_0_4/HUD_HMIS_AHAR_2_0_4.xsd
sample instance: http://www.hudhdx.info/Resources/Vendors/ahar/2_0_3/eAHAR_Instance.xml

[2017-10-27 19:12] eric-jahn commented on #354
Endpoint will be ready by Tuesday 10/31.  Additional features by Wednesday 11/1/17.

[2017-10-27 19:24] eric-jahn opened #360 "space issue on Jenkins"
It throws Prometheus issues periodically.
Related issue is #343

[2017-11-02 17:47] eric-jahn opened #361 "support PATH Annual report"
...for PATH funded agencies using HMIS to collect data.

[2017-11-03 17:45] eric-jahn opened #362 "HMIS System Performance Measures Report"
related to Issue #14

[2017-11-03 19:06] eric-jahn commented on #354
APIs will be published and deployed by Monday 11/6/17.

[2017-11-03 19:07] eric-jahn commented on #359
@logicsandeep said that he'l have this also done probably by Monday 11/6, or perhaps Tues.

[2017-11-03 20:40] eric-jahn opened #363 "make it so the master person index does not fail on account of a poorly formatted SSN"
and change the rule so that a client always must have a global ID

[2017-11-05 03:28] logicsandeep opened #364 "Un Deleted, deleted clients for monterey."
@sachs089  provided a list of projects from the 2014, 2015 and 2016 schemas which he wanted un deleted. This was going to be a surgical update and laborious. Also make sure that those records are synced to HBASE.

[2017-11-05 03:28] logicsandeep commented on #364
All the updates are done and I'm currently making sure that the updated records are synced to HBASE.

[2017-11-05 03:28] #364 closed

[2017-11-05 03:29] logicsandeep commented on #364
Estimate : 5 hours for this task.

[2017-11-06 16:39] suryayadavalli opened #365 "Global client identifier changes - Global house hold project"
Map global households to global client id, as opposed to the current version specific schema client identifier.  This makes the global household a truly non-HMIS specific construct useful for any human services, but also still HMIS, especially for pre-enrollment scenarios.

[2017-11-06 17:29] suryayadavalli commented on #356
Resolved, Deployed in production.

Commit # https://github.com/hserv/coordinated-entry/commit/22024af69539364ae5f1de1e88d69f7ed179bc7e

API Documentation https://hmis-api.github.io/survey-service-api/#surveys

[2017-11-06 17:29] #356 closed

[2017-11-07 15:53] suryayadavalli commented on #365
https://github.com/hserv/coordinated-entry/issues/133

Changes for global house hold API
STEP 1 : change global house hold APIs to accept dedup Id
1.1 : Maintain dedup Id (also) along with client identifier
1.2 : Modify APIs to accept global client identifier. These APIs will be exposed as V2 APIs.
1.2.1 Detailed changes

Add new column dedup_id in global_household and household_membership tables.

[2017-11-08 17:13] eric-jahn commented on #363
@logicsandeep will briefly look into how to improve this so we can move away from ever having a client with no global ID.

[2017-11-08 17:16] eric-jahn commented on #365
@suryayadavalli wil work on this first, before https://github.com/hserv/coordinated-entry/issues/133 , since it's simpler, but will lead the way towards a good understanding of what's required for 133.

[2017-11-09 07:11] suryayadavalli opened #366 "365.1 - Changes to existing V1 APIs for global house hold - add / maintain dedup Id"

[2017-11-09 07:12] suryayadavalli opened #367 "365.2 - New APIs to accept global client identifier instead of version specific client identifier"
V2 New APIs,
2.1 Implement CRUD operations for global_household and household_membership tables, DEDUP id as unique identifier.
2.3 Delete logic, latest schema year record will be deleted on delete request.

[2017-11-09 07:12] suryayadavalli commented on #366
Development is complete.

[2017-11-09 07:13] suryayadavalli commented on #367
Work in progress as of 11/08. Should be able to complete the development by EOW.

[2017-11-10 18:39] logicsandeep opened #368 "Added dedup_client_id to the Enrollment and the active_list view."
cc: @CTAJavier @sachs089
We need to add dedup_client_id to the enrollment and the active_list view so reporting can be done efficiently and without taking too many round trips. The estimate to complete this issue is 7 hours.

The following needs to be done from a technical perspective.
1) Make changes to the sync process to include client_dedup_id in the enrollment table.
2) Make changes to the hi

[2017-11-10 20:31] eric-jahn commented on #270
@logicsandeep still looking into this.  Nothing conclusive yet.  He checked if it was a dedup ID generation issue, but it isn't.  It's not from the bulk uploader or the API.

[2017-11-10 21:20] eric-jahn commented on #359
On 10/14 @logicsandeep will have fully completed this task, and will go back to completing #164 for the APR report.

[2017-11-14 20:21] eric-jahn commented on #328
per @logicsandeep, project group code needs to be populated https://github.com/hserv/coordinated-entry/issues/116 .  @suryayadavalli says it won't be a big change.

[2017-11-14 20:24] eric-jahn commented on #318
@logicsandeep said this is implemented, but wiki will be done eod tomorrow.

[2017-11-14 20:51] eric-jahn commented on #368
7 hours estimated effort per @logicsandeep

[2017-11-15 15:33] eric-jahn opened #369 "offer 2 factor authorization"
We had implemented it early on, but the system is not included in our current APIs.  Related issue: https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/199

[2017-11-15 15:41] eric-jahn opened #370 "Add "try it now" functionality API documentation"
use Spring's aspect support to create api explorer, which introspects our Java code's aspects to generate "try it now" html and underlying system, linked to a test/sandbox account.

[2017-11-15 22:36] eric-jahn commented on #362
from HUD TA today: "We heard back from HUD on an effective date for the System Performance Measures. The SPMs are to be live in your system by March 1, 2018. This will allow the Sys Admins and CoC’s to be able to test and review the updated SPMs in advance of the submission deadline which although not finalized yet, is intended to be in late spring."

[2017-11-15 23:05] eric-jahn commented on #368
@logicsandeep Please start on this when you are ready.

[2017-11-16 16:46] eric-jahn opened #371 "configure openEMPI to store the source system client ID"
Assigned dedupe client id is ABC123.  Monterey upload 1 source client id is is "client789".  Monterey upload 2 source client id for the same person is "789". And Skidrow upload 1 source client id for the same person is "0000efg".   And Skidrow upload 2 source client id for the same person is null.  But all  records get assigned dedupe client id ABC123.  The null source ID submission is not logged.

[2017-11-16 17:18] eric-jahn opened #372 "support private record linkage (PRL) with openEMPI"
To avoid any HIPAA restriction on transmitting identifiers for deduping.  Also, HMIS XML and CSV  allow transmission of hashed identifiers, which would be an established way to convey this information within an HMIS context.

[2017-11-17 06:46] suryayadavalli commented on #365
Commit id #https://github.com/servinglynk/hmis-lynk-open-source/commit/e01e7947107d8e99d944fde3a9e5ad831c0e9f2c

Link to documentation : https://hmis-api.github.io/global-household-api/

[2017-11-17 06:46] #365 closed

[2017-11-17 06:46] suryayadavalli commented on #366
Commit id #https://github.com/servinglynk/hmis-lynk-open-source/commit/e01e7947107d8e99d944fde3a9e5ad831c0e9f2c

Link to documentation : https://hmis-api.github.io/global-household-api/

[2017-11-17 06:46] #366 closed

[2017-11-17 06:46] suryayadavalli commented on #367
Commit id #https://github.com/servinglynk/hmis-lynk-open-source/commit/e01e7947107d8e99d944fde3a9e5ad831c0e9f2c

Link to documentation : https://hmis-api.github.io/global-household-api/

[2017-11-17 06:46] #367 closed

[2017-11-17 06:54] suryayadavalli opened #373 "Populate project group code for existing survey data"
This is complete (for both section_score and responses)

**_Responses (query output below)_**
Query returned successfully: 140976 rows affected, 1.4 secs execution time.

**_Section scores (query output below)_**
Query returned successfully: 7126 rows affected, 111 msec execution time.

[2017-11-17 20:17] eric-jahn commented on #373
@logicsandeep is tackling HBase aspects

[2017-11-21 20:32] eric-jahn commented on #373
@logicsandeep hopes to finish this by end of day today

[2017-11-21 20:35] logicsandeep commented on #359
This can be closed.
https://github.com/servinglynk/hmis-lynk-open-source/commit/559a2e9cecc8f4bfa985c69378f3bf56060fec90
https://github.com/servinglynk/hmis-lynk-open-source/commit/42fa6b395413a9eda5f1d3db729f45df909e856a

https://github.com/servinglynk/hmis-lynk-open-source/commit/9a98479912165bd332dc56010408d268a5e49cb9

https://github.com/servinglynk/hmis-lynk-open-source/commit/a7af5e3df15949e

[2017-11-21 20:35] #359 closed

[2017-11-21 20:37] logicsandeep commented on #354
https://github.com/servinglynk/hmis-lynk-open-source/commit/244cece88c6375ecf04e4003f0544092d754437c
https://github.com/servinglynk/hmis-lynk-open-source/commit/2a5cd71b952d52460f081156c93c7e1f4742a8fd

https://github.com/servinglynk/hmis-lynk-open-source/commit/70a4a12c0fcb93be8fa79921eb1b6e2880d8b68f

https://github.com/servinglynk/hmis-lynk-open-source/commit/65e192d26c98835ae95b34c7eaf152de82b

[2017-11-21 20:37] #354 closed

[2017-11-21 20:52] eric-jahn commented on #328
eta = eod tomorrow per @logicsandeep

[2017-11-21 20:53] eric-jahn commented on #368
eta = eod tomorrow per @logicsandeep

[2017-11-21 21:17] sachs089 commented on #328
Thanks Eric

*Sachin Kaushik*
*Business Intelligence Analyst*
Direct: (669) 261-2007
Main: (408) 645-2316
*Facebook <http://www.facebook.com/ctagroup.org> • Twitter
<https://twitter.com/CTA_Group_> • Video
<http://www.ctagroup.org/what-we-do/video/>*

<http://www.ctagroup.org/>

On Tue, Nov 21, 2017 at 12:52 PM, Eric Jahn <notifications@github.com>
wrote:

[2017-11-27 19:16] sachs089 commented on #368
@logicsandeep Hey Sandeep, any update on this?

[2017-11-28 17:19] logicsandeep commented on #368
The active_list and enrollment views now have dedup_client_id. The data is getting synced and that's why you would see dedup_ids as null for a lot of records.

[2017-11-28 20:11] eric-jahn opened #374 "populate null dedupe ids"
go back and populate this for any legacy clients that do not have a dedupe id ~5,000 clients

[2017-11-28 20:29] eric-jahn commented on #373
Completed per @logicsandeep .  He will close soon with the commit id.

[2017-11-28 20:32] eric-jahn commented on #328
related to issue #373

[2017-11-30 20:10] eric-jahn commented on #373
@logicsandeep will be finished with this by end of weekend.

[2017-12-07 21:04] logicsandeep opened #375 "Populate date_updated when adding a new client via APIs"

[2017-12-08 06:55] suryayadavalli commented on #375
@sandeep: I see that this change was made in ClientDaoImpl.
 However if we are planning to set this "date updated" field this should be global change , just not client entity. This change needs to be done in QueryExecutorImpl so, its taken care across the board. Will make this change in next sprint and for now we can go with the temporary fix that was made to ClientDaoImpl.

[2017-12-08 07:09] logicsandeep commented on #375
I agree I was thinking of changing hight above, but I wanted to focus on Client entity first.

[2017-12-08 09:12] logicsandeep commented on #375
This change is completed for 2014,2015,2016 and 2017 schema for the client table for now.
I've deployed 2015 APIs because home app uses the 2015 schema heavily.

Commit ids:
https://github.com/servinglynk/hmis-lynk-open-source/commit/412cbc0fb9f94ae08abd5491aac30f107aa4f3e1
https://github.com/servinglynk/hmis-lynk-open-source/commit/3e3ec370dad0be65a83f3f54b1049fd29f385fab

[2017-12-08 09:12] #375 closed

[2017-12-08 20:20] eric-jahn commented on #368
This is completed.  Please reopen if you see issues.

[2017-12-08 20:20] #368 closed

[2017-12-11 22:50] logicsandeep opened #376 "Populate date_updated when a record gets inserted into any table with in hmis schema."
Populate date_updated when a record gets inserted into any table with in hmis schema.

[2017-12-12 16:03] eric-jahn commented on #374
per @logicsandeep , ~300 records in version specific schema still have no global id populated.  about 12,000 records have been populated though.  For the remaining, the strategy will be to   use the version specific personal identifiers to create a new global client ID.

[2017-12-12 16:11] eric-jahn commented on #373
@logicsandeep can you close this with the commit id?

[2017-12-12 16:12] eric-jahn commented on #328
@logicsandeep If #373 is completed, is this issue now complete, or do you still have more configuration to do?

[2017-12-12 19:19] suryayadavalli opened #377 "Client from HOMEapp Project group are not visible in Active List"

[2017-12-12 19:19] suryayadavalli opened #378 "Issue with redirect after password fail for OAUTH"
cc: @pgorecki @CTAJavier
**_Comments from HOME APP_**
If password entered incorrectly once, Oauth will not log on after it accepts the password instead window closes but no redirect action. User must sign in again

[2017-12-12 19:20] suryayadavalli opened #379 "HSLynk Profiles and Roles"
**_Comments from HOME APP_**
Cannot currently CRUD permissions for Role
Cannot currently CRUD Permissions for Profile
Permission set Documentation is sparse.

cc: @pgorecki @CTAJavier

[2017-12-12 19:20] suryayadavalli opened #380 "consent modifications meta-issue"
cc: @pgorecki @CTAJavier

**_Questions from HOME APP_**
How do we set project [sub]groups
For consent, can you assign multiple projects to multiple groups?

[2017-12-12 19:25] eric-jahn commented on #377
This is a CES-specific feature.  Moving there.

[2017-12-12 19:25] #377 closed

[2017-12-12 19:29] suryayadavalli commented on #379
Currently , both Roles and Profiles are managed by only HSLynk, not the clients.  A profile determines all the APIs that a user can access and a Role determines the extent of data that the user can access , both of which needs to be controlled by HSLynk.

This is based on the understand that we will have standard set of profiles like Customer Admin Profile , Case Manager Profile etc..

Also, permi

[2017-12-12 19:56] suryayadavalli opened #381 "VPN set up for HSLynk platform"
Currently , including the development team , we have clients accessing our platform from various entry points (either through the desktop tools, or web applications or through SSH). Although all these gateways are guarded with with SSL protection, there are few tools that clients are using to access our data , are not supporting SSL.

Secondly,  As we cannot control the locations from which the en

[2017-12-12 19:57] suryayadavalli commented on #381
Currently working on the POC for setting up the OpenVPN. Should have this set up with couple of test licenses by end of this week.

[2017-12-12 19:58] eric-jahn commented on #381
duplicate issue, so closing the other one at: https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/297

[2017-12-12 19:58] eric-jahn commented on #297
duplicate of #381

[2017-12-12 19:58] #297 closed

[2017-12-12 22:20] logicsandeep opened #382 "Change countRows() to use Projections.rowCount() instead of getting all the records and then getting size."
Change countRows() to use Projections.rowCount() instead of getting all the records and then getting size.

[2017-12-13 06:03] suryayadavalli commented on #378
cc @CTAJavier @pgorecki

Debugged this issue further. Looks like the redirect is happening successfully. However, once control is handled back to the client  , there is some call back processing that is not working as expected, due to which the user is not redirected to the Dashboard , after a successful login attempt .

The redirection is happening to the following URL in case of HOME
https://hom

[2017-12-13 06:41] suryayadavalli commented on #379
Couldn't discuss this today. We follow up and get more information shortly from @CTAJavier

[2017-12-13 14:51] pgorecki commented on #378
I'm investigating the issue

[2017-12-13 20:24] eric-jahn opened #383 "enrollmentcoc endpoints in 2014"
per @logicsandeep "It looks like we may have missed creating endpoints for enrollmentcoc in the 2014 data model.  I'll create an issue and get that endpoint out for us ASAP"

Also, while doing this task, please fix these issues as well: https://github.com/hmis-api/2014-hmis-api/issues

[2017-12-13 21:16] eric-jahn commented on #379
per @CTAJavier , we need an admin app to retrieve the set of permissions their user currently is working under.  Sort of a grid with checkmarks in boxes for current roles.

[2017-12-13 22:03] eric-jahn commented on #328
We can't find the match remarks.  Which table are they within?  We are using Looker to inspect warehouse. cc: @CTAJavier

[2017-12-13 22:23] eric-jahn opened #384 "implement project subgroups"
...to arrive at a generic Agency concept or for easier consent permissions assignment.   Or it could alternatively be considered/used as a similar function across a few agencies within the same project group.  A user can be a member of a project subgroup, and thereby have access to all the data in the project subgroup's contained projects by default.

[2017-12-13 22:48] eric-jahn commented on #380
We need to have in consent Getter a way to retrieve projects that are consented to.

[2017-12-13 23:13] eric-jahn opened #385 "verify handling of data collection stage"
Going through the 2017 APIs, I couldn't find the DataCollectionStage element anywhere in the JSON responses or in the JSON schema definitions.  For example, it should be in here https://hmis-api.github.io/2017-hmis-api/#clients__clientid__enrollments__enrollmentid__employments_post  .  If you look at the employment table here: http://www.hudhdx.info/Resources/Vendors/5_1_2/HMISLogicalModel2017v1_2

[2017-12-13 23:42] eric-jahn opened #386 "API documentation is missing schemas and examples..."
for both requests and responses.  We need to look through each api and correct gaps.

[2017-12-14 06:01] eric-jahn commented on #386
I think this is fixed now.  I hadn't merged all the refactor branch work into master.  Once I did that, the schemas and examples showed up.

[2017-12-14 06:01] #386 closed

[2017-12-14 06:42] logicsandeep commented on #383
https://github.com/servinglynk/hmis-lynk-open-source/commit/e8539b00501a382cc1b6d75f86378e7c93de5ad1
https://github.com/servinglynk/hmis-lynk-open-source/commit/a7f9f3140ee677e1d0fdf70635772481524a6a03
https://github.com/servinglynk/hmis-lynk-open-source/commit/0bf8fea910ae6c30f0126a23cc61bb02ee57ccd3

[2017-12-14 06:42] #383 closed

[2017-12-14 06:43] logicsandeep commented on #383
This issue is fixed and deployed to production.

[2017-12-14 16:11] eric-jahn commented on #379
I spoke with @CTAJavier .  Other than an admin app to view a user's perms (separate issue), they may need more roles (and especially a project user role), but there is no current issue with implementation.

[2017-12-14 16:11] #379 closed

[2017-12-14 16:13] eric-jahn opened #387 "in admin UI, add user profiles/roles view and configuration"
...so that a customer admin role or even a project admin role (a future role), can view/edit users' permissions.

[2017-12-16 02:37] logicsandeep commented on #328
The following tables are added.
picklist_group
picklist_value
question
question_group
response
section_question_mapping
section_score
survey
survey_section
global_household

[2017-12-16 02:47] CTAJavier commented on #328
Can you please post where(what table) the remarks are stored for match
process??

On Dec 15, 2017 6:37 PM, "Sandeep Dolia" <notifications@github.com> wrote:

[2017-12-17 07:51] logicsandeep commented on #328
Added the following views for Monterey. It looks like these tables were added recently.
match_reservations
match_status
match_status_levels
match_status_remarks

[2017-12-18 17:55] CTAJavier commented on #328
Tables are visible, but there is no way to link to any other table. Please instruct on what fields to join, since it does not seem there a way to tie to the client or active list or even any of the other match status tables.

[2017-12-18 20:02] logicsandeep commented on #328
Please look in to the match_status table. You should see client_id there.

[2017-12-18 20:58] CTAJavier commented on #328
Match status returns Empty, and we will still need to link to the match
status remarks table unless the ID is the same across all the match status
tables.

*Javier Celedon*
*Operations Director*
Direct: (408) 437-9168
Main: (408) 437-8800
*Facebook <http://www.facebook.com/ctagroup.org> • Twitter
<https://twitter.com/CTA_Group_> • Video
<http://www.ctagroup.org/what-we-do/video/>*

<http://www.cta

[2017-12-18 21:05] eric-jahn commented on #328
We use only the global client ID now in the CES so the ID should be the same. Now this is starting to tie into issue 148, as to why the match status is not populated.

[2017-12-18 21:18] logicsandeep commented on #328
@CTAJavier
So the reason why match_status is empty for Monterey is that there are no match statuses in our postgres schema. I clearly do see some match_status_levels and match_status_remarks.

[2017-12-18 21:21] eric-jahn commented on #328
Which goes back to https://github.com/hserv/coordinated-entry/issues/149

[2017-12-19 18:42] eric-jahn commented on #328
closed per @CTAJavier

[2017-12-19 19:17] eric-jahn commented on #378
@pgorecki were you able to determine anything regarding this issue?

[2017-12-19 19:18] eric-jahn commented on #373
@logicsandeep are you finished with this?

[2017-12-19 19:50] eric-jahn opened #388 "Add CSV file and index row name in CSV upload error logs"
This will make the index errors less cryptic.

[2017-12-19 20:33] logicsandeep commented on #385
The following tables will have data collection stage across schemas.
[DataCollectionStage.xlsx](https://github.com/servinglynk/hmis-lynk-open-source-docs/files/1573172/DataCollectionStage.xlsx)

[2017-12-19 21:21] eric-jahn opened #389 "Sandbox and Other Validation Stages for XML and CSV"
validate structure
validate data referential integrity and form
XML Schema validation

[2017-12-19 21:29] eric-jahn commented on #385
The table looks good @logicsandeep

[2017-12-19 21:35] eric-jahn commented on #376
@logicsandeep you needed this for syncing, so you look in one place, instead of also date_created.  Is this completed?

[2017-12-19 21:37] eric-jahn commented on #381
This will allow Skidrow to use Falcon SQL client, which requires non-ssl connection.

[2017-12-19 23:16] solawd opened #390 "Questions on HSLynk"
1. What role does Nodejs play in the HSLynk Setup? What parts of the code depend on it?

2. Is Spring the main framework on which all services are built?

3.Which specific applications should be deployed on Tomcat?

4.Is there any particular order in which applications should be deployed (and if so, what order do you recommend?)

5. We would love to have a simple writeup/overview on each project i

[2017-12-20 01:09] eric-jahn commented on #390
@logicsandeep: Could you answer 1, 2, 3, 4?   For #5, this sounds like a wiki page we could work on as a group.  I started a page here: https://github.com/servinglynk/hmis-lynk-open-source-docs/wiki/Component-Descriptions

[2017-12-20 02:06] eric-jahn commented on #335
@logicsandeep Have we started any work on this item?

[2017-12-20 02:45] eric-jahn commented on #253
superceded by #348

[2017-12-20 02:45] #253 closed

[2017-12-20 03:06] eric-jahn commented on #237
related to #370 , but not necessarily accessible via API docs

[2017-12-20 03:09] eric-jahn commented on #389
related to #156

[2017-12-20 03:10] eric-jahn commented on #156
related: #389

[2017-12-20 03:12] #194 closed

[2017-12-20 03:22] eric-jahn commented on #7
Isn't this the trusted app ure we have?  But that is for the whole project group id, not an agency  (project subgroup).

[2017-12-20 07:25] logicsandeep commented on #376
This change is completed and is in production now.

[2017-12-20 08:05] logicsandeep commented on #376
https://github.com/servinglynk/hmis-lynk-open-source/commit/a1b374c0a375e3460493bc38c1647884ae20eb5d

[2017-12-20 08:05] #376 closed

[2017-12-20 08:05] logicsandeep commented on #376
https://github.com/servinglynk/hmis-lynk-open-source/commit/e4230c23839947a5719ae920263181be7ffd1360

[2017-12-21 14:30] slifty commented on #390
Hey @logicsandeep just wanted to touch base on this in case there is anything I can do to help -- if this would be a better conversation to be had by voice we would be happy to find a time, take notes, and post the notes on this issue!

[2017-12-21 16:21] logicsandeep commented on #390
What role does Nodejs play in the HSLynk Setup? What parts of the code depend on it?
We need nodejs for the hmis-admin application.

Is Spring the main framework on which all services are built? Yes, Spring Core, Spring MVC and Spring dependency injection with Hibernate.

3.Which specific applications should be deployed on Tomcat?
    You can deploy any application ending with *service to tomcat.

[2017-12-21 16:35] eric-jahn commented on #390
@logicsandeep for "I'll create a write up and put in the Git repo as soon as I can.", can you add it to the wiki page, https://github.com/servinglynk/hmis-lynk-open-source-docs/wiki/Component-Descriptions , because I want to build this out over time with detailed docs and linkages/graphics, etc..

[2017-12-21 19:06] logicsandeep commented on #390
I updated the README to give a brief explanation of the various java libraries and microservices we have.
https://github.com/servinglynk/hmis-lynk-open-source

[2017-12-21 23:27] eric-jahn opened #391 "CSV false warnings"

[2017-12-21 23:28] eric-jahn commented on #391
@sandeep.dolia Can you give me more details on this warning message?
[code]

[2017-12-22 02:11] eric-jahn commented on #390
@solawd can we close this?

[2017-12-22 11:19] pgorecki commented on #378
Looks like the issue is on our end. However I haven't determined the root cause yet.

[2017-12-22 12:02] solawd commented on #390
@eric-jahn  Yes, we can. Thanks @logicsandeep . That was very infromative.

[2017-12-22 14:18] #390 closed

[2017-12-22 14:42] eric-jahn commented on #378
Okay, I'll close the issue here.  Feel free to reference this closed issue in the HOME App issue tracker.

[2017-12-22 20:21] eric-jahn commented on #385
@logicsandeep still has the API docs to publish

[2017-12-22 20:25] eric-jahn commented on #381
@suryayadavalli said this should be completed by mid-next week.

[2017-12-22 20:25] eric-jahn commented on #373
@suryayadavalli will close with commit

[2017-12-22 20:28] eric-jahn commented on #381
To-do for @logicsandeep once @suryayadavalli is finished: notify @robertmitchellv that his Falcon SQL client can use this VPN to securely connect without SSL (which Falcon requires).  Maybe provide a wiki how-to page.

[2017-12-23 18:39] eric-jahn commented on #389
CSV validation should report things like:
"...file format issues.
Invalid CSV format : EnrollmentCoc.csv does not contain a column for householdId
One more feedback from the previous file. The disablingCondition was 1.0 in one of the rows, although the file had processed that record but technically It should be just 1 and not 1.0."

[2017-12-23 21:29] eric-jahn commented on #251
The 2018 version will be finalized by March 30, 2018.  After that, we will be expected to support it probably by Oct. 1 for the prior year's data.

[2017-12-24 14:20] eric-jahn commented on #350
See #390

[2017-12-24 14:24] eric-jahn commented on #334
Duplicate of #251

[2017-12-24 14:24] #334 closed

[2017-12-25 05:51] logicsandeep opened #392 "Create a process to sync client table which would run more frequently."
Create a process to sync client table which would run more frequently.

[2017-12-25 06:16] logicsandeep commented on #392
This fix is in production.
https://github.com/servinglynk/hmis-lynk-open-source/commit/5b60a1f83c86c7b0130a770528e851853f614495

[2017-12-25 06:16] #392 closed

[2017-12-27 12:15] eric-jahn opened #393 "Limit on questions retrieval from HMIS Schemas"
We are limiting question retrieval.  Can we make it unlimited, or paginated?

https://github.com/servinglynk/hmis-lynk-open-source/blob/21ecb4e66dac424a4be4628b67ee16a05505e0ec/hmis-clientapi-v2015/src/main/java/com/servinglynk/hmis/warehouse/rest/QuestionsController.java#L28

We probably would have to make this change in 2015 as well.

@pgorecki wishes to retrieve perhaps all 2015 (or whichever y

[2017-12-27 14:39] pgorecki commented on #393
it would be enough if I could specify some very large limit (ie. 9999)

[2017-12-27 15:59] eric-jahn opened #394 "consistent pagination parameters"
"...for clients I can specify startIndex and maxItems, for households there are page and limit query params, for housing matches there are page and size. I would be nice to have all the endpoints to behave in the same way. ... page and size seems the most natural I guess."

from @pgorecki

related: https://github.com/hserv/coordinated-entry/issues/170

[2017-12-27 16:06] eric-jahn commented on #363
@logicsandeep I think you reported last week this was closed? Can you close with the commit id?

[2017-12-27 16:07] eric-jahn commented on #327
We only need CSV Zipfiles and XML 7z files, so changing the ticket title.

[2017-12-27 19:10] suryabi commented on #393
@pgorecki : if pagination is not in place, we will set the pagination. However, specifying the large limit is not something that can be accommodated for performance reasons .  We don't want to strain the instances as well as the response times by sending the large volumes of data back to the client in one go.

The recommended approach is to  paginate given the size of the items the list (which you

[2017-12-27 19:56] logicsandeep commented on #363
https://github.com/servinglynk/hmis-lynk-open-source/commit/49247d39099a04f33e3f01090fbbc48b37e555ee
https://github.com/servinglynk/hmis-lynk-open-source/commit/2e53ecd39ea4b6e8443bb3b80cd14ba403f39e21
https://github.com/servinglynk/hmis-lynk-open-source/commit/3e3ec370dad0be65a83f3f54b1049fd29f385fab

https://github.com/servinglynk/hmis-lynk-open-source/commit/412cbc0fb9f94ae08abd5491aac30f107aa4

[2017-12-27 19:56] #363 closed

[2017-12-27 20:10] eric-jahn commented on #385
@logicsandeep still working on API doc changes for this

[2017-12-27 20:14] logicsandeep commented on #373
https://github.com/servinglynk/hmis-lynk-open-source/commit/1573be28c7bce258d3ec3186405d0d5d3ca8e0ea

[2017-12-27 20:21] eric-jahn commented on #325
need to announce to well in advance, pin to a major release branch

[2017-12-27 20:25] eric-jahn commented on #327
Critical for customers performing high volumes of upload.

[2017-12-27 20:30] eric-jahn commented on #381
@suryayadavalli was able to test a proof-of-concept.  VPN to HSLynk is set up.  Now he needs to enable some routing of the VPN within the VPC.  Next: make changes to bastion host, provision licenses (10 user license $150/yr, concurrent).  1-2 days clean-up work and rules, finished by mid-next week.

[2017-12-27 20:36] eric-jahn commented on #381
Please demo Falcon to Robert or set an appointment to set up.

[2017-12-27 20:48] eric-jahn commented on #344
related to https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/222

[2017-12-27 20:48] eric-jahn commented on #222
related to https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/344

[2017-12-29 15:18] logicsandeep opened #395 "Show Sync logs on the admin UI."
Showing sync logs on the admin UI would let clients track when the records were synced to HBASE.

[2017-12-29 15:22] logicsandeep opened #396 "Performance improvement in the bulk uploader process to add a filter by export_id when matching for FK records."
For relating child tables to the parent table. For example: Disabilties(Child) to Enrollment(Parent) we scan across all the enrollments for a project group this would cause performance issues especially when we have more data. Our data is growing and we need this check to avoid possible out of memory issues.

[2017-12-29 19:52] logicsandeep opened #397 "Perform Delta sync for CES schema."
Perform Delta sync for CES schema.

[2017-12-29 20:04] pgorecki commented on #393
why do you think the large limit will impact the performance? are you referring to bandwidth or database?

[2017-12-29 20:22] eric-jahn commented on #394
We discussed this on 12/29/17.  We will document preferred conventions, and over time, move toward them.  We do not have resources to iron out all inconsistencies, and inconsistencies only occur across modules, not within them.

[2017-12-29 20:35] eric-jahn commented on #385
@logicsandeep will close this today with API docs

[2017-12-29 20:37] eric-jahn commented on #382
@logicsandeep will work on this after the 7z compression issue #327 .

[2017-12-29 20:44] eric-jahn commented on #381
@suryayadavalli must deploy an internal load balancer to handle connections.  This weekend, @logicsandeep can test dbvisualizer PoC @suryayadavalli is setting up.  Projected delivery of Falcon to Robert by Wednesday.  System deployment right before then.

[2017-12-29 21:12] eric-jahn opened #398 "EULA in Admin"
from admin screen, an accept button with name parts to fill in

-database storage of completion

-signed by all customers by end of January preferably

-Sandeep estimates 1-2 days effort

[2017-12-30 18:00] pgorecki commented on #378
This issue should be reopened, the bug is on HMIS side.

After pressing Sign in to HOME a popup window with the following url is opened:
https://www.hmislynk.com/hmis-authorization-service/login-web.html?response_type=code&errorMessage=null&trustedApp_id=16631CFE-6909-4AC1-B4EB-57902AC7AF0A&state=eyJsb2dpblN0eWxlIjoicG9wdXAiLCJjcmVkZW50aWFsVG9rZW4iOiJWX2VNU21UMHJ1OXFSMmlpZjlhTEJsTzNaN2lkbjJEWm1mdl

[2017-12-30 18:10] pgorecki commented on #378
This bug is happening because you are encoding state parameter after unsuccessful in the url which results in `eyJsb2dpblN0eWxlIjoicG9wdXAiLCJjcmVkZW50aWFsVG9rZW4iOiIyRXdxMzJRWG1Zbi16VFFXM1hDWVZMMm5DY3FVeXpmT2JtVld4b0dGZXVPIiwiaXNDb3Jkb3ZhIjpmYWxzZX0=` being encoded to `eyJsb2dpblN0eWxlIjoicG9wdXAiLCJjcmVkZW50aWFsVG9rZW4iOiIyRXdxMzJRWG1Zbi16VFFXM1hDWVZMMm5DY3FVeXpmT2JtVld4b0dGZXVPIiwiaXNDb3Jkb3ZhI

[2017-12-31 06:07] suryayadavalli commented on #382
commit id https://github.com/servinglynk/hmis-lynk-open-source/commit/28db2a3660ee7c62960916c1338b15019aab14b9

[2017-12-31 06:08] suryayadavalli commented on #393
Commit id https://github.com/servinglynk/hmis-lynk-open-source/commit/28db2a3660ee7c62960916c1338b15019aab14b9

[2018-01-02 07:48] suryayadavalli commented on #378
Resolved.
Commit id : https://github.com/servinglynk/hmis-lynk-open-source/commit/7576a4c509276e3317bcdc9c5ec26c2cd08d92be

[2018-01-02 07:48] #378 closed

[2018-01-03 19:31] #373 closed

[2018-01-03 22:13] suryabi commented on #393
@pgorecki : we set up the pagination limit for questions to 200. Please check.

Its bandwidth, performance on the application instances (if we are processing list before sending back to the client) and also response time latency that is in play when we do not have control on the list that is being sent back as a response from APIs.  I understand it would be easier for you to get entire list in one

[2018-01-04 06:03] logicsandeep opened #399 "Fix NPE in the enrollmentCoc endpoints"
HTTP Status 500 - Request processing failed; nested exception is java.lang.NullPointerException

type Exception report

message Request processing failed; nested exception is java.lang.NullPointerException

description The server encountered an internal error that prevented it from fulfilling this request.

exception

org.springframework.web.util.NestedServletException: Request processing failed;

[2018-01-04 07:04] logicsandeep commented on #399
Commit id:
https://github.com/servinglynk/hmis-lynk-open-source/commit/ffcef3ed6d43a82fff6f71c092f28591563ffe3f

[2018-01-04 07:04] #399 closed

[2018-01-04 07:05] logicsandeep commented on #399
This issue is deployed to production.

[2018-01-04 08:00] logicsandeep commented on #385
Added api documentation for datacollection stage.
https://github.com/servinglynk/hmis-lynk-open-source/commit/042b01c64d883ee0d7dc8ec91dd1f60accfd2773
https://github.com/servinglynk/hmis-lynk-open-source/commit/9bae8ea727e45327b596d505ce5fb51a13161558
https://github.com/servinglynk/hmis-lynk-open-source/commit/14653859ec5080ab73511bd99eac4cf3dac70a4c
https://github.com/servinglynk/hmis-lynk-open-s

[2018-01-04 08:00] #385 closed

[2018-01-04 18:36] eric-jahn opened #400 "Errors/warnings in both element-level and bulk uploader APIs"
In the element-level APIs, the same errors/warnings would be returned in the response, as are available when the bulk uploader logs are retrieved.  In other words, the same error/warning framework would be used for both bulk and element-level API use.

[2018-01-05 20:21] eric-jahn commented on #393
needs 2017

[2018-01-05 20:23] #382 closed

[2018-01-05 20:27] eric-jahn opened #401 "general VPN access to other systems within VPC"
Please list the other systems we should connect to.

[2018-01-05 20:30] eric-jahn commented on #381
1) need OpenVPN licenses ( @eric-jahn with @suryayadavalli  )
2) need to test with Falcon using Impala and then Hive

[2018-01-05 20:31] eric-jahn commented on #401
precursor issue #381

[2018-01-08 08:02] pgorecki commented on #393
@suryabi I'm downloading all the questions at once because there is a requirement to list all the questions that match a given phrase (basically its search by title and text). Downloading all the questions is ok for now (i'm sending multiple requests to get all of them) but in the future we could consider adding a search endpoint.

[2018-01-08 12:26] eric-jahn commented on #393
Yes, I'll add an issue for a question search endpoint and relate it to this
issue.

On Mon, Jan 8, 2018, 03:02 pgorecki <notifications@github.com> wrote:

[2018-01-08 12:32] eric-jahn opened #402 "Search endpoint for HMIS questions by incremental keywords."
For apps that need to allow the user to search for HMIS questions from within the user interface, HSLynk should provide an endpoint within each HMIS version-specific API (2014-2017) to search the questions for that HMIS data standard version.
Tasks:
- Implement parameterized search for the HMIS data standard questions in each HMIS version (2014-2017). Search responses will be paginated.
- Document

[2018-01-08 12:33] eric-jahn commented on #393
related: #402

[2018-01-09 20:33] logicsandeep opened #403 "Add support for 2017 csv upload process"
Add support for 2017 csv upload process

[2018-01-10 20:14] eric-jahn opened #404 "check the consent for the global project that the user belongs to before returning client specific information (surveys, households, or any other information )"
This enforces consent against global projects for all client data.

[2018-01-10 20:36] eric-jahn opened #405 "create general human services microservice in HSLynk"
Addition of a general human services microservice with a non-HMIS specific schema using global project and global enrollment tables linked to the base client uuid schema. This will be linked to the global projects from issue https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/222 . This will require API implementation (CRUD methods) and documentation updates. In the future, this gener

[2018-01-10 20:51] eric-jahn commented on #278
IDs of records should be available in Data Warehouse via sync from Postgres.  Actual documentation should be stored in cheap cloud storage.

[2018-01-12 04:56] logicsandeep opened #406 "Falcon SQL Client must securely access data warehouse via Impala or Hive"
We have to contact Plotly to ask why we were not able to connect to our impala database.

[2018-01-12 04:56] logicsandeep commented on #406
The ticket is created and here's the link to the ticket.
https://community.plot.ly/t/error-read-econnreset-cannot-to-impala-via-falcon-sql-client/7686

[2018-01-12 04:57] logicsandeep commented on #406
I also tried connecting to impala via Falcon SQL client's test hostname and I was successfully able to connect.

Host: impala.test.plotly.host
Port: 21000
Database: plotly
TimeOut: 180

[2018-01-12 20:31] eric-jahn commented on #381
completed per @suryayadavalli , and he will close this after passing the details

[2018-01-12 20:34] eric-jahn commented on #327
Moving to next sprint, since no clients are uploading huge files.

[2018-01-12 21:09] eric-jahn commented on #403
98% done per @logicsandeep.  ConnectionWithSOAR missing file.

[2018-01-16 17:11] eric-jahn opened #407 ""Purge" button on customer admin screen"
Should have a warning and only for customer admin accessible screen.  What would be cool is to offer purge options for 1) all 2) an HMIS year 3) CES match 4) CES survey 5) CES housing inventory
related: #277

[2018-01-16 20:12] eric-jahn commented on #404
@suryayadavalli is currently working on #222, then will get to this

[2018-01-16 20:13] eric-jahn commented on #403
This issue is completed.  @logicsandeep will close.

[2018-01-16 20:17] eric-jahn commented on #393
@suryayadavalli will deploy this tomorrow.  We did not have this earlier, because 2017 did not exist at the time we implemented pagination.

[2018-01-16 20:19] eric-jahn commented on #381
@suryayadavalli will close today

[2018-01-16 20:20] eric-jahn commented on #345
Will come after global project/enrollments.  This will come before #404

[2018-01-16 20:21] eric-jahn commented on #404
Comes after #345 345

[2018-01-16 20:24] eric-jahn commented on #344
per @suryayadavalli comes alongside #345, but before #404

[2018-01-16 20:29] logicsandeep opened #408 "Handle duplicates in the files uploaded"
When the uploaded hmis file has duplicates we currently insert that record. We need to avoid inserting duplicates in the file.

[2018-01-16 20:41] logicsandeep commented on #403
https://github.com/servinglynk/hmis-lynk-open-source/commit/203ff3dd9980cbf8424b3190a2549a0eac20331c
https://github.com/servinglynk/hmis-lynk-open-source/commit/f06d2a8150b3d1163e2942b4592ed4284ba063a1
https://github.com/servinglynk/hmis-lynk-open-source/commit/cd666b0e2b46cfc1ba26da0724d390ff80ead089
https://github.com/servinglynk/hmis-lynk-open-source/commit/90a3eb827a3a7262f0ba5b6dbb5ecb490aee4

[2018-01-16 20:41] #403 closed

[2018-01-16 21:55] eric-jahn commented on #250
Sage validations for APR
[CoC APR- ESG -CAPER Validation Tables 2017.09.17.docx](https://github.com/servinglynk/hmis-lynk-open-source-docs/files/1636987/CoC.APR-.ESG.-CAPER.Validation.Tables.2017.09.17.docx)

[2018-01-16 22:07] eric-jahn commented on #250
Q4a detail documentation
[APR Q4a CSV format 2017 05 15 hub.docx](https://github.com/servinglynk/hmis-lynk-open-source-docs/files/1637016/APR.Q4a.CSV.format.2017.05.15.hub.docx)

[2018-01-17 21:46] eric-jahn opened #409 "all project groups should have all available warehouse views by default"
All available fields need to be available in the data warehouse without any configuration.
@CTAJavier

[2018-01-17 21:49] eric-jahn opened #410 "Linkages deleted clients in versions specific APIs are showing in the global search"
When a client is deleted in a version specific schema, a pointer to the deleted record in that version specific year is still returned, instead of only returning pointers to that client in the the versions/years where the client still remains and is not deleted.

@CTAJavier

[2018-01-17 21:51] eric-jahn commented on #270
occurred again 9c127604-4b87-4d28-8669-55456a79f110

[2018-01-17 22:03] eric-jahn opened #411 "Auth Gateway intermittently down"
CTA reported it was down for 20 minutes on 1/17/18.  They received a "504 Error" at that time, which normally maps to a Gateway Timeout issue.
@CTAJavier

[2018-01-17 22:15] eric-jahn opened #412 "null Enrollment List entries in data warehouse"
cc: @sachs089 , @CTAJavier

[2018-01-17 22:32] eric-jahn commented on #412
@sachs089 said there are 122 nulls he can identify.  He will transmit those to @logicsandeep for investigation.

[2018-01-17 22:46] CTAJavier opened #413 "expose some endpoint for the notification engine"
Please expose API Endpoint for using the notification engine. we need to be able to send client ID and email subject and message so that we can send emails to clients, we then also need to be able to report on this.  meaning pull a list of emails sent, how many failed how many succeeded. etc.

Thanks

[2018-01-17 23:10] eric-jahn commented on #413
specifically, failed and succeeded email transmission tracking?

[2018-01-18 13:00] eric-jahn commented on #412
per @logicsandeep : I run this query and I've 0 records with null dedup_id  in the enrollment table for active lists clients.
<img width="1164" alt="null_list" src="https://user-images.githubusercontent.com/4115079/35099346-a35f09fc-fc25-11e7-8832-4d339cb25b27.png">

[2018-01-18 13:16] eric-jahn commented on #410
@CTAJavier can you give me an id of a client, where this is happening?

[2018-01-18 13:18] eric-jahn commented on #409
@logicsandeep : Can all project group ids currently see all the same elements in the data warehouse?

[2018-01-18 17:32] eric-jahn commented on #412
per @sachs089 "...there is no null dedupe ids in active_list, we have very less nulls around (122)  in client table and (125) in enrollment table..."

[2018-01-18 17:32] eric-jahn commented on #412
@logicsandeep said we still need to run the 2014 dedupe process to correct this

[2018-01-18 17:43] eric-jahn opened #414 "Project Type changed to "7" on CSV upload"
Reported by @sachs089 cc: @CTAJavier
The source CSV that was uploaded contains diverse project type values.  But, on import, it always getting set to 7.

[2018-01-18 18:21] eric-jahn opened #415 "add email as a notification type to the notification APIs"
We need to store the message text, so requires installing an smtp server.  Hook it up to the notification system as a notification type.  Add some code to the email notification type to record the email transmission metadata in HSLynk's warehouse, so CTA can report on it.

email sent = boolean (false = failed, see logs)
date sent = datetime
client id sent to = dedup_client_id
and maybe message id?

[2018-01-18 18:22] eric-jahn commented on #415
Eric getting a quote for this to CTA

[2018-01-18 20:23] CTAJavier commented on #410
9c127604-4b87-4d28-8669-55456a79f110
ddd53c5c-84a7-48f9-86c5-7cc79b1c3b87
963cc91f-cd15-4307-ae92-a7a3e6fdba25
05224be1-4555-4951-9837-543df3e34c2d

[2018-01-18 22:53] suryayadavalli commented on #410
@CTAJavier : None of these clients are in DELETED status (v2015).

![image](https://user-images.githubusercontent.com/10738348/35125657-4ea85802-fc5f-11e7-9513-0f95ff03446c.png)

[2018-01-18 23:05] CTAJavier commented on #410
That's because @logicsandeep restored all the clients @1:21 PM PST the question is why were they deleted

[2018-01-19 13:27] eric-jahn commented on #410
@CTAJavier @pgorecki : Could we get a new example of a client that was deleted from a version year, but search returns a link to that client in the deleted year, instead of returning only links to that client in years where the client is still existing?

[2018-01-19 13:38] logicsandeep commented on #412
I ran the dedup client process and I now only see 3 clients with null dedup id and hope they will be cleared when the cache clears.

[2018-01-19 13:38] logicsandeep commented on #412
Closing this issue.

[2018-01-19 13:38] #412 closed

[2018-01-19 13:45] eric-jahn opened #416 "padding fn, mi, suffix to 50 characters"
can you check why client first/middle/last names are padded with spaces? I POST'ed this client without trailing spaces
[code]

[2018-01-19 18:10] logicsandeep commented on #415
We need project_group_code as part of this process for Hive Views to work.

[2018-01-19 19:14] suryayadavalli commented on #416
This is happening on the DB end.

We have these columns defined in postgres for fn, ln, middle name etc. with a datatype of "character varying (50) .  From postgres documentation this datatype should not append the blank characters.

We just need to verify this and fix would be changing this datatype to varchar. Changing the application code (trimming) is not required.

https://www.postgresql.org/

[2018-01-19 19:22] suryayadavalli commented on #381
DB routing through VPN was complete.  Verified. Closing the ticket.

[2018-01-19 19:22] #381 closed

[2018-01-19 20:06] logicsandeep opened #417 "Fix the user bootstrap process so existing users does not lose access."
Fix the user bootstrap process so existing users does not lose access.

[2018-01-19 20:31] eric-jahn commented on #416
We need to unpad existing records with a script. @logicsandeep will squash this bug.

[2018-01-19 20:37] eric-jahn commented on #414
@pgorecki provided a file showing project type changes.  Issue occured because of uploading files to the wrong schema year.

[2018-01-19 20:41] eric-jahn commented on #410
@logicsandeep will call @CTAJavier about this

[2018-01-19 20:49] eric-jahn commented on #409
related #417

[2018-01-20 04:59] logicsandeep commented on #414
@sachs089  and @CTAJavier  and @eric-jahn  I updated the projects per file provided by @sachs089 . Closing this issue.

[2018-01-22 18:46] suryabi commented on #415
@CTAJavier : Working on this as high priority. Will publish the spec by EOD and will push the changes deployed to production by EOD tomorrow.

[2018-01-22 19:48] sachs089 commented on #414
@logicsandeep @eric-jahn  @CTAJavier  But the issue still exists. I am still getting only project type 7 and Nulls.
![project_type](https://user-images.githubusercontent.com/26175306/35241084-3659aca2-ff6a-11e7-8d9c-290563f0a7b4.PNG)

[2018-01-22 21:03] eric-jahn commented on #414
Okay, reopening.

[2018-01-23 01:44] eric-jahn commented on #414
This is apparently a client data issue, and not a bug in hslynk

[2018-01-23 01:44] #414 closed

[2018-01-23 08:56] logicsandeep commented on #414
Please check now. Your query should be
select count(*),source_system_id from project where projecttype='7' and source_system_id not in (
source sytem ids with project type  7,white space and RETIRED(HUD)') group by source_system_id
Anyways, the numbers should be very low now.

[2018-01-23 20:09] eric-jahn commented on #417
@logicsandeep did not have time to work on this.

[2018-01-23 20:17] eric-jahn commented on #416
@logicsandeep has not worked on this yet

[2018-01-23 20:23] eric-jahn commented on #409
@logicsandeep will start on this tomorrow.

[2018-01-23 20:37] eric-jahn opened #418 "admin screen feature to delete just one upload id"

[2018-01-23 21:24] sachs089 commented on #414
Thank you @logicsandeep for coming back so quickly. I am adding a few screen-shots to explain what is happening and to seek out a solution.
![data_is_there_with_nulls](https://user-images.githubusercontent.com/26175306/35301326-12e4823e-0040-11e8-9441-523885c1f6ea.PNG)- Data is now there and I can see a good amount of clients in different project type code, But there is still a big count of null p

[2018-01-23 22:41] logicsandeep commented on #410
After discussing with @CTAJavier  we discovered that this is not an issue. I'm going to close this issue for now. We plan to create a different issue if Javier sees this again.
Closing this issue.

[2018-01-24 15:33] CTAJavier commented on #410
0e920d6c-298f-47d0-8f59-9f02dbc1db9d
268d7d96-ef56-44fc-80dd-3cd982a8b4ce

Both IDs for the Same client, both V2016 Schema First one Shows up in search but loading client  shows "Client does not Exist", Curiously 2nd row is the same client for the same schema but shows up on its own row, loading that client is successful. This is for the Monterey Project Group, which makes this a more serious conc

[2018-01-24 19:21] logicsandeep commented on #416
I trimmed the data and altered columns for the first_name, last_name and middle_name to varchar(50) to fix this issue.
Closing this issue.

[2018-01-24 19:23] eric-jahn commented on #416
@logicsandeep could you add the commit ID?

[2018-01-24 19:23] logicsandeep commented on #414
If you see any Null project_id in the enrollment table it is because of the source data.
And if you want me to un delete deleted projects let me know.
Closing this issue as of now because project_id being null in the enrollment table is beyond the scope of this ticket.

[2018-01-24 19:45] suryayadavalli commented on #415
Commit ID #
https://github.com/servinglynk/hmis-lynk-open-source/commit/12ae08ff0a24fc7edf502b8d548d71b021025977

[2018-01-24 19:45] suryayadavalli commented on #415
Deployed in production.

[2018-01-24 23:47] logicsandeep opened #419 "Rename project_id to projectid in the 2014 schema to make sure we have project and enrollment relation correctly specified in across all the schema versions."
projectId is name as project_id in the 2014 schema verses all the other schema in the enrollment table. Change project_id to projectid to avoid null projectId for enrollments.

[2018-01-25 00:04] eric-jahn commented on #413
Duplicate of #410

[2018-01-25 00:04] #413 closed

[2018-01-25 00:47] eric-jahn commented on #350
Current deployment instructions have been updated and verified to work by a third party developer.

[2018-01-25 00:47] #350 closed

[2018-01-25 01:20] eric-jahn commented on #51
Duplicate of #278

[2018-01-25 01:20] #51 closed

[2018-01-25 01:23] eric-jahn commented on #40
Related, but distinct from #345

[2018-01-25 05:27] logicsandeep commented on #414
Addressed issue# 419 to close this issue.

[2018-01-25 05:29] logicsandeep commented on #419
https://github.com/servinglynk/hmis-lynk-open-source/commit/ad090518548aa139256569c13906bf7ca05f8006
This issue will make Monterey happy.
With this  Monterey only has 7 records with null project_id in the enrollment table across all the schemas.

[2018-01-25 05:29] #419 closed

[2018-01-25 05:29] logicsandeep commented on #419
closing this issue.

[2018-01-25 06:49] suryayadavalli commented on #393
Resolved , Deployed in production with hotfix-2.5.2.3
https://github.com/servinglynk/hmis-lynk-open-source/pull/23

[2018-01-25 06:49] #393 closed

[2018-01-25 16:45] eric-jahn commented on #415
@logicsandeep is adding the Hive views for this now.  cc: @CTAJavier

[2018-01-26 20:15] eric-jahn commented on #417
coded, but not deployed

[2018-01-26 20:15] logicsandeep commented on #417
I've coded and I plan to move these changes on Sunday.

[2018-01-26 20:16] #416 closed

[2018-01-26 20:17] logicsandeep commented on #416
https://github.com/servinglynk/hmis-lynk-open-source/commit/ad090518548aa139256569c13906bf7ca05f8006

[2018-01-26 20:22] eric-jahn commented on #410
@logicsandeep will speak to Javier today about this to resolve it.

[2018-01-26 20:26] eric-jahn commented on #409
@logicsandeep has not worked on this because #419 took precedent.  CES Y/N?

[2018-01-26 20:31] eric-jahn commented on #406
@logicsandeep will contact Plotly this weekend.

[2018-01-26 20:49] eric-jahn commented on #222
@suryayadavalli will work on this (completed by end of next week) 345, then 404.

[2018-01-27 06:58] logicsandeep commented on #410
Closing this issue after speaking with @CTAJavier

[2018-01-27 06:58] #410 closed

[2018-01-27 17:53] eric-jahn commented on #410
@logicsandeep : what was the root cause or resolution?

[2018-01-27 20:53] eric-jahn opened #420 "new customer account UI wokflow screens"
One workflow question will be whether they wish to activate CES (Y/N).
related: #409

[2018-01-27 20:54] eric-jahn commented on #409
related: https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/420

[2018-01-28 01:33] suryayadavalli opened #421 "Consider CC recipients as BCC (Temporary fix)"
Changes are in place. Deployed
Commit : https://github.com/servinglynk/hmis-lynk-open-source/commit/1dbe969b27babb99eb41e290b8145904d131aa96

[2018-01-30 02:20] logicsandeep opened #422 "Add record type to the service_fa_referral table."
Add record type to the service_fa_referral table. This field was missing in the postgres and Hive databases.

[2018-01-30 02:21] logicsandeep opened #423 "Make sync-general to create HBASE table per project group code."
Make sync-general to create HBASE table per project group code.

[2018-01-30 20:16] logicsandeep commented on #397
This issue is fixed and closed.

[2018-01-30 20:16] logicsandeep commented on #417
This issue is fixed and closed.

[2018-01-30 21:11] eric-jahn commented on #397
@logicsandeep can you add the commit ID and reclose?  thanks

[2018-01-30 21:11] eric-jahn commented on #417
@logicsandeep can you add the commit ID and reclose?  thanks!

[2018-01-31 21:47] eric-jahn opened #424 "More fine-grained client search response"
If no response, explaining why no response.

[2018-01-31 22:03] CTAJavier opened #425 "Issue with search"
Searching, for names like John-James Johnson, will not come up when searching for John-James. if you search for John, it will come up if within the top 10  based on Fname and Lname, searching for John-James will not show client at all. searching for James may or may not bring up the client.

[2018-01-31 23:17] CTAJavier opened #426 "HIVE Unavailable"
HIVE was unavailable 1/30/2018, Issues connecting with Tableau Via SSL. It is important that we have HIVE. as we have dashboards configured to the HIVE connection and those are not available when HIVE is down.

Thanks

[2018-02-01 05:33] logicsandeep commented on #426
@CTAJavier  the real issue was that the latest version of Tableau you need to install Hive's drivers.
However, this problem was quickly solved by having you guys connect to Impala.

[2018-02-01 13:46] logicsandeep opened #427 "Create a hive view for hmis_user table."
Create a hive view for hmis_user table.

[2018-02-01 13:48] eric-jahn commented on #427
User as in "case worker using the system"?

[2018-02-01 16:12] logicsandeep commented on #427
Any hmis_user in the base schema for Monterey.

[2018-02-01 16:13] logicsandeep commented on #427
Only includes the following fields.
id
first_name
middle_name
last_name
name_suffix
email_address
status
username
project_group_id

[2018-02-01 16:14] logicsandeep commented on #427
https://github.com/servinglynk/hmis-lynk-open-source/commit/26d083da72f9b71d5a8ef5c08cdb7f5916b495cb
Closing this issue.

[2018-02-01 16:14] #427 closed

[2018-02-01 16:46] eric-jahn commented on #427
@logicsandeep that sounds like hmis_clients (homeless people).  an hmis_user would be like caseworkers, etc.

[2018-02-01 16:48] logicsandeep commented on #427
Yes, We're showing Case workers. They wanted to know who created a survey or who created a survey response.

[2018-02-01 16:49] eric-jahn commented on #427
@logicsandeep Got it, thanks!

[2018-02-01 18:09] eric-jahn commented on #348
per 2/1/2018 Vendor conference call, the HIC and PIT will not have programming specs released this calendar year.

[2018-02-01 18:43] eric-jahn commented on #362
Jan 2018 update: https://github.com/servinglynk/hmis-lynk-open-source-docs/blob/master/doc/WikiContent/2017-HMIS-Data-Standards/Performance_Measures_Programming_Specifications.docx

[2018-02-02 20:44] eric-jahn commented on #422
Sandeep will finish by weekend.

[2018-02-02 20:45] eric-jahn commented on #423
This is done, Sandeep will close with the commit id.

[2018-02-03 16:49] eric-jahn commented on #424
For example, if a client doesn't exist in a search response, we could return an http status code explaining that the client was deleted on such a date, or that the client never existed in our system by that name.  We have to evaluate this request carefully, because it could slow response times and significantly increase processing.

[2018-02-03 16:51] eric-jahn commented on #426
No code related to this resolution.  Resolved by @logicsandeep after working with @CTAJavier and @sachs089

[2018-02-03 16:51] #426 closed

[2018-02-03 16:52] eric-jahn commented on #415
@logicsandeep : please close this issue with the commit, since this issue is completed and deployed successfully.

[2018-02-04 17:07] logicsandeep commented on #415
https://github.com/servinglynk/hmis-lynk-open-source/commit/39fbf52cfa2738cc116dfd514c2d75d81a335d92
https://github.com/servinglynk/hmis-lynk-open-source/commit/26d083da72f9b71d5a8ef5c08cdb7f5916b495cb

[2018-02-04 17:07] #415 closed

[2018-02-04 17:09] eric-jahn commented on #415
Thanks Sandeep!

[2018-02-04 20:30] logicsandeep commented on #423
https://github.com/servinglynk/hmis-lynk-open-source/commit/26d083da72f9b71d5a8ef5c08cdb7f5916b495cb

[2018-02-04 20:30] #423 closed

[2018-02-04 20:33] logicsandeep commented on #406
Falcon SQL clinet does not have a feature to connect to Imapala when Imapala is auhthenticated via LDAP and hence they have created an issue to address this requirement.

https://github.com/plotly/falcon-sql-client/issues/363

Closing this issue as of now.

[2018-02-06 20:25] eric-jahn commented on #425
@suryayadavalli will work on this today and update @CTAJavier

[2018-02-06 20:34] eric-jahn commented on #424
@suryayadavalli will review this.  Maybe we could return deletion data for a client ID.  In conjunction, we would also need a deleted client search filter, which returns deletion history by ID.  This will be better than having this information embedded within a search error response.

[2018-02-06 20:36] eric-jahn commented on #422
Sandeep will finish by tomorrow.

[2018-02-06 20:43] logicsandeep commented on #409
Closing this issue with commit.
https://github.com/servinglynk/hmis-lynk-open-source/commit/39fbf52cfa2738cc116dfd514c2d75d81a335d92

[2018-02-06 20:44] logicsandeep commented on #417
Closing this issue with commit.
https://github.com/servinglynk/hmis-lynk-open-source/commit/26d083da72f9b71d5a8ef5c08cdb7f5916b495cb

[2018-02-06 20:44] #417 closed

[2018-02-06 20:50] eric-jahn commented on #409
@logicsandeep will close this with the commit ID.  #420 handles the UI part of it.

[2018-02-06 20:51] eric-jahn commented on #250
@logicsandeep will break this issue into 3 week chunks.  We will remove the current sprint label from this issue.

[2018-02-07 07:56] suryayadavalli commented on #425
@CTAJavier : The search will be based on the following logic. Search input will be matched against all the combinations below. (case insensitive)

Consider the client **John C Johnson**

**_Return all clients whose_**

1. ***_first name_*** matches with the *search input*   **Ex : search input "John"**
2. ***_last name_*** matches with the *search input*    **Ex : search input "Johnson"**
3. ***_m

[2018-02-07 16:04] eric-jahn opened #428 "Offer Master Patient Index linkage editing"
via API or project group based access to open empi admin screens.

[2018-02-07 21:23] eric-jahn commented on #428
A UI could be built into the HSLynk admin app.  It would consume the same linking API that is exposed for 3rd party apps.

[2018-02-07 22:59] eric-jahn opened #429 "Add admin app URL to HSLynk.com"

[2018-02-09 15:41] eric-jahn opened #430 "File upload service"
-can be reconfigured to function with any storage backend.  stage 1 of this task might be to quickly hardwire to amazon s3, if abstraction could take an inordinate amount of time.
-definition of an API interface which clients (and potentially even the CSV/XML file upload service).  The client application which needs immediate implementation is consent documentation.  Later, client identity or othe

[2018-02-09 16:39] logicsandeep opened #431 "APR Report section 4a"
APR Report section 4a, logic and UI

[2018-02-09 16:39] logicsandeep opened #432 "Apr Report section 5a"
Apr Report section 5a

[2018-02-09 17:17] eric-jahn opened #433 "JMeter testing docs in the wiki"
preferably this would include docs for both local testing and testing over VPN for production purposes.

[2018-02-09 17:35] eric-jahn commented on #380
In light of the doc-upload service expansion, I think we'll need to release consent without the supporting doc upload feature initially.  And then we can put the consent_id as a property of the consent-doc-upload APIs, so people can retroactively  attach consent-docs to a preexisting consent record.

[2018-02-09 17:53] logicsandeep opened #434 "Sanitize SSN and make sure it is stored with out "-" in our DB and in OpenEMPI"
Sanitize SSN and make sure it is stored with out "-" in our DB and in OpenEMPI

[2018-02-09 20:22] suryayadavalli commented on #421
Resolved

[2018-02-09 20:22] #421 closed

[2018-02-13 16:43] eric-jahn commented on #425
@CTAJavier I'm closing this, but feel free to reopen.  @suryayadavalli felt this issue is on the HOME App side, and can't replicate the problem on the HSLynk side.  If you can send fictitious client request/response logs demonstrating otherwise, this will make a good case for reopening.

[2018-02-13 16:43] #425 closed

[2018-02-13 18:15] logicsandeep commented on #422
https://github.com/servinglynk/hmis-lynk-open-source/commit/4bf0ee0539afcfc8ca147bf2d0aac046439b7fe7
https://github.com/servinglynk/hmis-lynk-open-source/commit/ced9746e2bea0757c868d5f491377d8ce844b774

https://github.com/servinglynk/hmis-lynk-open-source/commit/4ea86834d7269760553d6e759748a078b19d2c6e

[2018-02-13 18:15] #422 closed

[2018-02-13 18:18] logicsandeep commented on #422
Closing this issue with commits. We do have few records in the 2016 and 2015 schema were record type is null but I could not find the source data.

[2018-02-13 20:24] eric-jahn commented on #164
Will be completed by end of weekend per @logicsandeep .

[2018-02-13 20:25] eric-jahn commented on #431
Completed.

[2018-02-13 20:26] eric-jahn commented on #432
Completed

[2018-02-13 20:27] eric-jahn commented on #353
To be completed by Tuesday

[2018-02-14 07:44] suryayadavalli commented on #113
Commit id https://github.com/servinglynk/hmis-lynk-open-source/commit/f8df32e761f274a842290eaa03805a9b9a43528c

[2018-02-14 08:50] suryayadavalli commented on #433
Will complete the documentation by EOD 2/14

[2018-02-14 08:51] suryayadavalli commented on #113
Deployed in production.

[2018-02-14 08:51] #113 closed

[2018-02-14 08:58] suryayadavalli commented on #222
As of 02/13 this is work in progress. Targeting to complete the development by end of 02/14.   Targeting to deploy this along with #344 , after the testing by 02/17.

[2018-02-14 08:59] suryayadavalli commented on #344
As of 02/13 this is work in progress. Targeting to complete the development by end of 02/15. Targeting to deploy this along with #222, after the testing by 02/17.

[2018-02-14 15:25] eric-jahn commented on #164
related #117

[2018-02-14 19:45] eric-jahn opened #435 "Support filtered search (by FN/LN and global client id) for a global client's survey submissions"
- Implement FN/LN and global client id url query parameters for the /surveysubmissions GET API method.  Search response will be paginated.
- Document new API methods in https://hmis-api.github.io/survey-service-api
- JMeter test and deploy new search functionality to production.

[2018-02-14 20:24] CTAJavier commented on #435
in essence right now what we are doing is storing the survey response, then searching for the client ID that survey response to and getting the Client schema and link information from that, we need to be able to query the responses for a client ID (UUID) or client name (string) and it should return the responses for all of those clients.

[2018-02-14 21:28] eric-jahn commented on #435
"it would accept a client name and return all responses belonging to clients that match the client name"

[2018-02-14 21:44] eric-jahn commented on #434
cc: @CTAJavier

[2018-02-14 21:57] eric-jahn commented on #409
"we are still not getting the same views for all the sites. ie the "Users" view is only available for Monterey"

[2018-02-14 21:58] eric-jahn commented on #435
@suryayadavalli How many estimated hours will this take?

[2018-02-14 22:25] eric-jahn commented on #435
@suryayadavalli They may not have the client id.  So, the search would spit back all survey submissions for all matching clients, but paginated?

[2018-02-14 23:13] eric-jahn opened #436 "Make Shiny App for APR/AHAR available in Admin UI"
https://shiny.rstudio.com/

[2018-02-14 23:13] eric-jahn commented on #436
@cc: CTAJavier

[2018-02-15 19:03] suryayadavalli opened #437 "User related notifications - need to track the status"
The status of the notification is not tracked in the Notification tables. We are tracking it in the Header entity. However, We need to track this status for each recipient to track the send status for each recipient.

[2018-02-15 19:06] suryayadavalli opened #438 "Automated process for renewing sessions from monitoring / probe system."
Currently, we are probing the system for health check , with a session that is pre-configured .  We need to come up with automated renewal of this session so, probe check do not fail due to session expiry and thus send false alerts to customers , about the system health.

[2018-02-15 19:32] suryayadavalli opened #439 "Send notification failure"
Issue reported by home that a user didn't receive the notification about user creation. Apparently, there is an communication issue with AWS mail server during the time.  Following error message is tracked by the Notification engine .

**_"Unable to send notification :Mail server connection failed; nested exception is javax.mail.MessagingException: Could not connect to SMTP host: email-smtp.us-wes

[2018-02-15 21:21] suryayadavalli commented on #433
https://github.com/servinglynk/hmis-lynk-open-source-docs/wiki/JMeter-set-up-and-configuration

[2018-02-15 21:45] #433 closed

[2018-02-16 16:22] eric-jahn commented on #384
from Slack conversation: "we aren't calling our project subgroups necessarily an "agency".  You can certainly use it that way though.  But you could also us it as "all men's shelters at all agencies".  Our project subgroup is just a grouping of existing projects, not a necessarily new set of projects.
Membership is the sum of each contained projects' memberships."

[2018-02-16 20:37] eric-jahn opened #440 "secure Users"
Users view in Hive has too much personal identifying information.  Need to obscure some fields.

[2018-02-16 20:47] eric-jahn commented on #438
@suryayadavalli This will take some work.  Moving out of current sprint

[2018-02-16 20:52] eric-jahn commented on #437
@suryayadavalli If there is a connectivity issue with email transmission.  Will notify @CTAJavier of a change.

[2018-02-16 20:55] eric-jahn commented on #434
@logicsandeep said this is coded, deployed and it will complete this by Tuesday.

[2018-02-19 18:53] suryayadavalli commented on #344
Complete .

Here is the link for documentation : https://hmis-api.github.io/global-api/#global_projects.

Commit # https://github.com/servinglynk/hmis-lynk-open-source/commit/f2d592c37eac6e6695715bf70ca93656cc543fb2
https://github.com/servinglynk/hmis-lynk-open-source/commit/647f678234e8366a29d44e53b2be32f9b814c58c

[2018-02-19 18:53] #344 closed

[2018-02-19 23:18] logicsandeep opened #441 "Convert user_id to a UUID in the CES schema (Survey and housing_inventory)"
I see a few tables in the CES schema uses email address instead of a UUID for the user_id field.
We need to make sure the user_id is a UUID field instead of storing users email address.

[2018-02-19 23:19] logicsandeep commented on #441
@sachs089  and @CTAJavier Just FYI. once this task is completed you might have to change the query on your side.

[2018-02-19 23:23] logicsandeep commented on #440
Once 440 is done, we need to hide user's email address from being shown from the hmis_user hive view.

[2018-02-19 23:25] sachs089 commented on #441
Thanks @logicsandeep  I will check and confirm by tomorrow.

[2018-02-19 23:27] logicsandeep commented on #441
@sachs089  We will let you know once this task is completed.

[2018-02-20 14:54] eric-jahn commented on #439
The send failure notification would be an enhancement.  Need to discuss with CTA.  The AWS smto issue is our bug to resolve though.

[2018-02-20 18:14] CTAJavier commented on #440
We will still need user email address since we sometimes need to populate
list of users

*Javier Celedon*
*Operations Director*
Direct: (408) 437-9168
Main: (408) 437-8800
*Facebook <http://www.facebook.com/ctagroup.org> • Twitter
<https://twitter.com/CTA_Group_> • Video
<http://www.ctagroup.org/what-we-do/video/>*

<http://www.ctagroup.org/>

On Mon, Feb 19, 2018 at 3:23 PM, Sandeep Dolia <notifi

[2018-02-20 19:52] eric-jahn commented on #409
@logicsandeep intentionally left Users off, for security reasons.  Need to discuss further.

[2018-02-23 02:56] logicsandeep commented on #434
This task can be closed.

[2018-02-23 02:56] #434 closed

[2018-02-23 05:27] logicsandeep commented on #434
https://github.com/servinglynk/hmis-lynk-open-source/commit/6d2d7d0935f6ab0883738bb2f3ee52f18642313b

https://github.com/servinglynk/hmis-lynk-open-source/commit/6d2d7d0935f6ab0883738bb2f3ee52f18642313b

[2018-02-23 05:28] logicsandeep opened #442 "APR Report section 6a"
APR Report section 6a

[2018-02-23 05:28] logicsandeep opened #443 "APR Report section 6b"
APR Report section 6b

[2018-02-23 05:28] logicsandeep opened #444 "APR Report section 6c"
APR Report section 6c

[2018-02-23 05:28] logicsandeep opened #445 "APR Report section 6d"
APR Report section 6d

[2018-02-23 05:28] logicsandeep opened #446 "APR Report section 6e"
APR Report section 6e

[2018-02-23 05:28] logicsandeep opened #447 "APR Report section 6f"
APR Report section 6f

[2018-02-23 06:52] eric-jahn commented on #353
duplicate of #442

[2018-02-23 06:52] #353 closed

[2018-02-23 17:29] logicsandeep commented on #352
This section of the report is done and closing this task.
https://github.com/servinglynk/hmis-lynk-open-source/commit/a6cfa9f3834fafece3bed9fa625eaafe6ed4ba8c

[2018-02-23 17:29] #352 closed

[2018-02-23 17:31] logicsandeep commented on #351
This issue can be closed.
https://github.com/servinglynk/hmis-lynk-open-source/blob/Hmis_hud_reports_2.0/hmis-hud-reports/src/main/java/com/servinglynk/report/business/Q05aBeanMaker.java

[2018-02-23 17:31] #351 closed

[2018-02-23 18:23] suryayadavalli commented on #222
Complete .

Here is the link for documentation : https://hmis-api.github.io/global-api/#global_projects.

Commit # https://github.com/servinglynk/hmis-lynk-open-source/commit/f2d592c37eac6e6695715bf70ca93656cc543fb2
https://github.com/servinglynk/hmis-lynk-open-source/commit/647f678234e8366a29d44e53b2be32f9b814c58c

[2018-02-23 18:23] #222 closed

[2018-02-23 18:31] suryayadavalli commented on #345
Work in progress and will be deployed by EOD 02/27.

[2018-02-23 18:32] suryayadavalli commented on #404
Work in progress and will be deployed by EOD 02/27.

[2018-02-23 19:36] suryayadavalli commented on #441
Made necessary changes to the code base. Need to verify this and work on the data migration. Targeting to push this to production over the week-end (02/25).

[2018-02-26 09:55] suryayadavalli commented on #441
Commit id : https://github.com/hserv/coordinated-entry/commit/35573762470c65a280b9b8a06e4086aad7cdd7ed

[2018-02-27 16:22] eric-jahn commented on #435
Surya, can you add to the comments for this issue what was is the agreed upon solution for this?

[2018-02-27 16:30] eric-jahn commented on #431
Sandeep, can you add the issue ID to this and close?

[2018-02-27 16:32] eric-jahn commented on #432
@logicsandeep can you close this isue with the commit ID?

[2018-02-27 16:39] eric-jahn commented on #409
Related issue #440 will address the reason @logicsandeep did not enable the Users view by default for all project groups.  Re-closing this issue, since it is being handled by the other issue.

[2018-02-27 16:45] eric-jahn commented on #164
@logicsandeep can you close this with the commit id?

[2018-02-27 19:18] eric-jahn commented on #432
duplicate of https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/352

[2018-02-27 19:18] #432 closed

[2018-02-27 19:19] eric-jahn commented on #431
duplicate of 351

[2018-02-27 19:19] #431 closed

[2018-02-27 19:28] logicsandeep opened #448 "Handle delete option for vispad views"
Handle delete option for vispad views. When a survey response is deleted we need to remove that record from the vispadt view.

[2018-02-27 19:29] logicsandeep commented on #448
https://github.com/servinglynk/hmis-lynk-open-source/commit/793df5ab59475b051c3e64d86577df670d4cdda0

[2018-02-27 19:29] #448 closed

[2018-02-27 20:50] logicsandeep commented on #406
Hey Guys,
It would be great to know the status of this issue. Please let us know when this issue resolved.

[2018-02-27 20:53] eric-jahn commented on #250
This issue is redundant with the itemized section issues.  Pulling out of milestone 2.8.

[2018-02-27 20:57] eric-jahn commented on #435
@suryayadavalli: I just edited the description of the issue to be more specific, as to what is needed.  Is this correct (please modify, if not), and can you add an hours estimate for this task?

[2018-02-27 21:12] eric-jahn commented on #439
Removed the bug label, since it's really just a notification feature this request is asking for.  Amazon smtp service failures are not an HSLynk bug.

[2018-02-28 14:45] suryayadavalli commented on #441
Resolved. Closing the issue.

[2018-02-28 14:45] #441 closed

[2018-02-28 17:10] eric-jahn commented on #409
"MC211 aka MC005 is missing all the survey tables, it has Standard HMIS Tables, Cal Am Table, Users table, but none of the other tables. ... All of our sites show all the same views." cc: @CTAJavier @logicsandeep

[2018-02-28 17:14] logicsandeep commented on #409
@CTAJavier  MC005 does have survey table.

[2018-02-28 17:16] logicsandeep commented on #409
<img width="529" alt="screen shot 2018-02-28 at 11 14 29 am" src="https://user-images.githubusercontent.com/4108057/36801847-cb0ed39c-1c78-11e8-9cf0-8a7623b926cc.png">

[2018-02-28 20:41] logicsandeep opened #449 "views and hmis tables should be created even when no data, and make the sync process run more frequently"
Make sure the views and hmis tables are create process runs more frequently.

[2018-02-28 21:37] CTAJavier opened #450 "internet explorer issue with Oauth"
looping having to log in multiple times before token works  correctly and user is able to log in

[2018-02-28 21:57] eric-jahn commented on #450
@CTAJavier will attach screen captures and any browser version info he can obtain.

[2018-03-02 20:14] logicsandeep commented on #164
Commit id:
https://github.com/servinglynk/hmis-lynk-open-source/commit/5492387d1846791384a9ac256d1fb1acd6735072

[2018-03-02 20:14] #164 closed

[2018-03-03 07:48] suryayadavalli commented on #404
Documentation :  https://hmis-api.github.io/global-api/#clients__clientid__consents

[2018-03-04 17:34] eric-jahn commented on #409
Issue #449 will resolve lingering issues related to this issue (409).

[2018-03-04 17:34] #409 closed

[2018-03-04 18:23] eric-jahn commented on #450
@CTAJavier: we were told by Vladi that IE8+ is assumed for HOME App.  Can we also use that as the earliest possible IE version for OAuth support?

[2018-03-04 18:30] CTAJavier commented on #450
Yes, issue confirmed up to ie 11.

On Mar 4, 2018 12:23 PM, "Eric Jahn" <notifications@github.com> wrote:

[2018-03-04 18:33] eric-jahn commented on #450
@CTAJavier and what is the lowest version of IE for which you have seen this issue?

[2018-03-05 16:09] eric-jahn opened #451 "configurable smtp "from:" email address based on project group."
Each project group can set its own smtp: from email address.  Eventually, this could be configurable from the HSLynk Admin screens.

[2018-03-05 16:51] eric-jahn commented on #451
@suryayadavalli How many hours would this require, without the Admin Screens feature, just the manual configurability?

[2018-03-05 18:00] suryayadavalli commented on #451
@eric-jahn : 20 hours , from DEV to Roll-out.  We will tie this sender's email address with the project group for core notification services as well.  However, we need to verify all the sender's email addresses from AWS SNS so, we can't have dummy / fake sender's address (not a **no-reply** email address).

[2018-03-05 21:11] eric-jahn commented on #451
perfect, thanks @suryayadavalli

[2018-03-05 21:14] eric-jahn opened #452 "single switch to activate and inactivate a project group."
This switch would inactivate or reactivate API access, as well as LDAP reporting access for all users in an entire project group.  Currently two separate tasks (for API and reporting) must be performed to [in|re]activate a project group.

[2018-03-06 19:45] suryayadavalli commented on #345
Completed, Deployed in production , Currently set up in disabled mode. Once HOME APP has the the necessary changes implemented (global projects, assign users to global projects) , we will enforce the consent.  It's set up in such a way to toggle a DB flag so no code changes are required .

Latest commit on this issue# https://github.com/servinglynk/hmis-lynk-open-source/commit/c2c81494c833b646281b

[2018-03-06 19:45] #345 closed

[2018-03-06 19:49] suryayadavalli commented on #404
Completed, Deployed in production , Currently set up in disabled mode. Once HOME APP has the the necessary changes implemented (global projects, assign users to global projects) , we will enforce the consent. It's set up in such a way to toggle a DB flag so no code changes are required .

https://github.com/servinglynk/hmis-lynk-open-source/commit/c2c81494c833b646281b2cee57c6c9ca5278954d

[2018-03-06 19:49] #404 closed

[2018-03-06 20:25] suryayadavalli commented on #435
As per @CTAJavier : HOME should be able to search the client submissions (All the survey response submissions - *NOT* the responses) based on the client unique Identified (Dedup ID, not version specific client identifier) OR First Name / Last Name.

Action Item is to expose an GET API  (support with search parameters) to fetch this information from Client Survey Submissions.

[2018-03-06 20:51] eric-jahn commented on #380
We've closed all sub issues, except the consent doc upload part, which is part of the current sprint: #430 and #278.

[2018-03-06 20:51] #380 closed

[2018-03-06 20:57] eric-jahn opened #453 "handle consent for non-enrollment data"
- records in HMIS client tables
- case notes
- client docs
- surveys outside of an enrollment
- service transactions outside of an enrollment

[2018-03-07 08:12] suryayadavalli commented on #451
This will be applicable for all the e-mail addresses that are currently being sent from HSLynk.  User creation, password changes, password reset and notifications that are being sent from the house matching work flow.

[2018-03-07 08:15] suryayadavalli commented on #435
@eric-jahn : this is going to be a 30 to 35 hours of effort from development to roll-out.

[2018-03-13 15:31] eric-jahn opened #454 "implement AWS auto-scaling"

[2018-03-13 15:36] eric-jahn commented on #430
design completed per @suryayadavalli .  Please post link to wiki design.

[2018-03-13 15:40] eric-jahn commented on #450
@suryayadavalli made some changes to the existing code.  There were some bugs that he can work out.  This will be a patch.

[2018-03-13 15:42] eric-jahn commented on #440
@logicsandeep Will clos this today.

[2018-03-13 15:42] eric-jahn commented on #449
@logicsandeep will close this today.

[2018-03-13 15:45] eric-jahn commented on #442
@logicsandeep finished this, and is moving onto 6b now

[2018-03-14 05:21] logicsandeep commented on #449
https://github.com/servinglynk/hmis-lynk-open-source/commit/3fe36a988e23f030297e2d5d4157b198c0cc4058

https://github.com/servinglynk/hmis-lynk-open-source/commit/b58873d54ae8ec08a28516b403e65d9c658985a5

https://github.com/servinglynk/hmis-lynk-open-source/commit/9f72d6e30fa6ed189d31a829d63177d2ef842e03
https://github.com/servinglynk/hmis-lynk-open-source/commit/932c82b0aab75372decf1d80149a419af9b

[2018-03-14 05:21] #449 closed

[2018-03-16 03:19] logicsandeep commented on #440
@CTAJavier  and @sachs089  This task will change the user_id from an email address to an id.

[2018-03-16 04:12] logicsandeep commented on #440
I want to fully implement this change after informing @CTAJavier  and @sachs089

[2018-03-16 04:21] logicsandeep commented on #442
Code for 6A.
https://github.com/servinglynk/hmis-lynk-open-source/blob/422_423_sync_service_fa/hmis-hud-reports/src/main/java/com/servinglynk/report/business/Q06aBeanMaker.java

[2018-03-16 04:21] #442 closed

[2018-03-16 05:12] logicsandeep commented on #444
https://github.com/servinglynk/hmis-lynk-open-source/commit/eed2d076f9e3e40fa6130da680ad36674e2be79b#diff-
68191cd4f6fba166133c118af50ee480

[2018-03-16 05:12] #444 closed

[2018-03-19 17:47] suryayadavalli commented on #450
Reg : #450 - Not deployed changes as the issue is still reproducible even after the changes that I though would address it. There were few console errors that were noticed and - to adhere to "html5" (initially it was referring to HTML 4) and fe html elements that IE didn't like . However, these changes didn't fix this issue. After further analysis, The root cause identified to be with the authenti

[2018-03-20 02:16] logicsandeep commented on #443
6B is done
https://github.com/servinglynk/hmis-lynk-open-source/blob/Hmis_hud_reports_2.0/hmis-hud-reports/src/main/java/com/servinglynk/report/business/Q06bBeanMaker.java

[2018-03-20 02:16] #443 closed

[2018-03-20 02:17] logicsandeep opened #455 "HUD Apr report Section 6D"
HUD Apr report Section 6D

[2018-03-20 02:18] logicsandeep opened #456 "HUD Apr Section 6e"
HUD Apr Section 6e

[2018-03-20 02:19] logicsandeep opened #457 "HUD Apr Section 6f"
HUD Apr Section 6f

[2018-03-23 11:56] eric-jahn commented on #440
@logicsandeep have you informed @CTAJavier and @sachs089 and implemented this?

[2018-03-26 14:56] eric-jahn opened #458 "APR 6d don't know/refused specification ambiguity"
The CoC APR 2017 v1.2 specification says "Column E: Count the number of adults and heads of household with responses 8, 9, or missing in
[approximate date started] (3.917.3)."  But 3.917.3 is a date field.  What 2017 v1.2 or 1.3 Data Standard field should be used to calculate 8 or 9 (since missing obviously would be null values)?

![6d e](https://user-images.githubusercontent.com/4115079/37921069-

[2018-03-26 17:26] eric-jahn commented on #458
Submitted a case with HUD Ask-A-Question.  ID #116113.

[2018-03-26 18:13] suryayadavalli commented on #450
Resolved, deployed in production

[2018-03-26 20:40] suryayadavalli commented on #450
Commit ID # https://github.com/servinglynk/hmis-lynk-open-source/commit/1bc7a26ace5503e0298073d5a74b1f23cd21b686

[2018-03-26 20:40] #450 closed

[2018-03-26 21:48] eric-jahn commented on #458
Her was the HUD Response: "...You should count a record under Q6d Column E if it should have a response for 3.917.3 but the response is missing for any reason.  We'll make a note to have this language reviewed for future releases.  [The current, incorrect phrasing] does imply that 3.917 could have values that it cannot have.

[2018-03-26 21:48] #458 closed

[2018-03-27 07:08] suryayadavalli opened #459 "HSLynk API documentation issues"

[2018-03-27 18:14] logicsandeep commented on #440
Closing this issue.
https://github.com/servinglynk/hmis-lynk-open-source/commit/793df5ab59475b051c3e64d86577df670d4cdda0

https://github.com/servinglynk/hmis-lynk-open-source/commit/f2a567891136a30b3f7220b32b6d31c5e1a5dd64

https://github.com/servinglynk/hmis-lynk-open-source/commit/f0c211fcd8f68eac4eb2fceecb68ed265566cd13

[2018-03-27 18:14] #440 closed

[2018-03-28 04:10] logicsandeep opened #460 "HUD Reports Section 7a"
HUD Reports Section 7a

[2018-03-28 04:10] logicsandeep opened #461 "HUD Reports Section 7b"
HUD Reports Section 7b

[2018-03-30 05:20] logicsandeep commented on #455
https://github.com/servinglynk/hmis-lynk-open-source/commit/68b043ba81163d3a171c2e083bcd565cb953478f

[2018-03-30 05:20] #455 closed

[2018-03-30 05:20] logicsandeep commented on #457
https://github.com/servinglynk/hmis-lynk-open-source/commit/926a6d674762b7f245646a2d04de9f383cb00965

[2018-03-30 08:29] suryayadavalli commented on #451
Hours spent : 17

[2018-03-30 17:45] suryayadavalli commented on #451
Resolved, Deployed in production. https://github.com/servinglynk/hmis-lynk-open-source/commit/68a1f4e8acd12f9f004df814e6f18459d932c7ab

[2018-03-30 17:45] #451 closed

[2018-03-30 17:50] suryayadavalli commented on #435
Resolved, deployed in production https://github.com/hserv/coordinated-entry/commit/03ad299d44365e9baa945fbefba37c87b341231c

[2018-03-30 17:50] #435 closed

[2018-03-30 18:54] suryayadavalli commented on #454
Worked on auto scaling configuration on the AWS side and here is the issue currently need to be addressed to make it work seamlessly.

For HMIS tomcat, we have 2 ELBs.
One internal ELB that handles the internal communication between app. The other external ELB receives traffic from external customers and routes the traffic to two Apache web servers which in turn sends the traffic to 2 HMIS Tomcat

[2018-04-02 02:58] suryayadavalli opened #462 "Remove Apache dependency from HSLynk VPC"

[2018-04-02 15:11] eric-jahn opened #463 "Client-Level Length of Time Homeless Report"
Not a required report:
[CH example detail 2018 03 29.xlsx](https://github.com/servinglynk/hmis-lynk-open-source-docs/files/1868406/CH.example.detail.2018.03.29.xlsx)
[Client-Level LOT Homeless Reporting Specifications 2018 03 29.pdf](https://github.com/servinglynk/hmis-lynk-open-source-docs/files/1868408/Client-Level.LOT.Homeless.Reporting.Specifications.2018.03.29.pdf)

[2018-04-03 15:33] suryayadavalli commented on #402
Commit id  : https://github.com/servinglynk/hmis-lynk-open-source/commit/9571974631f43b1601b2b0005271996bde31ba67
Documentation links :
 v2014  : https://hmis-api.github.io/2014-hmis-api/#questions_get
 v2015 : https://hmis-api.github.io/2015-hmis-api/#questions_get
 v2016 : https://hmis-api.github.io/2016-hmis-api/#questions_get
 v2017 : https://hmis-api.github.io/2017-hmis-api/#questions_get

[2018-04-03 15:33] #402 closed

[2018-04-03 16:17] logicsandeep commented on #457
Closing this ticket.

[2018-04-03 16:17] #457 closed

[2018-04-03 16:17] logicsandeep commented on #461
This task is 85% done.

[2018-04-03 16:17] logicsandeep commented on #460
This task is 85% done.

[2018-04-04 15:12] eric-jahn opened #464 "global project auto-linking on import"
So, when someone uploads HMIS CSV or XML, any version, if the contained source enrollment ID matches a previously imported source enrollment ID from that same system, but from a different version specific year, then the uploader tool automatically would globally link the two enrollments with the same source system enrollment ID. Do we already persist the source system enrollment id?  And are sourc

[2018-04-04 15:15] eric-jahn commented on #446
duplicate of #456

[2018-04-04 15:15] #446 closed

[2018-04-04 15:16] eric-jahn commented on #445
duplicate of #455

[2018-04-04 15:16] #445 closed

[2018-04-04 15:59] logicsandeep commented on #456
Closing this ticket because the work is completed.
https://github.com/servinglynk/hmis-lynk-open-source/commit/68b043ba81163d3a171c2e083bcd565cb953478f

[2018-04-04 15:59] #456 closed

[2018-04-10 18:03] suryayadavalli commented on #454
Set up for the VPC (only for HMIS services). The following validation is remaining to call it complete. Will complete by EOD 04/11.
**_Launch configuration testing by abruptly killing the existing node or by increasing the thresholds set up for CPU._**

[2018-04-10 18:10] logicsandeep commented on #460
This task is completed.

[2018-04-10 18:11] logicsandeep commented on #461
This task is 95% done.

[2018-04-10 18:11] logicsandeep opened #465 "HUD Reports Section 8a"
HUD Reports Section 8a

[2018-04-10 18:11] logicsandeep opened #466 "HUD Reports Section 8b"
HUD Reports Section 8b

[2018-04-10 18:15] logicsandeep commented on #460
https://github.com/servinglynk/hmis-lynk-open-source/commit/5531dabdffbb0ed54bd3db8528fc4ae8a9603362

[2018-04-10 18:15] #460 closed

[2018-04-12 19:53] eric-jahn opened #467 "interoperability with OHIE shared case record specifications"
Specifications are currently in development.

Blockchain distributed synchronization/validation?

[2018-04-12 20:24] eric-jahn opened #468 "HSLynk billing API"
Allowing customers to pay through the app they use, or via the admin interface.

[2018-04-12 20:30] eric-jahn opened #469 "HTTP/2 support for APIs"
to increase efficiency of data exchange

[2018-04-12 20:36] eric-jahn opened #470 "GraphML support for business layer"
"
The problems that GraphQL could solve are following:
1. we could collect related data using a single endpoint, and many relations exist in the system. As an example, when we display client profile we need to hit multiple endpoints to get all the data we need (house matching, enrollments, project information, global households, user information). This could be simplified with queries that GraphQL

[2018-04-12 20:43] eric-jahn opened #471 "Increase app politeness from 8 to 50 concurrent connections"
@CTAJavier

[2018-04-12 20:48] eric-jahn opened #472 "automated project deduping on bulk load import or POST"
based on same source id plus **either** of the following:
 * exactly matching name text
 * matching source project id

Deduping would exist on two levels:
 * within a version specific schema, a given project would only exist once
 * if the same project id for a project existing in a different version specific schema already exists for a given source id and project group id, then the newly created

[2018-04-12 20:48] eric-jahn commented on #472
this is blocking CTA's deployment of consent integration

[2018-04-12 23:20] eric-jahn opened #473 "Monterey global projects need to be created and reorganized"
originally from: https://trello.com/c/EIvXqjnQ/350-global-projects
there are 683 Monterey projects, and no global projects.

The issues are:
1) global projects are not created automatically when schema project is created
2) we will not be able to group schema projects to global projects by project name automatically since some of the schema projects are duplicated, i.e. there are 3 MOSBE The salva

[2018-04-13 02:03] eric-jahn commented on #31
issue resolved by https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/454

[2018-04-13 02:03] #31 closed

[2018-04-13 02:52] eric-jahn opened #474 "on-the-fly HMIS version mapping"
wiki page:

[2018-04-13 13:54] eric-jahn opened #475 "full HUD housing grant project management"

[2018-04-13 18:00] eric-jahn opened #476 "support for inline multi-endpoint http requests"
related to: https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/470

[2018-04-13 18:05] eric-jahn opened #477 "client interface to obtain offline backups"

[2018-04-13 18:33] eric-jahn opened #478 "healthcare referrals - FHIR and/or 360X"

[2018-04-13 18:39] eric-jahn commented on #69
docs are currently in a deployable state now

[2018-04-13 18:39] #69 closed

[2018-04-14 21:14] logicsandeep opened #479 "Add projectId to Inventory table."
Add projectId to Inventory table.

[2018-04-14 23:54] suryabi commented on #473
@eric-jahn : Can you clarify the following question

What elements / attributes determine if a project can be associated with a existing global project or if it should be associated with a new global project. As per our meeting yesterday, we thought this should be based on Project name and source system . Can you please check the following scenario and confirm.
------------------------------------

[2018-04-15 02:54] logicsandeep commented on #473
Irrespective of what business decision we take It would be great to have the global project logic in 1 place and we should have the BulkUploader and the API code call it.

[2018-04-15 03:24] eric-jahn commented on #473
@suryayadavalli I have a separate issue for the automation (this one is just for the cleanup of the existing records).  See https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/472  .  I copied these comments into #472, so it's in one place.

[2018-04-15 03:27] eric-jahn commented on #472
"@eric-jahn : Can you clarify the following question

What elements / attributes determine if a project can be associated with a existing global project or if it should be associated with a new global project. As per our meeting yesterday, we thought this should be based on Project name and source system . Can you please check the following scenario and confirm.

Assume that there is a project cre

[2018-04-15 03:27] logicsandeep commented on #479
@eric-jahn  This is in the Postgres model and HBASE. According to the logical data model, Inventory and project were not related to each other directly. But when I looked into the XSD file I could see that the inventory and project can be directly related.

[2018-04-15 03:27] logicsandeep commented on #479
There is an issue with the logical data model.

[2018-04-15 03:31] logicsandeep commented on #479
XSD = https://github.com/hmis-interop/xml/blob/v6/src/HUD_HMIS.xsd
if you look at inventory it has projectID
Logical Model= https://github.com/hmis-interop/logical-model/blob/master/doc/logical_model_diagram.png

If you look at the logical data model inventory and projects are not directly related they are related via coc, which is incorrect.

[2018-04-15 03:36] logicsandeep opened #480 "Convert dateToStreetESSH from integer to Date in Postgres and HBASE"
Convert dateToStreetESSH from integer to Date.

[2018-04-15 03:39] eric-jahn commented on #479
Ah yes, I see this now.  https://github.com/hmis-interop/xml/blob/v6/src/HUD_HMIS.xsd#L1722-L1736  Both CoCID and ProjectID keys are in xs:inventory.  CSV is the same as XSD.

[2018-04-15 03:40] logicsandeep commented on #479
I'll fix this issue and We probably need to fix the logical data model too.

[2018-04-15 04:09] eric-jahn commented on #472
"Now, there is another project created in 2014 , with the same name TEST_PROJECT and same source system id TEST_SSI. I am assuming we will associate this project to the same Global project created above."  - @suryabi

Response: I think think in this situation, there would not be a second project created in the version specific schema with the same name TEST_PROJECT and same source system id TEST_S

[2018-04-15 04:16] eric-jahn commented on #472
So there is deduping of project ids going on at the version specific schema level.  And at the global project level, there is either:

- project id  grouping within existing global projects, or
- new global project creation

occuring as new projects are POSTed or uploaded.

[2018-04-16 02:14] eric-jahn opened #481 "project group config explicitly mapping {source system id && source project id} to version specific project id"
A community having two different bulk uploading systems could want to upload records automatically from two systems into the same project.  But the usual scenario is we get all our bulk HMIS records for any given project from the single HMIS in the community.  If there is another system bulk uploading records for HMIS projects in that community, it is usually for different actual projects.   But i

[2018-04-16 02:15] eric-jahn commented on #472
related future feature issue: https://github.com/servinglynk/hmis-lynk-open-source-docs/issues/481

[2018-04-16 04:39] logicsandeep commented on #479
https://github.com/servinglynk/hmis-lynk-open-source/commit/9442b7661f9aa5727e2c500669c9fe74465764d6

https://github.com/servinglynk/hmis-lynk-open-source/commit/bb3cd7d5eaa65d7ddbd2bd3a1255db3691dc44dc
https://github.com/servinglynk/hmis-lynk-open-source/commit/c00a0d46dd15911e850213a721822172eb54768e

https://github.com/servinglynk/hmis-lynk-open-source/commit/52f972aff74ce3090958be2ec67c927a74f

[2018-04-16 04:39] #479 closed

[2018-04-16 04:39] logicsandeep commented on #480
https://github.com/servinglynk/hmis-lynk-open-source/commit/9442b7661f9aa5727e2c500669c9fe74465764d6

https://github.com/servinglynk/hmis-lynk-open-source/commit/bb3cd7d5eaa65d7ddbd2bd3a1255db3691dc44dc
https://github.com/servinglynk/hmis-lynk-open-source/commit/c00a0d46dd15911e850213a721822172eb54768e

https://github.com/servinglynk/hmis-lynk-open-source/commit/52f972aff74ce3090958be2ec67c927a74f

[2018-04-16 04:39] #480 closed

[2018-04-16 04:39] logicsandeep commented on #480
This issue is deployed to production.

[2018-04-16 04:39] logicsandeep commented on #479
This issue is deployed to production.

[2018-04-16 18:07] logicsandeep opened #482 "Delete clients from home app group which were created on 2016-08-20."
Users created on 2016-08-20 in the Home app group may not be real Home app users and @CTAJavier  asked me if they can be HARD deleted.

[2018-04-16 19:21] logicsandeep opened #483 "Restore deleted survey sections per Javier's request."
DELETE https://www.hmislynk.com/survey-api/rest/surveys/55f21054-36c4-4939-a63c-de01dc4dfee9/surveysections/917c0b28-f8f0-4823-b0b8-6b65e7384683
DELETE https://www.hmislynk.com/survey-api/rest/surveys/ec576a06-4b7d-4507-a02b-4025d2177c30/surveysections/83651ec1-4549-454d-b657-a878cc4ddd7d
DELETE https://www.hmislynk.com/survey-api/rest/surveys/be0e17a5-aeb2-466a-8395-5da1db0fb8a5/surveysections/b0

[2018-04-16 19:21] #483 closed, assigned to logicsandeep

[2018-04-17 17:43] eric-jahn opened #484 "Support Apache Zeppelin as a default reporting solution"
https://zeppelin.apache.org/

[2018-04-17 17:46] eric-jahn opened #485 "support Shiny Apps as a reporting solution"
Statisticians can use R within Shiny.
https://shiny.rstudio.com/

[2018-04-17 18:21] suryayadavalli opened #486 "Set up build jobs to dynamically look up the application server instances for deployment"
Changes triggered due to auto scaling

[2018-04-17 18:26] suryayadavalli commented on #454
Completed. Auto scaling is set up now for HSLynk Tomcat instances.

**High level changes**
1. Replaced Mod JK with Mod proxy to be able to communicate directly with Application Load balancers (Internal load balancer)
2. Auto scaling launch configuration was set up at ALBs
3. Threads holds are set up to fire up the new instance and attach it to the ALB, when the request count exceeds 750 ELB and ta

[2018-04-17 18:26] #454 closed

[2018-04-17 18:33] eric-jahn commented on #471
We do not limit connections, so there is no politeness to configure.

[2018-04-17 18:33] #471 closed

[2018-04-17 19:53] logicsandeep opened #487 "APR Section 9a"
APR Section 9a

[2018-04-18 17:35] eric-jahn opened #488 "hmislynk.com -> hslynk.com"
We should move to hslynk.com, make it our default domain, modify the API docs, and redirect legacy hmislynk.com calls to hslynk.com https://hslynk.slack.com/archives/G0JLWRQ1H/p1524010373000260 (edited)

[2018-04-20 18:24] logicsandeep commented on #461
https://github.com/servinglynk/hmis-lynk-open-source/commit/a80ad53db97c5f3c5332f0b1ad47e1e66b567fea

https://github.com/servinglynk/hmis-lynk-open-source/commit/5531dabdffbb0ed54bd3db8528fc4ae8a9603362

[2018-04-20 18:24] #461 closed

[2018-04-20 18:39] logicsandeep opened #489 "Apr Section 9b"
Apr Section 9b

[2018-04-20 18:40] logicsandeep opened #490 "Apr Section 10 a"
Apr Section 10 a

[2018-04-20 18:40] logicsandeep opened #491 "Apr Section 10 b"
Apr Section 10 b

[2018-04-20 18:40] logicsandeep commented on #487
Completed 90%

[2018-04-20 18:41] logicsandeep commented on #489
Completed 90%

[2018-04-23 05:32] logicsandeep opened #492 "Change Bulk Uploader to insert into contact table when recordType=13 in the ServiceFaReferral"
Change Bulk Uploader to insert into contact table when recordType=13 in the ServiceFaReferral

[2018-04-23 14:34] eric-jahn commented on #492
Makes sense.  This is just making things comply with the logical model, while the CSV and XML serialized formats are more opaque. logical model:
![contactlocation](https://user-images.githubusercontent.com/4115079/39133233-bbd53946-46e1-11e8-8139-d6a00bc14645.png)
csv v6.11: ![cl](https://user-images.githubusercontent.com/4115079/39133234-bbf40e7a-46e1-11e8-8699-f0c2abab226a.png) and for XML see:

[2018-04-25 07:10] suryayadavalli opened #493 "Deploy micro services in multiple tomcat instances with in the EC2 instance"
Currently all the micro services are deployed under same tomcat instance in EC2 instance.  However, during the auto scaling , when the new instance is fired up, its taking about 7 to 8 minutes to completely launch the instance and then add it to the load balance to handle the additional load that is coming in.

However, in order to reduce the launch time for the new instance, we will need to set u

[2018-04-25 07:14] suryayadavalli opened #494 "Build job configuration changes to consider the EC2 instances that are currently active"
With auto scaling as the instances can be launched and detached automatically due to the load,  the EC2 instances will be different (although they are created using the same AMI / image ) the private IPs could be totally different .

During the deployment process, we need to ensure that the code base is deployed on to the instances that are currently active . In order to do this, we need to refer

[2018-04-25 07:18] suryayadavalli opened #495 "Dev environment for HSLynk"
Objectives
Set up a small scale sand box environment that we can use for dev / qa purposes as well as to offer *Try it now* for customers.

Scope of changes
- IP table / private - public subnet configurations and routing set up as per the existing configuration in the VPC .
- Router 53 and DNS configurations.
- Need to set up ALBs for sandbox instances.
- Need to ensure the communication among the

[2018-04-25 07:29] suryayadavalli commented on #494
duplicate #486

[2018-04-25 07:29] #494 closed

[2018-04-25 07:30] suryayadavalli commented on #486
With auto scaling as the instances can be launched and detached automatically due to the load, the EC2 instances will be different (although they are created using the same AMI / image ) the private IPs could be totally different .

During the deployment process, we need to ensure that the code base is deployed on to the instances that are currently active . In order to do this, we need to refer t

[2018-04-26 08:05] logicsandeep commented on #472
Commit for bulk uploader:
https://github.com/servinglynk/hmis-lynk-open-source/compare/d7fd0fc49e51...3b3baa8d91fb

[2018-04-26 08:06] logicsandeep commented on #492
This change is completed.
https://github.com/servinglynk/hmis-lynk-open-source/compare/d7fd0fc49e51...3b3baa8d91fb

[2018-04-26 08:06] #492 closed

[2018-04-27 04:42] logicsandeep commented on #487
https://github.com/servinglynk/hmis-lynk-open-source/commit/8e3d5b0b55cc60a0e07bcca45b0921c25a47aae8
https://github.com/servinglynk/hmis-lynk-open-source/commit/90c641b18cbb7c7b001476b45861ef67cb65095e
https://github.com/servinglynk/hmis-lynk-open-source/commit/9e048ef65b9b056b5eb336f782a40a5fdcf859f9

[2018-04-27 04:42] #487 closed

[2018-04-27 04:43] logicsandeep commented on #489
https://github.com/servinglynk/hmis-lynk-open-source/commit/ddac16f4accbbce75f88766afb037cbaa3823b59
https://github.com/servinglynk/hmis-lynk-open-source/commit/bb64ee446019b3142133c617b346f5db1f73e667
https://github.com/servinglynk/hmis-lynk-open-source/commit/5de9679eac590e104a3b8944480f4e45a9b74fc5
https://github.com/servinglynk/hmis-lynk-open-source/commit/0b86203ea20af9806ba43fe9efafb7496985e

[2018-04-27 04:43] #489 closed

[2018-04-27 10:02] eric-jahn commented on #430
Design link: lynk-open-source-docs/wiki/Upload-micro-service-design

Question: did the design fully address how documents are managed and removed after upload?

[2018-04-27 15:52] suryayadavalli commented on #472
Resolved,  data script run in production to address the duplicate projects issue.

[2018-04-27 15:52] #472 closed

[2018-04-27 18:40] logicsandeep commented on #465
This issue is completed.
https://github.com/servinglynk/hmis-lynk-open-source/commit/a80ad53db97c5f3c5332f0b1ad47e1e66b567fea

[2018-04-27 18:40] #465 closed

[2018-04-28 20:43] logicsandeep opened #496 "Delete the project table from the base schema after the global project functionality is done."
Delete the project table from the base schema after the global project functionality is done. Also make sure existing APIs and bulk uploader is not impacted.

[2018-04-30 16:42] suryayadavalli commented on #473
commit id https://github.com/servinglynk/hmis-lynk-open-source/commit/31323eb414a34cff183487757d089b83799726bd

[2018-04-30 16:42] suryayadavalli commented on #473
Complete, Closing the issue

[2018-04-30 16:42] #473 closed

[2018-05-01 19:18] eric-jahn opened #497 "add the ability to retrieve consent docs that are already uploaded"
via GET methods

[2018-05-04 05:04] logicsandeep commented on #490
https://github.com/servinglynk/hslynk-open-source/commit/a34d4f176de65b017ef267c8728d069824dc72c0

https://github.com/servinglynk/hslynk-open-source/commit/8327451a6ee381c0cc2fa8ff12ed41b28755edef

[2018-05-04 05:04] #490 closed

[2018-05-04 05:04] logicsandeep commented on #491
https://github.com/servinglynk/hslynk-open-source/commit/29e7ddcdaf4ae4ad004d5acb89524a4078b5f99c

[2018-05-04 05:04] #491 closed

[2018-05-04 05:04] logicsandeep opened #498 "Apr Section 10c"
Apr Section 10c

[2018-05-04 05:05] logicsandeep opened #499 "Apr Section 10d"
Apr Section 10d

[2018-05-04 05:09] suryayadavalli commented on #430
Commit id :  https://github.com/servinglynk/hslynk-open-source/commit/dc066cebdde78192825ad73939d0508d580917d9

[2018-05-04 05:30] logicsandeep commented on #498
https://github.com/servinglynk/hslynk-open-source/commit/acd5ae6558f6bcc0be61535929642437a50a8c07

[2018-05-04 05:30] #498 closed

[2018-05-04 19:43] eric-jahn opened #500 "MPI id lookup"
batch client lookup (different than /search, which returns client details):
GET /lookup?client

max 1000 clients in the JSON body

cc: @CTAJavier

@logicsandeep said we have to change our dedupe logic not to add a new dedupe ID.  maybe 8 hours effort

[2018-05-07 15:20] eric-jahn opened #501 "deploy swagger-ui server to host APIs"
All OAS 3 APIs are saved to github for installation onto swagger-ui.  We'll need 3 +r+w user accounts set-up (surya, eric, sandeep)

[2018-05-08 07:39] logicsandeep opened #502 "Apr Section 11a"
Apr Section 11a

[2018-05-08 07:40] logicsandeep commented on #502
https://github.com/servinglynk/hslynk-open-source/commit/1605c1ca8fc03841eecd8b42cd84f3287f1f9ca7

https://github.com/servinglynk/hslynk-open-source/commit/325c70d96263cfe2ec30d3e974032cf952bbe30d
https://github.com/servinglynk/hslynk-open-source/commit/2cce663c4866ba8d8cbc6cbeddf2c1c6caaa5a9b

[2018-05-08 07:40] #502 closed

[2018-05-08 07:40] logicsandeep opened #503 "Apr Section 12a"
Apr Section 12a

[2018-05-08 07:40] logicsandeep commented on #503
https://github.com/servinglynk/hslynk-open-source/commit/f5202c1cb48a8e64626b4201bd7d17eb455ee741

[2018-05-08 07:40] #503 closed

[2018-05-08 07:41] logicsandeep opened #504 "Apr Section 12b"
Apr Section 12b
https://github.com/servinglynk/hslynk-open-source/commit/9827ecc1770ad184804459ce38e9dad564dd567c

[2018-05-08 07:41] logicsandeep opened #505 "Apr Section 13a1"
Apr Section 13a1

[2018-05-08 07:42] logicsandeep opened #506 "Apr Section 13b1"
Apr Section 13b1

[2018-05-08 07:43] logicsandeep opened #507 "Apr Section 13c1"
Apr Section 13c1

[2018-05-08 07:50] #504 closed

[2018-05-08 18:50] suryayadavalli commented on #486
Resolved. Made necessary changes to point the deployments from jenkins  to always refer to DNS (changes on jenkins end) and made changes to update the route configuration in such way that tcat1 and tcat2 always point to the current active instance (changes on AWS end).

[2018-05-08 18:50] #486 closed

[2018-05-08 18:59] suryayadavalli commented on #493
Changed the boot strap process for tomcat to ignore loading libraries during the start up. Changed the server.xmlconfiguration to includ the same.
<JarScanner scanClassPath="false" />

Also, used the tomcat  inbuilt library reference to skip the specific jars
 using the configuration property tomcat.util.scan.StandardJarScanFilter.jarsToSkip=*

Noticed that there was improvement with the load time

[2018-05-08 18:59] #493 closed

[2018-05-09 03:25] logicsandeep opened #508 "Remove package-lock.json from hmis-admin project."
Remove package-lock.json from hmis-admin project.

[2018-05-09 03:26] logicsandeep commented on #508
Removed
https://github.com/servinglynk/hslynk-open-source/commit/61b4fb371b0a2b954dbb344b7133108404d4f4a6

[2018-05-09 03:26] #508 closed

[2018-05-10 16:04] eric-jahn commented on #500
This is not needed currently.  Removing from current milestone.

[2018-05-10 20:51] suryayadavalli commented on #496
Need to deploy code changes to remove entity references to base project table. Will deploy the changes EOD 05/10.

[2018-05-10 20:59] eric-jahn commented on #496
@CTAJavier asked if this will affect any existing views.  Will we have to remap any old references to regular projects to the new global projects in the views?

[2018-05-10 21:03] CTAJavier commented on #496
In particular, I am asking about the existing "Project" View since we
currently have dashboards that are using that table.

Thanks
*Javier Celedon*
*Operations Director*
Direct: (408) 437-9168
Main: (408) 437-8800
*Facebook <http://www.facebook.com/ctagroup.org> • Twitter
<https://twitter.com/CTA_Group_> • Video
<http://www.ctagroup.org/what-we-do/video/>*

<http://www.ctagroup.org/>

On Thu, May

[2018-05-10 22:47] eric-jahn commented on #496
The Hive Views currently only hae version specific schema project IDs, and will continue to be synched the way they are.  The new global project table (which links together many version specific project IDs under a global ID) is not synched to HBase yet, but will be.  Then multi-schema year project reports can more readily be done.

[2018-05-10 23:39] suryayadavalli commented on #488
Here are the list of changes to be done to migrate over to hslynk.com

DNS name   server changes | Norris
-- | --
SSL   certificate activation | Norris
hslynk email   set up for auto notifications from the platform. | Norris / Surya
Check any   references in the code base to see following DNS entries are used. | Surya / Sandeep
Existing DNS   changes for all the following on AWS |  
hmislynk.com.

[2018-05-10 23:41] suryayadavalli commented on #488
- We also need to check on Hadoop cluster and other apps (openempi configurations etc) also, if we are using any hmislynk DNS references.
- MX record, all TXT records for SES needs to be handled

[2018-05-11 18:39] suryayadavalli commented on #497
Complete, deployed in production.
https://hmis-api.github.io/global-api/#

[2018-05-11 18:39] #497 closed

[2018-05-11 18:42] suryayadavalli commented on #497
Commit id : servinglynk/hslynk-open-source@dc066ce

[2018-05-11 19:08] eric-jahn commented on #497
@suryayadavalli will add API docs for this  soon (minor version update).

[2018-05-17 14:38] eric-jahn opened #509 "client consent groups"
This task will essentially allow consent records to be tagged with a consent group identifier.  It will provide a simple way for apps to remember and manage what consent arrangement is associated with a particular set of project IDs being granted consent.  It does not enforce a particular set of project IDs being associated with a consent group ID.  This task will also provide a fine-grained way f

[2018-05-25 18:06] suryayadavalli commented on #509
## 1
Add a consentGroupId to all consent data structures and reflect this in any affected APIs:
{ "consent":{ "clientId":"dcdf2326-0d96-43eb-8368-501b29145c53", "startTime":1519914315641, "endTime":1543602600000, "consentGroupId": "ABCD", <------ new field (string, no validation) "globalProjects":[ { "id":"4b84cb25-d27e-458e-ad5d-d817f30390d2" } ] } }

**_Resolved. Deployed in Production_**
_Here

[2018-05-25 18:16] suryayadavalli commented on #509
Commit # https://github.com/servinglynk/hslynk-open-source/commit/c84ef6af4a58fa5149fd91ff3253e9d4a8fff726

[2018-05-25 19:45] eric-jahn commented on #488
@suryayadavalli will get the cert to Eric at stablerack Tuesday 5/25.

[2018-05-29 17:05] logicsandeep commented on #507
https://github.com/servinglynk/hslynk-open-source/commit/826f6dd31ade5fb0922940639e50dd298103217c

[2018-05-29 17:05] #507 closed

[2018-05-29 17:06] logicsandeep commented on #506
https://github.com/servinglynk/hslynk-open-source/commit/2e325d452609a188114b4ddb8e12c0fc2b01b9d0

[2018-05-29 17:06] #506 closed

[2018-05-29 17:12] logicsandeep opened #510 "Apr section 14a"
Apr section 14a

[2018-05-29 17:13] logicsandeep commented on #510
https://github.com/servinglynk/hslynk-open-source/commit/2716d32eee1acd260ac6e76cf0c4678ef336de97

[2018-05-29 17:13] #510 closed

[2018-05-29 17:13] logicsandeep opened #511 "Apr Section 14b"

[2018-05-29 17:13] logicsandeep commented on #511
https://github.com/servinglynk/hslynk-open-source/commit/a7817dc39f24844a97c3ece284f94401598b2c88

[2018-05-29 17:13] #511 closed

[2018-05-29 17:14] logicsandeep opened #512 "Apr section 15"
Apr section 15

[2018-06-01 16:23] suryayadavalli commented on #496
HMIS Commit id : https://github.com/servinglynk/hslynk-open-source/commit/49c65086c2bd32ece7a2ab5cf505049daa8aabec

CES Commit id : https://github.com/hserv/coordinated-entry/commit/4bd334d0a94747f98a3c765b647c6bbf47a86184

[2018-06-01 20:24] eric-jahn opened #513 "SSVF May 2018 Data Quality Report"
Attached specs
[DQ Summary Report Documentation _ SQL - May 2018.docx](https://github.com/servinglynk/hslynk-open-source-docs/files/2064010/DQ.Summary.Report.Documentation._.SQL.-.May.2018.docx)

[2018-06-04 06:31] suryayadavalli commented on #488
The  SSL certificate that AWS offers is not solving all the use cases we have.  We have different entry points for the system - like Tableau, looker ,  hue admin, builds and monitoring - and all of these do not go through a individual load balancer. We direct them to one load balancer and resolve them at the web server level.  We didn't have an issue with the earlier certificate as we bought it fr

[2018-06-05 19:06] logicsandeep opened #514 "Populate the correct Dedup_client_id for old clients to fix Active_list view and apis."
Populate the correct Dedup_client_id for old clients

[2018-06-05 19:41] eric-jahn opened #515 "Implement API "Try It Now" through the web functionality in Swagger-UI"

[2018-06-06 21:44] eric-jahn opened #516 "Metadata table: latest HMIS/CES/Generic/Linked Data records for a client; aka "Golden View""
Both a Hive View and API changes to provide a retrieval list of core HMIS/CES/Generic/Linked Data values that are common across all recent schemas.   We just need to select fields (in the same logical location with the same name) that span across schema years.  The picklists can be different.

General format would be:
Field Name | Value | Date Updated | Schema Source/Version | Hyperlink to version

[2018-06-06 21:57] eric-jahn opened #517 "unfiltered view of all of a certain fictitious project groups's fictitious data for demonstrations"
...for when customers ask to "see the data warehouse"
via Hue or Tableau.  We have HMIS data from HUD, but need CES/survey data.
cc: @CTAJavier

[2018-06-06 21:57] eric-jahn commented on #384
cc: @CTAJavier

[2018-06-06 21:58] eric-jahn commented on #516
cc: @CTAJavier

[2018-06-08 04:06] logicsandeep opened #518 "Host and deploy the swagger UI editor in our servers"
Host and deploy the swagger UI editor in our servers

[2018-06-08 04:07] logicsandeep commented on #518
The Swagger UI is editor is hosted here.
http://hmislynk.com/hmis-api/editor.html

[2018-06-08 04:07] #518 closed

[2018-06-08 04:08] logicsandeep opened #519 "Fix response table to include the value for user_id as UUID"
Fix response table to include the value for user_id as UUID

[2018-06-08 04:12] logicsandeep opened #520 "Fix dedup_id for old data and populated the correct dedup id for a few records in the eligible clients table."
Fix dedup_id for old data and populated the correct dedup id for a few records in the eligible clients table.

[2018-06-08 04:15] logicsandeep commented on #520
https://github.com/servinglynk/hslynk-open-source/commit/280f40fb6bf933e1b4e9336cd156e41145a17241

[2018-06-08 04:15] #520 closed

[2018-06-08 04:16] logicsandeep commented on #519
https://github.com/servinglynk/hslynk-open-source/commit/7b0a4b0797110c1a87275b7172c68f78351de955

[2018-06-08 04:16] #519 closed

[2018-06-08 12:07] eric-jahn commented on #518
Sandeep, could you add the link to the github sync code commit here as well?

[2018-06-08 17:31] logicsandeep commented on #501
This issue is completed and we're hosting our swagger apis here
https://hmislynk.com/hmis-api/index.html
and we have the source code here.
https://github.com/hmis-api/api-source

[2018-06-08 17:31] #501 closed

[2018-06-08 18:47] eric-jahn commented on #501
@logicsandeep can you add the code commit IDs which you made to complete this (like to sync from github)?

[2018-06-08 19:29] eric-jahn commented on #488
Waiting on a new Comodo SSL cert.

[2018-06-08 19:33] logicsandeep commented on #518
we have the source code here.
https://github.com/hmis-api/api-source

[2018-06-08 19:33] suryayadavalli commented on #509
Resolved , deployed in production.

[2018-06-08 19:33] #509 closed

[2018-06-08 19:40] eric-jahn commented on #516
Discussed during our 6/9 developer call.  Per @logicsandeep: this is a "client metadata" data element.

[2018-06-08 19:49] logicsandeep opened #521 "We should not be able to delete a user outside of a project group."
We should not be able to delete a user outside of a project group.

[2018-06-11 17:58] suryayadavalli commented on #521
Commit id : https://github.com/servinglynk/hslynk-open-source/tree/bdd5b9a4285a6a7f18fe9c56004926b616c55ca7

[2018-06-11 17:58] #521 closed

[2018-06-12 18:51] eric-jahn opened #522 "APR Section 16"

[2018-06-12 18:53] eric-jahn commented on #405
completed with consent docs work

[2018-06-12 18:53] #405 closed

[2018-06-12 19:25] logicsandeep opened #523 "The response table should not have user_id outside of the project group."
It looks like when you migrated the user_id data in the response table you had the user_id incorrect for some responses. dda98e0d-95da-4942-a809-5c79e322e21b = User from Home app project group. But you would find a response for this user_id for Monterey project group.

[2018-06-12 21:04] eric-jahn commented on #488
@suryayadavalli sending URL to Norris for cert management permissions.

[2018-06-15 14:19] eric-jahn commented on #370
duplicate of https://github.com/servinglynk/hslynk-open-source-docs/issues/515

[2018-06-15 14:19] #370 closed

[2018-06-15 14:20] eric-jahn commented on #237
duplicate of https://github.com/servinglynk/hslynk-open-source-docs/issues/495

[2018-06-15 14:20] #237 closed

[2018-06-15 14:28] eric-jahn opened #524 "sample data set tied to a dummy project group"
for mock service APIs in Swagger
and for 3rd party devs
resets every 3 hours or so
part of it is HMIS sample data test kit.zip

[2018-06-15 14:28] eric-jahn commented on #515
Waiting on https://github.com/servinglynk/hslynk-open-source-docs/issues/524

[2018-06-18 02:45] logicsandeep commented on #522
https://github.com/servinglynk/hslynk-open-source/commit/13dd4c5731d969e0f0961e156611965497b37e33

https://github.com/servinglynk/hslynk-open-source/commit/7eebd7002b73743f0a503d54b58f93b4450d542d

[2018-06-18 02:46] logicsandeep opened #525 "APR Section 17"
APR Section 17

[2018-06-18 05:35] suryayadavalli opened #526 "Sandbox - Externalize ELB URLs (drive through properties DB)"

[2018-06-18 16:38] #459 closed

[2018-06-18 20:26] logicsandeep opened #527 "Purge data for Bright Hive dev and prod project group."
Purge data for Bright Hive dev and prod project group.

[2018-06-19 05:11] logicsandeep commented on #527
The data for BrightHive is purged.

[2018-06-19 05:11] #527 closed

[2018-06-19 18:21] logicsandeep commented on #514
Populated the correct dedupid

[2018-06-19 18:21] #514 closed

[2018-06-19 20:21] eric-jahn opened #528 "soft deletes of clients (via APIs) should cascade to soft delete enrollments"
Likewise, soft delete of a global client should soft delete global enrollments.

[2018-06-22 15:12] eric-jahn commented on #280
This will be implemented within Entity Support.  See https://github.com/hserv/entity-tracking

[2018-06-22 15:12] #280 closed

[2018-06-22 15:23] logicsandeep opened #529 "Fix bulkupload for inventory.csv they removed YouthAgeGroup and move BedType to a different column"
Fix bulkupload for inventory.csv they removed YouthAgeGroup and move BedType to a different column

[2018-06-22 15:24] logicsandeep commented on #529
https://github.com/servinglynk/hslynk-open-source/commit/bfc20886ba166ea2874a395d89615ffa8f4fd12f

[2018-06-22 15:24] #529 closed

[2018-06-22 18:44] suryayadavalli commented on #488
Received the certificate.

All the HMIS services, CES services, Admin application are working through hslynk.

**Following Internal tools / applications still need to be router through hslynk.**
LDAP , builds, monitoring, impala, alerts, cm, hue, openempi
ETA is EOD 06/22.

[2018-06-22 18:56] suryayadavalli commented on #495
Dev instances are set up
![image](https://user-images.githubusercontent.com/10738348/41793859-426c4e40-7612-11e8-9a6e-d9c1b713b38b.png)

- NAT mappings are ports and updated. Currently working on Jenkins set up and SSH mapping for deployments to  Dev environment
- Testing application services pointing to individual application instances.

**Next steps**
Set up hadoop cluster. Need to provide an in

[2018-06-25 19:12] eric-jahn commented on #496
On 6/22/18, @suryayadavalli reported that this table have not been accessed since he started watching it, so it will be deleted by Tuesday 6/26/18 meeting.

[2018-06-25 20:54] suryayadavalli commented on #496
Complete.  Verified that is not used any more. Renamed the existing "hmis_project" table to a temp table now.  Closing the issue.

[2018-06-25 20:59] eric-jahn commented on #496
Wouldn't this also have a commit idea because the schema is being changed?

[2018-06-25 21:17] suryayadavalli commented on #488
Complete, All internal and external URLs work with hslynk now (including monitoring, builds, admin, HMIS, CES , vpn , tableau etc).

You can verify this using https://admin.hslynk.com

We can slowly take down hmislynk, once we have all the client point to hslynk.com ( we have hmislynk cert valid until 2020 ).

[2018-06-25 21:32] suryayadavalli opened #530 "Set up Hadoop cluster for DEV VPC"

[2018-06-25 21:34] suryayadavalli opened #531 "Jenkins set up for DEV VPC"

[2018-06-25 21:34] suryayadavalli commented on #495
Contingent upon the completion of #526 ,  #530  and #531

[2018-06-25 21:36] suryayadavalli commented on #526
Currently the internal communication across the services is happening via ELB urls  that are referred from the code. However,  these properties need to be loaded from DB , for each environment . Requires code changes and testing. Currently working on this issue.

[2018-06-25 21:36] suryayadavalli commented on #531
Set up is complete. Working on the issues with communicating with instances on DEV VPC.

[2018-06-25 21:37] suryayadavalli opened #532 "Need to set up SES in another region for DEV VPC purposes."

[2018-06-25 21:40] suryayadavalli commented on #532
We are currently using the the SES in Oregon region. However, we need to use another SES region for DEV purposes (in order to NOT to jeopardize the notification delivery in Productions for any issues that might arise in DEV environment) as AWS terminates / suspends the accounts if we have more than 5 % of the bounces.

[2018-06-25 21:40] suryayadavalli commented on #532
Current reputation dashboard (Production )

![image](https://user-images.githubusercontent.com/10738348/41877339-bf14bd90-7885-11e8-943c-25a3a6142c5b.png)

[2018-06-25 21:53] suryayadavalli opened #533 "Changes to the deployment approach for hslynk"
With Auto scaling and with #486 we resolved the issue to a point, where we update tcat1 and tcat2
 (both are HMIS tomcat instances) instances to refer to currently active instances . However, the issue , apparently, is not resolved when we have a third or more than 2 instances running at the time of the deployment.

Also, In DEV environment we will not (may not) have multiple instances running (li

[2018-06-25 21:54] suryayadavalli commented on #533
Related to #495

[2018-06-25 21:54] suryayadavalli commented on #495
Related issue #495

[2018-06-26 14:52] eric-jahn commented on #528
@logicsandeep handing the cascading deletion, and @suryayadavalli handling the API side of this change.

[2018-06-26 17:46] suryayadavalli commented on #523
Complete. Resolved in Production.

**Analysis and Resolution**
There are 1033 responses (1032 of which belongs to MO0010 project group and 1 response belongs to HomeApp) that where the user_id doesn't match with the project group to which the response belongs. Run the update so the these responses carry the user_id which belongs to the same project group code as the response.

The query below shou

[2018-06-26 17:46] #523 closed

[2018-06-26 18:35] eric-jahn opened #534 "API method to merge two global IDs"

[2018-06-26 18:36] eric-jahn commented on #528
@logicsandeep reported he has completed the non-API side of this task.

[2018-06-26 19:52] eric-jahn commented on #343
related to issue #533  , my not be needed with AWS S3

[2018-06-26 19:52] eric-jahn commented on #533
related #343

[2018-06-26 20:03] eric-jahn commented on #496
I'll reopen just as a reminder to add the commit id.

[2018-06-28 09:30] suryayadavalli commented on #528
Commit id  https://github.com/servinglynk/hslynk-open-source/commit/9c1569299ef61491240f3e9c84a09e9b4273c4c7

[2018-06-29 18:46] suryabi commented on #533
**The following approach addresses the following concerns.**

1. **Storing the deployment artifacts** - Currently not in place.
2. **Versioning the deployment artifacts** - Currently  not in place.
3. **Ability to rollback to previous versions**  - Currently the process is not in place, although we can rollback any time.
4. **Tagging deployment artifacts** - Currently not in place.
5. **Ability to

[2018-06-29 19:10] #528 closed

[2018-07-02 01:40] suryayadavalli commented on #496
Commit id: https://github.com/servinglynk/hslynk-open-source/commit/5d87f10d2b3359d98b07e086a7730c2a4fc3906b

[2018-07-02 01:40] #496 closed

[2018-07-03 22:13] suryabi commented on #509
hours spent : 13.5 hours

[2018-07-10 06:24] suryayadavalli opened #535 "Change instance type from Ubuntu to Other linux version for Upload processor and Notification service"
Currently in Production we have load balancing for HMIS and CES services and Hadoop is a clustered environment. So they are not single point of failures.

However, OpenEmpi, bulk upload processor and Notification services are single instances , not load balanced and thus single point of failures. We can keep them single instances as there is no need for multiple instances however, need to ensure t

[2018-07-10 14:07] eric-jahn commented on #535
Will it be Debian Linux?  That's always my preference.

[2018-07-10 14:23] suryabi commented on #535
All / most of our instances are Amazon Linux instances (based on RHEL but comes with all the AWS services and tools available out of the box).

[2018-07-10 14:24] eric-jahn commented on #535
Also, aren't auto-scaling instance types simply the EC2 size, and auto-scaling is independent of the OS type?

[2018-07-10 14:40] suryayadavalli commented on #535
Removed the earlier comment as it's logged from my other account.

All / most of our instances are Amazon Linux instances (based on RHEL but comes with all the AWS services and tools available out of the box).
Regarding whether Auto scaling is independent of type of the OS.   It's really a good question. Here is more explanation for the issue.

HMIS and CES services since load balanced - each time

[2018-07-10 14:49] eric-jahn commented on #535
@suryayadavalli For Ubuntu, the 'aws' command has a deb you can use to install.  Will that give you what you need?

[2018-07-10 15:02] eric-jahn opened #536 "APR Section 18"

[2018-07-10 17:29] eric-jahn opened #537 "copy the servinglynk.com content back over to hslynk.com"

[2018-07-10 18:29] suryayadavalli commented on #532
Completed, Set up SES in east region for dev purposes and verified. Configured DEV environment to point to this region for notification purposes.

[2018-07-10 18:29] #532 closed

[2018-07-11 03:42] eric-jahn opened #538 "private repo for billing code"

[2018-07-12 06:29] logicsandeep opened #539 "Add survey section table to hive"
Add survey section table to hive

[2018-07-12 06:31] logicsandeep opened #540 "Make Hive views element names match the Postgres version-specific element names, and sometimes harmonize Hive names for convenience"

[2018-07-12 11:04] eric-jahn commented on #539
@logicsandeep , could you add the commit I'd to this, then re-close?

[2018-07-13 18:49] logicsandeep commented on #539
https://github.com/servinglynk/hslynk-open-source/commit/3bb2918274e102a994e33b5846e1e28be5decf94

[2018-07-13 18:49] #539 closed

[2018-07-13 18:50] logicsandeep commented on #536
https://github.com/servinglynk/hslynk-open-source/commit/3bb2918274e102a994e33b5846e1e28be5decf94

[2018-07-13 18:50] logicsandeep commented on #525
https://github.com/servinglynk/hslynk-open-source/commit/e8afa1e0cb71e6c487836890e06ecd27273c5695

[2018-07-13 18:50] #525 closed

[2018-07-13 18:51] eric-jahn commented on #538
done:
https://github.com/servinglynk/hslynk-config and https://github.com/servinglynk/hslynk-bill

[2018-07-13 18:51] #538 closed

[2018-07-13 18:51] #488 closed

[2018-07-13 19:09] logicsandeep opened #541 "Write code to connect to the big data warehouse via python"
Write code to connect to the big data warehouse via python

[2018-07-17 04:25] logicsandeep opened #542 "Create ERDs for all the schema years and share it to the clients."
Create ERDs for all the schema years and share it to the clients.

[2018-07-17 04:50] logicsandeep commented on #542
ERDs can be found here.
https://hmislynk.com/hmis-api/db/2017/dbdocs/index.html
https://hmislynk.com/hmis-api/db/2016/dbdocs/index.html
https://hmislynk.com/hmis-api/db/2015/dbdocs/index.html

[2018-07-17 18:46] logicsandeep commented on #542
https://github.com/servinglynk/hslynk-open-source-docs/commit/04794e94139f72db1376c99b582ffcff243c40e4

[2018-07-17 18:46] #542 closed

[2018-07-18 03:21] eric-jahn commented on #540
We shouldn't change the original terminology used in each year to match across years though.  For example in 2017, it's Enrollment.EnrollmentID.  In 2016, it's Enrollment.ProjectEntryID.

[2018-07-18 03:49] eric-jahn commented on #542
Wiki page here: https://github.com/servinglynk/hslynk-open-source-docs/wiki/HSLynk-PostgreSQL-operational-schema-locations-and-documentation

[2018-07-18 03:52] eric-jahn opened #543 "remove projectentryid field from 2017 version-specific schema"
It is enrollmentid in 2017, and we don't use projectentryid in 2017, but it is used in 2016 and before.

[2018-07-18 07:57] suryayadavalli commented on #531
Resolved. Closing the issue

[2018-07-18 07:57] #531 closed

[2018-07-18 07:58] suryayadavalli commented on #495
Except setting up Hadoop Cluster, rest of the line items for this task are complete.

[2018-07-20 19:05] eric-jahn opened #544 "add Survey Submission Date Created field"
This will provide an unchangeable creation date, regardless of record edits.

Sandeep and Surya say it will take 8 hours total max to change API, update existing survey submission dates with the response date added, add the element to GET /eligibleclients, and update Hive Active List  logic to use this new element, and display it as well.

@CTAJavier

Sandeep estimates 4 hours, and Surya estimates

[2018-07-23 20:42] eric-jahn opened #545 "oauth windows only authenticates certain users for certain domains or apps"
So, in HSLynk terms, for each each trusted app id, an array of allowable project group access is permitted.

[2018-07-23 20:42] eric-jahn commented on #545
cc: @CTAJavier

[2018-07-24 18:59] eric-jahn commented on #537
Instead, we will redeploy the website at hslynk.com on AWS infrastructure.

[2018-07-24 18:59] #537 closed

[2018-07-24 19:55] eric-jahn commented on #535
We found a way to possibly keep Ubuntu, so closing for now.

[2018-07-24 19:55] #535 closed

[2018-07-24 19:56] #533 closed

[2018-07-24 19:59] eric-jahn commented on #495
Closing this larger issue, but #530 still open.

[2018-07-24 19:59] #495 closed

[2018-07-25 20:52] eric-jahn commented on #328
update_date not in view, but in Postgres

[2018-07-27 13:32] logicsandeep commented on #543
This task is completed.

[2018-07-27 13:32] #543 closed

[2018-07-27 13:48] logicsandeep commented on #522
This task is completed.

[2018-07-27 13:48] #522 closed

[2018-07-27 13:51] logicsandeep commented on #543
https://github.com/servinglynk/hslynk-open-source/commit/9975d81c051e914b71ae299b3a6a4643172ee107

[2018-07-27 16:35] suryayadavalli commented on #544
It's possible that  you post survey scores without submitting the responses. In this case, we will not have the survey submission date present.  So,  in that scenario , we need to consider as the score submission date as  the survey submission date. Just wanted to get a confirmation from you on the same.

[2018-07-27 16:46] eric-jahn commented on #544
@CTAJavier: can you respond to @suryayadavalli 's question: https://github.com/servinglynk/hslynk-open-source-docs/issues/544#issuecomment-408472524 ?

[2018-07-27 17:00] #536 closed

[2018-07-27 17:19] suryayadavalli commented on #524
Two open items that need to be resolved
1) Update GET apis to have the parameters that API honors. Currently there are some filters included for each GET api (migrated over from initial mulesoft API documentation).
2) Update examples to include the UUIDs where ever applicable (as the framework rejects the try int now calls that do not follow this convention)

Currently working on both 1 and 2 in p

[2018-07-27 18:09] suryayadavalli commented on #544
Development is complete. Waiting on one clarification (above) from @CTAJavier. Will deploy the changes in PROD tomorrow - Saturday the 07/28 , after getting the confirmation from @CTAJavier and testing the changes.

[2018-07-28 19:59] eric-jahn opened #546 "OAuth Login Page not https://"
Https not on OAuth Login Page

[2018-07-28 20:02] eric-jahn commented on #546
cc: @CTAJavier

[2018-07-28 20:07] eric-jahn opened #547 "APR Section 19"

[2018-07-28 20:08] eric-jahn opened #548 "APR Section 20"

[2018-07-28 20:09] #447 closed

[2018-07-28 20:20] CTAJavier commented on #544
@suryayadavalli  the above is correct. Also will the hive view also be updated to match at the same time as deployment if not can we wait until that is done so they are deployed at the same time?

[2018-07-28 20:29] eric-jahn opened #549 "Data Warehouse Documentation"
A listing of all the element names available via Hive in the Data Warehouse

- if there is an HMIS Data Standard version number for the element, that is listed in a separate column
- if there is a change from the HUD Data Dictionary Definitions for a particular year, such as ProjectEntryID -> EnrollmentID (to make them consistent across years, etc.), then that is listed in a "Notes" column
- if th

[2018-07-28 20:31] eric-jahn commented on #544
@logicsandeep Can you respond, regarding the Hive view concurrent deployment?

[2018-07-30 03:03] logicsandeep commented on #544
@eric-jahn  Nothing can be called complete until the survey submission date field in the eligible clients table is populated. And that field is null right now. We need to have a script to populate the survey submission date and once that's done the hive view and the api work will truly start.

[2018-07-30 17:38] eric-jahn commented on #226
API usage docs: https://github.com/hserv/entity-tracking/wiki/Linked-Data-Platform-APIs-(LDP)-in-Apache-Marmotta

[2018-07-31 17:32] suryayadavalli commented on #546
Resolved. Deployed in production.

[2018-07-31 17:47] suryayadavalli commented on #544
Complete from API end. Deployed in production. New column "survey_submission_date" has been added to eligible_clients entity. Made changes to populate this column during the Job processing , so , no additional data migration effort is required.

[2018-07-31 18:45] eric-jahn opened #550 "generic enrollments"
A non-HMIS enrollment that is still linked to global projects.  In the human services schema, not an HMIS version-specific schema.  Billable to work Order #11.

Details are here: https://github.com/servinglynk/hslynk-open-source-docs/wiki/Generic-Enrollments

[2018-07-31 20:33] suryayadavalli commented on #438
Resolved. Closing the issue.

[2018-07-31 20:33] #438 closed

[2018-08-01 05:05] logicsandeep commented on #544
I've completed my changes for the view and the view are up to date with the survey_submission_date changes.
https://github.com/servinglynk/hslynk-open-source/commit/6fb23d172926689a483f55ebe238b6c717bbabb5

[2018-08-01 11:00] eric-jahn commented on #544
Can we close this issue?  @CTAJavier do you see the new survey submission date?

[2018-08-03 18:27] #546 closed

[2018-08-03 18:28] suryayadavalli commented on #544
Closing the issue , Resolved in Production

[2018-08-03 18:28] #544 closed

[2018-08-07 03:30] logicsandeep opened #551 "Apr section 21"
Apr section 21

[2018-08-07 03:30] logicsandeep opened #552 "Apr section 22"
Apr section 22

[2018-08-07 03:30] logicsandeep opened #553 "Apr section 23"
Apr section 23

[2018-08-07 03:30] logicsandeep opened #554 "Apr section 24"
Apr section 24

[2018-08-07 03:30] logicsandeep opened #555 "Apr section 25"
Apr section 25

[2018-08-07 03:30] logicsandeep opened #556 "Apr section 26"
Apr section 26

[2018-08-07 03:30] logicsandeep opened #557 "Apr section 27"
Apr section 27

[2018-08-07 19:11] eric-jahn opened #558 "Data Element Numbers for Each HUD Data Element"
For all versions of HMIS years.  @logicsandeep is populating the Data Element #s and names.

[2018-08-07 19:25] logicsandeep opened #559 "Add data element name, element id and question text, picklist values to hmis_type table for 2016, 2015, 2014 schema (2017 done)."
Add data element name, element id and question text/picklist values to hmis_type table for all the schema.
https://github.com/servinglynk/hslynk-open-source-docs/issues/558

[2018-08-07 19:46] eric-jahn commented on #558
related to issue #559, which covers the database population side

[2018-08-10 19:55] logicsandeep opened #560 "Create Trusted app for API key and trusted APP Id for the BFH project group, SA005"
Create Trusted app for API key and trusted APP Id for the BFH project group, SA005

[2018-08-10 20:13] eric-jahn commented on #560
cc: @CTAJavier

[2018-08-14 19:26] eric-jahn opened #561 "populate 2016 HUD Questions and picklist values"

[2018-08-14 19:43] eric-jahn opened #562 "reupload and delta wiki doc hyperlink"

[2018-08-17 18:55] eric-jahn opened #563 "create a global household mapping to generic and HMIS households"
tasks:
* As a new v1 API, rename the existing global-household to generic-household
* leave the old version of global household running for now (but deprecate it in the OAS 3 markup)
* create a new version of global-household which has completely different functionality than the prior version: it will simply CRUD/manage an array of pointers to generic households (what used to be called global hous

[2018-08-22 02:49] eric-jahn commented on #328
All fields are synced now, with HMIS data standard year, except for Monterey.  @logicsandeep is concerned that syncing Monterey will break production functionality.  @CTAJavier , can you direct us as to how to handle Monterey project group.  Then we can close this issue once it's agreed upon that all are correctly synched.

[2018-08-22 19:50] eric-jahn opened #564 "store in Postgres and in the the survey response JSON returned as the POST /survey_response HTTP response the value along with the code."
So  "1":"Shelters", instead of just 1.

[2018-08-23 19:00] eric-jahn commented on #549
@logicsandeep Can you start this by simply creating a web page (1 column) that lists all the warehouse fields?  Then later, we'll add a second column for description/notes.

[2018-08-23 19:47] eric-jahn commented on #328
per the 8/22/18 Resource and Strategy Meeting with CTA, for Monterey data warehouse fields to be like all the other project groups which are synched with Postgres now, we need to test in the HSLynk dev environment with a dev version of HOME App.  We will need to make code changes to HOME App to accommodate the field changes in the warehouse and fix any breakages.  On 8/24 we will discuss getting t

[2018-08-23 20:05] eric-jahn commented on #540
I think the version specific ClientID, PersonalID, etc., should all be set across versions to whatever is in 2017 (PersonalID).
2016 Program Entry Date? should be whatever 2017 uses (ProjectStartDate?)

[2018-08-23 20:17] eric-jahn commented on #559
@logicsandeep has finished 2017, but working on 2016/2015/2014 now.

[2018-08-23 20:17] eric-jahn commented on #561
duplicate of https://github.com/servinglynk/hslynk-open-source-docs/issues/559

[2018-08-23 20:17] #561 closed

[2018-08-23 20:33] eric-jahn opened #565 "make HUD questions behave like Survey Tool questions"
This may include:
-adding a definition element to HUD Question GET responses
-adding question groups for HUD elements

cc: @pgorecki @CTAJavier

[2018-08-24 19:02] logicsandeep commented on #551
Closing this issue,because 21 is done.

[2018-08-24 19:02] #551 closed

[2018-08-24 19:33] #550 closed

[2018-08-24 20:13] eric-jahn opened #566 "documentation on conveniently obtaining code values for HUD question allowable picklist responses"
API instructions
Warehouse (Hive/Impala) instructions and screenshots.

@CTAJavier

[2018-08-24 20:15] eric-jahn commented on #564
this feature exists already so #566 will document how this is done conveniently

[2018-08-24 20:15] #564 closed

[2018-08-26 11:36] logicsandeep opened #567 "Write a sample code to connect to Impala via R"
Here's the documentation
https://github.com/servinglynk/hslynk-open-source-docs/wiki/Impala-connection-via-R
And it also contains the code.

[2018-08-26 11:36] #567 closed

[2018-08-27 09:04] suryayadavalli commented on #560
Complete. Closing the issue

[2018-08-27 09:04] #560 closed

[2018-08-28 18:21] eric-jahn commented on #566
Will be handled by #565 .

[2018-08-28 18:21] #566 closed

[2018-08-30 15:14] eric-jahn commented on #541
docs here: https://github.com/servinglynk/hslynk-open-source-docs/wiki/Impala-connection-via-R

[2018-08-30 15:19] #541 closed

[2018-08-31 18:14] suryayadavalli commented on #565
API changes are complete and deployed in Production.

[2018-08-31 19:07] logicsandeep opened #568 "Populate ageAtEntry in the Enrollment Table in the Big data warehouse."
Populate ageAtEntry in the Enrollment Table  in the Big data warehouse.

[2018-08-31 19:32] eric-jahn opened #569 "automated VPN provisioning for users via Admin screen"

[2018-08-31 19:33] logicsandeep commented on #547
I will fix the apr report issues according to the changes to spec and close this.

[2018-08-31 19:42] logicsandeep opened #570 "Add Robert as a VPN User"
Add Robert as a VPN User

[2018-09-01 10:23] art4ride opened #571 "unify Client item responses for search and get requests"

[2018-09-01 10:27] eric-jahn commented on #571
@art4ride : So, we should make the item responses have exactly the same format?

[2018-09-01 10:28] art4ride opened #572 "unify Client item responses for search and get requests"
for some reason `veteranStatus` data is missing when I perform search using this method
https://hslynk.com/hmis-api/index.html?urls.primaryName=2017%20Apis#/default/GET_search-searchentity

[2018-09-01 10:33] eric-jahn commented on #572
@art4ride #571 and #572 have the same title.  Could you change one?

[2018-09-01 11:16] art4ride commented on #571
Would be nice if you can make the client entity to be the same format for all client data requests.
I'll close this issue as a duplicate of #572

[2018-09-01 11:16] #571 closed

[2018-09-01 22:18] eric-jahn commented on #572
@art4ride Got it, and looking at what that API claims it should do, the veteran status should be included in the reponse.
![vet](https://user-images.githubusercontent.com/4115079/44950339-28632d00-ae13-11e8-89c5-d07035c689a1.png)
Which 2017 schema client id is this happening for (just the id please)?
I will create a separate issue that is for that specific problem.  Are there other examples of dif

[2018-09-01 22:27] eric-jahn opened #573 "veteranStatus data is missing from 2017 client search"
`veteranStatus` data is missing when performing a search using this method
https://hslynk.com/hmis-api/index.html?urls.primaryName=2017%20Apis#/default/GET_search-searchentity

requested an example real client ID where this is happening.

cc: @art4ride

[2018-09-04 19:32] suryabi commented on #570
Complete . Shared the VPN username and password to @sandeep.dolia now.

[2018-09-04 19:46] logicsandeep commented on #568
populated the age at entry.